<?php
/**
 * Product list template
 *
 * @var $block Template
 */

use \Troquer\Cms\Block\Template;

?>
<div id="footer-tr-new" class="row d-flex justify-content-center">
    <div class="sec-uno col-lg-3 col-md-3 col-12">
        <div class="logo-submenu-tr">
            <img src="<?= $block->getBaseurl(); ?>media/troquer/troquer-logo-full-b-v2.png" alt="" />
            <ul class="submenu-footer">
                <li>Compra</li>
                <li>Vende</li>
                <li>Troquea</li>
            </ul>
            <p>Tu sitio de moda pre-amada. Todos los artículos se autentican por nuestros expertos.</p>
        </div>
        <div class="sellos-conf">
            <h4 class="lnk-menu">Sellos de confianza</h4>
            <div class="cont-footer-sec" >
                <ul class="listsellos">
                    <li><img src="<?= $block->getBaseurl(); ?>media/troquer/award-2019-v2.png" alt="" /></li>
                    <li><img src="<?= $block->getBaseurl(); ?>media/troquer/award-2020.png" alt="" /></li>
                    <li><script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?style=invert&code=a41a2c22b4904d5ca37bc8187763864d"></script></li>
                    <li><img src="<?= $block->getBaseurl(); ?>media/troquer/afiliado-amvo-v2.png" alt="" /></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="sec-dos col-lg-4 col-md-4 col-12">
        <h4 class="lnk-menu">Ubicación</h4>
        <div class="cont-footer-sec" >
            <div class="ubicacion">
                <p>Lago Nargis 34, Colonia Granada, CDMX - CP 11520</p>
            </div>
            <div class="Contacto">
                <h4>Contacto</h4>
                <p><a href="tel:5553514488">55 5351 4488</a><br><br>
                <a target="_blank" href="https://wa.me/525588103929?text="><img class="iconwhatsapp" src="<?= $block->getBaseurl(); ?>media/troquer/whatsapp-white.png" alt=""> 55 8810 3929</a><br><br>
                <a href="mailto:contacto@troquer.com.mx">contacto@troquer.com.mx</a></p>
            </div>
            <div class="horario">
                <h4>Horario</h4>
                <p>Lun - Vie 9:00 - 20:00 <br>
                Sab 10:00 - 15:00</p>
            </div>
        </div>
    </div>
    <div class="sec-tres col-lg-3 col-md-3 col-12">
        <h4 class="lnk-menu">Información</h4>
        <div class="cont-footer-sec" >
            <ul class="sec-menu-footer">
                <li><a href="<?= $block->getBaseurl(); ?>vende">Vende</a></li>
                <li><a href="<?= $block->getBaseurl(); ?>compra">Compra</a></li>
                <li><a href="https://troquer.zendesk.com/hc/es">Preguntas Frecuentes</a></li>
                <li><a href="<?= $block->getBaseurl(); ?>terminos-condiciones">Términos y Condiciones</a></li>
                <li><a href="<?= $block->getBaseurl(); ?>aviso-privacidad">Aviso de Privacidad</a></li>
            </ul>
        </div>
    </div>
    <div class="sec-cuatro col-lg-2 col-md-2 col-12">
        <h4 class="lnk-menu">Acerca de</h4>
        <div class="cont-footer-sec" >
            <ul class="acercade">
                <li><a href="<?= $block->getBaseurl(); ?>nosotros">Nosotros</a></li>
                <li><a href="<?= $block->getBaseurl(); ?>contacto">Contacto</a></li>
                <?php if(!$block->isLoggedIn()): ?>
                    <li><span class="icon-account-not-logged-in">Mi cuenta</span></li>
                <?php else: ?>
                    <li><a href="<?= $block->getBaseurl(); ?>customer/account">Mi cuenta</a></li>
                <?php endif; ?>
            </ul>
        </div>
    </div>
</div>
<script>
    require([
			'jquery',
			'owl.carousel/owl.carousel.min'
		], function() {
        let item_count = document.getElementsByClassName("lnk-menu");
        let i;
        for(i = 0; i < item_count.length; i++ ){
            item_count[i].addEventListener("click", function(){
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                if(content.style.display === 'block'){
                    content.style.display = 'none';
                }else{
                    content.style.display = 'block';
                }
            });
        }
    });
</script>
