<div class="footerbottom">
    <div class="metodosdepago">
        <div class="imgpagoa">
            <img src="<?= $block->getBaseurl();?>media/troquer/metodos-de-pago.png" alt="" />
        </div>
        <div class="redesociales">
            <ul class="rssicons">
                <li><a href="https://www.facebook.com/TroquerMX/" target="_blank"  title="@TroquerMX">
                  <img src="<?= $block->getBaseurl();?>media/wysiwyg/footer/logo-facebook-troquer.png" alt="facebook"/>
                </a></li>
                <li><a href="https://twitter.com/troquermx?lang=es" target="_blank"  title="@troquermx">
                  <img src="<?= $block->getBaseurl();?>media/wysiwyg/footer/logo-twitter-troquer.png" alt="twitter"/>
                </a></li>
                <li><a href="https://www.instagram.com/troquermx/?hl=es-la" target="_blank"  title="@TroquerMX">
                  <img src="<?= $block->getBaseurl();?>media/wysiwyg/footer/logo-instagram-troquer.png" alt="instagram"/>
                </a></i></li>
            </ul>
        </div>
    </div>
    <div class="copyr">
        <p>©Troquer México. All Rights Reserved.</p>
    </div>
</div>
