<?php

use \Magento\Framework\Exception\NoSuchEntityException;

$_helper = $this->helper('Smartwave\Porto\Helper\Data');
$header_type = $this->getConfig('porto_settings/header/header_type');
$header_new_skin = $this->getConfig('porto_settings/header/new_skin');
$class = $header_type == 17 || $header_type == 19 || $header_type == 16 || $header_type == 20 || $header_type == 21 || $header_type == 22 || $header_type == 25 || $header_type == 26 || $header_type == 27 ? 'header-newskin' : '';
if (isset($header_new_skin) && $header_new_skin && ($header_type == 2 || $header_type == 5 || $header_type == 6 || $header_type == 7 || $header_type == 8 || $header_type == 13))
    $class = 'header-newskin';
if (isset($header_new_skin) && $header_new_skin && $header_type == 10)
    $class = 'header-new-skin';
$show_notice = $this->getConfig('porto_settings/general/show_site_notice');

if ($show_notice && $show_notice == 1)
    echo $this->getChildHtml("porto_custom_notice");
?>
<header id="headertr" class="page-header  type<?php echo $header_type; ?> <?php echo $class; ?>">
    <?php echo $this->getChildHtml("header_customer_form_login"); ?>
    <?php if ($header_type == 3 || $header_type == 4 || $header_type == 9) : ?>

        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                    <?php echo $this->getChildHtml("header.links"); ?>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 12) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                    <div class="top-links-area">
                        <a class="top-links-icon" href="javascript:void(0)">links</a>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 13) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <div class="menu-area">
                        <a href="javascript:void(0)" class="shop-menu">Shop</a>
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                    <div class="top-links-area">
                        <a class="top-links-icon" href="javascript:void(0)">links</a>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php if (isset($header_new_skin) && $header_new_skin) : ?>
                        <?php echo $this->getChildHtml("custom_block"); ?>
                    <?php endif; ?>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 5) : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php if (isset($header_new_skin) && $header_new_skin) : ?>
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                <?php endif; ?>
                <?php if (!isset($header_new_skin) || !$header_new_skin) : ?>
                    <?php echo $this->getChildHtml("header.links"); ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <div class="search-area">
                <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 6) : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <div class="search-area">
                <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("custom_block"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 7) : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php if (!isset($header_new_skin) || !$header_new_skin) : ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                <?php endif; ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><em class="porto-icon-search"></em><?php echo __('Search'); ?></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php if (isset($header_new_skin) && $header_new_skin) : ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                <?php endif; ?>
                <span class="split"></span>
                <div class="toplinks-area">
                    <a href="javascript:void(0)" class="top-links-icon"><?php echo __('Links'); ?></a>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <span class="split"></span>
                <?php echo $this->getChildHtml("custom_block"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 8) : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <div class="menu-container">
            <?php
            $toggle_text = $this->getConfig('porto_settings/header/toggle_text');
            $custom_block_id_8 = $this->getConfig('porto_settings/header/static_block_8');
            ?>
            <div class="container">
                <div class="menu-wrapper">
                    <div class="drop-menu">
                        <a href="javascript:void(0)">
                            <?php echo $toggle_text; ?>
                        </a>
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                    <div class="custom-menu-block">
                        <?php
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if ($block) {
                            $block->setBlockId($custom_block_id_8);
                        }
                        if ($block) {
                            echo $block->toHtml();
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 10) : ?>
        <div class="switcher-area">
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php echo $this->getChildHtml("store_language"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php if (isset($header_new_skin) && $header_new_skin) : ?>
                <?php echo $this->getChildHtml("top.search"); ?>
            <?php endif; ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <?php if (!isset($header_new_skin) || !$header_new_skin) : ?>
                <?php echo $this->getChildHtml("top.search"); ?>
            <?php endif; ?>
        </div>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="custom-block-area">
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
    <?php elseif ($header_type == 14) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="fas fa-search"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><i class="far fa-user"></i><span><?php echo __('links'); ?></span></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="far fa-heart"></i></a>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    <?php elseif ($header_type == 15) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="header-right-area">
                <div class="switcher-area">
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></span></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <div class="cart-area">
                        <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                        <?php echo $this->getChildHtml("currency"); ?>
                        <?php echo $this->getChildHtml("store_language"); ?>
                        <?php echo $this->getChildHtml("minicart"); ?>
                    </div>
                </div>
                <div class="header-link-area">
                    <div class="top-links-area panel header">
                        <?php echo $this->getChildHtml("skip_to_content"); ?>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <div class="main-link">
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 2 && isset($header_new_skin) && $header_new_skin) : ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("currency"); ?>
                            <?php echo $this->getChildHtml("store_language"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-icon-heart-empty"></i></a>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif ($header_type == 18) : ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <div class="select-area">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
            </div>
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif ($header_type == 20) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                </div>
                <div class="bottom-panel">
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 17) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 19) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif ($header_type == 21) : ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <div class="header-main-left">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
            </div>
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="header-main-right">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("custom_block"); ?>
                <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-icon-heart-empty"></i></a>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif ($header_type == 22) : ?>
        <div id="cintillo-top-tr" class="panel wrapper cintillo-top-tr">
            <div class="panel header actions-top-header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
            <div class="cintillo header">
                <?php echo $this->getChildHtml("cintillo_top"); ?>
            </div>
        </div>
        <div class="header content menu-header-tr">
            <div class="new-header-tr row d-flex justify-content-center">
                <div class="searchtr col-2 col-md-4 col-lg-4">
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search-3"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="logotr col-8 col-md-4 col-lg-4">
                   <a href="/"><?php echo $this->getChildHtml("logo"); ?></a>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                </div>
                <div class="iconstr col-1 col-md-4 col-lg-4">
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
                <div class="menunavtr col-lg-12">
                    <?php echo $this->getChildHtml("navigation.sections"); ?>
                </div>
                <div id="result_buscador_mob"></div>
            </div>
        </div>
    <?php elseif ($header_type == 23) : ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("currency"); ?>
                            <?php echo $this->getChildHtml("store_language"); ?>
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="header-main-right">
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <?php echo $this->getChildHtml("custom_block"); ?>
                <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-icon-heart-empty"></i></a>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif ($header_type == 24) : ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><i class="porto-new-icon-user-2"></i><span><?php echo __('links'); ?></span></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="fas fa-search"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-new-icon-wishlist-2"></i></a>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    <?php elseif ($header_type == 25) : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <div class="header-main-left">
                <?php echo $this->getChildHtml("custom_block"); ?>
            </div>
            <div class="header-main-center">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("logo"); ?>
            </div>
            <div class="header-main-right">
                <div class="custom-block">
                    <?php
                    $custom_block_id_25 = $this->getConfig('porto_settings/header/static_block_25');

                    $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                    if ($block) {
                        $block->setBlockId($custom_block_id_25);
                    }
                    if ($block) {
                        echo $block->toHtml();
                    }
                    ?>
                </div>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-new-icon-wishlist-2"></i></a>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
        <div class="menu-container">
            <?php
            $toggle_text = $this->getConfig('porto_settings/header/toggle_text_25');
            $secondary_menu_25 = $this->getConfig('porto_settings/header/secondary_menu_25');
            ?>
            <div class="container">
                <div class="menu-wrapper">
                    <div class="drop-menu">
                        <a href="javascript:void(0)">
                            <?php echo $toggle_text; ?>
                        </a>
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                    <div class="custom-menu-block">
                        <?php
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if ($block) {
                            $block->setBlockId($secondary_menu_25);
                        }
                        if ($block) {
                            echo $block->toHtml();
                        }
                        ?>
                    </div>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="fas fa-search"></i><span><?php echo __('Search'); ?></span></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 26) : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <div class="header-top-left">
                    <?php echo $this->getChildHtml("custom_block"); ?>
                </div>
                <div class="header-top-right">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
            </div>
        </div>
        <div class="header content">
            <div class="header-main-left">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("logo"); ?>
            </div>
            <div class="header-main-center">
                <?php echo $this->getChildHtml("navigation.sections"); ?>
            </div>
            <div class="header-main-right">
                <div class="top-links-area">
                    <a class="top-links-icon" href="javascript:void(0)"><i class="porto-new-icon-user-2"></i></a>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-magnifier"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-new-icon-wishlist-2"></i></a>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    <?php elseif ($header_type == 27) : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <div class="header-top-left">
                    <?php echo $this->getChildHtml("custom_block"); ?>
                </div>
                <div class="header-top-right">
                    <?php echo $this->getChildHtml("navigation.sections"); ?>
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
            </div>
        </div>
        <div class="header content">
            <div class="header-main-left">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("logo"); ?>
            </div>
            <div class="header-main-right">
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-magnifier"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <div class="top-links-area">
                    <a class="top-links-icon" href="<?php echo $_helper->getBaseLinkUrl() . 'customer/account' ?>"><i class="porto-new-icon-user-2"></i></a>
                </div>
                <a href="<?php echo $_helper->getBaseLinkUrl() . 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-new-icon-wishlist-2"></i></a>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    <?php else : ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php endif; ?>
</header>

<!-- Menu mobile Troquer -->
<div class="content-header-mobile-tr">
    <div class="header-main-mobile-tr">
        <ul class="ul-menu-mob-tr">
            <li><a href="<?= $block->getBaseurl(); ?>" class="action my-wishlist icon-home-tr" title="Home" role="button"></a></li>
            <li><a href="<?= $block->escapeUrl($block->getUrl('wishlist')); ?>" class="action my-wishlist icon-wish-tr" title="My Wish List" role="button"></a></li>
            <li><a href="<?= $block->escapeUrl($block->getUrl('vende')); ?>" class="action my-wishlist icon-sale-tr" title="Sale" role="button"></a></li>
            <?php if($block->isLoggedIn()): ?>
                <li><a class="action my-wishlist icon-notifications-tr" id="icon-notifications-tr-mov" title="My Notifications" role="button">
                    <span class="counter-noti qty empty">
                        <span id="counter-number-noti-mov" class="counter-number-noti"></span>
                    </span>
                </a></li>
            <?php else: ?>
                <li><a href="<?= $block->escapeUrl($block->getUrl('customer/account/login')); ?>" class="action my-wishlist icon-notifications-tr" title="My Notifications" role="button"></a></li>
            <?php endif; ?>
            <?php if($block->isLoggedIn()): ?>
                <li><a href="<?= $block->escapeUrl($block->getUrl('customer/account')); ?>" class="action my-wishlist icon-account-tr" title="My Account" role="button"></a></li>
            <?php else: ?>
                <li><a href="<?= $block->escapeUrl($block->getUrl('customer/account/login')); ?>" class="action my-wishlist icon-account-tr" title="My Account" role="button"></a></li>
            <?php endif; ?>
        </ul>
    </div>
</div>
<?php if ($block->isLoggedIn()): ?>
    <?php try {
        $notifications = $block->getUnreadNotifications(); ?>
        <div id="block_bell" style="display: none;">
            <div class="container-bell">
                <div id="icon-bell-list" data-bind="scope: 'minicart_content'">
                    <div class="block-content">
                        <button type="button" id="btn-notification-close" class="action close" data-action="close"
                                title="Close">
                        <span>
                            <!-- ko i18n: 'Close' --><span>Close</span>
                            <!-- /ko --></span>
                        </button>
                        <div class="data_bell">
                            <?php if ($notifications && count($notifications)) : ?>
                                <?php $i = 0; ?>
                                <?php foreach ($notifications as $notification) : ?>
                                    <?php if ($i > 2) break; ?>
                                    <div class="content-notifications">
                                        <div class="info-section-notifications">
                                            <div class="notification-info col-lg-12 col-12">
                                                <strong><?php echo $notification->getData('title'); ?></strong>
                                                <p><?php echo $notification->getData('body'); ?></p>
                                                <button href="<?= $block->getBaseUrl() . $notification->getData('cta'); ?>" id="<?= $notification->getData('id'); ?>" class="btn-notification-mov">Ver</button>
                                                <p class="notification-time"><?php echo $block->getNotificationAge($notification); ?></p>
                                            </div>
                                        </div>
                                    </div>
                                    <?php $i++; ?>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <div class="empty-notifications">
                                    <div class="notification-img-empty col-12">
                                        <img src="<?= $block->getBaseUrl(); ?>media/troquer/notifications.png"
                                             alt="">
                                    </div>
                                    <div class="text-empty">
                                        <strong>No tienes nuevas notificaciones</strong>
                                        <p>Felicitaciones, estás al día :)</p>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="btn-action-notifications">
                            <a href="<?= $block->getBaseurl(); ?>notifications/index/history">
                                <div class="btn-secondary"><span>Ir a notificaciones</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php
    } catch (NoSuchEntityException $e) {
    } ?>
<?php endif; ?>
<script>
    require(['jquery'],
    function ($) {
        $('#icon-notifications-tr-mov').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $("#block_bell").show();
            $('#btn-notification-close').on('click', function() {
                $("#block_bell").hide();
            });
        });

        $.ajax({
            url: "/notifications/index/getunreadnotifications",
            type: "POST",
            data: {},
            showLoader: false,
            success: function (data) {
                data = JSON.parse(data);
                let number = parseInt(Object.keys(data[1]).length.toString());
                if (number > 9) {
                    number = '9+';
                }
                $('#counter-number-noti-mov').text(number);
                if (number > 0) {
                    $('a#icon-notifications-tr-mov').addClass('bounce').change();
                }

                let seeButtons = $(".btn-notification-mov");
                let k;
                for (k = 0; k < seeButtons.length; k++) {
                    $(seeButtons[k]).on("click", function () {
                        let href = $(this).attr("href");
                        let notification_id = $(this).attr("id");
                        $.ajax({
                            url: "/notifications/index/readnotification",
                            type: "POST",
                            data: {
                                notification_id: notification_id
                            },
                            showLoader: false,
                            cache: true,
                            success: function () {}
                        });
                        window.location.href = href
                    }, null);
                }
            }
        });
    });
</script>
<?php
if ($show_notice && $show_notice == 2)
    echo $this->getChildHtml("porto_custom_notice");
?>

<script>
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            if ($(window).width() <= 767) {
                $('div.content-header-mobile-tr').css("margin-top", $('#headertr').height());
                $('.block-title.filter-title > strong').css("top", $('#headertr').height());
            }
            dektopHeaderSticky();
        }, null);

        $(window).scroll(function () {
            dektopHeaderSticky();
        });

        function dektopHeaderSticky() {
            if ($(window).width() > 767) {
                let headerTr = $('header.is-sticky > div.menu-header-tr');
                if(headerTr.length) {
                    headerTr.css("top", $('#cintillo-top-tr').height());
                } else {
                    headerTr = $('div.menu-header-tr');
                    headerTr.css("top", 0);
                }
            }
        }
    });
</script>
