<?php

use \Smartwave\Porto\Model\Config\Backend\Image\Stickylogo;

$_helper = $this->helper('Smartwave\Porto\Helper\Cssconfig');
$porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
?>
<?php if ($this->getConfig('porto_settings/optimization/bootstrap')) : ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir() . 'bootstrap/css/bootstrap.min.css'; ?>">
<?php else : ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir() . 'bootstrap/css/bootstrap.optimized.min.css'; ?>">
<?php endif; ?>
<?php if ($this->getConfig('porto_settings/optimization/animate')) : ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir() . 'css/animate.css'; ?>">
<?php else : ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir() . 'css/animate.optimized.css'; ?>">
<?php endif; ?>
<?php
$header_type = $this->getConfig('porto_settings/header/header_type');
?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir() . 'css/header/type' . $header_type . '.css'; ?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir() . 'css/custom.css'; ?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getSettingsFile() ?>">
<script type="text/javascript">
    var porto_config = {
        paths: {
            'parallax': 'js/jquery.parallax.min',
            'owlcarousel': 'owl.carousel/owl.carousel',
            'owlcarousel_thumbs': 'owl.carousel/owl.carousel2.thumbs',
            'imagesloaded': 'Smartwave_Porto/js/imagesloaded',
            'packery': 'Smartwave_Porto/js/packery.pkgd',
            'floatelement': 'js/jquery.floatelement'
        },
        shim: {
            'parallax': {
                deps: ['jquery']
            },
            'owlcarousel': {
                deps: ['jquery']
            },
            'owlcarousel_thumbs': {
                deps: ['jquery', 'owlcarousel']
            },
            'packery': {
                deps: ['jquery', 'imagesloaded']
            },
            'floatelement': {
                deps: ['jquery']
            }
        }
    };

    require.config(porto_config);
</script>
<script type="text/javascript">
    require([
        'jquery'
    ], function($) {
        $(document).ready(function() {
            $(".drop-menu > a").off("click").on("click", function() {
                if ($(this).parent().children(".nav-sections").hasClass("visible")) {
                    $(this).parent().children(".nav-sections").removeClass("visible");
                    $(this).removeClass("active");
                } else {
                    $(this).parent().children(".nav-sections").addClass("visible");
                    $(this).addClass("active");
                }
            });
            let categoryBanner = $('#category-banner-description');
            if(categoryBanner.length) {
                $('.toolbar-top').css("margin-top", "inherit");
            }
        });
        <?php if ($this->getConfig('porto_settings/header/sticky_header')) : ?>
            var scrolled = false;
            $(window).scroll(function() {
                if (!$('.page-header').hasClass('type10')) {
                    if ($(window).width() >= 768) {
                        let height = $('#category-banner-description').height() + $('#headertr').height();
                        if (height < $(window).scrollTop() && !scrolled) {
                            $('.page-header:not(.is-sticky)').css("height", $('.page-header:not(.is-sticky)').height() + 'px');
                            $('.page-header').addClass("is-sticky");
                            $('.content_button_filters').addClass("is_sticky_filter");
                            $('.content_button_filters.is_sticky_filter').css("top", $('#headertr').height());
                            scrolled = true;
                            if ((!$(".page-header").hasClass("type12")) && (!$(".page-header").hasClass("type23")) && (!$(".page-header").hasClass("type25")) && (!$(".page-header").hasClass("type26"))) {
                                $('.page-header .minicart-wrapper').after('<div class="minicart-place hide"></div>');

                                if ($(".page-header").hasClass("type2"))
                                    $('.page-header .navigation').append($('header.page-header.type2 a.action.my-wishlist').detach());

                                if ($(".page-header").hasClass("type8")) {
                                    var minicart = $('.page-header .minicart-wrapper').detach();
                                    $('.page-header .menu-wrapper').append(minicart);
                                } else if (!$(".page-header").hasClass("type22")) {
                                    var minicart = $('.page-header .minicart-wrapper').detach();
                                    $('.page-header .navigation').append(minicart);
                                }

                                <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')) : ?>
                                    var logo_image = $('<div>').append($('.page-header .header > .logo').clone()).html();
                                    if ($(".page-header").hasClass("type27"))
                                        logo_image = $('<div>').append($('.page-header .header .header-main-left > .logo').clone()).html();
                                    if ($(".page-header").hasClass("type8"))
                                        $('.page-header .menu-wrapper').prepend('<div class="sticky-logo">' + logo_image + '</div>');
                                    else
                                        $('.page-header .navigation').prepend('<div class="sticky-logo">' + logo_image + '</div>');
                                <?php endif; ?>
                            } else {
                                <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')) : ?>
                                    $('.page-header.type12 .logo').append('<span class="sticky-logo"><img src="" alt=""/></span>');
                                    $('.page-header .logo > img').addClass("hide");
                                <?php endif; ?>
                            }
                            <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')) : ?>
                                <?php
                                if ($logo_src = $this->getConfig('porto_settings/header/sticky_header_logo_src')) {
                                    $folderName = Stickylogo::UPLOAD_DIR;
                                    $path = $folderName . '/' . $logo_src;
                                    $imageUrl = $porto_helper->getBaseUrl() . $path;
                                ?>
                                    $(".sticky-logo img").attr("src", "<?php echo $imageUrl; ?>");
                                <?php
                                }
                                ?>
                            <?php endif; ?>
                        }
                        if (height >= $(window).scrollTop() && scrolled) {
                            $('.page-header.is-sticky').css("height", 'auto');
                            $('.page-header').removeClass("is-sticky");
                            $('.content_button_filters.is_sticky_filter').css("top", 0);
                            $('.content_button_filters').removeClass("is_sticky_filter");
                            scrolled = false;
                            if ((!$(".page-header").hasClass("type12")) && (!$(".page-header").hasClass("type23")) && (!$(".page-header").hasClass("type25")) && (!$(".page-header").hasClass("type26"))) {
                                var minicart;
                                if ($(".page-header").hasClass("type8"))
                                    minicart = $('.page-header .menu-wrapper .minicart-wrapper').detach();
                                else
                                    minicart = $('.page-header .navigation .minicart-wrapper').detach();
                                $('.minicart-place').after(minicart);
                                $('.minicart-place').remove();
                                if ($(".page-header").hasClass("type2"))
                                    $('.page-header .block.block-search').before($('.page-header .navigation a.action.my-wishlist').detach());
                                $('.page-header .minicart-wrapper-moved').addClass("minicart-wrapper").removeClass("minicart-wrapper-moved").removeClass("hide");
                            }
                            <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')) : ?>
                                if ($(".page-header").hasClass("type8"))
                                    $('.page-header .menu-wrapper > .sticky-logo').remove();
                                else if ($(".page-header").hasClass("type12")) {
                                    $('.page-header .sticky-logo').remove();
                                    $('.page-header .logo > img').removeClass("hide");
                                } else
                                    $('.page-header .navigation > .sticky-logo').remove();
                            <?php endif; ?>
                        }
                    }
                }
            });
        <?php endif; ?>
    });
</script>
