<div class="notfound">
	<div class="content-not">
		<h1>Como a ti, esta pieza le encantó a alguien más y por el momento no está disponible.</h1>
	
		<p>Si te mueres por esta pieza o quieres más información, comunícate al <a href="tel:+525540000999">+52 55 40 00 09 99</a></p>
		<div class="button-lnk">
			<a href="<?= $block->getBaseurl();?>" class="lnk-home">
				<div class="lnkbnt">Ir a comprar</div>
			</a>
		</div>
	</div>
</div>