<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
use \Magento\Framework\Data\Helper\PostHelper;
use \Magento\Sales\Helper\Reorder;
use \Troquer\Sales\Block\Order\History;

/** @var History $block */
?>
<div class="title-orders">
    <h2>Mis pedidos</h2>
</div>
<div id="menu-orders">
    <div class="options-menu">
        <ul id="list-menu-orders" class="owl-carousel owl-theme">
            <li id="allorders" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/order/history/">Todos</a></li>
            <li id="transitorders" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/order/transit/">En tránsito</a></li>
            <li id="deliveredorders" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/order/delivered/">Entregados</a></li>
            <li id="returnedorders" class="lnk-menu-orders _currentorder"><a href="<?= $block->getBaseUrl(); ?>sales/order/returned/">Devueltos</a></li>
        </ul>
    </div>
</div>
<?php $_orders = $block->getReturnedOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($block->getPagerHtml()) : ?>
    <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
<?php endif ?>
<?php if ($_orders && count($_orders)) : ?>
    <div id="section-all-tr" class="tbl-orders-summary">
        <div class="table-wrapper orders-history">
            <div id="tbl-orders">
                <?php foreach ($_orders as $_order) : ?>
                    <h4 class="order">Orden: <?= $_order->getRealOrderId(); ?></h4>
                    <div class="order-tr data table table-order-items history" id="my-orders-table-<?= $_order->getId(); ?>">
                        <div>
                            <?php $items =$_order->getAllVisibleItems();?>
                            <?php foreach ($items as $item) : ?>
                                <?php
                                $product = $item->getProduct();
                                $productImage = $product->getThumbnail();
                                ?>
                                <div class="content-order row d-flex justify-content-center">
                                    <div class="col-12">
                                        <div class="info-section-order row">
                                            <div class="order-img col-lg-2 col-4 col-md-3" data-th="<?= $block->escapeHtml(__('Order #')) ?>">
                                                <?php if(!empty($productImage)) :?>
                                                    <img height="100" width="100" src="<?= $block->getMediaUrl().$productImage?>" alt="">
                                                <?php endif;?>
                                            </div>
                                            <div class="order-returned-summary col-lg-10 col-8 col-md-9">
                                                <div class="order-num-returned col-lg-4" data-th="<?= $block->escapeHtmlAttr(__('Order #')) ?>">
                                                    <strong>N° de pedido #<?= $block->escapeHtml($_order->getRealOrderId()) ?></strong><br>
                                                    <span><?=$_order->getTotalItemCount();?> articulos</span>
                                                </div>
                                                <div class="order-price-date col-lg-4" data-th="<?= $block->escapeHtmlAttr(__('Date')) ?>">
                                                    <?php
                                                        $itemssku = $_order->getAllItems();
                                                        foreach($itemssku as $items) {
                                                            $nameproduct = $items->getName();
                                                        }
                                                    ?>
                                                    <strong><?= $nameproduct?></strong>
                                                </div>
                                                <?php $extra = $block->getChildBlock('extra.container'); ?>
                                                <?php if ($extra) : ?>
                                                    <?php $extra->setOrder($_order); ?>
                                                    <?= $extra->getChildHtml() ?>
                                                <?php endif; ?>
                                                <div class="order-status-returned col-lg-4" data-th="<?= $block->escapeHtmlAttr(__('Status')) ?>">
                                                    <?php
                                                    switch (trim($_order->getStatusLabel())) {
                                                        case "Cerrado":
                                                        case "Closed":
                                                            ?>
                                                            <span
                                                                class="statusorder-closed"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                                            <?php
                                                            break;
                                                    } ?>
                                                    <?php
                                                        $itemssku = $_order->getAllItems();
                                                        foreach($itemssku as $items) {
                                                            $skuorder = $items->getSku();
                                                        }
                                                    ?>
                                                    <br>
                                                    <span class="sku">SKU&nbsp;</span><span class="sku"><?= $skuorder?></span>
                                                </div>
                                                <div class="order-actions" data-th="<?= $block->escapeHtmlAttr(__('Actions')) ?>">
                                                    <?php if ($this->helper(Reorder::class)->canReorder($_order->getEntityId())) : ?>
                                                        <a href="#" data-post='<?= /* @noEscape */
                                                        $this->helper(PostHelper::class)
                                                            ->getPostData($block->getReorderUrl($_order))
                                                        ?>' class="action order">
                                                            <span><?= $block->escapeHtml(__('Reorder')) ?></span>
                                                        </a>
                                                    <?php endif ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php else : ?>
    <div class="empty-sales">
        <div class="img-calendar-empty">
            <img src="<?= $block->getBaseUrl(); ?>media/troquer/icon-shipment-empty.png" alt="">
            <p>Aún no tienes pedidos realizados</p>
        </div>
        <div class="comienza-vender">
            <div class="row d-flex justify-content-center">
                <div class="col-12 image-venta iracomprar">
                <a href="<?= $block->getBaseurl(); ?>" class="btn-start-sale">
                    <div class="btn"><span>Ir a comprar</span></div>
                </a>
                </div>

            </div>
        </div>
    </div>
<?php endif ?>

<script type="text/javascript">
    require([
        'jquery',
        'owl.carousel/owl.carousel.min'
    ], function($) {
        if(window.matchMedia('(max-width: 767px)').matches){
            $('#list-menu-orders').owlCarousel({
                items:3,
                loop:true,
                margin:10,
                merge:true,
                responsive:{
                    0:{
                        items:3
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:5
                    }
                }
            });
        }
    });
</script>
