<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
use \Troquer\Sales\Block\Order\History;

/** @var History $block */
?>
<div class="title-orders">
    <h2>Mis pedidos</h2>
</div>
<div id="menu-orders">
    <div class="options-menu">
        <ul id="list-menu-orders" class="owl-carousel owl-theme">
            <li id="allorders" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/order/history/">Todos</a></li>
            <li id="transitorders" class="lnk-menu-orders _currentorder"><a href="<?= $block->getBaseUrl(); ?>sales/order/transit/">En tránsito</a>
            </li>
            <li id="deliveredorders" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/order/delivered/">Entregados</a></li>
            <li id="returnedorders" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/order/returned/">Devueltos</a></li>
        </ul>
    </div>
</div>
<?php $_orders = $block->getTransitOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($block->getPagerHtml()) : ?>
    <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
<?php endif ?>
<?php if ($_orders && count($_orders)) : ?>
    <div id="section-all-tr" class="tbl-orders-summary">
        <div class="table-wrapper orders-history">
            <div id="tbl-orders">
                <table class="order-tr data table table-order-items history" id="my-orders-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__('Orders')) ?></caption>
                    <tbody>
                    <?php foreach ($_orders as $_order) : ?>
                        <?php $items = $_order->getAllVisibleItems(); ?>
                        <?php $product = reset($items); ?>
                        <?php foreach ($items as $item) {
                            if ($item->getPrice() > $product->getPrice()) {
                                $product = $item;
                            }
                        }
                        $product = $product->getProduct();
                        $productImage = $product->getThumbnail();
                        ?>
                        <?php ?>

                        <div class="row orderdetails-transito">
                            <div class="col-12 content">
                                <div class="info-section-order row">
                                    <div class="order-img col-lg-2 col-4 col-md-3">
                                        <?php if (!empty($productImage)) : ?>
                                            <img height="100" width="100"
                                                 src="<?= $block->getMediaUrl() . $productImage ?>" alt="">
                                        <?php endif; ?>
                                    </div>
                                    <div class="order-info-summary col-lg-7 col-8 col-md-5">
                                        <div class="order-num col-lg-5">
                                            <strong>N° de pedido
                                                #<?= $block->escapeHtml($_order->getRealOrderId()) ?></strong><br>
                                            <span><?= $_order->getTotalItemCount(); ?> articulos</span>
                                        </div>
                                        <div class="order-price-date col-lg-4">
                                            <strong>Total: <?= /* @noEscape */
                                                $_order->formatPrice($_order->getGrandTotal()) ?></strong>
                                            <br>
                                            <span><?= /* @noEscape */
                                                $block->formatDate($_order->getCreatedAt()) ?></span>
                                        </div>
                                        <div class="order-status-info col-lg-3">
                                            <?php
                                            switch ($_order->getStatus()) {
                                                case "pending":
                                                    ?>
                                                    <span
                                                        class="statusorder-pending"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                                    <?php
                                                    break;
                                                case "processing":
                                                    ?>
                                                    <span
                                                        class="statusorder-processing"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                                    <?php
                                                    break;
                                                case "in_transit":
                                                    ?>
                                                    <span class="statusorder-transit"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                                    <?php
                                                    break;
                                            } ?>
                                            <br>

                                            <a href="<?= $block->escapeUrl($block->getViewUrl($_order)) ?>"
                                               class="action view lnkdefault-tr">
                                                <?= $block->escapeHtml(__('View Order')) ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="order-button seguimiento-tr col-lg-3 col-8 col-md-4">
                                        <?php $tracksCollection = $_order->getTracksCollection(); ?>
                                        <?php $trackingUrl = "#"; ?>
                                        <?php $trackNumber = "#"; ?>
                                        <?php if ($tracksCollection->count()) { ?>
                                            <?php foreach ($tracksCollection->getItems() as $track) {
                                                $trackCode = $track->getCarrierCode();
                                                $trackNumber = $track->getTrackNumber();
                                                $trackingUrl = "https://app.myeship.co/es/track/track?no=" . $trackNumber;
                                                break;
                                            } ?>
                                        <?php } ?>
                                        <?php if ($trackingUrl != "#" && (trim($_order->getStatusLabel()) == 'In Transit' || trim($_order->getStatusLabel()) == 'En Tránsito')): ?>
                                            <a target="_blank" href="<?php echo $trackingUrl; ?>"><button class="btn-seguimiento">Seguimiento</button></a>
                                            <br><br>
                                            <span class="noguia">Número de guía: <?php echo $trackNumber; ?></span>
                                        <?php endif; ?>
                                    </div>
                                    <div class="content-step-order col-12">
                                        <div class="bullets-order">
                                            <input type="hidden" id="statusorder" name="custId" value="transito">
                                            <section class="timeline-order">
                                                <ol>
                                                    <li class="step-order-proce <?php if($_order->getStatus() == 'processing' || $_order->getStatus() == 'in_transit' || $_order->getStatus() == 'complete') echo 'active'?>">
                                                        <div>
                                                            <span>Procesando</span>
                                                        </div>
                                                    </li>
                                                    <li class="step-order-transit <?php if($_order->getStatus() == 'in_transit' || $_order->getStatus() == 'complete') echo 'active'?>">
                                                        <div>
                                                            <span>En tránsito</span>
                                                        </div>
                                                    </li>
                                                    <li class="step-order-entregado <?php if($_order->getStatus() == 'complete') echo 'active'?>">
                                                        <div>
                                                            <span>Entregado</span>
                                                        </div>
                                                    </li>
                                                    <li class="step-order-tr"></li>
                                                </ol>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<?php else : ?>
    <div class="empty-sales">
        <div class="img-calendar-empty">
            <img src="<?= $block->getBaseUrl(); ?>media/troquer/icon-shipment-empty.png" alt="">
            <p>Aún no tienes pedidos realizados</p>
        </div>
        <div class="comienza-vender">
            <div class="row d-flex justify-content-center">
                <div class="col-12 image-venta iracomprar">
                    <a href="<?= $block->getBaseurl(); ?>" class="btn-start-sale">
                        <div class="btn"><span>Ir a comprar</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>

<script type="text/javascript">
    require([
        'jquery',
        'owl.carousel/owl.carousel.min'
    ], function ($) {
        if (window.matchMedia('(max-width: 767px)').matches) {
            $('#list-menu-orders').owlCarousel({
                items: 3,
                loop: true,
                margin: 10,
                merge: true,
                responsive: {
                    0: {
                        items: 3
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });
        }
    });
</script>
