@import '_variables.less';

#search_autocomplete {
    .price-box.price-final_price {
        .old-price {
            margin-right: 10px;
            margin-left: 0;
        }
    }
}

#search_autocomplete .smile-elasticsuite-autocomplete-result dl.term-product dd {
    width: 49%;
    display: inline-block;
    right: 0;
    margin: 0 !important;
    @media (max-width: 767px) {
        max-width: 100% !important;
        width: 100% !important;
    }

    .product-shop.product-item {
        margin: 0 0 0 12px !important;

        .product-name {
            font-family: @AcuminProBold;
        }

        .product-secondary {
            .price-box {
                .price {
                    .price-box.price-final_price {
                        display: inline-block !important;

                        span.old-price {
                            display: inline-block;
                            order: initial;
                        }

                        span.special-price {
                            display: inline-block;
                            order: initial;
                        }

                        span {
                            max-width: 60px !important;
                            width: 60px !important;
                            @media (max-width: 767px) {
                                margin-right: 15px;
                                margin-top: 0 !important;
                            }

                            .price-wrapper {
                                .price {
                                    font-size: 14px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

form.form.minisearch.active {
    .field.search {
        .block-search .label.active {
            .control {
                input {
                    @media (max-width: 768px) {
                        border-bottom: 1px solid @colorcoral !important;
                    }
                }
            }
        }
    }
}

#search_autocomplete {
    max-width: 700px !important;
    width: 700px !important;
    background: @colorwhite !important;
    color: @colorblack !important;
    margin-top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    @media (max-width: 768px) {
        margin-top: ~"calc(12% + 30px)";
        z-index: 10;
    }
    @media (max-width: 576px) {
        margin-top: ~"calc(8% + 0)" !important;
    }
    @media (max-width: 767px) {
        max-width: 90% !important;
        width: 90% !important;
        left: 0;
        overflow: scroll !important;
        height: 100vh !important;
        max-height: 100vh !important;
        padding: 15px 0 25px !important;
    }

    dd {
        border: none !important;
    }

    dd.selected {
        background: @colorwhite !important;
    }

    .smile-elasticsuite-autocomplete-result {
        dl.term-term {
            order: 1;
            display: inline-block !important;
            width: 30%;
            @media (max-width: 767px) {
                width: 100%;
                order: initial;
                display: block !important;
            }

            dd {
                .qs-option-name {
                    text-decoration: underline;
                }
            }
        }

        dl.term-product {
            order: 3;
            width: 69%;
            display: inline-block;
            float: right;
            border-left: 1.4px solid @colorgray;
            padding-left: 10px;
            @media (max-width: 767px) {
                width: 100%;
                order: initial;
                display: block !important;
                float: none !important;
                border-left: 0 !important;
            }

            dd {
                max-width: 49% !important;
                @media (max-width: 767px) {
                    max-width: 100% !important;
                }

                .product-image-box {
                    width: 70px !important;
                    max-width: 70px !important;
                    padding: 0 !important;

                    img {
                        width: 70px !important;
                        height: 70px !important;
                    }
                }

                .product-shop.product-item {
                    .f-fix {
                        .product-secondary {
                            .price-box.price-final_price {
                                .price-wrapper {
                                    .price {
                                        font-size: 14px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        dl.term-product_attribute {
            display: none !important;
        }

        dl.term-category {
            order: 2;
            display: inline-block !important;
            width: 30%;
            @media (max-width: 767px) {
                width: 100%;
                order: initial;
                display: block !important;
            }
        }

        dl.autocomplete-list {
            dt {
                &:hover {
                    background: @colorwhite !important;
                }

                &:first-child {
                    border: none !important;
                    color: @colorgray !important;
                }
            }

            dd {
                span.qs-option-name {
                    font-family: @AcuminProBold;
                }
            }
        }
    }
}

input#search:focus {
    border-bottom: 1px solid @colorcoral !important;
}

.close-iconinput {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.close-iconinput {
    visibility: hidden;
    background: transparent none !important;
    border: 0 !important;

    &:after {
        content: "X";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        z-index: 1;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: @colorgray;
        font-weight: normal;
        font-size: 14px;
        cursor: pointer;
        margin-top: 4px !important;
    }
}

#search:not(:valid) ~ .close-iconinput {
    display: none;
}

.showclosesearch {
    visibility: visible !important;
}
