// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 22px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common =true) {

    .checkout-index-index,
    .checkout-onepage-success {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            .lib-css(border-bottom, @checkout-step-title__border);
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .logo {
            margin-left: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .checkout-index-index {
        .page-header .minicart-wrapper {
            display: none;
        }
    }

    .page-header.type5 .block-search .label {
        margin-right: 0;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        width: 66%;
        padding-right: @indent__l;
    }
}
//Style Troquer
@import '../_variables.less';

div#header-checkout {
    text-align: center;
    margin: 20px 0 40px;
    @media (max-width: 576px) {
        margin: 20px 0 0 !important;
    }
}

button#top-cart-btn-checkout {
    border: 1px solid @colorblack;
    border-radius: 10px;
    height: 48px;
    font-family: @AcuminProBold;
    text-transform: capitalize !important;
    font-size: 16px !important;

    &:hover {
        background: @colorblack;
        color: @colorwhite;
    }
}

button#update-cart-item-28 {
    color: @colorblack;
    background: @colorcoral;
}

.page-main.product-view-width {
    margin: 0 auto !important;
}

.fotorama__caption {
    display: none !important;
}

div#checkout {
    max-width: 80% !important;
    width: 100% !important;
    margin: 0 auto !important;
    @media (max-width: 576px) {
        max-width: 95% !important;
        width: 100% !important;
    }
}
td.col.col-method input.radio {
    input {
        visibility: hidden;
        margin-left: -25px;

        &:checked {
            &:before {
                background: @colorcoral;
                border: 1px solid @colorcoral;
            }
        }
    }
}

.product-info-main {
    h1.page-title {
        border-left: none !important;
        padding-left: 0;
        text-transform: capitalize;

        span {
            color: @colorblack;
            text-transform: capitalize;
        }
    }
}

h1.page-title {
    border-left: 2px solid @colorcoral;
    padding-left: 10px;
    text-transform: capitalize;

    span {
        color: @colorblack;
        text-transform: capitalize;
    }
}

form#form-validate {
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    float: none !important;
    position: initial !important;
    margin-top: 30px;
    margin-bottom: 30px;

    .cart.table-wrapper {
        @media (max-width: 767px) {
            border-top: none !important;
        }

        table#shopping-cart-table {
            tbody.cart.item {
                @media (max-width: 576px) {
                    padding: 10px 0;
                    border-bottom: 20px solid @colorbackground !important;
                    &:last-child {
                        border-bottom: none !important;
                    }
                }
            }
        }

        th.col.actions-product-th {
            @media (max-width: 544px) {
                border-bottom: none;
            }
        }
    }
}

span.img-preview-product-tr {
    max-width: 90px;
    border: none !important;
}

button.mfp-close {
    background: @colorcoral !important;
    top: -31px !important;
    right: 0 !important;
    opacity: 1 !important;
    border-radius: 6px 6px 0 0 !important;
    height: 35px !important;
    padding-right: 15px !important;

    &:hover {
        color: @colorwhite !important;
        background: @colorcoral !important;
        top: -31px !important;
        right: 0 !important;
        opacity: 1 !important;
        border-radius: 6px 6px 0 0 !important;
    }
}

.product-info-main .product-info-price {
    border-bottom: none !important;

    .price-box.price-final_price {
        @media (max-width: 767px) {
            margin-left: 0 !important;
        }
    }
}

.box-gotoproduct {
    display: none !important;
}

a.weltpixel-quickview.weltpixel_quickvie4_button_v2 {
    background-size: 374px 22px;
}

.actions-toolbar.delete-item-tr {
    .action-towishlist {
        background-image: @spriticons;
        width: 24px !important;
        height: 22px !important;
        background-position: 316px 22px !important;
        background-size: 389px 22px;
        text-align: right;
        float: right;
        margin-right: 60px;

        span {
            display: none;
        }

        &:before {
            content: none !important;
        }
    }

    .action.action-edit {
        display: none;
    }

    .action.action-delete {
        &:before {
            font-size: 20px;
            color: @colorblack !important;
        }
    }
}

table#shopping-cart-table {
    tbody.cart.item {
        border: none !important;

        td.col.item {
            @media (max-width: 767px) {
                position: initial;
                border-bottom: 1px solid #ddd;
                margin-top: 10px;
            }
            @media (max-width: 576px) {
                margin-left: 10px !important;
                margin-right: 10px !important;
            }

            a.product-item-photo {
                @media (max-width: 767px) {
                    display: inline-block;
                    position: initial !important;
                    vertical-align: middle;
                    max-width: 110px !important;
                    width: 50% !important;
                }
            }
        }
    }
}

.XAXA.block.items-in-cart.active {
    .title {
        .content.minicart-items {
            .minicart-items-wrapper.overflowed {
                ol.minicart-items {
                    li.product-item {
                        .product {
                            .product-item-details {
                                display: inline-block !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.product-item-details {
    @media (max-width: 767px) {
        vertical-align: middle;
        display: inline-block;
        margin-left: 0;
        text-align: left;
        right: 0;
        left: unset;
        width: 50%;
        padding-left: 10px !important;
    }

    .product.description.product-item-description {
        a {
            display: none;
        }
    }
}

#shopping-cart-table {
    * {
        color: @colorblack !important;
        font-weight: 600;
    }

    th.col.actions-product-th {
        @media (max-width: 767px) {
            display: none !important;
        }
    }

    .cart.item {
        .item-info {
            .actions-product {
                vertical-align: middle !important;
                @media (max-width: 767px) {
                    display: block;
                    position: relative;
                    text-align: left;
                    float: left;
                    width: 100%;
                    right: unset;
                    left: 0;
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                    margin-bottom: 20px;
                }

                .delete-item-tr {
                    @media (max-width: 767px) {
                        text-align: left;
                        float: left;
                        margin-left: 6%;
                        margin-top: 0 !important;
                    }
                }
            }

            .price {
                @media (max-width: 576px) {
                    text-align: left;
                }
            }

            .subtotal {
                @media (max-width: 576px) {
                    text-align: right;
                }
            }
        }
    }
}

.toolbar.wishlist-toolbar {
    @media (max-width: 767px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .pager {
        display: flex;
        padding-bottom: 30px;
        @media (max-width: 767px) {
            display: grid;
        }

        .toolbar-amount {
            font-family: @AcuminProBold;
            font-size: 16px;
            line-height: 28px !important;
            @media (max-width: 767px) {
                order: 1;
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }

        .pages {
            text-align: end;
            @media (max-width: 767px) {
                order: 3;
                text-align: end;
                margin-right: -10px;
                margin-top: 15px;
                margin-bottom: 0 !important;
                font-size: 14px;
            }
            @media (max-width: 320px) {
                margin-top: -23px;
                font-size: 13px;
            }

            ul li a.page, ul li a.action {
                background: transparent;
            }
        }

        .limiter {
            margin-left: 30px;
            font-family: @AcuminProBold;
            font-size: 16px;
            @media (max-width: 767px) {
                order: 2;
                right: -5px;
                position: absolute;
                margin-top: 7px;
                font-size: 14px;
            }
            @media (max-width: 320px) {
                position: initial !important;
                margin-left: 0 !important;
                font-size: 13px;
            }

            .limiter-options {
                background-color: transparent;
            }
        }
    }
}

.control {
    .opccount {
        max-width: 30px;
        width: 100%;
        display: inline-block !important;
        vertical-align: middle;

        .qty-changer {
            a {
                font-size: 18px;
                font-weight: bold;

                i {
                    &:before {
                        font-size: 22px !important;
                        font-weight: normal !important;
                    }
                }
            }
        }

        input#qty {
            padding: 0 !important;
            vertical-align: middle;
            font-size: 18px;
            font-weight: bold;
            max-width: 31px !important;
            pointer-events: none;
            color: rgba(0, 0, 0, .4);
        }
    }
}

.field.qty {
    .qty-changer {
        a {
            border: none !important;

            i.porto-icon-down-dir {
                &:before {
                    font-size: 12px !important;
                    content: '\f883' !important;
                    margin-left: 0 !important;
                    font-weight: initial !important;
                    color: @colorblack;
                }
            }

            i.porto-icon-up-dir {
                &:before {
                    font-size: 12px !important;
                    content: '\f882' !important;
                    margin-left: 12px;
                    font-weight: initial !important;
                    color: @colorblack;
                }
            }
        }
    }

    .control.qty {
        .input-text {
            border: none !important;
            pointer-events: none;
            color: rgba(0, 0, 0, 0.4);
        }

        .input-qty {
            opacity: .6;
            @media (max-width: 576px) {
                margin-top: -12px;
            }
        }
    }
}

.cart.table-wrapper .item .col.item {
    padding: 0 8px 0 0 !important;
}

.cart.table-wrapper .actions-toolbar {
    padding-bottom: 0 !important;
}

.update-form-cart {
    border-top: 1px solid @colorccc;
    padding-top: 20px;
    text-align: right !important;
    @media (max-width: 576px) {
        border-top: none !important;
    }
}

.update-cart-tr {
    border: 1px solid @colorblack !important;
    border-radius: 10px;
    color: @colorblack !important;
    padding: 5px 25px !important;
    height: auto !important;
    font-weight: 400;
    font-size: 15px;
    font-family: @AcuminProBook;
    @media (max-width: 767px) {
        width: 85% !important;
    }
}

.cart-container {
    padding: 0 15px;
    max-width: 80% !important;
    width: 100% !important;
    margin: 0 auto !important;
    @media (max-width: 768px) {
        max-width: 95% !important;
    }
    @media (max-width: 576px) {
        max-width: 100% !important;
        margin-top: -10px !important;
        display: flex;
        flex-direction: column-reverse;
        flex-flow: wrap-reverse;
    }
    @media (max-width: 544px) {
        max-width: 100% !important;
        margin-top: -45px !important;
        display: flex;
        flex-direction: column-reverse;
        flex-flow: wrap-reverse;
        padding: 0;
    }
}

.cart-container .form-cart .actions.main {
    @media (max-width: 767px) {
        text-align: center !important;
        margin-bottom: 12px;
    }
}

.cart-summary {
    background: no-repeat;
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
    @media (max-width: 991px) {
        width: 45% !important;
    }
    @media (max-width: 544px) {
        width: 100% !important;
        margin-top: 30px;
    }

    #block-shipping {
        display: none !important;
    }

    div#cart-totals {
        border: 1px solid @colorarena;
        padding: 20px 20px;
        margin-top: 47px !important;
        @media (max-width: 576px) {
            margin-left: 20px !important;
            margin-right: 20px !important;
        }
        @media (max-width: 320px) {
            margin-left: 15px !important;
            margin-right: 15px !important;
        }

        .table-wrapper {
            table.data.table.totals {
                tr.grand.totals {
                    border-bottom: 1px solid @colorarena;
                }
            }
        }

        .totals-cart-tr {
            margin: 10px 0;
            color: @colorarena;
        }
    }

    ul.btn-checkout-tr.checkout.methods.items.checkout-methods-items {
        li.item {
            width: 100%;

            .paypal {
                width: 60%;
                margin: auto;
                position: relative;
                z-index: 3;
                @media (max-width: 1024px) {
                    width: 85%;
                }
                @media (max-width: 768px) {
                    width: 95%;
                }
                @media (max-width: 767px) {
                    width: 93%;
                }
                @media (max-width: 320px) {
                    width: 94%;
                }
            }
        }
    }
}

strong#block-shipping-heading {
    cursor: pointer;
}

strong#block-shipping-heading::after {
    content: none !important;
}

#block-shipping {
    #block-summary {
        display: block !important;
    }
}

form#co-shipping-method-form {
    fieldset {
        .items {
            .item-title {
                span {
                    visibility: hidden;
                }
            }

            .item-options {
                .field.choice.item {
                    position: relative;

                    input[type="radio"] {
                        display: none;
                    }

                    input[type="radio"]:checked + label:after {
                        border-radius: 11px;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        top: 7px;
                        left: 3px;
                        content: " ";
                        display: block;
                        background: @colorcoral;
                    }

                    label.label {
                        &:before {
                            content: " ";
                            display: inline-block;
                            position: relative;
                            top: 4px;
                            margin: 0 5px 0 0;
                            width: 18px;
                            height: 18px;
                            border-radius: 11px;
                            border: 1px solid @colorcoral;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

.btn-checkout-tr {
    button {
        max-width: 300px !important;
        width: 100% !important;
        @media (max-width: 767px) {
            max-width: 98% !important;
            margin-top: 15px;
        }
        @media (max-width: 544px) {
            max-width: 92% !important;
            margin-top: 15px;
        }
        @media (max-width: 375px) {
            max-width: 93% !important;
            margin-top: 15px;
        }
        @media (max-width: 320px) {
            max-width: 94% !important;
            margin-top: 15px;
        }
    }
}

.btn-shopping {
    margin: 15px 0;

    a.shopping {
        color: @colorblack !important;
        text-decoration: none;

        .shopping-tr {
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 12px 0;
            border: 1px solid @colorblack;
            border-radius: 10px;
            font-size: 16px !important;
            font-family: @AcuminProBold;
            @media (max-width: 576px) {
                max-width: 85% !important;
            }
        }
    }
}

input#s_method_storepickup_storepickup {
    &:before {
        content: "";
        padding: 0 5px;
        margin-left: 0;
        border-radius: 50%;
        background: @colorwhite;
        border: 1px solid @colorladrillo;
        font-size: 8px;
        position: relative;
        margin-top: -2px;
        top: -1px;
    }
}

input#s_method_flatrate_flatrate {
    &:before {
        content: "";
        padding: 0 5px;
        margin-left: 0;
        border-radius: 50%;
        background: @colorwhite;
        border: 1px solid @colorladrillo;
        font-size: 8px;
        position: relative;
        margin-top: -2px;
        top: -1px;
    }
}

tr.grand.totals {
    th.mark {
        border: none !important;
    }

    td.amount {
        border: none !important;
    }
}

strong.summary.title {
    font-weight: 700;
    font-size: 18px !important;

    &:before {
        content: attr(data-text);
        background: @colorcoral;
        padding: 1px 25px;
        position: absolute;
        display: block;
        margin: 42px 0 0;
    }
}

strong#block-discount-heading:before {
    content: attr(data-text);
    background: @colorcoral;
    padding: 1px 25px;
    position: absolute;
    display: block;
    margin: 39px 0 0;
}

strong#block-shipping-heading:before {
    content: attr(data-text);
    background: @colorcoral;
    padding: 1px 25px;
    position: absolute;
    display: block;
    margin: 39px 0 0;
}

button.action.primary.checkout {
    background: @colorblack !important;
    color: @colorwhite !important;
    border: none;
    border-radius: 10px;
    height: 48px;
    font-size: 16px;
    font-family: @AcuminProBold;
}

.cart-summary .checkout-methods-items .item:last-child {
    width: 60%;
    margin: 0 auto;
}

.cart-discount {
    div#block-discount {
        float: none;
        margin-bottom: 15px !important;

        strong#block-discount-heading {
            color: @colorblack;
        }

        .content {
            input#coupon_code {
                border: none !important;
            }

            button.action.apply.primary {
                border: none;
                border-bottom: 1px solid @colorblack;
            }
        }
    }

    div#block-giftcard {
        float: none;
        display: none;
    }
}

form#giftcard-form {
    input#giftcard-code {
        border: none !important;
    }

    button.action.add.primary {
        border: none;
        border-bottom: 1px solid @colorblack;
    }
}

form#shipping-zip-form {
    legend.legend {
        display: none;
    }
}

.shipping-tax-tr {
    max-width: 100%;
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    margin-top: 15px;
    @media (max-width: 767px) {
        width: 50%;
    }
    @media (max-width: 576px) {
        width: 100%;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    @media (max-width: 320px) {
        width: 100%;
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

    .sec-shipping {
        .block.discount {
            .content {
                #discount-coupon-form {
                    .fieldset.coupon {
                        .field {
                            @media (max-width: 380px) {
                                width: 80% !important;
                            }
                            @media (max-width: 320px) {
                                width: 75% !important;
                            }
                        }

                        .actions-toolbar {
                            div.primary {
                                width: 100% !important;
                                border-bottom: none;
                                font-family: @AcuminProBold;
                                font-size: 15px;
                                max-width: 300px !important;
                                @media (max-width: 767px) {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

form#shipping-zip-form {
    [name="shippingAddress.region_id"] {
        display: none !important;
    }

    .field {
        display: none;
        margin-top: 25px;
        width: 50%;
        @media (max-width: 768px) {
            width: 80%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }

        .control {
            select {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid @colorarena;
            }
        }

        &:last-child {
            display: block;
        }

        label.label {
            font-family: @AcuminProBold;
            color: @colorrgbablack;
            margin-bottom: 0 !important;
        }

        .control {
            input {
                border: none;
                border-bottom: 1px solid @colorccc;
                width: 50%;
                font-family: @AcuminProBook;
                font-size: 16px;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                @media (max-width: 320px) {
                    font-size: 13px;
                }
            }
        }
    }
}

.cart-summary {
    display: inline-block;
    vertical-align: middle;
    width: 45% !important;
    @media (max-width: 767px) {
        width: 48% !important;
    }
    @media (max-width: 576px) {
        width: 100% !important;
    }
}

div#block-discount {
    .content {
        display: block !important;
    }
}

form#discount-coupon-form {
    .field {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        @media (max-width: 768px) {
            max-width: 280px !important;
        }
        @media (max-width: 576px) {
            max-width: 100% !important;
        }

        input#coupon_code {
            border: none;
            border-bottom: 1px solid @colorarena;

            &::placeholder {
                color: @colorrgbablack;
            }
        }
    }

    .actions-toolbar {
        width: auto;
        display: inline-block;
        vertical-align: middle;
        margin-top: 9px;
        @media (max-width: 380px) {
            width: 0;
        }

        button.action.apply.primary {
            font-family: @AcuminProBold;
            border: none;
            width: auto;

            &:hover {
                color: @colorwhite;
                background: @colorblack;
            }
        }

        button.action.cancel.primary {
            width: auto !important;
            border: none !important;
            font-family: @AcuminProBold;
            @media (max-width: 576px) {
                width: 175px;
            }
            @media (max-width: 380px) {
                width: 175px !important;
                padding: 0 10px;
                text-align: left;
                margin-top: -20px;
            }
        }
    }
}

span.line-titles {
    display: none !important;
}

.section-end {
    padding: 20px 0;
    text-align: center;
    margin: 20px auto;
    @media (max-width: 576px) {
        display: none;
    }
}

.total-produtcs {
    max-width: 80%;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    @media (max-width: 576px) {
        div.row {
            margin: 0 0 30px;
        }

        div.total-grand-tr {
            span.totalscart {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                margin-top: 0;
            }
        }

        div.count-items-tr {
            margin-bottom: 20px;

            span {
                margin-top: 0;
            }
        }

        div.btn-go-tocheckout {
            button {
                margin: 0 auto;
            }
        }
    }

    .count-items-tr {
        span {
            display: inline-flex;
            margin-top: 3%;
            vertical-align: middle;
            @media (max-width: 576px) {
                margin-top: 8%;
            }

        }
    }

    .totalscart {
        font-weight: bold;
        font-size: 16px;
        font-family: @AcuminProBold;
        vertical-align: middle;
        margin-top: 5%;
        display: flex;
    }

    .gopayment {
        max-width: 300px;
        width: 100%;
        margin-right: -33px;
        @media (max-width: 1200px) and (min-width: 1024px) {
            margin-right: 0 !important;
            margin-left: 30px;
        }

        a {
            color: @colorwhite;

            &:hover {
                text-decoration: none !important;
                color: @colorwhite !important;
            }
        }
    }
}

//Checkout Shipping Address
.show_inpt {
    display: block !important;
}

.input-edit-info label {
    padding-left: 10px !important;
    font-family: @AcuminProBold !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.field.input-edit-info.phone.required {
    font-size: 14px;

    label {
        &:after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 4.5px;
        }
    }
}

label.external-number {
    padding-left: 10px !important;
}

label.house-number {
    margin-top: 10px !important;
    padding-left: 10px !important;
}

.streetFirstID {
    margin-bottom: 18px !important;

    label {
        &:after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 4.5px;
        }
    }
}

.streetSecondID {
    width: 47%;
    display: inline-block !important;
    margin-top: 0 !important;

    label {
        &:after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 4.5px;
        }
    }
}

.streetThirdID {
    width: 47%;
    display: inline-block !important;
    float: right;
    margin-top: 0 !important;

    label {
        &:after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 4.5px;
        }
    }
}

.suburbDomID {
    label {
        &:after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 4.5px;
        }
    }
}

//New Form address
fieldset.field.street.admin__control-fields.required {
    width: 100%;
    order: 4;

    legend.label {
        display: none;
    }
}

[name='shippingAddress.street.0'] {
    display: block !important;

    label {
        &:after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 4.5px;
        }
    }
}

[name='shippingAddress.street.1'] {
    display: inline-block !important;
    max-width: 45%;

    label {
        position: relative !important;

        &:after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 4.5px;
        }
    }
}

[name='shippingAddress.street.2'] {
    display: inline-block !important;
    max-width: 45%;
    float: right;

    label {
        position: relative !important;
    }
}

.field._required.street.fieldstreet.input-edit-info.inpt-edit {
    .external._required {
        padding-right: 25px;
        @media (max-width: 576px) and (min-width: 385px) {
            padding-right: 20px;
        }

        label {
            span {
                &:after {
                    content: '*';
                    color: #E02B27;
                    font-size: 1.2rem;
                    margin: 0 0 0 4.5px;
                }
            }
        }
    }

    .internal {
        padding-left: 25px;
        @media (max-width: 576px) and (min-width: 385px) {
            padding-left: 20px;
        }
    }
}

select#country {
    border: none;
    font-size: 16px;
    font-family: @AcuminProBook;
    border-bottom: 1px solid #e0d9d9;
    margin-bottom: 20px;
}

select#region_id {
    border: none;
    font-size: 16px;
    font-family: @AcuminProBook;
    border-bottom: 1px solid #e0d9d9;
}

div#shipping-new-address-form {
    display: flex !important;
    flex-wrap: wrap;

    div.field {
        flex-direction: column;
        width: 100%;

        .control {
            select {
                border: none;
                border-radius: 0;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
                border-bottom: 1px solid @colorarena;
            }
        }
    }

    [name='shippingAddress.firstname'] {
        order: 1;
    }

    [name='shippingAddress.lastname'] {
        order: 2;
    }

    [name='shippingAddress.telephone'] {
        order: 3;
    }

    [name='shippingAddress.streetnumber'] {
        order: 4;
    }

    [name='shippingAddress.postcode'] {
        order: 5;
    }

    [name='shippingAddress.custom_attributes.suburb'] {
        order: 6;
    }

    [name='shippingAddress.city'] {
        order: 7;
    }

    [name='shippingAddress.region_id'] {
        order: 8;
    }

    [name='shippingAddress.country_id'] {
        display: block !important;
        order: 9;
    }

    [name='shippingAddress.custom_attributes.references'] {
        order: 10;
    }

    [name='shippingAddress.custom_attributes.is_for_sales'] {
        display: none;
    }

    [name='region_id'] {
        font-family: @AcuminProBook;
    }

    .field.choice {
        order: 11;
        position: relative;

        input {
            display: none !important;
        }

        label.label {
            padding-left: 10px;

            &:before {
                content: " ";
                display: inline-block;
                position: relative;
                top: 4px;
                margin: 0 5px 0 0;
                width: 18px;
                height: 18px;
                border-radius: 11px;
                border: 1px solid #bf9880;
                background-color: transparent;
            }
        }
    }

    #shipping-save-in-address-book:checked + label:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 7px;
        left: 3px;
        content: " ";
        display: block;
        background: #bf9880;
    }

    .input-edit-info {
        label {
            color: @colorgray !important;
        }
    }
}

.field._error .control input, .field._error .control select, .field._error .control textarea {
    border-color: #ed8380 !important;
    border-width: 2px !important;
}

.field-error {
    margin-top: 5px;
    color: #e02b27;
    font-family: @AcuminProBook;
}

p.legend_cp {
    font-size: 15px;
    font-family: @AcuminProBook;

    strong {
        font-family: @AcuminProBold;
    }
}

.checkout-index-index .modal-popup .fieldset .field .label {
    font-weight: initial;
    font-family: @AcuminProBold;
    color: @colorgray;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    padding-left: 0 !important;
}

[name='shippingAddress.city'] {
    display: block !important;
}

[name='shippingAddress.region_id'] {
    display: block !important;

    .control {
        .select {
            //  display: none !important;
        }
    }
}

[name='shippingAddress.postcode'] {
    display: block !important;
}

[name='shippingAddress.custom_attributes.suburb'] {
    display: block !important;

    .control {
        [name='custom_attributes[suburb]'] {
            display: none !important;
        }
    }
}

.form.form-shipping-address {
    margin-top: 20px !important;
    padding: 0 20px 20px;
    font-family: @AcuminProBold !important;

    #shipping-new-address-form {

    }
}

//Checkout Shipping
.modal-content {
    box-shadow: none !important;
    border-radius: 1px !important;
}

footer.modal-footer {
    background: @colorwhite !important;
}

input#shipping-save-in-address-book:before {
    content: "";
    font-size: 14px;
    border: 1px solid @colorcoral;
    padding: 0 8px;
    border-radius: 50%;
    margin-left: -2px;
    top: -4px;
    position: relative;
    background: @colorwhite !important;
    @media (max-width: 1366px) and (min-width: 1200px) {
        font-size: 12px;
        padding: 0 8px;
        margin-left: -3px;
    }
}

input#shipping-save-in-address-book:checked:before {
    background: @colorcoral !important;
}

.opc-progress-bar-item {
    width: 50% !important;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;

    &:before {
        background: #e4e4e4 !important;
        top: 10px !important;
        transition: background 0.3s !important;
        content: '' !important;
        height: 3px !important;
        left: 0 !important;
        position: absolute !important;
        width: 100% !important;
    }
}

.opc-progress-bar-item._active {
    &:before {
        background: @colorcoral !important;
    }
}

.opc-progress-bar {
    /* display: none; */
    margin: 25px 0 48px !important;
    counter-reset: i;
    display: block !important;
    font-size: 0;

    span {
        &:before {
            height: 24px !important;
            margin-left: -19px;
            transition: background 0.3s;
            width: 24px !important;
            border-radius: 50%;
            content: '';
            left: 50%;
            position: absolute;
            top: 0;
            background: #e4e4e4;
        }

        @media (max-width: 544px) {
            display: inline-block;
            padding-top: 45px;
            width: 100%;
            word-wrap: break-word;
            color: #4c4a4a;
            font-weight: 300;
            font-size: 1.2rem;
            &:before {
                height: 25px;
                margin-left: -19px;
                transition: background 0.3s;
                width: 25px;
                border-radius: 50%;
                content: '';
                left: 50%;
                position: absolute;
                top: 0;
                background: #e4e4e4;
            }
        }
    }
}

.opc-progress-bar-item._active {
    &:before {
        background: @colorcoral !important;
    }

    span {
        &:before {
            background: @colorcoral !important;
        }

        &:after {
            content: none !important;
        }
    }
}

.opc-progress-bar-item {
    span {
        &:after {
            content: none !important;
        }
    }
}

.opc-wrapper .edit-address-link {
    &:before {
        color: @colorblack !important;
        padding-right: 12px;
    }
}

div[name="shippingAddress.telephone"] {
    .control._with-tooltip {
        input[name="telephone"] {
            width: 100% !important;
        }

        .field-tooltip.toggle {
            display: none !important;
        }
    }
}

.shipping-address-items {
    margin-top: 15px;
    @media (max-width: 544px) {
        margin-top: 36px !important;
    }
}

fieldset.field.between_streets.admin__control-fields {
    .control {
        .field {
            label.label {
                display: none !important;
            }
        }

        .field.additional {
            label.label {
                display: none !important;
            }
        }
    }
}

.opc-wrapper .shipping-address-item.selected-item {
    border-color: @colorcoral !important;
    background: @colorcoral;
    color: @colorwhite;
    max-height: 250px;
    height: 250px !important;
    @media (max-width: 576px) {
        max-height: 220px !important;
        height: 220px !important;
    }

    button.action.edit-address-link {
        bottom: 0 !important;
        position: absolute !important;
        left: 15px !important;
        @media (max-width: 576px) {
            right: 5px !important;
            left: unset !important;
        }

        &:after {
            @media (max-width: 576px) {
                color: @colorwhite !important;
            }
        }
    }

    &:after {
        content: none !important;
    }

    button.action.edit-address-link {
        span {
            &:before {
                font-size: 18px;
                content: '\f826';
                font-family: 'porto-icons', serif;
                color: @colorwhite;
            }
        }
    }
}

.opc-wrapper .edit-address-link {
    color: @colorgray !important;
}

form#co-shipping-method-form {
    margin-top: 15px;
    @media (max-width: 544px) {
        margin-top: 15px;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    @media (max-width: 639px) {
        background: @colorwhite !important;
        border: none !important;
        padding-top: 0 !important;
    }
}

// Footer checkout
div#footercheckout {
    padding: 30px 0;

    .row {
        @media (max-width: 576px) {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }

    .content-footer-check {
        .sendmjs {
            text-decoration: underline;
        }

        span.telfooter {
            a {
                color: @colorblack !important;
                text-decoration: underline;
                font-family: @IconsolataBold;
            }
        }

        .titlesfooter {
            margin-bottom: 12px;
            font-family: @IconsolataBold;
            font-size: 18px !important;
            font-weight: bold;
            color: @colorblack !important;
        }

        p {
            margin-top: 10px;
        }

        p.textfooter {
            margin-top: 15px;

            a {
                font-family: @AcuminProBold;
                color: @colorblack;
            }
        }

        .sectel {
            padding: 0 5%;
            @media (max-width: 576px) {
                padding: 0 15px !important;
            }
        }

        .imgfoter {
            padding-top: 15px;
            text-align: center;

            .logosdesk {
                @media (max-width: 576px) {
                    display: none !important;
                }
            }

            .images-resposive {
                display: none;
                @media (max-width: 576px) {
                    display: block !important;
                }
            }
        }
    }
}

div#checkout {
    @media (max-width: 768px) {
        display: -webkit-flex !important;
        display: flex !important;
        flex-flow: column !important;
        padding: 0 15px;
    }
    @media (max-width: 576px) {
        padding: 0;
    }

    .opc-wrapper {
        @media (max-width: 768px) {
            width: 100% !important;
            order: 2 !important;
            float: none !important;
            position: initial !important;
            padding-right: 0;
        }
        li#payment {
            div#content-credit-troquer {
                @media (max-width: 768px) {
                    width: 80%;
                    margin: auto;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }
}

//mobile
.opc-estimated-wrapper {
    background: @colorwhite !important;
    border: 1px solid @colorccc;
    margin: 0 14px 15px !important;
    padding: 10px 15px !important;

    .minicart-wrapper {
        button.action.showcart {
            .counter.qty {
                span.counter-number {
                    line-height: 2;
                }
            }
        }
    }
}

button.action.showcart {
    cursor: pointer;
    background-image: @spriticons !important;
    width: 24px !important;
    height: 22px !important;
    background-position: 351px 22px !important;
    background-size: 374px 22px !important;

    span.counter.qty {
        @media (max-width: 544px) {
            width: 16px !important;
            height: 16px !important;
            display: block !important;
            font-size: 10px !important;
            color: @colorwhite !important;
            background-color: @colorladrillo !important;
            text-align: center !important;
            line-height: 16px !important;
            border-radius: 20px !important;
            min-width: auto !important;
            left: auto !important;
            right: -7px !important;
            margin-top: -15px !important;
            font-weight: 400 !important;
            margin-left: 14px !important;
        }
    }

    @media (max-width: 544px) {
        &:before {
            content: none !important;
        }
    }
}

//mobile
.opc-wrapper .shipping-address-item.selected-item {
    a {
        color: @colorwhite !important;
    }

    button {
        &:before {
            color: @colorwhite !important;
        }
    }
}

.opc-wrapper .shipping-address-item {
    border: 2px solid #ddd !important;
    font-size: 14px !important;
    line-height: 20px !important;
    margin: 0 15px 15px 0;
    padding: 15px !important;
    transition: 0.3s border-color;
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    word-wrap: break-word;
    border-radius: 5px;
    color: @colorrgbablack;
    height: 250px;
    @media (max-width: 576px) {
        height: 220px !important;
    }

    button.action.action-select-shipping-item {
        bottom: 0 !important;
        position: absolute !important;
        right: 0 !important;
    }

    @media (max-width: 1072px) and (min-width: 968px) {
        width: 46% !important;
    }
    @media (max-width: 768px) {
        margin: 0 0 25px !important;
        width: 43% !important;
    }
    @media (max-width: 576px) {
        margin: 0 0 25px !important;
        width: 100% !important;
    }

    a {
        color: @colorrgbablack !important;
    }

    button.action {
        margin: 0 !important;
    }

    button.action.edit-address-link {
        span {
            &:before {
                font-size: 18px;
                content: '\f826';
                font-family: 'porto-icons', serif;
                color: @colorcoral;
            }
        }
    }

    button.action.action-select-shipping-item {
        border: none !important;
        background-color: transparent;

        span {
            &:before {
                font-size: 18px;
                content: '\f846';
                font-family: 'porto-icons', serif;
                color: @colorwhite;
            }
        }
    }
}

.opc-wrapper .action-select-shipping-item {
    @media (max-width: 576px) {
        float: right !important;
        width: auto !important;
    }
}

.opc-wrapper .shipping-address-item:nth-child(even) {
    @media (max-width: 768px) {
        margin-left: 25px !important;
    }
    @media (max-width: 576px) {
        margin-left: 0 !important;
    }
}

.opc-wrapper .shipping-address-item:before {
    background: none !important;
}

.opc-block-shipping-information .shipping-information-title .action-edit:hover:before {
    color: @colorcoral !important;
}

.opc-sidebar {
    margin: 0 0 18px !important;
    @media (max-width: 768px) {
        width: 100% !important;
        order: 1 !important;
    }
}

aside.modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide {
    .modal-inner-wrap {
        header.modal-header {
            display: none !important;
        }
    }
}

.opc-block-summary {
    background: transparent !important;
    border: none !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    margin-top: 0;
    @media (max-width: 768px) {
        padding: 0 !important;
    }

    span.title {
        &:before {
            content: attr(data-text);
            background: @colorcoral;
            padding: 1px 25px;
            position: absolute;
            display: block;
            margin: 40px 0 0;
        }
    }

    .block.items-in-cart {
        border: 2px solid @colorarena;
        padding: 15px !important;
        @media (min-width: 768px) {
            margin-top: 15px !important;
        }

        .content.minicart-items {
            display: none;
        }

        .title {
            &:after {
                content: none !important;
            }
        }
    }

    .block.items-in-cart.active {
        background: transparent;
        padding: 22px 27px;
        border: 1px solid @colorarena !important;
        margin-bottom: 30px;
    }

    table.data.table.table-totals {
        border-top: none !important;
    }
}

.opc-block-summary > .title {
    margin-bottom: 20px !important;
}

.opc-block-summary .items-in-cart > .title {
    border-bottom: none !important;
}

table.table-checkout-shipping-method {
    tr.row {
        td.col.col-method {
            position: relative;

            label {
                &:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 0;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }
            }

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 21px;
                left: 3px;
                content: " ";
                display: block;
                background: @colorcoral;
            }
        }
    }
}

table.table-checkout-shipping-method {
    @media (min-width: 768px) {
        width: 100% !important;
    }

    tbody {
        tr.row {
            td.col-price {
                @media (min-width: 380px) {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }

            td.col-method {
                @media (min-width: 380px) {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
                @media (min-width: 576px) {

                    &:nth-child(1) {
                        max-width: 10% !important;
                    }

                    &:nth-child(2) {
                        max-width: 17% !important;
                    }

                    &:nth-child(3) {
                        max-width: 24% !important;
                    }
                }

            }

            td.col-carrier {
                @media (min-width: 380px) {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }
    }
}

.table-checkout-shipping-method tbody td:first-child {
    width: 15% !important;
    @media (max-width: 380px) {
        max-width: 30px !important;
    }
}

.table-checkout-shipping-method tbody td {
    &:nth-child(2) {
        @media (max-width: 380px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &:nth-child(3) {
        @media (max-width: 380px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

div#checkout-payment-method-load {
    .items.payment-methods {
        .payment-group {
            .step-title {
                .payment-method._active {
                    .payment-method-content {
                        div#ppplus {
                            @media (min-width: 380px) {
                                height: 700px !important;
                            }

                            iframe {
                                @media (min-width: 380px) {
                                    height: 700px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-header.type22 .block-search .action.search {
    height: 40px !important;
    top: -3px !important;

    &:before {
        color: @colorazulosc;
        content: '' !important;
        cursor: pointer;
        background-image: @spriticons;
        width: 24px !important;
        height: 22px !important;
        position: absolute;
        background-position: -45px 22px !important;
        background-size: 374px 22px;
    }
}

div#checkout-payment-method-load {
    .payment-methods {
        .payment-group {
            .payment-method {
                .payment-method-content {
                    @media (max-width: 320px) {
                        margin-left: 0 !important;
                    }

                    div#ppplus {
                        @media (max-width: 380px) {
                            height: 700px !important;
                        }

                        iframe {
                            @media (max-width: 380px) {
                                height: 700px !important;
                            }
                        }
                    }

                    .panel-checkout {
                        .row {
                            h2 {
                                @media (min-width: 380px) {
                                    text-align: center;
                                }
                            }

                            @media (min-width: 380px) {
                                margin-left: 0 !important;
                                margin-right: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.minicart-wrapper .action.showcart:before {
    content: none !important;
}

.opc-block-shipping-information {
    padding-left: 30px;
    @media (min-width: 768px) {
        padding-left: 0 !important;
    }

    .shipping-information {
        margin-top: 20px;

        .ship-to {
            .shipping-information-title {
                border: none !important;
                color: @colorblack;

                span {
                    &:before {
                        content: attr(data-text);
                        background: @colorcoral;
                        padding: 1px 25px;
                        position: absolute;
                        display: block;
                        margin: 40px 0 0;
                    }
                }

                a {
                    pointer-events: none;
                    color: @colorblack;
                }
            }

            .shipping-information-content {
                a {
                    pointer-events: none !important;
                    color: @colorblack !important;
                }
            }
        }
    }
}

.ship-via {
    .shipping-information-title {
        border: none !important;
        color: @colorblack;

        span {
            &:before {
                content: attr(data-text);
                background: @colorcoral;
                padding: 1px 25px;
                position: absolute;
                display: block;
                margin: 40px 0 0;
            }
        }
    }
}

div#giftcardaccount-placer {
    display: none;
}

.checkout-payment-method .payment-method._active .payment-method-content {
    margin-left: -0 !important;
    padding: 0;
}

.checkout-payment-method {
    .payment-methods {
        .payment-method-content {
            @media (max-width: 767px) {
                padding: 0 0 18px;
                margin-left: -10px;
            }
            @media (max-width: 380px) {
                margin-left: 0;
                width: 100%;
            }
            @media (max-width: 320px) {
                margin-left: -8px;
                width: 100%;
            }

            .panel-checkout {
                .row {
                    @media (max-width: 380px) {
                        margin-right: 0 !important;
                        margin-left: 0 !important;
                    }

                    h2 {
                        @media (max-width: 380px) {
                            padding-right: 15px !important;
                            padding-left: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

.checkout-payment-method .payment-method-title {
    border-top: none !important;
    position: relative;
    @media (max-width: 767px) {
        padding: 18px 0 !important;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + label:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 25px;
        left: 3px;
        content: " ";
        display: block;
        background: @colorcoral;
    }

    label.label {
        cursor: pointer;

        &:before {
            content: " ";
            display: inline-block;
            position: relative;
            top: 4px;
            margin: 0 5px 0 0;
            width: 18px;
            height: 18px;
            border-radius: 11px;
            border: 1px solid @colorcoral;
            background-color: transparent;
        }
    }

    .payment-icon {
        width: 7%;
    }
}

.opc-wrapper {
    width: 55% !important;

    .step-title {
        border: none !important;
    }
}

.opc-sidebar {
    width: 44% !important;
    @media (max-width: 768px) {
        width: 100% !important;
    }
}

.checkout-payment-method .payment-option-title {
    border: none !important;
    padding-left: 0 !important;
}

.checkout-payment-method .payment-option-title::before {
    content: attr(data-text);
    background: @colorcoral !important;
    padding: 1px 25px;
    position: absolute;
    display: block;
    margin: 40px 0 0;
}

div#shipping-method-buttons-container {
    .primary {
        float: left;
        max-width: 190px;
        width: 100%;
        @media (max-width: 576px) {
            max-width: 300px;
            margin: 0 auto;
            float: none !important;
        }

        button.button.action.continue.primary {
            max-width: 190px;
            width: 100%;
            background: @colorblack !important;
            color: @colorwhite !important;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            height: 48px;
            font-family: @AcuminProBold !important;
            @media (max-width: 576px) {
                max-width: 100% !important;
            }
        }
    }
}

span.title,
.step-title {
    color: @colorblack !important;
    font-weight: 700 !important;
}

button.action.action-show-popup {
    border: 1px solid @colorblack;
    border-radius: 10px;
    max-width: 190px !important;
    width: 100%;
    color: @colorblack;
    padding: 5px 15px;
    height: 48px;
    font-family: @AcuminProBold;
    font-size: 15px;

    span {
        &:before {
            content: none;
        }
    }
}

.estimated-block {
    span.estimated-price {
        color: @colorblack !important;
    }
}

.new-address-popup {
    @media (max-width: 544px) {
        margin: 0 auto !important;
        text-align: center !important;
    }

    button.action.action-show-popup {
        @media (max-width: 576px) {
            max-width: 300px !important;
            width: 100% !important;
        }
    }
}

li.opc-progress-bar-item._complete {
    &:before {
        background: @colorcoral !important;
    }

    span {
        color: @colorgray !important;
        margin-left: -10px;

        &:before {
            background: @colorcoral !important;
        }
    }
}

.opc-progress-bar-item._complete:hover:before {
    background: @colorcoral !important;
}

.opc-progress-bar-item._complete {
    .opc-progress-bar-item > span:before {
        background: @colorcoral !important;
    }
}

.opc-progress-bar-item {
    .opc-progress-bar-item {
        &:nth-child(1) {
            &:before {
                background: @colorcoral !important;
            }
        }
    }

    :before {
        @media (max-width: 768px) {
            background: #e4e4e4;
            top: 19px;
            transition: background 0.3s;
            content: '';
            height: 7px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

.modal-popup.modal-slide {
    @media (max-width: 767px) {
        left: 0 !important;
    }

    .modal-inner-wrap[class] {
        @media (max-width: 544px), print {
            background-color: @colorwhite !important;
            border-radius: 7px 7px 0 0;
            @media (max-width: 380px) {
                width: 350px !important;
            }
            @media (max-width: 320px) {
                width: 300px !important;
            }
        }

        .modal-title {
            @media (max-width: 544px) {
                font-size: 15px !important;
            }
        }

        div#opc-new-shipping-address {
            form#co-shipping-form {
                input {
                    background: @colorwhite;
                    border: none;
                    border-bottom: 1px solid #b5b2b2;
                    border-radius: 1px !important;
                }
            }
        }

        .modal-footer {
            button.action.secondary.action-hide-popup {
                border: 1px solid @colorblack;
                border-radius: 10px;
                height: 48px;
                font-family: @AcuminProBold;
                width: 45%;
                margin-top: 0 !important;
                display: inline-block;
                @media (max-width: 544px) {
                    margin-top: 15px !important;
                    width: 100%;
                }

                span {
                    text-align: center !important;
                    margin-right: 0 !important;
                }
            }

            button.action.primary.action-save-address {
                border-radius: 10px;
                height: 48px;
                font-family: @AcuminProBold;
                @media (max-width: 2500px) and (min-width: 768px) {
                    width: 50%;
                }
                @media (max-width: 544px) {
                    font-size: 14px !important;
                }
                @media (max-width: 320px) {
                    font-size: 13px !important;
                }
            }
        }
    }
}

fieldset.field.street.admin__control-fields.required {
    .control {
        input#street-address {
            margin-bottom: 18px !important;
        }
    }
}

button.action.primary.action-save-address {
    background: @colorblack !important;
    color: @colorwhite !important;
    border: none;
}

button.action.secondary.action-hide-popup {
    color: @colorblack !important;
}

div#checkout-payment-method-load {
    @media (max-width: 768px) and (min-width: 576px) {
        margin: 0 auto !important;
        width: 80%;
    }
}

.payment-option._collapsible.opc-payment-additional.discount-code {
    @media (max-width: 768px) and (min-width: 576px) {
        margin: 0 auto !important;
        width: 80%;
    }
}

aside.modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide._show {
    .modal-inner-wrap {
        padding: 0 45px 0 0;

        .modal-content {
            width: 100% !important;

            #opc-sidebar {
                .opc-block-shipping-information {
                    @media (max-width: 544px) {
                        padding-left: 0;
                    }
                }
            }
        }

        .product-item-details {
            @media (max-width: 544px) {
                display: inline-block !important;
            }

            .product-item-inner .product-item-name-block,
            .subtotal {
                @media (max-width: 544px) {
                    display: block !important;
                }
            }

            .product-item-inner .subtotal {
                span.price-excluding-tax {
                    @media (max-width: 544px) {
                        text-align: left;
                    }
                }
            }
        }
    }
}

.checkout-index-index .modal-popup {
    .modal-inner-wrap {
        margin: 30px auto 0 !important;
        width: 500px !important;
        left: 0 !important;
        background: transparent !important;
        @media (max-width: 544px) {
            margin: 0 auto 0 !important;
            width: 370px !important;
            left: 0 !important;
        }
    }
}

.payment-method-billing-address {
    .checkout-billing-address {
        display: none;
    }
}

.checkout-payment-method .payment-option._collapsible .payment-option-content {
    display: block !important;
    padding-left: 0 !important;
}

.checkout-payment-method .payment-option-title .action-toggle {
    &:after {
        content: none !important;
    }
}

.opc-wrapper .step-title {
    font-weight: 700 !important;
    margin-bottom: 6px;
    @media (max-width: 544px) {
        margin-bottom: 25px !important;
    }

    &:before {
        content: attr(data-text);
        background: @colorcoral;
        padding: 1px 25px;
        position: absolute;
        display: block;
        margin: 40px 0 0;
    }
}

.payment-option-title.field.choice {
    span#block-discount-heading {
        span {
            color: @colorblack;
            font-weight: 300;
            font-size: 2.2rem;
            @media (max-width: 544px) {
                font-size: 18px;
            }
        }
    }
}

.payment-option-content {
    padding-right: 0 !important;

    #discount-form {
        margin-top: 20px;

        .payment-option-inner {
            .field {
                .control {
                    input {
                        width: 260px;
                        @media (max-width: 544px) {
                            width: 220px;
                        }
                        @media (max-width: 380px) {
                            width: 200px;
                        }
                        @media (max-width: 320px) {
                            width: 280px;
                        }
                    }
                }
            }
        }

        .actions-toolbar {
            margin-left: 75px !important;
            @media (max-width: 544px) {
                margin-left: -3px !important;
            }
            @media (max-width: 320px) {
                display: block;
            }

            .primary {
                width: auto !important;

                button.action.action-apply {
                    @media (max-width: 320px) {
                        padding: 0 5px;
                    }
                }

                button.action.action-cancel {
                    border: none;
                    font-family: @AcuminProBold;
                    color: #000;
                    margin-right: 0;
                    @media (max-width: 320px) {
                        text-align: left;
                        width: 150px;
                    }
                }
            }
        }
    }
}

form#discount-coupon-form .actions-toolbar button.action.apply.primary {
    margin-top: -10px !important;
    border-radius: 0 !important;
    @media (max-width: 576px) {
        margin-top: 0 !important;
    }
    @media (max-width: 380px) {
        margin-top: -20px !important;
    }
}

form#discount-coupon-form .actions-toolbar {
    margin-top: 20px !important;
    @media (max-width: 380px) {
        display: block;
    }
}

form#discount-form {
    .payment-option-inner {
        max-width: 170px;
        display: inline-block;
        @media (max-width: 576px) {
            max-width: 55% !important;
        }

        input#discount-code {
            height: 30px !important;
            border: none;
            border-bottom: 1px solid @colorccc;
        }

        div#discount-code-error {
            float: right;
        }
    }

    .actions-toolbar {
        max-width: 150px;
        display: inline-block;
        vertical-align: middle;
        margin-left: -5px;
        margin-top: -2px;
        @media (max-width: 544px) {
            margin-top: -1px;
            max-width: 47% !important;
        }

        button.action.action-apply {
            border: none;
            color: @colorblack;
            font-family: @AcuminProBold;
            width: 100%;
        }
    }
}

div#customerbalance-placer {
    .payment-option-title {
        display: none;
    }
}

div#customerbalance-placer {
    .payment-option-content.field.choice {
        padding: 0 0 18px 0 !important;

        .payment-option-inner {
            max-width: 250px;
            display: inline-block;
            @media (max-width: 576px) {
                padding-left: 10px !important;
            }
        }

        .actions-toolbar {
            max-width: 160px;
            display: inline-block;

            #use-customer-balance {
                border-radius: 25%;
                height: 20px;
                width: 20px;
                max-width: 20px;
                padding: 0;
                border-color: @colorcoral;
                @media (max-width: 576px) {
                    margin-top: -25px !important;
                }

                span {
                    display: none;
                }
            }
        }
    }
}

.payment-group {
    margin-top: -20px;
}

tr.totals.balance {
    th.mark {
        button#delete-customer-balance {
            border-radius: 25%;
            height: 20px;
            width: 20px;
            max-width: 20px;
            padding: 0;
            background: @colorcoral;

            span {
                display: none;
            }
        }
    }
}

ol.minicart-items {
    li.product-item {
        display: inline-block;
        max-width: 100%;
        width: 100%;

        .product {
            .product-item-details {
                .product.actions {
                    .primary {
                        a {
                            &:before {
                                content: '' !important;
                                background-position: 306px 22px !important;
                                background-size: 376px 22px;
                                background-image: @spriticons;
                                width: 24px !important;
                                height: 22px !important;
                                font-size: 20px;
                                display: block;
                            }
                        }
                    }

                    .secondary {
                        a.action.delete {
                            &:before {
                                color: @colorladrillo !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Style Troquer
