<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
<tr class="totals balance cart-summarytr">
    <th class="mark" scope="row">
        <a data-bind="attr: { 'href': getRemoveUrl(), 'title': $t('Remove') }" class="action delete">
            <span><!-- ko text: $t('Remove') --><!-- /ko --></span>
        </a>
        <!-- ko text: -getPureValue()  + ' ' + title -->
        <!-- /ko -->
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->