@font-face {
    font-family: 'Acumin Pro Bold';
    src: url('fonts/Pro_Bold/Acumin_Pro_Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro Book';
    src: url('fonts/Pro_Book/Acumin_Pro_Book.woff') format('woff');
    font-display: swap
}

@font-face {
    font-family: 'Acumin Pro Light';
    src: url('fonts/Pro_Light/Acumin_Pro_Light.woff') format('woff');
    font-display: swap
}

@font-face {
    font-family: 'Iconsolata Bold';
    src: url('fonts/Inconsolata-Bold/Inconsolata-Bold.woff') format('woff');
    font-display: swap
}

@font-face {
    font-family: 'Permanent Marker Regular';
    src: url('fonts/PermanentMarker-Regular/PermanentMarker-Regular.ttf') format('truetype');
    font-display: swap
}
