@import '_variables';

.modal-content {
    padding: 0 !important;

    div#opc-sidebar {
        @media (max-width: 767px) {
            padding: 20px;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    @media (max-width: 767px) {
        z-index: 9999;
        padding-top: 10px;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: @colorblack;
    text-decoration: none;
    cursor: pointer;
}

.content-modalcp {
    width: 100% !important;
    max-width: 500px !important;
    padding: 0 !important;
    background: transparent;
    @media (max-width: 576px) {
        max-width: 380px !important;
    }
    @media (max-width: 380px) {
        max-width: 340px !important;
    }
    @media (max-width: 320px) {
        max-width: 290px !important;
    }

    .encabezado-modal {
        background: @colorcoral;
        border-radius: 6px 6px 0 0;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-family: @AcuminProBold;
        color: @colorwhite;

        span.title-condition {
            margin-left: 20px;
        }

        button.close {
            width: 26px;
            height: 26px;
            background: transparent @iconclosemodal top left no-repeat !important;
            top: 13px;
            right: 16px;
            border: none !important;
            opacity: 1;
            cursor: pointer;
            z-index: 1000;
            background-size: 25px 25px !important;

        }
    }

    .bodymodalcp {
        padding: 25px 10%;
        background: @colorwhite;
        text-align: center;
        border-radius: 0 0 6px 6px;

        img {
            max-width: 100px !important;
            width: 100% !important;
            min-width: 100px !important;
            max-height: 100px !important;
            text-align: center;
            margin: 0 auto;
            float: none;
        }

        @media (max-width: 576px) {
            padding: 25px 5%;
        }

        p {
            text-align: center;

            strong {
                font-family: @AcuminProBold;
                font-size: 16px;
                @media (max-width: 576px) {
                    font-size: 14px;
                }
                @media (max-width: 320px) {
                    font-size: 13px;
                }
            }
        }

        form#feditcp {
            margin-top: 20px;
            text-align: center;

            p {
                text-align: left;
                margin-bottom: 0 !important;
            }

            input {
                border: none;
                border-bottom: 1.5px solid #DDDDDD;
                height: 30px !important;
            }

            #btneditcp {
                background: @colorblack;
                color: @colorwhite;
                margin: 20px auto;
                text-align: center;
                max-width: 200px;
                width: 100%;
                float: none;
                border-radius: 10px;

                &:hover {
                    border: 1px solid @colorblack !important;
                }
            }
        }
    }
}

.bodymodalcp {
    .content-info {
        @media (max-width: 380px) {
            height: auto;
            max-height: 555px;
        }
        @media (max-width: 360px) {
            height: auto;
            max-height: 525px;
            overflow: scroll;
        }
        @media (max-width: 320px) {
            height: auto;
            max-height: 450px;
            overflow: scroll;
        }
    }

    .title-body-info {
        color: @colorrgbablack;
        font-size: 16px;
        font-family: @AcuminProBold;
    }

    .text-body-info {
        color: @colorrgbablack;
        font-family: @AcuminProBook;
        text-align: left !important;
        font-size: 16px;
        @media (max-width: 320px) {
            font-size: 14px;
        }

        .more-info {
            color: @colorcoral;
        }
    }

    .text-price {
        color: @colorrgbablack;
        font-family: @AcuminProBook;
        font-size: 16px;
        margin: 0;
        @media (max-width: 380px) {
            font-size: 15px;
        }
    }

    .text-price.zip-bold {
        margin: 10px 0;
        font-family: @AcuminProBold;
    }

    ul.text-body-info {
        padding: 0 15px;

        li {
            list-style: disc;
        }
    }

    .text-body-center {
        font-size: 16px;
        color: @colorrgbablack;
        font-family: @AcuminProBook;
        @media (max-width: 320px) {
            font-size: 14px;
        }

        .emphasys {
            font-size: 16px;
            font-family: @AcuminProBold;
        }

        .lnk-modal {
            color: @colorblack;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .form-check {
        display: inline-flex;

        p.accept-terms {
            color: #505050;
            font-family: @AcuminProBook;
            font-size: 16px;
        }
    }

    .text-secondary {
        color: #505050;
        font-family: @AcuminProBook;
        font-size: 14px;
    }

    button.primary {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        background: @colorblack !important;
        color: @colorwhite !important;
        border: none !important;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }

    .btn-actions-delete-modal {
        button.secondary {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
            background: @colorwhite !important;
            color: @colorblack !important;
            border: 1px solid @colorblack;
            border-radius: 10px;
            height: 48px;
            font-size: 16px;
            font-family: @AcuminProBold;
        }
    }
}

.lnk-modal {
    color: @colorblack;
    cursor: pointer;
}

.modal-popup._show .modal-inner-wrap .modal-header {
    background: @colorcoral;
    border-radius: 5px 5px 0 0;

    .modal-popup .action-close {
        padding: 0 9px;

        &:before {
            font-size: 17px !important;
            color: @colorwhite !important;
        }
    }

    .action-close {
        &:hover {
            background: transparent @iconclosemodal top left no-repeat !important;
            background-size: 25px 25px !important;
        }
    }
}

.action-close {
    width: 26px;
    height: 26px;
    background: transparent @iconclosemodal top left no-repeat !important;
    top: 20px !important;
    right: 5px;
    border: none !important;
    opacity: 1;
    cursor: pointer;
    z-index: 1000;
    background-size: 25px 25px !important;

    &:before {
        content: none !important;
    }

}

aside.modal-popup.confirm._show {
    .modal-inner-wrap {
        background: transparent;

        .modal-header {
            background: @colorcoral !important;
            border-radius: 5px 5px 0 0;

            button.action-close {
                width: 26px;
                height: 26px;
                background: transparent @iconclosemodal top left no-repeat !important;
                top: 5px !important;
                right: 5px;
                border: none !important;
                opacity: 1;
                cursor: pointer;
                z-index: 1000;
                background-size: 25px 25px !important;
                position: absolute;

                &:before {
                    content: none !important;
                }

                &:hover {
                    width: 26px;
                    height: 26px;
                    background: transparent @iconclosemodal top left no-repeat !important;
                    top: 5px;
                    right: 5px;
                    border: none !important;
                    opacity: 1;
                    cursor: pointer;
                    z-index: 1000;
                    background-size: 25px 25px !important;
                    position: absolute;
                }
            }

            .modal-popup .action-close {
                &:before {
                    font-size: 17px !important;
                    color: @colorwhite !important;
                }
            }
        }

        .modal-content {
            background: @colorwhite !important;
            padding: 14px 10px;
            font-size: 14px;
            font-family: @AcuminProBook;

            div {
                padding: 20px;
            }
        }

        footer.modal-footer {
            background: @colorwhite !important;
            text-align: right;
            padding-bottom: 1rem !important;
            padding-top: 1rem !important;

            button.action-secondary.action-dismiss {
                background: @colorblack;
                color: @colorwhite;
                border: 1px solid @colorblack;
                border-radius: 7px;
            }

            button.action-primary.action-accept {
                background: @colorwhite;
                color: @colorblack;
                border: 1px solid @colorblack;
                border-radius: 7px;
            }
        }
    }
}
