@import '_variables.less';

.limiter-options {
    border: none !important;
    @media (max-width: 576px) {
        margin-right: 14px !important;
    }
}

a:active, .alink:active {
    color: @colorblack !important;
}

.pages strong.page {
    font-size: 16px !important;
    font-family: @AcuminProBold;
}

.pages {
    ul {
        li {
            font-size: 16px !important;

            .page {
                width: auto !important;
            }

            a {
                color: #9c9c9c !important;
            }
        }
    }
}

.products.wrapper {
    padding: 0 0 20px 0 !important;
}

.row.d-flex.justify-content-end {
    padding: 20px 0 !important;
}

.modes-mode.active, .modes-mode:hover {
    background-color: @colorcoral !important;
    border: none !important;
}

a#mode-list {
    border: none !important;
    background-color: transparent;
}

a#mode-grid {
    border: none !important;
    background-color: transparent;
}

.modes-mode.active, .modes-mode:hover {
    color: @colorcoral !important;
    border: none !important;
}

.sorter-action {
    &:before {
        font-size: 16px !important;
        color: @colorblack !important;
    }
}

.sorter-action:hover:before {
    color: @colorblack !important;
}

.pages .action.next:visited:before {
    color: @colorblack !important;
}

.pages .action.next:hover:before {
    color: @colorblack !important;
    font-weight: bold !important;
}

.filter.active .filter-title strong {
    top: 0 !important;
}

.filter.active .filter-title {
    @media (max-width: 767px) {
        z-index: 0 !important;
    }
}

.filter.active .filter-subtitle {
    @media (max-width: 767px) {
        font-family: @AcuminProBold !important;
    }
}

.block-title.filter-title {
    background-color: @colorcoral !important;

    strong {
        top: 83px;
        height: 40px !important;
        background-color: @colorarena;
        border-radius: 0 5px 5px 0 !important;

        &:before {
            color: @colorblack;
            font-size: 27px;
            line-height: 23px;
            @media (max-width: 767px) {
                margin-top: -1px;
            }
        }
    }
}

.widget.block.block-static-block {
    margin-bottom: 10px !important;
}

.page-title-wrapper {
    display: none !important;
}

.pages {
    strong.page {
        border: none !important;

        span {
            text-decoration: underline !important;
        }
    }

    ul {
        li {
            margin: 0 !important;

            a {
                border: none !important;
            }
        }
    }
}

.breadcrumbs {
    .items {
        .item {
            a {
                color: @colorblack;
            }
        }
    }
}

.breadcrumbs .item:not(:last-child) {
    &:after {
        font-size: 16px !important;
        content: '|' !important;
        color: @colorblack;
    }
}

.page-wrapper {
    .breadcrumbs {
        a {
            color: #9e9b9b !important;
            text-transform: capitalize !important;
            font-size: 15px !important;
        }

        strong {
            text-transform: capitalize !important;
            font-size: 15px !important;
            color: @colorblack !important;
        }
    }
}
