@import '_fonts_troquer.less';
@import '_variables.less';
@import '_pager_troquer.less';
@import '_modals.less';

* {
    padding: 0;
    list-style: none;
}

.outstocktr {
    opacity: .5 !important;
    pointer-events: none;
}

.close-alert {
    display: none;
}

.alertvisble {
    vertical-align: middle;
    color: @colorwhite !important;
}

.outstocktr-price {
    visibility: hidden !important;
}

select {
    box-shadow: none !important;
}

input {
    box-shadow: none !important;
}

.btnclosemgs {
    padding-top: 8px;
    font-size: 16px;
    text-align: right;

    #closemsg {
        font-size: 16px;
        cursor: pointer;
    }
}

body {
    font-family: @AcuminProBook !important;

    .page.messages {
        font-size: 1rem;
        display: block !important;
        padding: 16px 30px 15px;
        border-radius: 4px;
        position: fixed;
        z-index: 999;
        max-width: 400px;
        left: auto;
        right: 0;
        top: 5%;

        .message.success {
            margin: 0 0 9px;
            padding: 12px 18px 12px 45px;
            display: block !important;
            font-size: 1.3rem;
            background: @coloraceituna;
            color: @colorwhite;
            position: relative;
            font-family: @AcuminProBold;
            border-radius: 5px;

            &*:first-child {
                &:before {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 24px;
                    line-height: 24px;
                    color: @colorwhite;
                    content: '\f846';
                    font-family: 'porto-icons', serif;
                    margin: -12px 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    left: 0;
                    top: 30px;
                    width: 45px;
                    position: absolute;
                    text-align: center;
                    background: @coloraceituna;
                }
            }

            a {
                color: @colorwhite !important;
            }
        }
    }

    .page-header.header-newskin .navigation .level0 > .level-top {
        border-bottom: 1px solid @colorwhite;
        cursor: pointer;
    }

    .menuvende:hover > a{
        color: @colorwhite !important;
    }
    .page-header.header-newskin .navigation .level0:hover > .level-top {
        &:before{
            content: none !important;
        }
        border-bottom: 0  !important;
        @media (max-width: 767px) {
            border-bottom: none !important;
        }
    }

    .product-item-link:hover {
        color: @colorazulosc !important;
    }

    color: @colorblack;

    a:hover {
        color: @colorblack !important;
        background: none;
    }

    h1 {
        font-size: 30px !important;
        margin-bottom: 5px !important;
    }

    .tittles-blocks {
        padding: 0 0 30px 0 !important;
        font-family: @AcuminProBold;
        font-size: 24px;

        p {
            font-family: @AcuminProLight;
            font-size: 16px;
        }

        @media (max-width: 544px) {
            margin: 0 !important;
        }
    }
}

.sw-megamenu.navigation {
    li {
        a {
            span {
                font-family: @AcuminProBold;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
}

.product-item:hover .product-item-info.type1 .product-item-photo,
.product-item:hover .product-item-info.type3 .product-item-photo,
.product-item:hover .product-item-info.type4 .product-item-photo,
.product-item:hover .product-item-info.type5 .product-item-photo,
.product-item:hover .product-item-info.type9 .product-item-photo {
    box-shadow: none !important;
    border: none !important;
}

.action.primary:hover {
    background: none !important;
    color: @colorblack !important;
}

.action.primary,
.action.primary:hover,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.recent-posts .post-date .month,
.footer-ribbon,
.filter-options-title:hover::after,
.modes-mode.active,
.modes-mode:hover,
.pages strong.page,
.pages .action:hover,
.pages a.page:hover,
button:hover,
.action.primary:focus,
.action.primary:active,
.btn-primary,
.contact-index-index .page-main .contact-info [class^="porto-icon-"],
.contact-index-index .page-main .contact-info [class*=" porto-icon-"],
.btn-default,
.cms-index-index blockquote.testimonial,
.btn-default:hover,
.products-grid .product-item-info:hover .product-item-details .product-item-actions .tobag,
.products-grid.products.grid.flex-grid .product-item-details .product-item-actions .tobag,
.post-holder .post-date .month,
.page-header.type8 .header.content,
.page-header.type8.header-newskin .header.content,
.page-header.type11 .navigation li.level0.active,
.iwd-summary-cart,
#ln_slider_price .ui-slider-handle,
.filter-toggle.active,
.products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2,
.products-upsell .owl-middle-narrow.owl-theme .owl-controls .owl-dots .owl-dot.active span::before,
.products-grid.products.grid.flex-grid .product-item-details .product-item-actions .tobag,
.products-grid.divider-line .product-item-details .product-item-actions .tobag,
.products-grid .product-item-details .product-item-actions .actions-secondary:hover,
.product-item-info.type3 .product-item-photo .product-item-inner .product-item-actions > .actions-primary .tobag:hover,
.product-item-info.type3 .product-item-photo .product-item-inner .product-item-actions > .action.tocompare:hover,
.product-item-info.type5 .product-item-photo .product-item-inner .product-item-actions > .actions-primary .tobag:hover,
.product-item-info.type5 .product-item-photo .product-item-inner .product-item-actions > .action.tocompare:hover,
.product-item-info.type6 .product-item-photo .product-item-inner .product-item-actions > .actions-primary .tobag:hover,
.product-item-info.type6 .product-item-photo .product-item-inner .product-item-actions > .action.tocompare:hover,
.product-item-info.type7 .product-item-inner .product-item-actions > .action:hover,
.product-item-info.type7 .product-item-inner .product-item-actions > .actions-primary .tobag:hover,
.product-item-info.type9 .product-item-inner .product-item-actions > .actions-primary .tobag:hover,
.product-item-info.type9 .product-item-inner .product-item-actions > .action:hover,
.sw-dailydeal,
.catalog-product-view .sw-dailydeal .number-wrapper {
    background: none !important;
    color: @colorblack !important;
}

.products-grid .product-item-info:hover {
    color: @colorblack !important;
}

.action.tocompare.actions-secondary {
    display: block;
    visibility: hidden !important;
    opacity: 1 !important;
    left: 10px !important;
    border: none !important;
    background-color: transparent !important;
}

main#maincontent {
    padding: 0 !important;
    max-width: 1440px !important;
    @media (max-width: 544px) {
        max-width: 100% !important;
    }

    .columns {
        .column.main {
            @media (max-width: 544px) {
                padding: 0 !important;
            }
        }
    }
}

[data-content-type='row'][data-appearance='contained'] {
    max-width: 100% !important;
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    border-radius: 0 !important;
}

.opc-block-shipping-information .shipping-information-title .action-edit {
    &:before {
        color: @colorcoral;
    }
}
