<div class="section-end">
    <div id="payments-sect" class="section-fluid">
        <div class="row  d-flex  justify-content-center">
            <div class="col-md-11 col-lg-11 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 content-info">
                        <div class="img-payments">
                            <img src="/media/troquer/autentificadas.png" alt=""></div>
                        <div class="text payments">
                            <p>Devoluciones fáciles</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 content-info">
                        <div class="img-payments">
                            <img src="/media/troquer/protegidos.png" alt=""></div>
                        <div class="text payments">
                            <p>Pagos protegidos y seguros</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 content-info">
                        <div class="img-payments">
                            <img src="/media/troquer/con-intereses.png" alt=""></div>
                        <div class="text payments">
                            <p>Aceptamos todas las tarjetas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
