<?php

use \Troquer\Checkout\Block\Cart\Sidebar;

/**
 * @var $block Sidebar
 */
?>
<?php
$_helper = $this->helper('Smartwave\Porto\Helper\Data'); ?>

<div data-block="minicart" class="minicart-wrapper icons-menu-tr">
    <ul class="menu-tr">
        <?php if (!$block->isLoggedIn()): ?>
            <li class="icon-hidden-mob-tr"><span id="icon-wish-list"
                                                 class="icon-wish-tr icon-wish-list-not-logged-in"></span></li>
            <li class="icon-hidden-mob-tr"><span class="icon-bell-tr icon-bell-list-not-logged-in"></span></li>
            <li class="icon-hidden-mob-tr"><span id="icon-user-list"
                                                 class="icon-user-tr icon-account-not-logged-in"></span></li>
        <?php else: ?>
            <li class="icon-hidden-mob-tr"><a id="icon-wish-list"
                                              href="<?= $block->escapeUrl($block->getUrl('wishlist')); ?>"
                                              class="icon-wish-tr"></a></li>
            <li class="icon-hidden-mob-tr"><a id="icon-bell-list" href="" class="icon-notifications-tr">
                <span class="counter-noti qty empty">
                    <span id="counter-number-noti" class="counter-number-noti"></span>
                </span></a></li>
            <li class="icon-hidden-mob-tr"><a id="icon-user-list"
                                              href="<?= $block->escapeUrl($block->getUrl('customer/account')); ?>"
                                              class="icon-user-tr"></a></li>
        <?php endif; ?>
        <li class="icon-show-mob-tr">
            <a id="icon-cart-list " class="icon-bag-tr actioXn showcart showcart-trX icon-menu-right"
               href="<?php echo $block->getShoppingCartUrl(); ?>" data-bind="scope: 'minicart_content'">
                <span class="counter qty empty"
                      data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                    <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
                    <span class="counter-label">
                        <!-- ko if: getCartParam('summary_count') -->
                        <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                        <!-- ko i18n: 'items' --><!-- /ko -->
                        <!-- /ko -->
                    </span>
                </span>
            </a>
        </li>
    </ul>
    <?php if ($block->isLoggedIn()): ?>
        <div id="block_bell" style="display: none;">
            <div class="container-bell">
                <div id="icon-bell-list" data-bind="scope: 'minicart_content'">
                    <div class="block-content">
                        <button type="button" id="btn-notification-close" class="action close" data-action="close"
                                title="Close">
                    <span>
                        <!-- ko i18n: 'Close' --><span>Close</span>
                        <!-- /ko --></span>
                        </button>
                        <div class="data_bell"></div>
                        <div class="btn-action-notifications">
                            <a href="<?= $block->getBaseurl(); ?>notifications/index/history">
                                <div class="btn-secondary"><span>Ir a notificaciones</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <?php if ($block->getIsNeedToDisplaySideBar()) : ?>
        <div class="block block-minicart" data-role="dropdownDialog" data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="icon-cart-list" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>
    <?php else : ?>
        <script>
            require(['jquery'],
                function ($) {
                    $('a.action.showcart').on('click', function () {
                        $(document.body).trigger('processStart');
                    });
                });
        </script>
    <?php endif ?>
    <script>
        window.checkout = <?= /* @noEscape */ $block->getSerializedConfig() ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */
        $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= $block->escapeJs(
            $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))
        ) ?>"
        }
    }
    </script>
</div>

<script>
    require(['jquery'],
        function ($) {
            $('#icon-bell-list').on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#block_bell").show();
                $('#btn-notification-close').on('click', function () {
                    $("#block_bell").hide();
                });
            });

            $.ajax({
                url: "/notifications/index/getunreadnotifications",
                type: "POST",
                data: {},
                showLoader: false,
                success: function (data) {
                    data = JSON.parse(data);
                    let number = parseInt(Object.keys(data[1]).length.toString());
                    if (number > 9) {
                        number = '9+';
                    }
                    if (number === 0) {
                        $('div.data_bell').append('<div class="empty-notifications"> <div class="notification-img-empty col-12"> <img src="<?= $block->getBaseUrl(); ?>media/troquer/notifications.png"alt=""> </div> <div class="text-empty"> <strong>No tienes nuevas notificaciones</strong> <p>Felicitaciones, estás al día :)</p> </div> </div>');
                    } else {
                        $.each(Object(data[1].reverse()).slice(0, 3), function (index, value) {
                            let notificationAge = getNotificationAge(value['created_at']);
                            $('div.data_bell').append('<div class="content-notifications"><div class="info-section-notifications"><div class="notification-info col-lg-12 col-12"><strong>' + value.title + '</strong><p>' + value.body + '</p><button href="<?= $block->getBaseUrl()?>' + value["cta"] + '" id="' + value.id + '" class="btn-notification">Ver</button><p class="notification-time">' + notificationAge + '</p></div></div></div>');
                        });
                        $('a#icon-bell-list').addClass('bounce').change();
                    }
                    $('#counter-number-noti').text(number);

                    let seeButtons = $(".btn-notification");
                    let k;
                    for (k = 0; k < seeButtons.length; k++) {
                        $(seeButtons[k]).on("click", function () {
                            let href = $(this).attr("href");
                            let notification_id = $(this).attr("id");
                            $.ajax({
                                url: "/notifications/index/readnotification",
                                type: "POST",
                                data: {
                                    notification_id: notification_id
                                },
                                showLoader: false,
                                cache: true,
                                success: function () {}
                            });
                            window.location.href = href
                        }, null);
                    }
                }
            });

            function getNotificationAge(created_at) {
                let second = 1000, minute=second*60, hour=minute*60, day=hour*24;
                let start = new Date(created_at);
                let end = new Date();
                let timediff = end - start;

                let minutes = Math.floor(timediff / minute);

                if (minutes > 60) {
                    let hours = Math.floor(timediff / hour);
                    if (hours > 24) {
                        let days = Math.floor(timediff / day);
                        if (days > 30) {
                            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                            return start.toLocaleDateString('es-MX', options);
                        } else {
                            return "Hace " + days + " d";
                        }
                    } else {
                        return "Hace " + hours + " h";
                    }
                } else {
                    return "Hace " + minutes + " min";
                }
            }
        });
</script>
