<div class="line-spacing" style="margin-left: -50%; margin-right: -50%;"></div>
<div class="total-produtcs">
    <?php
    $helper = $this->helper('\Magento\Checkout\Helper\Cart');
    $quote = $helper->getQuote();
    $grandTotal = $quote->getGrandTotal();
    ?>

    <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-4 col-4 count-items-tr">
            <span><?= $helper->getSummaryCount(); ?> Products</span>
        </div>
        <div class="col-lg-3 col-md-4 col-8 total-grand-tr">
        <?php ?>
            <span class="totalscart">Subtotal <?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal,true,false); ?></span>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 btn-go-tocheckout">
            <?php if (!$block->isLoggedIn()): ?>
                <button type="button"
                        title="<?= $block->escapeHtmlAttr(__('Proceed to Checkout')) ?>"
                        class="action primary troquer-proceed-to-checkout gopayment checkout">
                    <span><?= $block->escapeHtml(__('Proceed to Checkout')) ?></span>
                </button>
            <?php else: ?>
                <button type="button"
                        onclick="window.location.href='/checkout'"
                        title="<?= $block->escapeHtmlAttr(__('Proceed to Checkout')) ?>"
                        class="action primary gopayment checkout">
                    <span><?= $block->escapeHtml(__('Proceed to Checkout')) ?></span>
                </button>
            <?php endif; ?>
        </div>
    </div>
</div>
