<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Checkout\Block\Cart\Totals;

?>
<?php
/**
 * Shopping cart totals template
 * @var $block Totals
 */

$helper = $this->helper('\Magento\Checkout\Helper\Cart');
?>
<div id="cart-totals" class="cart-totals" data-bind="scope:'block-totals'">
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <script type="text/x-magento-init">
        {
                "#cart-totals": {
                    "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                }
            }
    </script>
    <div class="totals-cart-tr">
        <?= $helper->getSummaryCount(); ?> Products
    </div>
</div>
