<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer;

/** @var  $block DefaultRenderer */
$_item = $block->getItem();
?>
<div id="order-item-row-<?= (int) $_item->getId() ?>" class="product-order-tr content-order">
    <div class="col-12 content">
        <div class="info-section-order row">
            <div class="image-order-tr order-img col-lg-2 col-4 col-md-3" data-th="<?= $block->escapeHtml(__('Order #')) ?>">
                <?php
                     $product = $_item->getProduct();
                     $productImage = $product->getThumbnail();
                ?>
                <?php if(!empty($productImage)) :?>
                    <img height="100" width="100" src="<?= 'https://troquer.com.mx/' ?><?= "media/catalog/product".$productImage?>">
                <?php else :?>

                <?php endif;?>
            </div>
            <div class="order-info-summary col-lg-10 col-8 col-md-9">
                <div class="row">
                    <div class="name-product-order name order-num col-lg-4" data-th="<?= $block->escapeHtmlAttr(__('Order #')) ?>">
                        <strong class="product name product-item-name"><?= $block->escapeHtml($_item->getName()) ?></strong>
                        <span class="tallas"></span>
                    </div>
                    <div class="price-sku-tr sku order-price-date col-lg-4" data-th="<?= $block->escapeHtmlAttr(__('Date')) ?>">
                        <span><?= $block->getItemPriceHtml() ?></span>
                        <span class="sku-order-item">SKU <?= /* @noEscape */ $block->prepareSku($block->getSku()) ?></span>
                    </div>
                    <div class="order-actions btn-actions-order col-lg-4" data-th="<?= $block->escapeHtmlAttr(__('Actions')) ?>">
<!--                        <p class="return-limit">Podrás hacer la devolución antes del 2020-05-25</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
