@import '_variables.less';

form#form-validate {
    fieldset {
        float: none !important;
        width: 40%;
        margin: 10px auto;
        text-align: left;
        @media (max-width: 1024px) and (max-width: 990px) {
            width: 50%;
        }
        @media (max-width: 768px) {
            width: 70%;
        }
        @media (max-width: 767px) {
            width: 90% !important;
        }

        legend.legend {
            color: @colorblack;
            font-family: @AcuminProBold;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0 !important;
            display: block;
            float: none;
        }

        .text-indicator-address {
            font-size: 16px;
            text-align: center;
            margin-bottom: 30px;
            color: @colorrgbablack;
        }

        .field {
            .control {
                input {
                    border-bottom: 1px solid @colorarena;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    font-size: 16px;
                    font-family: @AcuminProBook;
                }

                #password-strength-meter-container {
                    #password-strength-meter {
                        text-align: left;
                        padding: 10px 0 0;
                    }
                }
            }
        }

        .field.telephone.required {
            label.label {
                padding-left: 10px;
                font-family: @AcuminProBold;
                color: @colorrgbablack;
                margin-bottom: 0 !important;
            }

            .control {
                margin-bottom: 15px;
            }
        }

        div#location {
            label.label {
                padding-left: 10px;
                font-family: @AcuminProBold;
                color: @colorrgbablack;
                margin-bottom: 0 !important;
            }

            input {
                border-bottom: 1px solid @colorarena !important;
                border-left: none;
                border-right: none;
                border-top: none;
                font-size: 16px;
                font-family: @AcuminProBook;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                @media (max-width: 320px) {
                    font-size: 13px;
                }
            }
        }

        .field.street {
            label.label {
                padding-left: 10px;
                font-family: @AcuminProBold;
                color: @colorrgbablack;
                margin-bottom: 0 !important;
            }

            input {
                border-bottom: 1px solid @colorarena;
                border-left: none;
                border-right: none;
                border-top: none;
                font-size: 16px;
                font-family: @AcuminProBook;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                @media (max-width: 320px) {
                    font-size: 13px;
                }
            }
        }

        .field.multiline.field-between_streets {
            label.label {
                padding-left: 10px;
                font-family: @AcuminProBold;
                color: @colorrgbablack;
                margin-bottom: 0 !important;
            }

            .control {
                input {
                    border-bottom: 1px solid @colorarena !important;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    font-size: 16px;
                    font-family: @AcuminProBook;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }
                }
            }
        }

        .field.field-references {
            label.label {
                padding-left: 10px;
                font-family: @AcuminProBold;
                color: @colorrgbablack;
                margin-bottom: 0 !important;
            }

            .control {
                textarea#references {
                    font-size: 16px;
                    font-family: @AcuminProBook;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }
                }
            }
        }

        .field.choice.set.billing {
            display: none;
            position: relative;

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 7px;
                left: 3px;
                content: " ";
                display: block;
                background: @colorcoral;
            }

            label.label {
                &:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }
            }
        }

        .field.choice.set.shipping {
            position: relative;

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 7px;
                left: 3px;
                content: " ";
                display: block;
                background: @colorcoral;
            }

            label.label {
                &:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }
            }
        }
    }

    .message.info {
        padding: 20px 18px 0 22.5px;
        background: none;
        display: inline-block;
        @media (max-width: 768px) {
            margin: 0 6px 9px;
        }
        @media (max-width: 767px) {
            display: block;
            margin: 0 70px;
            padding: 20px 0 0 0;
        }
        @media (max-width: 380px) {
            margin: 0 40px;
        }
        @media (max-width: 380px) {
            margin: 0 25px;
        }
    }
}

.primary.btn-add-address-new {
    text-align: right;

    .newaddressadd {
        background: @colorblack !important;
        color: @colorwhite !important;
        border: 1px solid @colorblack;
        margin-bottom: 50px !important;
        height: 48px;
        font-family: @AcuminProBold;
    }
}

input.mage-error, select.mage-error, textarea.mage-error {
    border-color: #ed8380 !important;
    border-width: 2px !important;
}

.buttons_sections {
    max-width: 650px;
    width: 100%;
    margin: 0 auto !important;
}

.field.field-is_for_sales {
    display: none;
}

.all-info-address {
    .field {
        label {
            span {
                &:after {
                    content: '*';
                    color: #e02b27;
                    font-size: 1.2rem;
                    margin: 0 0 0 4.5px;
                }
            }
        }
    }

    .field.street.fieldstreet.input-edit-info {
        margin-bottom: 18px;
        font-size: 14px;

        div.d-flex {
            .external {
                padding-right: 25px;
            }

            .internal {
                padding-left: 25px;

                label {
                    span {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .field.city.required.input-edit-info, .field.input-edit-info.field-city.required {
        margin-bottom: 18px;
        font-size: 14px;
    }

    .field.region.required.input-edit-info, .field.input-edit-info.field-region.required {
        margin-bottom: 18px;
        font-size: 14px;
    }

    .field.zip.required.input-edit-info, .field.input-edit-info.field-zip.required {
        margin-bottom: 18px;
        font-size: 14px;

        span#zipButton {
            cursor: pointer;

            &:after {
                display: none;
            }
        }
    }

    .field.suburb.required.input-edit-info, .field.input-edit-info.field-suburb.required, .field.country.required {
        margin-bottom: 18px;

        label {
            font-size: 14px;
            padding-left: 10px !important;
            font-family: @AcuminProBold !important;
            color: @colorrgbablack !important;
        }

        .control {
            select {
                border: none;
                font-size: 16px;
                font-family: @AcuminProBook;
                border-bottom: 1px solid @colorarena;
            }
        }
    }
}

.field.input-edit-info.field-references.required {
    font-size: 14px;

    label {
        span {
            &:after {
                content: '*';
                color: #e02b27;
                font-size: 1.2rem;
                margin: 0 0 0 4.5px;
            }
        }
    }

    .control {
        margin-top: 5px;
    }
}
