@import '_variables.less';

.title-line-tr {
    text-align: center;

    strong {
        display: block;
    }

    span.lineinf {
        width: 50px;
        border-bottom: 2px solid @colorcoral;
        line-height: 1px;
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

.account.page-layout-2columns-left .column.main {
    width: 90% !important;
    margin: 0 auto;
    float: none !important;
}

.block.account-nav .account-nav-content ul li {
    display: inline-block;
}

.menu-info-dashboard {
    .sidebar.sidebar-main {
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 20px !important;
        position: initial !important;
        float: none !important;
    }

    div#account-nav {
        ul.nav.items {
            li.nav.item {
                display: inline-block !important;
            }
        }
    }
}

span.lineinf {
    width: 50px;
    border-bottom: 2px solid @colorcoral;
    line-height: 1px;
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.sec-logout-tr {
    margin: 20px 0 20px;

    .title-info-log {
        @media (max-width: 576px) {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        h2 {
            margin: 5px 0 !important;
            margin-bottom: 0 !important;
            font-family: @AcuminProBold;
            text-align: center;
        }

        h4 {
            font-family: @AcuminProBold;
            text-align: right;
            margin-top: -20px;
            font-size: 15px;
            margin-right: 60px;
            @media (max-width: 768px) {
                margin-right: 30px;
            }

            a {
                font-family: @AcuminProBold;
                color: @colorcoral !important;
                text-decoration: underline !important;
            }

            @media (max-width: 767px) {
                display: none !important;
            }
        }
    }
}

.block.block-dashboard-info {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    margin-bottom: -5px !important;
    background-color: @colorwhite;

    .block-title {
        text-align: center;
        font-size: 18px !important;
        font-family: @AcuminProBook;

        strong {
            display: block;
        }
    }

    .block-content {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        @media (max-width: 767px) {
            max-width: 85% !important;
        }
        @media (max-width: 320px) {
            max-width: 83% !important;
        }
        @media (max-width: 320px) {
            max-width: 80% !important;
        }

        .edit-info-tr {
            text-align: right;
            font-size: 15px;
            @media (max-width: 576px) {
                text-align: right;
                width: 50px !important;
                float: right !important;
                margin-top: -65px !important;
                font-size: inherit;
            }
            @media (max-width: 320px) {
                margin-right: -10px;
            }

            a {
                color: @colorcoral;
                text-decoration: underline;
                font-family: @AcuminProBold;
            }
        }

        .titlebox-none {
            display: none !important;
        }

        .box.box-information {
            float: none !important;
            display: block;
            margin: 0 auto;
            max-width: 40%;
            width: 100% !important;
            @media (max-width: 1024px) {
                max-width: 60%;
            }
            @media (max-width: 768px) {
                max-width: 70%;
            }
            @media (max-width: 576px) {
                max-width: 100%;
                margin-top: 25px !important;
            }

            .box-content {
                background: none !important;
                border: none !important;

                .content-info-personal {
                    .info-personal {
                        .info-account-tit {
                            text-align: left;
                        }

                        .info-account {
                            text-align: right;
                            color: #7C7E7F;
                        }

                        @media (max-width: 576px) {
                            padding-right: 0 !important;
                            padding-left: 0 !important;
                        }

                        .row {
                            border-bottom: 1px solid rgba(224, 217, 217, .5);
                            padding: 15px 0 10px 0;
                            font-family: @AcuminProBook;
                            font-size: 16px !important;
                            @media (max-width: 767px) {
                                font-size: 14px !important;
                            }
                            @media (max-width: 320px) {
                                font-size: 13px !important;
                            }

                            .photo-profile {
                                vertical-align: middle;
                                padding-top: 14%;
                            }

                            .photo-profile-f {
                                .photo-user {
                                    max-width: 120px;
                                    width: 100%;
                                    vertical-align: middle;
                                    text-align: center;
                                    margin: 0 auto;

                                    img {
                                        width: 100%;
                                        margin: 0 auto;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .box-actions.password-update {
                font-size: 16px;
                @media (max-width: 767px) {
                    font-size: 14px !important;
                }
                @media (max-width: 320px) {
                    font-size: 13px !important;
                }
            }
        }

        .box.box-newsletter {
            float: none !important;
            margin: 0 auto;
            display: none;
        }
    }
}

.password-update {
    background: @colorwhite !important;
    margin-top: 15px !important;
}

.password-change, .password-change-f {
    margin-top: 20px;
}

.block.block-dashboard-orders {
    display: none !important;
}

.block.block-dashboard-addresses {
    margin: 0 auto !important;
    width: 100%;
    padding: 30px 0;
    background-color: @colorwhite;
    @media (min-width: 1280px) {
        padding: 30px 150px;
    }

    .box-address {
        width: 50%;
        margin: auto;
        @media (max-width: 767px) {
            width: 100%;
        }

        .block-title {
            text-align: center;
            font-size: 18px !important;
            font-family: @AcuminProBook;
        }

        .block-content {
            margin: 0 auto;
            @media (max-width: 576px) {
                text-align: center !important;
            }

            .box.box-billing-address {
                width: 80% !important;
                float: none !important;
                display: inline-block;
                margin: 0 10px !important;
                @media (max-width: 767px) {
                    width: 42% !important;
                }
                @media (max-width: 576px) {
                    width: 33% !important;
                }
                @media (max-width: 420px) {
                    width: 42% !important;
                }
                @media (max-width: 360px) {
                    width: 70% !important;
                    margin-top: 15px !important;
                }
            }

            .box.box-shipping-address {
                width: 80% !important;
                float: none !important;
                display: inline-block;
                margin: 15px 10px 0 !important;
                padding-bottom: 10px;
                @media (max-width: 1024px) {
                    width: 65% !important;
                }
                @media (max-width: 768px) {
                    width: 85% !important;
                }

                .box-actions {
                    text-align: right;
                    border-radius: 7px 7px 0 0;
                    padding: 20px 20px 0 !important;
                    background-color: @colorbackground;

                    a.action.edit {
                        span {
                            &:before {
                                font-family: 'porto-icons', serif;
                                content: '\f826';
                            }
                        }
                    }
                }
            }
        }
    }
}

//Block Address Default
.item_one {
    .content-address {
        min-width: 350px;
        margin: 0 10px !important;
        text-align: left;
        display: inline-block;
    }
}

.field_address_bloq {
    background: #e1e1e1 !important;
    pointer-events: none;
}

.all-info-address {
    div.country {
        div.control {
            select {
                background: #e1e1e1 !important;
                pointer-events: none;
                height: 38px;
                border-radius: 0;
            }
        }
    }

    div.region {
        div.control {
            select {
                height: 38px;
                border-radius: 0;
            }
        }
    }
}

#shipping-new-address-form {
    [name="shippingAddress.country_id"] {
        div.control {
            select {
                background: #e1e1e1 !important;
                pointer-events: none;
                height: 38px;
                border-radius: 0;
            }
        }
    }

    [name="shippingAddress.region_id"] {
        div.control {
            select {
                height: 38px;
                border-radius: 0;
            }
        }
    }

    [name="shippingAddress.custom_attributes.references"] {
        div.control {
            textarea {
                font-family: @AcuminProBook;
            }
        }
    }
}

.block.block-addresses-default {
    .block-title {
        text-align: center;
        font-size: 25px !important;
        font-family: @AcuminProBold;
        padding: 25px 0 15px;
    }

    .block-content {
        background-color: @colorwhite;
        padding: 20px;

        .box {
            width: 30% !important;
            @media (max-width: 767px) {
                width: 100% !important;
            }
        }

        .box.box-address-billing, .box.box-address-shipping {
            margin: 0 auto;
            float: none !important;
            @media (max-width: 1024px) {
                width: 50% !important;
            }
            @media (max-width: 767px) {
                width: 100% !important;
                padding: 0 16px;
            }

            .box-title {
                background-color: @colorwhite;
                text-align: center;
                margin-bottom: 10px;
                font-size: 18px !important;
                font-family: @AcuminProBold;
            }

            span.lineinf {
                margin-bottom: 30px;
            }

            .box-content {
                border-radius: 7px;

                address {
                    line-height: 18px;
                    padding-top: 20px;
                    font-size: 15px;
                    margin-top: 0;
                }
            }

            .box-actions {
                background-color: @colorwhite;
                padding-top: 20px;
                text-align: center;
                font-size: 15px;

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

#address_items {
    margin: 0 auto;

    .owl-stage-outer {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;

        .owl-stage {
            .owl-item {
                @media (max-width: 576px) {
                    padding: 0 15px !important;
                }
            }
        }

    }

    .owl-controls {
        margin-top: -13%;
        @media (max-width: 576px) {
            margin-top: 0 !important;
        }

        .owl-nav.disabled {
            display: block !important;

            .owl-prev {
                float: left;
                margin-left: -5rem;
                font-size: 40px;
                color: #000000 !important;
            }

            .owl-next {
                float: right;
                margin-right: -5rem;
                font-size: 40px;
                color: #000000 !important;
            }
        }

        .owl-dots {
            display: none !important;
            @media (max-width: 576px) {
                display: block !important;
                text-align: center;
                width: 400px !important;
                max-width: 100%;
            }

            .owl-dot {
                display: inline-block !important;
            }
        }
    }
}

.column.main {
    .block.block-addresses-list {
        background-color: @colorwhite;
        padding: 20px;

        .block-title {
            padding-left: 20px;
            text-align: center;
            margin-bottom: 22px;
            font-size: 18px !important;
        }

        .block-content {
            margin-top: 30px;

            .additional-addresses {
                .content-aditional-addresses {
                    .content-address {
                        margin: auto;

                        .content {
                            padding: 20px;
                            font-size: 15px;
                            border-radius: 7px;
                            background: @colorbackground;

                            p {
                                margin-bottom: 0;
                            }

                            .actions {
                                margin-top: 10px;

                                a.action.edit {
                                    color: @colorcoral;
                                    text-decoration: underline;
                                }

                                a.action.delete {
                                    float: right;
                                    color: @colorblack;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .actions-toolbar {
        text-align: center;

        .primary.btn-add-address-new {
            float: none;
        }
    }
}

.box .box-title {
    border: none !important;
    background-color: #f9f9f9;
    border-radius: 0 !important;
}

.box .box-content {
    padding: 0 0 10px !important;
    border: none !important;
    background-color: @colorbackground !important;
    height: auto !important;
    border-radius: 0 0 7px 7px;
    min-height: 0 !important;

    address {
        line-height: 15px;
        text-align: left;
        margin-top: -18px;
        padding: 0 40px 10px 20px;
        @media (min-width: 1200px) {
            font-size: 15px;
            line-height: 18px;
        }

        a {
            color: @colorblack !important;
        }
    }
}

.box .box-actions {
    border: none !important;
    background-color: #f9f9f9;
    @media (max-width: 320px) {
        padding: 10px 0 !important;
    }

    a {
        color: @colorblack !important;
    }
}

.address-add-tr {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: @colorwhite;

    a {
        border: 1px solid @colorblack;
        border-radius: 7px;
        padding: 10px 15px;
        color: @colorblack;
        font-size: 16px;
        text-decoration: none;
    }
}
