@import '_variables.less';

#sales-address {
    background: @colorwhite;

    form {
        padding: 0 40px !important;
        @media (max-width: 1025px) and (min-width: 1023px) {
            padding: 0 20px !important;
        }
        @media (max-width: 990px) and (min-width: 768px) {
            padding: 0 120px !important;
        }
        @media (max-width: 767px) {
            padding: 0 20px !important;
        }

        .legend {
            font-family: @AcuminProBold;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
            border-bottom: none;
            text-transform: uppercase;
        }

        label {
            font-size: 14px;
            padding-left: 10px;
            font-family: @AcuminProBold;
            color: @colorrgbablack;
        }

        label.required {
            &:after {
                content: '*';
                color: #e02b27;
                font-size: 1.2rem;
                margin: 0 0 0 4.5px;
            }
        }

        input {
            font-size: 16px;
            border: none;
            font-family: @AcuminProBook;
            border-bottom: 1px solid @colorarena;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        .field-firstname, .field-lastname, .field-telephone, .field-location, .field-street, .number-house, .field-city, .field-region, .field-zip, .field-suburb {
            margin-bottom: 15px;
        }

        .number-house {
            margin-top: 15px;

            .field-internal {
                margin-left: 23px;
                @media (max-width: 1024px) {
                    margin-left: 20px;
                }
            }
        }

        div.field-references {
            margin-top: 18px;
        }
    }

    button.primary {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        background: @colorblack !important;
        color: @colorwhite !important;
        border: none !important;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }

    .sale-info-address {
        position: relative;
        margin-bottom: 18px;
        animation: animate 3s linear;
        @keyframes animate {
            0% {
                box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.6);
            }
            40% {
                box-shadow: 0 0 10px 20px rgba(255, 109, 74, 0.6);
            }
            80% {
                box-shadow: 0 0 10px 20px rgba(255, 109, 74, 0.6);
            }
            100% {
                box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.6);
            }
        }
    }

    .field-references {
        margin-bottom: 24px;

        textarea#references {
            margin-top: 10px;
        }
    }
}

.modals-wrapper {
    .modal-popup {
        .modal-inner-wrap {
            .modal-header {
                padding-top: 2rem;

                .modal-title {
                    border-bottom: none !important;
                    padding-bottom: 0 !important;
                    font-size: 20px !important;
                }
            }

            .modal-content {
                width: 100% !important;
            }
        }
    }
}
