@import '_variables.less';

form#form-validate {
    border: none !important;
    box-shadow: none !important;

    fieldset.fieldset.info {
        margin: -20px auto 20px;
        float: none !important;
        width: 45%;
        text-align: center;
        @media (max-width: 767px) {
            width: 96% !important;
        }
        @media (max-width: 320px) {
            width: 95% !important;
        }

        legend {
            text-align: center;
            display: block;
            float: none;
            margin-bottom: 20px !important;

            span {
                text-align: center;
                color: @colorblack;
                font-size: 18px !important;
                font-family: @AcuminProBold;
            }
        }

        .field {
            .register-tr {
                float: none !important;

                input {
                    font-size: 16px;
                    text-align: left !important;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }
                }
            }

            .control {
                max-width: 78%;
                width: 100%;
                display: inline-block;
                float: right;
                @media (max-width: 768px) {
                    max-width: 100% !important;
                }
                @media (max-width: 544px) {
                    width: 90% !important;
                }

                input {
                    border: none;
                    border-bottom: 1px solid @colorarena;
                    text-align: right;
                }

                select {
                    border: none;
                    border-bottom: 1px solid @colorarena;
                    border-radius: 0;
                }
            }
        }

        .field.choice {
            position: relative;
            width: fit-content;
            margin: 0 auto;

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 7px;
                left: 3px;
                content: " ";
                display: block;
                background: @colorcoral;
            }

            label.label {
                &:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }

                span {
                    padding-left: 10px;
                }
            }
        }
    }

    .ctrl-gender {
        float: none !important;
        width: 30%;
        display: inline-block;
        margin: 0 auto !important;
        text-align: center;
        @media (max-width: 1024px) and (min-width: 1024px) {
            width: 34%;
        }
        @media (max-width: 768px) {
            width: 47%;
        }
        @media (max-width: 544px) {
            width: 86%;
        }

        select {
            display: none;
        }
    }

    .field.choice.newsletter {
        display: none;
    }

    .gender-select {
        margin-top: 20px;

        .inptgender {
            display: inline-block;
            max-width: 100px;
            width: 100%;
            margin: 0 11px;

            &:nth-child(1) {
                margin-left: 0 !important;
                margin-right: 20px !important;
            }

            input.selectgender {
                display: none;
            }

            label {
                color: @colorcoral;
                border-radius: 5px;
                background: @colorwhite;
                padding: 12px 30px;
                border: 1px solid @colorcoral;
                cursor: pointer;
            }
        }
    }

    input.selectgender:checked + label {
        color: @colorwhite;
        border-radius: 5px;
        background: @colorcoral;
        border: 1px solid @colorcoral;
    }

    .btn-createaccount {
        background: @colorblack !important;
        color: @colorwhite !important;
        border: none;
        max-width: 300px !important;
        width: 100%;
        margin: 0 !important;
        min-width: 100%;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }

    fieldset.fieldset.password {
        margin: 15px auto 0;
        float: none !important;
        width: 35% !important;
        padding: 20px 0;
        @media (max-width: 768px) {
            width: 45% !important;
        }
        @media (max-width: 767px) {
            width: 75% !important;
        }
        @media (max-width: 576px) {
            width: 86% !important;
        }

        legend {
            text-align: center;
            color: @colorblack;
            font-family: @AcuminProBold;
            display: block;
            float: none;
            margin-bottom: 3px;
        }
    }

    .actions-toolbar {
        text-align: center;

        .primary {
            float: none !important;

            button.action.save.primary {
                max-width: 300px;
                width: 100%;
                min-width: 300px;
                border: 1px solid @colorblack;
                font-family: @AcuminProBold;
                background: @colorblack !important;
                color: @colorwhite !important;
                border-radius: 10px;
                margin: 0 auto;
                height: 48px;
                font-size: 16px;
            }
        }
    }
}

.column.main {
    .login-tr {
        max-width: 670px;
        margin: 0 auto;
        @media (max-width: 1024px) and (min-width: 1024px) {
            max-width: 462px;
        }
        @media (max-width: 768px) {
            max-width: 334px;
        }
        @media (max-width: 576px) {
            max-width: 620px;
        }
        @media (max-width: 320px) {
        }
    }

    .fieldset.create.info {
        width: 40% !important;
        @media (max-width: 1024px) and (min-width: 1024px) {
            width: 46% !important;
        }
        @media (max-width: 768px) {
            width: 50% !important;
        }

        p {
            margin: 25px 65px 10px;
            @media (max-width: 1024px) and (min-width: 1024px) {
                margin: 25px 55px 0;
            }
            @media (max-width: 768px) {
                margin: 25px 10px 0;
            }
            @media (max-width: 576px) {
                margin: 25px 20px 0;
            }
        }

        .field.field-name-firstname.required {
            margin: 0 auto;
            padding: 20px 0;
        }

        .field.field-name-lastname.required {
            margin: 0 auto;
            padding: 20px 0;
        }
    }

    .fieldset.create.account {
        width: 100% !important;

        .field.password.required {
            margin-top: 35px;

            .ctrl-gender.control {
                div#password-strength-meter-container {
                    padding-left: 10px;
                }
            }
        }

        .field.confirmation.required {
            margin-bottom: 30px;
        }
    }

    .actions-toolbar {
        .primary {
            width: 300px;
            margin: 0 auto;
            border-radius: 10px;
        }
    }
}

.field.choice.email-upd {
    margin-top: 30px;
    font-size: 16px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    @media (max-width: 320px) {
        font-size: 13px;
    }

    input {
        vertical-align: top;
    }
}

input#change-email {
    display: initial;
}

input#change-password {
    display: none;

    &:checked + .label {
        background: @colorcoral
    }
}

input#change-password + .label {
    display: none;
}

.field.email.required {
    margin-top: 20px;
    margin-bottom: 30px;

    .control {
        max-width: 100%;
        width: 100%;
        display: inline-block;

        input {
            border: none;
            border-bottom: 1px solid @colorarena;
            text-align: left;
            font-size: 16px;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }

            &::placeholder {
                color: @colorrgbablack !important;
            }
        }
    }
}

.fieldset.password .field.email.required {
    text-align: left;

    label.label {
        font-size: 16px;
        padding: 0 10px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }
    }
}

.field.password.current.required {
    text-align: left;

    label.label {
        font-size: 16px;
        padding: 0 10px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }
    }

    .control {
        max-width: 100%;
        width: 100%;
        display: inline-block;

        input {
            border: none;
            border-bottom: 1px solid @colorarena;
            text-align: left;
            font-size: 16px;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }
    }
}

.field.new.password.required {
    text-align: left;

    label.label {
        font-size: 16px;
        padding: 0 10px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }
    }

    .control {
        max-width: 100%;
        width: 100%;
        display: inline-block;

        input {
            border: none;
            border-bottom: 1px solid @colorarena;
            text-align: left;
        }

        #password-strength-meter-container {
            margin-top: 5px;
            padding: 0 10px;
        }
    }
}

.field.confirm.password.required {
    text-align: left;

    label.label {
        font-size: 16px;
        padding: 0 10px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }
    }

    .control {
        max-width: 100%;
        width: 100%;
        display: inline-block;

        input {
            border: none;
            border-bottom: 1px solid @colorarena;
            text-align: left;
            font-size: 16px;
        }
    }
}

.field.password-info {
    text-align: left;
    margin-top: 30px;
    font-size: 16px;
    padding: 0 10px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    @media (max-width: 320px) {
        font-size: 13px;
    }

    a, a:visited {
        color: @colorblack !important;
        text-decoration: underline;
    }
}

.field.choice.password-upd {
    display: none;
}
