@import '_variables.less';

.interes-estilos {
    margin-top: 20px !important;
    background-color: @colorwhite;
    padding: 20px 0;

    .title-parrf {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .block-title {
        text-align: center;
        font-size: 18px !important;
        font-family: @AcuminProBook;

        span.lineinf {
            width: 50px;
            border-bottom: 2px solid @colorcoral;
            line-height: 1px;
            float: none;
            display: block;
            text-align: center;
            margin: 19px auto 23px auto;
        }
    }

    .subtitle-passf {
        text-align: center;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-bottom: 20px;
    }
}

.interesescustomer {
    .content-size {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-bottom: 25px;
    }

    .conent-principal-interes {
        .info-interes {
            .selctimg {
                margin-bottom: 20px !important;
                @media (max-width: 576px) {
                    margin-bottom: 10px !important;
                    margin-top: 10px;
                    padding-right: 10px !important;
                    padding-left: 10px !important;
                }

                .imgselect {
                    position: relative;
                }

                .textoinferior {
                    margin-top: -43px;
                    text-align: center;
                    background: linear-gradient(0deg, @colorblack, #8a8a8926);
                    padding: 10px 10px;
                    z-index: 999;
                    position: inherit;
                    color: @colorwhite !important;
                    font-family: @AcuminProBold;
                    border-radius: 1px 1px 3px 3px;
                    @media (max-width: 576px) {
                        margin-top: -40px !important;
                        font-size: 11px !important;
                    }
                }

                margin-top: 10px;

                input {
                    display: none;

                    &:checked + label {
                        img {
                            border: 1px solid @colorcoral;
                            border-radius: 3px;
                            box-shadow: 0 0 2px 2px @colorcoral;
                        }
                    }
                }

                label {
                    width: 100% !important;
                    height: auto !important;

                    img {
                        border-radius: 3px;
                        cursor: pointer;
                        width: 100%;

                        &:hover {
                            border-radius: 3px;
                            box-shadow: 0 0 2px 2px @colorcoral;
                        }
                    }
                }
            }
        }
    }
}

.btn-next {
    margin: 20px auto !important;
    text-align: center;
    float: none !important;

    button.next-steep {
        max-width: 200px !important;
        width: 100% !important;
        background: @colorblack;
        color: @colorwhite;
        border: none;
        text-align: center;
        min-width: 100px;
        display: block;
        margin: 0 auto;

        &:hover {
            border: 1px solid @colorblack;
            color: @colorblack !important;
        }
    }
}

.brands-select {
    margin-top: 30px;
}

.info-sizes {
    max-width: 400px;
    margin: 0 auto !important;

    .listsizes {
        width: 100%;

        ul.listsections {
            margin: 0 auto;
            text-align: center;
            padding: 0 15px !important;

            p.titleslist {
                text-align: left;
                margin-left: 20px;
                margin-bottom: 20px;
                font-family: @AcuminProBold;
                font-size: 18px;

                &:after {
                    content: url(/media/troquer/question.png);
                    padding-top: 6px;
                    margin-left: 10px;
                }
            }

            li {
                display: inline-block;
                text-align: center;
                margin: 15px 8px;

                label {
                    max-width: 45px !important;
                    width: 45px !important;
                    display: block !important;
                    height: 45px !important;
                    padding-top: 12px;
                    border: 1px solid @colorarena;
                    border-radius: 5px;
                    cursor: pointer;
                    font-family: @AcuminProBold;

                    &:hover {
                        background: @colorcoral;
                        border: 1px solid @colorcoral;
                        color: @colorwhite;
                    }
                }

                input {
                    display: none;
                }

                input:checked + label {
                    background: @colorcoral;
                    border: 1px solid @colorcoral;
                    color: @colorwhite;
                }
            }
        }
    }
}

a.editbanks-info {
    color: @colorcoral;
    font-weight: 800;
    text-decoration: underline;
}

#banks-customer {
    .data-banks {
        .infosec-banks {
            .title-banks {
                text-align: center;
            }

            .titleparrfbank {
                font-size: 18px;
                font-family: @AcuminProBold;
            }

            .subtitle-banks {
                text-align: center;

                a.editbanks-info {
                    float: right;
                    margin-top: -3%;
                    vertical-align: text-top;
                }
            }

            .info-cards-bank {
                margin: 20px auto;
                max-width: 320px !important;
                width: 100%;

                .listcards {
                    width: 100%;
                    padding: 0 !important;

                    li {
                        width: 100%;
                        list-style: none;
                        background: @colorarena;
                        margin: 10px 0;
                        padding: 5px 5px;

                        p {
                            strong {
                                padding-right: 25px;
                            }
                        }
                    }
                }

                .addcards {
                    background: @colorccc;
                    padding: 10px 15px;
                    text-align: center;
                    cursor: pointer;

                    span.lnkaddcards {
                        &:before {
                            content: '+';
                            font-size: 18px;
                        }
                    }
                }

                .addbanks {
                    display: none !important;

                    form#addcard {
                        .infocards {
                            margin: 10px 0;

                            span {
                                font-family: @AcuminProBold;
                                color: @colorarena;
                            }

                            input.input-text {
                                border: none;
                                border-bottom: 1px solid @colorarena;
                            }
                        }

                        .btn-add-card {
                            button.btncard-add {
                                width: 100%;
                                background: @colorblack;
                                color: @colorwhite;
                                border: none;

                                &:hover {
                                    background: @colorblack !important;
                                    color: @colorwhite !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

span.qtysaldo {
    font-family: @AcuminProBold;
    font-size: 22px;
    color: @coloraceituna;
}

div#info-content-wallet {
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    font-family: @AcuminProBook;
    color: #6b6969;

    .info-wallet-list {
        background: @colorccc;
        margin: 10px 0;
        padding: 25px;
        border-radius: 5px;

        span.qtysaldolibre {
            font-family: @AcuminProBold;
            font-size: 20px;
            font-weight: 900;
        }
    }

    .btns-wallet button {
        max-width: 100% !important;
        width: 100%;
        margin: 10px 0;
        height: 40px;
    }

    .adminsaldo {
        background: @colorblack;
        border: 1px solid @colorblack;
        color: @colorwhite;
    }

    .statusaccount {
        background: @colorwhite;
        border: 1px solid @colorblack;
        color: @colorblack;
    }

    div#wallet-retiro {
        max-width: 320px;
        margin: 0 auto;
    }

    div#wallet-transfer {
        max-width: 320px;
        margin: 0 auto;
    }
}

div#statement-sec {
    width: 100%;
    margin: 20px auto;
}

#tbl-wallet-transfer {
    border-collapse: separate;
    border-spacing: 0 1em;

    tr.information-tbl-wallet {
        background: @colorarena;

        span.title-detail {
            font-size: 15px;
            font-family: @AcuminProBold;
        }

        span.date-detail {
            font-size: 12px;
        }

        p.wallet {
            text-align: right;
            font-size: 14px;

            span.lesscant {
                color: @colorladrillo;
            }

            .addcant {
                color: @coloraceituna;
            }
        }
    }
}
