@import '_variables.less';

div#account-nav {
    display: none;
}

.nav-toggle {
    &:before {
        color: @colorblack !important;
        cursor: pointer;
        background-image: @spriticons;
        width: 24px !important;
        height: 22px !important;
        position: absolute;
        background-position: 0 22px !important;
        background-size: 374px 22px;
        top: 16px;
    }
}

.nav-toggle:hover {
    &:before {
        color: @colorblack !important;
    }
}

.active-menu-acc {
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    height: 100%;
    left: ~"calc(-1 * (100% - 54px))";
    overflow: auto;
    position: fixed;
    top: 0;
    width: ~"calc(100% - 54px)";
    background-color: #f6f6f6;
}

.menu-initial-acc {
    left: 0 !important;
}

#menu-account {
    .logoaccount {
        text-align: center !important;
        padding-top: 10px;

        a {
            img {
                display: block !important;
                margin: 0 auto !important;
                vertical-align: middle !important;
                @media (max-width: 576px) {
                    margin: 0 45px !important;
                }
                @media (max-width: 380px) {
                    margin: 0 30px !important;
                }
                @media (max-width: 320px) {
                    margin: 0 15px !important;
                }
            }
        }
    }

    .iconstraccount {
        order: initial !important;

        .menu-tr {
            li.icon-show-mob-tr {
                a {
                    @media (max-width: 544px) {
                        right: -19px;
                    }
                }
            }
        }
    }

    .back-sale-mob {
        vertical-align: middle;
        margin-top: 1rem;
        text-align: left;

        a {
            color: @colorcoral;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .back-buy {
        vertical-align: middle;
        margin-top: 2rem;
        text-align: left;
        @media (min-width: 1440px) {
            margin-left: 159px;
        }
        @media (max-width: 767px) {
            display: none !important;
        }

        a {
            color: @colorcoral;
            text-decoration: underline;
            cursor: pointer;
            font-size: 16px;
        }
    }

    .navigation li.level0 .ui-menu-item > a:before {
        content: none !important;
    }

    .menunavtr {
        .nav-sections {
            @media (max-width: 767px) {
                padding-bottom: 60px !important;
            }
        }

        .sections.nav-sections {
            @media (max-width: 767px) {
                padding: 20px 20px 40px !important;
                background-color: @colorbackground;
                box-shadow: 1px 0 5px rgba(0, 0, 0, .1) !important;
            }

            .section-item-content.nav-sections-item-content {
                margin-top: 15px !important;

                .content-nav {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    width: 100%;
                    text-align: center;

                    .content-menu-profile {
                        width: 100%;
                        list-style: none;
                        position: relative;
                        margin: 0 auto;

                        .drop-down {
                            @media (max-width: 767px) {
                                display: block !important;
                                box-shadow: none !important;
                            }

                            a {
                                @media (max-width: 767px) {
                                    &:before {
                                        content: '\f801';
                                        display: inline;
                                        font-family: 'porto-icons', serif;
                                        margin-right: 10px;
                                        font-size: 16px;
                                        vertical-align: top;
                                        color: #aaaaaa;
                                    }
                                }
                            }
                        }
                    }

                    .drop-down-ul {
                        display: none;
                        @media (max-width: 767px) {
                            display: block !important;
                            margin-left: 25px;
                            box-shadow: none !important;
                        }

                        .info-right > ul {
                            top: 0;
                            min-width: 200px;
                            display: none;
                        }
                    }

                    li.drop-down:hover > .drop-down-ul {
                        display: block;
                    }

                    li.drop-down li.info-right > .drop-down-ul-right {
                        position: absolute;
                        left: 200px;
                        background-color: @colorwhite;
                        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
                        @media (max-width: 767px) {
                            display: block !important;
                            box-shadow: none !important;
                            position: relative !important;
                            margin-left: -150px !important;
                        }
                    }

                    li.info-right:hover > .drop-down-ul-right {
                        display: block;
                    }

                    li.drop-down > ul {
                        top: 30px;
                        left: 0;
                        min-width: 200px;
                        position: absolute;
                        background-color: @colorwhite;
                        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
                        @media (max-width: 767px) {
                            top: 0 !important;
                            position: relative !important;
                            margin-left: 25px;
                        }

                        li {
                            a {
                                &:hover {
                                    color: @colorladrillo !important;
                                }
                            }
                        }
                    }

                    li.drop-down > ul > li > a, .info-right > ul > li > a {
                        color: @colorblack;
                        display: block;
                        text-decoration: none;
                        padding: 10px 10px 0;
                        font-family: @AcuminProBold;
                        font-size: 16px;
                    }

                    li.drop-down, .info-right {
                        position: relative;
                    }

                    .content-menu-profile > li {
                        display: inline-block;
                        max-width: 90px;
                        text-align: left;
                        width: 100%;
                    }

                    .content-menu-profile > li > ul > li {
                        text-align: left;
                    }

                    .content-menu-profile > li > a {
                        padding: 20px 10px;
                        font-family: @AcuminProBold;
                        font-size: 16px;

                        &:hover {
                            color: @colorladrillo !important;
                        }
                    }
                }
            }
        }
    }

    .back-sale-mob {
        display: none;
        @media (max-width: 767px) {
            display: block !important;
        }
    }

    ul.menu-list-account {
        text-align: center !important;
        @media (max-width: 767px) {
            text-align: left !important;
        }

        ul {
            text-align: left;
            margin-top: 30px;
        }

        li.menu_active {
            a {
                text-decoration: underline;
            }
        }

        li {
            max-width: 100px !important;
            width: 100%;
            display: inline-flex;
            font-family: @AcuminProBold;
            font-size: 15px !important;

            a.logout-tr {
                color: @colorcoral !important;
                text-decoration: underline !important;
            }

            a {
                color: @colorblack !important;
                @media (max-width: 767px) {
                    padding-left: 0 !important;
                }
            }

            @media (max-width: 767px) {
                display: table !important;
                max-width: 100% !important;
                line-height: 16px;
            }
        }
    }
}
