@import '_variables.less';

form.form.password.reset {
    fieldset.fieldset {
        font-family: @AcuminProBook;
        font-size: 16px;
        color: @colorblack;

        .field.password.required {
            max-width: 400px !important;
            margin: 0 auto;
            width: 100%;

            label {
                text-transform: capitalize;
                font-size: 16px !important;
                font-family: @AcuminProBook;
            }

            input {
                max-width: 300px !important;
                width: 100%;
            }
        }

        .field.confirmation.required {
            max-width: 400px !important;
            margin: 10px auto;
            width: 100%;

            label {
                text-transform: capitalize;
                font-size: 16px !important;
                font-family: @AcuminProBook;
            }

            input {
                max-width: 300px !important;
                width: 100%;
            }
        }
    }
}

.btn-trquer-password-reset {
    .primary {
        button {
            background: @colorblack !important;
            color: @colorwhite !important;
            border: 1px solid @colorblack !important;
        }
    }
}
