@import '_variables.less';

._activesearch {
    visibility: hidden;
    @media (max-width: 768px) {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: @colorblack;
        opacity: .4;
        top: 59px;
        margin: 0 !important;
        padding: 0 !important;
        visibility: visible !important;
    }
}

.cintillo-top-tr {
    display: block !important;
}

.panel.wrapper.cintillo-top-tr {
    display: block !important;
    @media (max-width: 767px) {
        display: block !important;
    }
}

.page-header.type22 > .panel.wrapper {
    @media (max-width: 767px) {
        display: block !important;
    }
}

header.page-header.type22.sticky-header .minicart-wrapper {
    right: 3% !important;
    max-width: 170px !important;
    width: 100% !important;
    margin-top: -17px !important;

    a {
        font-size: 22px !important;
        margin: 0 0 !important;
    }

    .action.showcart {
        top: 12px;
    }
}

.page-header.type22 .minicart-wrapper {
    a {
        font-size: 22px !important;
        border: none;
    }

    a.action.delete {
        font-size: 25px !important;
        color: @colorblack !important;

        &:before {
            color: @colorblack !important;
            font-size: 25px;
        }
    }

    .action.showcart {
        top: 12px;
    }
}

.icon-sale-not-logged-in {
    cursor: pointer;
}

a.action.primary {
    border-color: @colorcoral !important;
}

.navigation .level0 {
    border-top: 0 !important;
}

.navigation li.level0:last-child {
    border-bottom: 0 !important;
}

header.page-header .nav-sections-item-title.active > a, header.page-header .nav-sections-item-title.active > a:hover, header.page-header .nav-sections-item-title.active > a:focus {
    color: @colorblack !important;
    border-bottom: 3px solid @colorblack !important;
    padding-bottom: 8px !important;
    margin: 10px 0;
}

header.page-header .nav-sections-item-title {
    @media (max-width: 767px) {
        border-width: 0 !important;
        box-sizing: border-box;
        float: left;
        height: 40px !important;
        padding-top: 10px;
        text-align: center;
        width: 33.33%;
        margin: 10px 0;
    }

    a {
        @media (max-width: 767px) {
            font-family: @AcuminProBook;
            font-size: 15px !important;
            color: @colorgray !important;
        }

        &:before {
            content: none !important;
        }
    }
}

header.page-header .nav-sections-item-title {
    background: @colorwhite !important;
    text-align: left;
    padding-left: 15px;
    color: @colorgray !important;
    text-transform: uppercase;
}

header.page-header .nav-sections-item-title > a, header.page-header .nav-sections-item-title > a:hover, header.page-header .nav-sections-item-title > a:focus {
    @media (max-width: 767px) {
        color: @colorblack !important;
    }
}

.page-header.type22 > .panel.wrapper {
    display: block !important;
}

#cintillo-top-tr {
    display: block !important;
}

.page-header.type22 {
    .panel.wrapper {
        display: block !important;

        .panel.header.actions-top-header {
            display: none !important;
        }
    }
}

.page-wrapper.customer_account_page {
    background: @colorbackground !important;
}

.page-wrapper.customer_catalog_page {
    background: @colorbackground !important;
}

.page-wrapper.customer_home_page {
    background: @colorbackground !important;
}

.header.page-header .nav-sections-items {
    @media (min-width: 767px) {
        padding: 0 0 40px;
    }
}

.page-header.header-newskin .nav-sections {
    pointer-events: auto !important;
    background: @colorwhite !important;
    box-shadow: none !important;
}

@media (min-width: 768px) {
    header.page-header.is-sticky {
        .menu-header-tr {
            position: fixed !important;
            left: 0 !important;
            top: 0;
            z-index: 200 !important;
            margin: 0 !important;
            padding: 0;
            width: 100% !important;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            pointer-events: all;
        }

        .cintillo-top-tr {
            position: fixed;
            width: 100%;
        }
    }
}

.mobile-sticky {
    .page-main {
        margin-top: 0;
        padding-top: 0;
    }
}

.nav-sections {
    .header.links {
        li.customer-welcome {
            .customer-menu {
                display: none;
            }
        }

        .customer-welcome + .link.compare + .authorization-link {
            display: none;
        }
    }
}

.page-header .navigation .level0 .submenu {
    li {
        display: list-item !important;
    }
}

.icons-menu-tr {
    width: 200px !important;
    margin-right: 0 !important;
    @media (max-width: 767px) {
        width: auto !important;
        margin-top: 0 !important;
    }
}

a.action.viewcart {
    font-family: @AcuminProLight;
    border: 1px solid @colorblack !important;
    background: @colorwhite;
    height: 48px !important;
    line-height: initial !important;
    color: @colorblack !important;
    border-radius: 10px !important;
    padding: 10px 0 !important;

    &:hover {
        color: @colorblack !important;
    }

    span {
        font-family: @AcuminProBold;
        font-size: 16px !important;
        text-transform: capitalize;
        vertical-align: text-top;

        &:hover {
            color: @colorblack !important;
        }

        span {
            &:hover {
                color: @colorblack !important;
            }
        }
    }
}

.minicart-items .product-image-container {
    border: none !important;
}

.cart-checkout-tr {
    border-bottom: 1px solid @colorarena !important;
}

div#ui-id-1 {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 400px;
    max-width: 100%;
    min-width: 0;
    z-index: 999;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transform: translateX(0);
    margin-top: 0;
    border-radius: 0;
}

.minicart-wrapper .block-minicart {
    border: none !important;

    &:before {
        content: none !important;
    }

    &after {
        content: none !important;
    }
}

.minicart-items-wrapper {
    max-height: initial !important;
}

.minicart-wrapper .action.close {
    position: initial !important;
    display: initial !important;
}

#icon-cart-list {
    .block-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100vh;
        @media (max-width: 544px) {
            height: 90vh;
        }

        .box .box-title {
            border-radius: 0 !important;
        }

        .items-total {
            display: none;
        }

        .subtotal {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            border-top: 1px solid #eaeaea;
            padding: 20px 5px 3px;
            margin-top: auto;

            .label {
                span {
                    font-size: 16px;
                    color: @colorblack;
                    font-family: @AcuminProBold;
                    text-transform: uppercase;

                    &:after {
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}

.minicart-items {
    .action.delete {
        &:before {
            color: @colorarena !important;
        }
    }
}

ul.menu-tr {
    max-width: 100% !important;
    width: 100% !important;
    padding: 5px 10px 0 !important;
    text-align: right !important;
    @media (max-width: 767px) {
        padding: 0 !important;
    }
    @media (max-width: 690px) {
        max-width: 1px !important;
    }

    li {
        @media (max-width: 767px) {
            padding-top: 10px !important;
            margin-right: 20px !important;
            display: none !important;
        }
        display: inline-block !important;
        max-width: 22px !important;
        width: 100% !important;
        height: 22px !important;
        margin: 0 5px !important;

        span.icon-wish-tr {
            cursor: pointer;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: 306px 22px !important;
            background-size: 376px 22px;
        }

        span.icon-bell-tr {
            cursor: pointer;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: 211px 22px !important;
            background-size: 376px 22px;
        }

        a.icon-wish-tr {
            cursor: pointer;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: 306px 22px !important;
            background-size: 376px 22px;
        }

        a.icon-notifications-tr {
            cursor: pointer;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: 210px 22px !important;
            background-size: 374px 22px;
        }

        span.icon-user-tr {
            cursor: pointer;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: 164px 22px !important;
            background-size: 374px 22px;
        }

        a.icon-user-tr {
            cursor: pointer;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: 164px 22px !important;
            background-size: 374px 22px;
        }

        a.icon-bag-tr {
            cursor: pointer;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: -23px 22px !important;
            background-size: 376px 22px;

            .counter.qty {
                width: 16px;
                height: 16px;
                display: block;
                font-size: 10px;
                color: @colorwhite;
                background-color: @colorladrillo;
                text-align: center;
                line-height: 16px;
                border-radius: 20px;
                min-width: auto;
                left: auto;
                right: -3px;
                margin-top: -6px;
                font-weight: 400;
                margin-left: 14px;

                .counter-number {
                    font-family: @AcuminProLight !important;
                    font-size: 12px !important;
                    text-transform: capitalize !important;
                    line-height: 18px;
                }

                .counter-label {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                    visibility: hidden !important;
                }
            }
        }

        a.icon-notifications-tr {
            .counter-noti.qty {
                width: 16px;
                height: 16px;
                display: block;
                font-size: 10px;
                color: @colorwhite;
                background-color: @colorladrillo;
                text-align: center;
                line-height: 16px;
                border-radius: 20px;
                min-width: auto;
                left: auto;
                right: -3px;
                margin-top: -6px;
                font-weight: 400;
                margin-left: 14px;

                .counter-number-noti {
                    font-family: @AcuminProLight !important;
                    font-size: 12px !important;
                    text-transform: capitalize !important;
                    line-height: 18px;
                }
            }
        }
    }

    li.icon-show-mob-tr {
        display: inline-block !important;

        a {
            @media (max-width: 544px) {
                margin-right: 0;
                right: -32px;
                top: 12px;
            }
        }
    }
}

a#icon-notifications-tr-mov {
    padding: 0;
    top: 5px;
    .counter-noti.qty {
        width: 16px;
        height: 16px;
        display: block;
        font-size: 10px;
        color: @colorwhite;
        background-color: @colorladrillo;
        text-align: center;
        line-height: 16px;
        border-radius: 20px;
        min-width: auto;
        left: auto;
        right: -3px;
        margin-top: -6px;
        font-weight: 400;
        margin-left: 14px;

        .counter-number-noti-mov {
            font-family: @AcuminProLight !important;
            font-size: 12px !important;
            text-transform: capitalize !important;
            line-height: 18px;
        }
    }
}

.addtocart-tr-list {
    padding: 0 !important;
}

.items-list-tr {
    margin-bottom: 5px !important;
}

.product-item .tobag {
    cursor: pointer !important;

    &:before {
        content: '' !important;
        background-position: 351px 22px !important;
        background-size: 376px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
        display: inline-block;
    }
}

.icon-wishlist-tr {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;
    position: initial;

    &:before {
        content: '' !important;
        background-position: 306px 22px !important;
        background-size: 376px 22px;
        background-image: @spriticons;
        width: 24px !important;
        height: 22px !important;
    }
}

.action.tocompare {
    display: none;
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;

    &:before {
        content: '' !important;
        background-position: 24px 22px !important;
        background-size: 380px 22px;
        background-image: @spriticons;
        width: 24px !important;
        height: 22px !important;
    }
}

.porto-icon-heart-empty {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;

    &:before {
        content: '' !important;
        background-position: 286px 22px !important;
        background-size: 374px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
    }
}

.fa-bell {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;

    &:before {
        content: '' !important;
        background-position: 198px 22px !important;
        background-size: 374px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
        padding: 0 11px !important;
    }
}

.porto-icon-home {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;

    &:before {
        content: '' !important;
        background-position: 110px 22px !important;
        background-size: 374px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
        padding: 0 11px !important;
    }
}

.porto-icon-plus-squared-alt {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;

    &:before {
        content: '' !important;
        background-position: 66px 22px !important;
        background-size: 374px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
        padding: 0 11px !important;
    }
}

.far.fa-user {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;

    &:before {
        content: '' !important;
        background-position: 154px 22px !important;
        background-size: 374px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
        padding: 0 11px !important;
    }
}

.page-header.type22 .fa-user {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;

    &:before {
        content: '' !important;
        background-position: 154px 22px !important;
        background-size: 374px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
        border: none !important;
    }

    &:after {
        content: none !important;
    }
}

.page-header.type22 .minicart-wrapper .action.showcart {
    cursor: pointer !important;
    width: 22px !important;
    height: 22px !important;
    border: none !important;

    &:before {
        content: '' !important;
        background-position: 330px 22px !important;
        background-size: 374px 22px;
        background-image: @spriticons;
        width: 22px !important;
        height: 22px !important;
        border: none !important;
    }

    &:after {
        content: none !important;
    }
}

.sticktr {
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-header-tr {
    padding: 10px 0 !important;
    background: @colorwhite !important;
    max-width: 100% !important;
    @media (max-width: 576px) {
        height: 81px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .new-header-tr {
        max-width: 1440px !important;
        width: 100% !important;
        margin: 0 auto !important;
        @media (max-width: 544px) {
            margin: 0 !important;
        }

        .logotr {
            text-align: center;

            a {
                @media (max-width: 767px) {
                    position: relative !important;
                    float: left !important;
                    left: unset !important;
                    right: 0 !important;
                    margin-left: 11% !important;
                    text-align: center !important;
                }
            }

            img {
                width: 143px;
                height: 40px;
                max-width: 143px !important;
                @media (max-width: 767px) {
                    max-width: 143px !important;
                    width: 143px !important;
                }
            }

            .logo {
                margin: 10px auto;
                @media (max-width: 768px) {
                    margin: 10px 0 10px -30px !important;
                }
                @media (max-width: 544px) {
                    margin: 10px 0 10px 40px !important;
                }
                @media (max-width: 380px) {
                    margin-right: 25% !important;
                }
                @media (max-width: 360px) {
                    margin-right: 32% !important;
                }
                @media (max-width: 320px) {
                    margin: 10px 0 10px -20px !important;
                }
            }

            @media (max-width: 767px) {
                display: flex;
                order: 1;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .iconstr {
            padding-left: 3%;
            @media (max-width: 768px) {
                padding-left: 2% !important;
            }
            @media (max-width: 576px) {
                padding-left: 0 !important;
            }
            @media (max-width: 767px) {
                display: flex;
                order: 3;
                padding-left: 0;
                padding-right: 10px;
                padding-top: 5px;
                text-align: right;
                margin-left: 15px !important;
            }

            .icon-search-tr-mob {
                display: none;
                @media (max-width: 544px) {
                    display: block;
                }
            }
        }

        form#search_mini_form {
            padding-left: 10px;

            .field.search {
                label.label {
                    @media (max-width: 768px) {
                        z-index: 999;
                        cursor: pointer;
                    }
                    @media (max-width: 767px) {
                        margin-right: 15px !important;
                    }
                    @media (max-width: 380px) {
                        margin-right: 10px !important;
                    }
                    @media (max-width: 320px) {
                        margin-right: 7px !important;
                    }

                    &:before {
                        content: '' !important;
                        cursor: pointer;
                        background-image: url(/media/troquer/sprite-troquer.png);
                        width: 24px !important;
                        height: 22px !important;
                        position: absolute;
                        background-position: -45px 22px !important;
                        background-size: 374px 22px;
                    }
                }
            }

            .actions {
                button.action.search {
                    float: right;
                    right: unset;
                    left: 10px;
                    text-align: left;
                }
            }
        }

        nav.navigation.sw-megamenu li:hover > ul {
            display: block;
        }

        nav.navigation.sw-megamenu {
            ul {
                background: @colorccc;
                display: table !important;
                width: 100%;

                li {
                    float: left;

                    ul {
                        display: none;
                    }

                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                }

                ul {
                    ul {
                        left: 100% !important;
                        top: 0 !important;
                    }
                }
            }

            li {
                position: relative !important;

                ul {
                    position: absolute !important;
                    background: #ddd;
                }
            }

            a {
                display: block !important;
                padding: 0 2.5em !important;
            }
        }

        .menunavtr {
            .nav-sections {
                .section-items {
                    .section-item-content {
                        text-align: center;
                        @media (max-width: 767px) {
                            margin-top: 70px !important;
                            text-align: left;
                        }

                        nav.navigation.sw-megamenu {
                            ul {
                                li.ui-menu-item {
                                    .submenu {
                                        width: auto;
                                        float: none;
                                        margin: 0 auto !important;
                                        left: auto !important;
                                        right: auto !important;

                                        .container {
                                            .row {
                                                ul.subchildmenu {
                                                    .ui-menu-item {
                                                        width: 100% !important;
                                                        max-width: 190px !important;
                                                        display: block !important;
                                                        float: none !important;
                                                        position: initial;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-sections {
    @media (max-width: 767px) {
        background-color: @colorbackground;
        padding-bottom: 60px !important;
    }
}

.page-header.type22 .block-search .label.active + .control input {
    @media (max-width: 544px) {
        position: absolute !important;
        right: 15% !important;
        top: 100% !important;
        left: auto !important;
        min-width: 300px !important;
        z-index: 99 !important;
        border: none !important;
        border-bottom: 1px solid @colorblack !important;
        background: @colorwhite !important;
        border-radius: 0 !important;
        margin-top: 25px !important;
        padding-left: 10px !important;
        box-shadow: none !important;
    }
}

.page-header.type22 .block-search {
    @media (max-width: 768px) {
        right: -35px !important;
    }

    input {
        height: 43px !important;
        line-height: 43px !important;
    }
}

.searchtr {
    @media (max-width: 768px) {
        padding-left: 45px;
    }
    @media (max-width: 767px) {
        display: block;
        order: 2;
        text-align: right;
        padding-right: 18px !important;
        padding-top: 12px !important;
        margin-right: -25px;
    }
    padding-left: 45px;

    .search-area {
        max-width: 300px;
        width: 100%;
        right: 0;
        left: unset;
        text-align: right;
        float: right;

        a.search-toggle-icon {
            display: none;
        }

        .block.block-search {
            top: 0 !important;
            visibility: visible !important;
            opacity: 1 !important;
            border: none !important;
            margin-top: 5px !important;

            input {
                padding: 17px 15px 5px 33px;
                @media (max-width: 544px) {
                    padding: 11px 15px 5px 33px;
                }
            }
        }
    }
}

form#search_mini_form {
    .field.search {
        .control {
            input#search {
                background: @colorwhite !important;
                box-shadow: none !important;
                font-family: @AcuminProLight;
                font-style: initial !important;
                color: @colorblack !important;
                font-size: 16px;

                &::placeholder {
                    color: @colorrgbablack !important;
                    font-family: @AcuminProBook;
                    font-style: normal !important;
                }

                @media (max-width: 767px) {
                    background-image: url(https://st2.depositphotos.com/4060975/8056/v/450/depositphotos_80565476-stock-illustration-magnifier-vector-icon.jpg) !important;
                    background-repeat: no-repeat !important;
                    background-position: 4px center !important;
                    background-size: 20px !important;
                    padding-left: 30px !important;
                }
            }
        }
    }
}

.page-header.type22 .search-area {
    @media (max-width: 991px) {
        flex: auto !important;
    }
}

.block-search-tr {
    max-width: 300px;
    width: 100%;
    right: 0;
    left: unset;
    text-align: right;
    float: right;
    @media (max-width: 991px) {
        position: absolute;
        right: -20px;
        top: 100%;
        left: auto;
        min-width: 280px;
        margin-top: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        opacity: 1 !important;
        visibility: visible !important;
        transition: all .3s;
    }
    @media (max-width: 768px) {
        min-width: 220px !important;
        border: none !important;
        margin-top: 0 !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
}

.page-header.type22 .block-search .label.active + .control input {
    @media (max-width: 767px) {
        position: fixed !important;
        right: -100px !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 999 !important;
        background: @colorwhite !important;
        box-shadow: none !important;
        border-bottom: 1px solid @colorcoral !important;
        margin-top: 0 !important;
        max-width: 90% !important;
        min-width: 90% !important;
    }

    &::placeholder {
        @media (max-width: 767px) {
            font-size: 18px !important;
            font-style: normal !important;
            color: @colorblack !important;
        }
    }
}

.control-search-tr {
    max-width: 300px;
    width: 100%;
    right: 0;
    left: unset;
    float: right;

    .inpt-search-tr {
        padding-left: 50px !important;
        background-color: @colorwhite !important;
        box-shadow: none !important;
    }
}

.actions-search-tr {
    .search {
        background-color: transparent !important;
        left: 0;
        right: unset;

        &:before {
            color: @colorblack !important;
        }
    }
}

#totop {
    @media (max-width: 767px) {
        bottom: 100px !important;
        border-radius: 50% !important;
    }
}

iframe#launcher {
    bottom: 60px !important;
    @media (max-width: 767px) {
        right: -10px !important;
        bottom: 38px !important;
    }
}

.cintillo.header {
    padding: 0 !important;
    margin: 0 !important;

    [data-enable-parallax="0"] {
        background: @colorblack !important;
        margin: 0 !important;
        padding: 10px 0 !important;
        color: @colorwhite;
        text-align: center;

        p {
            span {
                color: @colorwhite !important;
            }
        }
    }

    p {
        margin-bottom: 0 !important;
        font-family: @AcuminProLight;
        font-size: 15px;

        span {
            strong {
                font-weight: bold !important;
                font-family: @AcuminProBold;
            }
        }
    }
}


//Notifications
.container-bell {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 400px;
    max-width: 100%;
    min-width: 0;
    z-index: 999;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transform: translateX(0);
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background: @colorbackground;
    padding: 15px;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.icon-notifications-tr.bounce {
    animation: zoominoutsinglefeatured 1s 20;
}

div#icon-bell-list {
    .block-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100vh;
    }

    .data_bell {
        display: block;
        font-weight: 400;
        overflow: auto;
        height: auto;
        margin-left: -15px;
        margin-right: -15px;

        .content-notifications {
            border-left: 6px solid @colorcoral;
            margin: 0 0 15px;
            background: @colorwhite;

            .info-section-notifications {
                display: flex;
                padding: 15px 0;

                .notification-img {
                    padding-right: 0;
                }

                .notification-info {
                    padding-left: 30px;
                    @media (max-width: 767px) {
                        text-align: left;
                    }

                    strong {
                        font-size: 16px;
                        font-family: @AcuminProBold;
                    }

                    p {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }

                    .notification-time {
                        font-size: 13px;
                        margin: 8px 0 0;
                        color: rgba(0, 0, 0, .5);
                    }

                    button.btn-notification {
                        width: 70px;
                        height: 28px;
                        font-size: 15px;
                        color: @colorwhite;
                        margin-right: 25px;
                        border-radius: 50px;
                        font-family: @AcuminProBold;
                        background-color: @colorblack;

                        &:hover {
                            color: @colorwhite !important;
                            background-color: @colorblack !important;
                        }

                        @media (max-width: 320px) {
                            width: 60px;
                            margin-right: 15px;
                        }
                    }

                    span {
                        font-size: 15px;
                        cursor: pointer;
                        color: @colorcoral;
                        text-decoration: underline;
                    }
                }
            }
        }

        .empty-notifications {
            margin: 150px 0;
            text-align: center;
            @media (max-width: 360px) {
                margin: 120px 0;
            }

            .notification-img-empty {
                margin-bottom: 20px;

                img {
                    width: 15%;
                }
            }

            .text-empty {
                font-size: 16px;
                color: @colorrgbablack;

                strong {
                    font-family: @AcuminProBold;
                }
            }
        }
    }

    .btn-action-notifications {
        margin: auto 0 80px;
        @media (min-width: 1024px) {
            margin: auto 0 35px;
        }

        .btn-secondary {
            margin: 20px auto auto;
            text-align: center;
            padding: 13px 0;
        }
    }
}
