@import '_variables.less';

.open-children-toggle {
    @media (max-width: 767px) {
        width: 15px;
        height: 15px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        &:after {
            content: '\f807';
            font-family: 'porto-icons', serif;
            font-size: 20px;
            font-weight: bold !important;
        }
    }
}

.section-items.nav-sections-items {
    .section-item-title.nav-sections-item-title.active {
        a.nav-sections-item-switch {
            @media (max-width: 767px) {
                border-bottom: 3px solid @colorwhite;
                text-transform: uppercase;
            }
            font-family: @AcuminProBold;
            color: @colorblack !important;

            &:before {
                content: none !important;
            }
        }
    }
}

.navigation li.level0 .ui-menu-item > a:before {
    content: none !important;
}

.arrow-open-menu {
    @media (max-width: 767px) {
        &:after {
            content: '\f800' !important;
        }
    }
}

.level0.submenu {
    @media (max-width: 767px) {
        display: none;
    }
}

.submenu.opened {
    display: block !important;
}

.navigation .parent .level-top.ui-state-active {
    @media (max-width: 767px) {
        &:after {
            content: none !important;
        }
    }
}

.open-children-toggle.ui-state-active {
    &:after {
        content: '\f804';
        font-family: 'porto-icons', serif;
        font-size: 30px;
    }
}

a.level-top.ui-state-active {
    background-color: @colorbackground !important;
}

.navigation li.level0 > a.ui-state-active {
    background-color: @colorwhite !important;
}

.navigation li.level0 > a.ui-state-active, .navigation li.level0 > a.ui-state-active + .submenu {
    background-color: @colorwhite !important;
}

.navigation li.level0 {
    border-top: 0 !important;
}

.navigation li.level0 > a.ui-state-active + .submenu {
    background-color: @colorwhite !important;
    @media (max-width: 767px) {
        display: none;
    }
}

.level0.submenu.opened {
    display: block !important;
}

.openedmenuchild {
    display: block !important;
}

.icon-hidden-mob-tr {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.header-main-mobile-tr {
    @media (max-width: 767px) {
        display: block !important;
    }
    display: none;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: @colorwhite;
    border-top: 1px solid #eee;

    ul.ul-menu-mob-tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 12px 0 !important;
        margin-bottom: 0 !important;

        .icon-home-tr {
            background-position: 117px 22px !important;
        }

        .icon-wish-tr {
            background-position: 304px 22px !important;
        }

        .icon-sale-tr {
            background-position: 70px 22px !important;
        }

        .icon-notifications-tr {
            background-position: 210px 22px !important;
        }

        .icon-account-tr {
            background-position: 162px 22px !important;
        }

        .action {
            background-image: @spriticons !important;
            width: 24px !important;
            height: 22px !important;
            margin: 0 auto !important;
            background-size: 373px 22px !important;
        }

        li {
            -webkit-flex: 1;
            flex: 1;
            margin: 0;
            list-style: none;

            a {
                background: 0 0 !important;
                box-shadow: none !important;
                width: 100%;
                border: none;
                text-align: center;
                height: auto !important;
                padding: 0 5px;
                color: #222;
                font-size: 20px;
                border-radius: 0;
                position: relative;
                display: block;
            }

            .minicart {
                .showcart {
                    &:after {
                        background: 0 0 !important;
                        box-shadow: none !important;
                        width: 100%;
                        border: none;
                        text-align: center;
                        height: 50px;
                        padding: 0 5px;
                        color: #222;
                        font-size: 20px;
                        border-radius: 0;
                        position: relative;
                        display: block;
                    }

                    .counter.qty {
                        width: 16px;
                        height: 16px;
                        display: block;
                        font-size: 10px;
                        color: @colorwhite;
                        background-color: @colorladrillo;
                        text-align: center;
                        line-height: 16px;
                        border-radius: 20px;
                        min-width: auto;
                        left: auto;
                        right: -4px;
                        margin-top: -20px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

nav.navigation.sw-megamenxu li {
    &:hover {
        .submenu {
            @media (min-width: 767px) {
                display: block;
                border-radius: 0 !important;
            }
        }
    }
}

nav.navigation.sw-megamenxu li {
    .submenu {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

ul.header.links {
    li {
        span {
            color: @colorgray !important;
            text-transform: capitalize !important;
            font-family: @AcuminProBook !important;
            font-size: 16px !important;
        }

        a {
            color: @colorgray !important;
            text-transform: capitalize !important;
            font-family: @AcuminProBook !important;
            font-size: 16px !important;
        }
    }
}

.page-header .navigation .level0 .submenu li.parent > a:after {
    margin-left: 10px !important;
    margin-top: 3px !important;
    @media (min-width: 767px) {
        line-height: 24px !important;
    }
    @media (max-width: 767px) {
        font-size: 14px !important;
    }
}

nav.navigation.sw-megamenxu {
    @media (max-width: 767px) {
        text-align: left;
    }

    ul {
        li {
            a {
                span {
                    text-transform: capitalize;
                    font-family: @AcuminProBook;
                    font-size: 16px !important;
                }
            }

            ul.subchildmenu {
                li {
                    a {
                        color: @colorblack !important;

                        span {
                            &:hover {
                                color: @colorladrillo !important;
                            }
                        }
                    }

                    ul.subchildmenu {
                        left: 80%;
                        top: 0;
                        position: absolute;
                        display: none;
                        background: @colorwhite;
                        max-width: 150px !important;
                        width: 100% !important;
                        box-shadow: 0 7px 10px -2px rgba(0, 0, 0, .25);
                        @media (max-width: 768px) {
                            background: @colorwhite;
                            position: initial !important;
                        }

                        li {
                            a {
                                color: @colorblack !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

ul.subchildmenu li {
    &:hover {
        ul {
            @media (min-width: 767px) {
                display: block !important;
            }
        }
    }
}

.page-header.type22 {
    .navigation {
        .level0 {
            .level-top {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
                font-size: 16px !important;
                line-height: 20px !important;

                &:after {
                    line-height: 20px !important;
                    content: none !important;
                }
            }
        }
    }
}

.navigation .parent .level-top:after {
    @media (max-width: 767px) {
        top: 5px;
    }
}

.page-header.type22 .navigation .level0 .level-top {
    @media (max-width: 767px) {
        margin-top: 10px;
        margin-bottom: 5px;
        max-width: 90%;
    }
}

.icon-menu-right {
    width: 10px;
}
