<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Customer\Block\Widget\Gender;

/** @var Gender $block */
?>
<div class="field gender<?= $block->isRequired() ? ' required' : ''?>">

    <div class="ctrl-gender control">
        <select id="<?= $block->escapeHtmlAttr($block->getFieldId('gender')) ?>" name="<?= $block->escapeHtmlAttr($block->getFieldName('gender')) ?>" title="<?= $block->escapeHtmlAttr($block->getStoreLabel('gender')) ?>"<?php if ($block->isRequired()) : ?> class="validate-select" data-validate="{required:true}"<?php endif; ?>>
            <?php $options = $block->getGenderOptions(); ?>
            <?php $value = $block->getGender(); ?>
            <?php foreach ($options as $option) : ?>
                <option value="<?= $block->escapeHtmlAttr($option->getValue()) ?>"<?= ($option->getValue() == $value) ? ' selected="selected"' : '' ?>><?= $block->escapeHtml(__($option->getLabel())) ?></option>
            <?php endforeach;?>
        </select>
        <div class="gender-select">
            <div class="inptgender">
                <input value="<?= $block->escapeHtmlAttr($option->getValue()) ?>" id="women" class="selectgender" type="radio" name="<?= $block->escapeHtmlAttr($block->getFieldName('gender')) ?>">
                <label for="women">Mujer</label>
            </div>
            <div class="inptgender">
                <input value="<?= $block->escapeHtmlAttr($option->getValue()) ?>" id="man" class="selectgender" type="radio" name="<?= $block->escapeHtmlAttr($block->getFieldName('gender')) ?>">
                <label for="man">Hombre</label>
            </div>
        </div>
    </div>
</div>
