@import '_variables.less';

.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
    .fotorama__thumb.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img {
        border: 1px solid @colorrgbablack !important;
    }
}

.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
    .fotorama__nav--thumbs .fotorama__thumb {
        border: 1px solid @colorblack !important;
    }

    .fotorama__thumb.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img {
        @media (max-width: 768px) {
            background: @colorblack !important;
        }
    }
}

.fotorama__arr__arr {
    display: none !important;
}

.fotorama__stage__frame.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img.magnify-wheel-loaded {
    @media (max-width: 768px) {
        visibility: hidden !important;
        opacity: 0 !important;
    }
}

.fotorama__stage__frame.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img.magnify-wheel-loaded.fotorama__active {
    @media (max-width: 768px) {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.fotorama__stage__frame.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img.fotorama__active.magnify-wheel-loaded {
    @media (max-width: 768px) {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.product-social-links {
    display: none !important;
}

div#info-product-content {
    max-width: 60%;
    margin: 0 auto;
    @media (max-width: 1024px) {
        max-width: 75% !important;
    }
    @media (max-width: 768px) {
        max-width: 100% !important;
    }
    @media (max-width: 380px) {
        margin-left: 0 !important;
    }

    .product.media {
        @media (max-width: 768px) {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            float: none !important;
        }
        @media (max-width: 544px) {
            width: 100% !important;
        }
        @media (max-width: 380px) {
            width: 85% !important;
        }

        .gallery-placeholder {
            .fotorama {
                @media (max-width: 768px) {
                    max-width: 80% !important;
                    margin: 0 auto;
                }
                @media (max-width: 544px) {
                    max-width: 100% !important;
                    margin: 0 auto;
                }

                .fotorama__wrap {
                    .fotorama__stage {
                        width: 500px !important;
                        max-width: 500px !important;
                        max-height: 400px !important;
                        height: 600px !important;
                        @media (max-width: 544px) {
                            max-width: 350px !important;
                            width: 100% !important;
                            margin: 0 auto !important;
                        }

                        .fotorama__stage__shaft.fotorama__grab {
                            border: none !important;
                            max-height: 500px !important;
                            height: 100% !important;

                            .fotorama__stage__frame.fotorama__active.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img {
                                max-width: 100% !important;
                                margin: 0 auto !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .product-info-main {
        padding-left: 30px !important;
        padding-bottom: 0 !important;
        margin-bottom: 5px !important;
        @media (max-width: 768px) {
            width: 80% !important;
            margin: 30px auto !important;
            text-align: left;
            float: none !important;
            padding: 0 !important;
        }
        @media (max-width: 544px) {
            width: 95% !important;
            margin-top: 0 !important;
        }
        @media (max-width: 380px) {
            width: 92% !important;
            padding: 0 !important;
            margin: 9px 0 0 15px !important;
        }
        @media (max-width: 320px) {
            width: 90% !important;
            padding: 0 !important;
            margin: 9px 0 0 15px !important;
        }

        .page-title-wrapper.product {
            h1.page-title {
                @media (max-width: 320px) {
                    font-size: 18px !important;
                }
            }
        }

        .descriptionprduct {
            display: none;
        }

        .product-add-form {
            form {
                .box-tocart {
                    .fieldset.price-addcart-product {
                        .actions {
                            button#product-addtocart-button {
                                width: 100%;
                                margin-bottom: 15px;
                            }

                            .paypal-button {
                                width: 65% !important;
                                position: relative;
                                z-index: 3;
                                @media (max-width: 1024px) {
                                    width: 74% !important;
                                }
                                @media (max-width: 768px) {
                                    width: 49% !important;
                                }
                                @media (max-width: 767px) {
                                    width: 75% !important;
                                    margin: auto;
                                }
                                @media (max-width: 414px) {
                                    width: 77% !important;
                                    margin: auto;
                                }
                                @media (max-width: 380px) {
                                    width: 87% !important;
                                    margin: auto;
                                }
                                @media (max-width: 360px) {
                                    width: 91% !important;
                                }
                                @media (max-width: 320px) {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
    @media (max-width: 768px) {
        margin-top: -24%;
    }

    .fotorama__nav.fotorama__nav--thumbs {
        @media (max-width: 768px) {
            width: 40px !important;
            float: left;
            margin-top: -35%;
            .fotorama__nav__shaft {
                .fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
                    .fotorama__thumb.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img {
                        @media (max-width: 768px) {
                            background: @colorblack;
                        }
                    }
                }
            }
        }

        .fotorama__thumb__arr.fotorama__thumb__arr--left.fotorama__arr--disabled {
            @media (max-width: 768px) {
                display: none !important;
            }
        }

        .fotorama__nav__shaft {
            .fotorama__thumb-border {
                @media (max-width: 768px) {
                    display: none !important;
                }
            }

            .fotorama__nav__frame--thumb {
                @media (max-width: 768px) {
                    width: 30px !important;
                    display: block;
                    height: 30px !important;
                }

                .fotorama__thumb.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img {
                    @media (max-width: 768px) {
                        width: 20px !important;
                        max-width: 20px !important;
                        height: 20px !important;
                        background: #ddd;
                        border-radius: 50%;
                    }

                    img {
                        @media (max-width: 768px) {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }

    .fotorama__stage__frame.fotorama__active {
        @media (max-width: 768px) {
            max-width: 400px !important;
            margin: 0 auto !important;
        }
    }

    .fotorama__stage__frame.fotorama__active.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img {
        @media (max-width: 768px) {
            max-width: 400px !important;
            margin: 0 auto !important;
        }

        img {
            @media (max-width: 768px) {
                top: 25% !important;
            }
        }
    }
}

.fotorama__nav--dots .fotorama__nav__frame {
    @media (max-width: 544px ) {
        display: block;
    }
}

.fotorama__dot {
    @media (max-width: 544px ) {
        width: 10px !important;
        height: 10px !important;
    }
}

.fotorama__active .fotorama__dot {
    @media (max-width: 544px ) {
        background-color: #0d0d0d !important;
        border-color: #0d0d0d !important;
    }
}

.fotorama__nav.fotorama__nav--dots {
    @media (max-width: 544px ) {
        max-width: 40px !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: -72% !important;
        padding-bottom: 60% !important;
    }
    @media (max-width: 380px ) {
        margin-top: -85% !important;
        padding-bottom: 33% !important;
    }
}

.fotorama__nav.fotorama__nav--thumbs.fotorama__shadows--right {
    @media (max-width: 768px) {
        width: 40px !important;
        float: left;
        margin-top: -24%
    }

    .fotorama__thumb__arr.fotorama__thumb__arr--left.fotorama__arr--disabled {
        @media (max-width: 768px) {
            display: none !important;
        }
    }

    .fotorama__nav__shaft.fotorama__grab {
        .fotorama__thumb-border {
            @media (max-width: 768px) {
                display: none !important;
            }
        }

        .fotorama__nav__frame.fotorama__nav__frame--thumb {
            @media (max-width: 768px) {
                width: 30px !important;
                display: block;
                height: 30px !important;
            }
        }

        .fotorama__nav__frame.fotorama__nav__frame--thumb {
            @media (max-width: 768px) {
                width: 30px !important;
                height: 30px !important;
                display: block;
            }

            .fotorama__thumb.fotorama_vertical_ratio.fotorama__loaded.fotorama__loaded--img {
                @media (max-width: 768px) {
                    width: 20px !important;
                    max-width: 20px !important;
                    height: 20px !important;
                    background: #ddd;
                    border-radius: 50%;
                }

                img {
                    @media (max-width: 768px) {
                        display: none !important;
                    }
                }
            }
        }

        .fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
            @media (max-width: 768px) {
                width: 30px !important;
                height: 30px !important;
                display: block;
            }
        }
    }
}

.catalog-product-view .page-wrapper > .breadcrumbs {
    display: block !important;
}

.tr-addwishlist {
    float: right;
    margin-top: -8%;
    @media (max-width: 380px ) {
        margin-top: -11% !important;
    }
}

.qty-troquer {
    width: 100px !important;

    .opccount {
        .inputtt {
            width: 35px !important;
        }
    }
}

.product.data.items {
    @media (max-width: 544px ) {
        position: relative;
        z-index: 1;
        border-bottom: 0;
        margin: 0;
        padding: 0;
    }
    @media (max-width: 380px ) {
        max-width: 100% !important;
    }

    .data.item.content {
        border: none !important;
        box-shadow: none !important;
        padding: 25px 0 !important;
        @media (max-width: 544px ) {
            box-sizing: border-box;
            float: right;
            margin-left: -100%;
            width: 100%;
            display: block;
            margin-top: 35px;
        }
        @media (max-width: 380px ) {
            box-sizing: border-box;
            float: none !important;
            margin-left: 0 !important;
            width: 100%;
            display: block;
            margin-top: 5px !important;
        }
    }

    .data.item.title {
        margin: 0 !important;
        border: none !important;

        .data.switch {
            border-bottom: 2px solid @colorarena !important;
            color: @colorblack !important;
            background: @colorwhite !important;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            text-transform: uppercase;
        }
    }

    .data.item.title.active {
        .data.switch {
            border-bottom: 2px solid @colorblack !important;
            border-top-color: transparent !important;
            font-weight: bold;
        }
    }
}

.product.data.items .item.title {
    a {
        &:after {
            content: none !important;
        }
    }
}

.data.item.title {
    @media (max-width: 544px) {
        float: left !important;
        width: auto !important;
        padding-top: 8px;
        padding-bottom: 0;
        box-sizing: border-box;
    }
    @media (max-width: 380px) {
        float: none !important;
        width: auto !important;
        padding-top: 8px;
        padding-bottom: 0;
        box-sizing: border-box;
    }
}

a.guide {
    color: @colorblack;
    text-decoration: underline;
}

.product.info.detailed {
    .data.item.content {
        [data-content-type="row"] {
            background: @colorwhite !important;

            [data-enable-parallax="0"] {
                background: @colorwhite !important;
            }
        }

        div p span {
            color: @colorrgbablack;

            strong {
                color: @colorblack !important;
                font-family: @AcuminProBold !important;
            }
        }

        div p.size-shoes, div p.size-clothes {
            display: inline-block;
        }

        div ul {
            display: inline-flex;
            margin-bottom: 0 !important;

            li {
                text-align: center;
                margin-bottom: 0 !important;
            }

            span.num {
                background-color: @colorarena;
                padding: 7px 20px;
                margin-right: 10px;
                border-radius: 5px;
                font-family: @AcuminProBook;
                @media (max-width: 320px) {
                    padding: 5px 15px;
                }
            }

            span.label {
                line-height: 3;
                color: @colorparrafo;
                font-size: 12px;
                @media (max-width: 320px) {
                    font-size: 11px;
                }
            }
        }
    }
}

a.action.towishlist-prod-tr {
    visibility: visible !important;
    opacity: 1 !important;
    border: none !important;
    display: inline-block !important;
    background-color: transparent !important;
    vertical-align: middle;
    position: relative;
    transition: all 0.3s;

    &:before {
        content: '' !important;
        background-position: 306px 22px !important;
        background-size: 376px 22px;
        background-image: @spriticons;
        width: 24px !important;
        height: 22px !important;
        font-size: 20px;
        display: block;
    }
}

.description-sku-tr.product.attribute.overview {
    display: none;
}

.outstockalert {
    margin: 15px 0 !important;

    .tag-labels {
        .labels-flag {
            .upsvendido {
                font-size: 15px !important;
                max-width: 150px !important;
                font-family: @AcuminProBold !important;
            }
        }
    }
}

.outstockalerthiden {
    display: none !important;
}

.outstockalertactive {
    display: block;
}

.labels-products-tag {
    margin-top: 11px !important;

    .attributesproduct {
        padding: 0;
        margin-bottom: 10px !important;

        li {
            display: inline-block;
            padding: 6px 10px;
            margin: 0 5px 0 0;
            border-radius: 5px;
        }

        .categorycircle {
            background: @colorarena;

            span {
                font-family: @AcuminProBold;
                color: @colorblack;
            }
        }

        .productnew {
            background: @colorazul;

            span {
                font-family: @AcuminProBold;
                color: @colorwhite;
            }
        }

        .percentdiscount {
            background: @colorladrillo;

            span {
                font-family: @AcuminProBold;
                color: @colorwhite;
            }
        }

        .placeproduct {
            background: @colorcoral;

            span {
                font-family: @AcuminProBold;
                color: @colorwhite;
            }
        }
    }
}

//Products related

.owl-item span.priceoriginal {
    display: none !important;
}

div#product-recomendados {
    .field.choice.related {
        display: none !important;
    }
}

.block.related {
    margin-bottom: 0 !important;
}

.bg-full-related {
    @media (max-width: 2560px) and (min-width: 2160px) {
        width: 100vw;
        height: 700px;
        background-color: @colorbackground;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 122%)" !important;
    }
    @media (max-width: 1980px) and (min-width: 1600px) {
        width: 100vw;
        height: 700px;
        background-color: @colorbackground;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 113.5%)" !important;
    }
}
