@import '_variables.less';

.products-grid {
    .product-item {
        padding: 10px;
        @media (max-width: 1024px) {
            padding: 5px;
        }

        .product-item-info.type1 {
            height: 490px;
            border-radius: 10px;
            @media (max-width: 1024px) {
                height: 385px;
            }
            @media (max-width: 767px) {
                height: 380px;
            }
            @media (max-width: 424px) {
                height: 380px;
            }
            @media (max-width: 360px) {
                height: 355px;
            }
            @media (max-width: 320px) {
                height: 315px;
            }
        }
    }
}

.products-grid .product-item-details .product-item-actions .tobag {
    width: 22px;
    height: 22px;

    span {
        visibility: hidden !important;
    }
}

.icons-cart-view-wish {
    padding: 5px 0;
}

.iconview {
    margin-left: 12px !important;

    a.icontr-quickview {
        vertical-align: middle;
        position: relative;
        transition: all 0.3s;
        width: 22px;
        height: 22px;
        margin-left: 15px;

        &:before {
            content: '' !important;
            background-position: 24px 22px !important;
            background-size: 390px 22px;
            background-image: @spriticons;
            width: 24px !important;
            height: 22px !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 17px;
            line-height: inherit;
            color: inherit;
            font-family: 'porto-icons', serif;
            vertical-align: middle;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            speak: none;
            text-align: center;
        }
    }
}

.products-grid .product-item .product-item-info:hover > a:not(.weltpixel-quickview):after {
    opacity: 0.1;
    visibility: visible;
}

.products-grid .product-item .product-item-info.type3 .weltpixel-quickview.weltpixel_quickview_button_v2 {
    border-radius: 0 0 5px 5px;
    font-family: "Open Sans", serif;
    letter-spacing: 0;
}

.page-main {
    max-width: 100% !important;
    padding: 0;
}

.columns .column.main {
    padding: 0;
}

.page-title-wrapper.product {
    display: block !important;
    border-left: none !important;
}

#layer-product-list {
    .products-list {
        .product-items {
            .product-item {
                .product-item-info {
                    .details-product-tr {
                        display: flex !important;
                        flex-direction: column !important;

                        .product-item-inner {
                            order: 3;
                        }

                        .product-item-name {
                            order: 1;
                        }

                        .product-item-description {
                            order: 2;
                        }

                        .price-final_price {
                            order: 4;
                        }
                    }
                }
            }
        }
    }
}

.products.wrapper.grid.products-grid .filterproducts .owl-stage-outer .owl-stage .owl-item .product-item .product-item-info .product-item-photo {
    max-height: 335px !important;
    height: 335px !important;
    padding: 0 10px;

    @media (max-width: 1025px) and (min-width: 1023px) {
        height: 230px !important;
    }
    @media (max-width: 768px) {
        height: 230px !important;
    }
    @media (max-width: 576px) {
        height: 310px !important;
    }
    @media (max-width: 425px) {
        height: 210px !important;
    }
    @media (max-width: 375px) {
        height: 170px !important;
    }
    @media (max-width: 360px) {
        height: 176px !important;
    }
    @media (max-width: 320px) {
        height: 140px !important;
    }
}

.details-product-tr {
    padding-top: 0 !important;
    text-align: left !important;
    @media (max-width: 767px) {
        width: 100% !important;
        padding-left: 20px !important;
    }

    .product-item-name {
        margin-top: 7px !important;

        .product-item-link {
            color: @colorblack !important;
            font-family: @AcuminProBold !important;
        }
    }

    .product-item-inner {
        margin: 5px 0 0 !important;

        .product-item-actions {
            text-align: left !important;
            margin-left: 0 !important;
        }
    }

    strong.product-item-item {
        text-align: left !important;
    }

    .product.product-size {
        color: @colorparrafo;
        font-size: 14px;

    }
}

.fotorama__fullscreen-icon {
    color: @colorladrillo !important;
}

table#product-attribute-specs-table {
    @media (max-width: 544px) {
        margin: 20px 0 !important;
    }

    tr {
        th {
            @media (max-width: 544px) {
                display: none !important;
            }
        }

        td.col.data.Use.Status {
            @media (max-width: 544px) {
                display: block !important;
            }
        }

        td {
            @media (max-width: 544px) {
                display: none !important;
            }
        }
    }
}

td.col.data.Talla {
    @media (max-width: 544px) {
        display: none !important;
    }
    display: none !important;
}

th.col.label.Use.Status {
    display: none !important;
}

.use-state {
    p.condition-product {
        margin-top: 10px;

        .title-condition {
            font-size: 14px;
            text-transform: uppercase;
            color: @colorparrafo !important;
        }

        span.condition {
            text-transform: initial;
            font-size: 14px;
        }

        span.img-condition {
            margin-left: 10px;
            vertical-align: sub;
            cursor: pointer;
        }
    }

    .table-wrapper {
        margin-bottom: 0 !important;

        table {
            tbody {
                tr {
                    th {
                        display: none;
                    }

                    th.col.label.Use.Status {
                        display: inline-block !important;
                        padding-right: 5px !important;
                    }

                    td {
                        display: none;
                    }

                    td.col.data.Use.Status {
                        display: inline-block !important;

                        &:after {
                            content: '?';
                            padding: 0 5px;
                            top: -3px;
                            background: @colorccc;
                            border-radius: 50%;
                            color: @colorwhite;
                            margin-left: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.category-description.no-margin {
    margin-bottom: -10px !important;

    [data-enable-parallax="0"] {
        background: @colorwhite !important;

        .pagebuilder-column {
            &:nth-child(1) {
                padding: 0 !important;
            }
        }
    }
}

.sidebar.sidebar-main {
    padding: 0 15px !important;
}

img.product-image-photo.hover_image {
    top: 30px;
    left: 20px;
    width: 85%;
    padding: 0;
}

div#layer-product-list {
    dl.block {
        max-width: 1100px !important;
        width: 100% !important;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 13px;
        @media (max-width: 1025px) and (min-width: 1023px) {
            max-width: 720px !important;
        }
        @media (max-width: 900px) and (min-width: 768px) {
            max-width: 550px !important;
        }
        @media (max-width: 576px) {
            margin-bottom: 0 !important;
            margin-left: 4px !important;
        }
        @media (max-width: 320px) {
            margin-left: -3px !important;
        }

        dt.title {
            max-width: 230px;
            display: inline-flex;
            color: #999999 !important;
            margin-right: 8px;
        }

        dd.item {
            max-width: 180px !important;
            display: inline-flex;
            margin-right: 10px !important;

            a {
                color: @colorblack !important;
                font-family: @AcuminProBold;
                text-decoration: underline;
                margin-right: 5px;

                span {
                    padding-left: 10px;
                }
            }
        }
    }
}

.sidebar.sidebar-main {
    background: @colorwhite;
    border-radius: 10px;
}

#layered-filter-block-container {
    div#layered-filter-block {
        .block-title.filter-title {
            strong {
                z-index: 1 !important;
            }
        }
    }
}

div#layer-product-list {
    .products-grid {
        ol.filterproducts.products.list.items.product-items {
            li {
                div.product-item-info.type1 {
                    height: 452px;
                    border-radius: 10px;
                    @media (max-width: 767px) {
                        height: 380px;
                    }
                    @media (max-width: 380px) {
                        height: 360px;
                    }
                    @media (max-width: 360px) {
                        height: 350px;
                    }
                    @media (max-width: 320px) {
                        height: 325px;
                    }

                    .product.photo.product-item-photo {
                        padding: 0 10px 0 10px;

                        a img {
                            max-width: 90% !important;
                        }
                    }
                }
            }
        }
    }
}

div#layer-product-list {
    padding: 0 15px;
    @media (max-width: 576px) {
        margin-top: 10px !important;
    }

    .filterst-top-tr {
        font-size: 14px !important;
        padding: 0 0 10px !important;

        .justify-content-end {
            padding: 0 0 !important;

            .field.limiter {
                float: left !important;
                margin-right: 5px !important;

                label {
                    font-size: 14px !important;
                    font-family: @AcuminProBold;
                }
            }
        }

        .rigth-filterst-tr {
            .not-found-result-tr {
                margin-top: 5px !important;

                .message.notice {
                    background: @colorwhite !important;
                    color: @colorblack !important;
                }
            }

            dl.block {
                max-width: 630px !important;
                width: 100%;
                min-width: 630px !important;
                float: left;
                margin-top: -30px;

                dt.title {
                    display: inline-block;
                    margin-right: 15px;
                    color: @colorrgbablack !important;
                }

                dd.item {
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 0 !important;

                    a {
                        color: @colorblack !important;
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }

    .prodcts-count-tr {
        padding-top: 0;
        text-align: right;

        h5 {
            font-size: 14px !important;
            font-family: @AcuminProBold;
            margin-top: 9px !important;
        }
    }

    .show-filter-tr {
        .toolbar-sorter {
            label.sorter-label {
                font-family: @AcuminProBold;
                font-weight: bold !important;
                font-size: 14px !important;
            }
        }
    }
}

.block-category-list .block-title, .sidebar > .block.filter .options dt {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: 1px solid @colorccc;
}

.block-category-list .block-content, .sidebar > .block.filter .options dd {
    background-color: transparent !important;
    border: 0 !important;
}

.paginator-sec-tr {
    padding: 10px 0 !important;
}

#ln_slider_price .ui-slider-handle {
    background: @colorcoral !important;
}

.category-image {
    display: none !important;
}

.hide-whitespace {
    white-space: initial !important;
    width: 100% !important;
}

.hide-readmore {
    display: none !important;
}

div#category-banner-description {
    padding: 0 !important;
    background: @colorwhite;

    .img-banner-category {
        img {
            width: 100% !important;
            max-width: 100% !important;
            @media (max-width: 767px) {
                height: 133px !important;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 767px) {
        div.text-banner {
            bottom: 20px;
            top: auto;
        }
    }

    .description-banner-tr {
        .text-left-sust {
            padding-top: 36px;
            padding-left: 50px;
            padding-right: 50px;
            font-family: @AcuminProLight;
            font-size: 16px;
            color: @colorrgbablack;
            @media (max-width: 544px) {
                padding: 20px 15px;
            }

            .line {
                display: inline-block;
                width: 70px;
                height: 1px;
                background-color: @colorladrillo;
                margin: 0 0 50px;
                @media (max-width: 544px) {
                    margin: 0 0 20px;
                    display: block;
                }
            }

            p {
                @media (max-width: 544px) {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    transition: .3s;
                    width: 80%;
                    display: inline-block;
                }
            }

            span.leermas {
                display: none;
                @media (max-width: 544px) {
                    display: block;
                    float: right;
                    cursor: pointer;
                }
            }

            span.leermenos {
                display: none;
                @media (max-width: 544px) {
                    display: block;
                    float: right;
                    cursor: pointer;
                }
            }
        }
    }
}

.category-description {
    img {
        width: 100% !important;
        max-width: 100% !important;
        display: block !important;
    }
}

div#linebottomtr {
    margin-top: 20px;
}

.line-top-tr {
    background: @colorbackground;
    padding: 15px 0;
}

.line-top-cart-tr {
    background: @colorbackground !important;
    padding: 10px 0 !important;
}

button.action.tobag.primary.icon-addtocart {
    position: initial !important;
    visibility: visible !important;
    opacity: 1;
    border: none !important;
    float: left !important;
    padding: 0 !important;
    width: 22px !important;
    height: 22px !important;
    margin-bottom: 4px !important;
}

.products-grid .product-item-info:hover .product-item-details .product-item-actions .actions-secondary.towishlist {
    right: initial !important;
}

.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist {
    right: initial !important;
}

.icons-cart-view-wish {
    div {
        display: inline-block !important;
    }

    .iconview {
        @media (max-width: 767px) {
            display: none !important;
        }
    }

    .wish {
        margin-left: 10% !important;
    }
}

.icon-wishlist-tr {
    visibility: visible !important;
    opacity: 1 !important;
    border: none !important;
    display: inline-block !important;
    background-color: transparent !important;
}

.line-spacing {
    height: 30px;
    background: @colorbackground;
}

.page-wrapper {
    .breadcrumbs {
        background-color: transparent !important;
        border: none !important;
        max-width: 1440px !important;

        .items {
            max-width: 1380px !important;
            padding-top: 30px;
            padding-left: 0 !important;
            @media (max-width: 1024px) {
                padding-left: 30px !important;
            }

            li {
                vertical-align: inherit !important;
            }

            strong {
                line-height: 21px;
            }
        }
    }
}

.fotorama__stage {
    border: none !important;
}

span.price-wrapper span.price {
    font-size: 18px !important;
    @media (max-width: 544px) {
        font-size: 15px !important;
        padding-left: 10px !important;
    }
    @media (max-width: 320px) {
        font-size: 14px !important;
    }
}

.block-minicart .amount .price-wrapper:first-child .price {
    font-size: 17px !important;
    font-family: @AcuminProBold !important;
    color: @colorblack !important;
}

span.price-container.price-final_price.tax.weee {
    .price-wrapper {
        display: inline-block;
    }
}

.priceoriginal {
    display: inline-block !important;
    font-family: @AcuminProBook;
    font-size: 18px;
    color: #ccc;
    text-decoration: line-through;
}

.tr-original-price {
    color: rgba(0, 0, 0, .5);
    font-family: "Acumin Pro Book", serif;
    font-size: 18px;
    text-decoration: line-through;
    margin-left: 5px;
    @media (max-width: 767px) {
        font-size: 15px;
        margin-left: 15px;
    }
    @media (max-width: 424px) {
        margin-left: 10px;
    }
    @media (max-width: 360px) {
        font-size: 15px;

    }
    @media (max-width: 320px) {
        font-size: 14px;

    }
}

.price-box.price-final_price {
    display: inline-flex !important;
    padding-bottom: 0 !important;
    margin: 2px 0 !important;

    @media (max-width: 424px) {
        display: block !important;
    }
    @media (max-width: 767px) {
        padding-left: 0 !important;
        margin-left: -10px !important;
    }

    .old-price {
        margin-left: 10px;
    }

    .special-price {
        .price {
            color: @colorladrillo !important;
        }
    }

    span {
        &:nth-child(1) {
            order: 2;

            span.price {
                color: @colorblack;
                font-family: @AcuminProBook;
                font-size: 25px;
                font-weight: initial !important;
            }
        }

        &:nth-child(2) {
            order: 1;

            span.price {
                color: @colorblack;
                font-family: @AcuminProBook;
                font-size: 25px;
                font-weight: initial !important;
            }
        }
    }
}

.product-options-bottom .price-box .old-price, .product-info-price .price-box .old-price {
    margin-top: 0 !important;
    @media (max-width: 544px) {
        margin-top: 2px !important;
    }
}

.porcent-product-tr {
    position: initial !important;
    max-width: 50px !important;
    width: 100% !important;
    background-color: @colorladrillo !important;
    border-radius: 5px !important;
    padding: 6px 11px;
    color: @colorwhite;
    font-family: @AcuminProBold;
    font-size: 15px;
}

.product.photo.product-item-photo {
    border: none !important;
    max-height: 300px !important;
    height: 300px !important;
    @media (max-width: 576px) {
        max-height: 200px !important;
        height: 200px !important;
    }
    @media (max-width: 375px) {
        max-height: 180px !important;
        height: 180px !important;
    }
    @media (max-width: 360px) {
        max-height: 170px !important;
        height: 170px !important;
    }
    @media (max-width: 320px) {
        max-height: 150px !important;
        height: 150px !important;
    }

    a {
        img {
            max-width: 90% !important;
        }
    }

    .product-labels {
        display: none !important;
    }

    a.weltpixel-quickview.weltpixel_quickview_button_v2 {
        display: none !important;
    }
}

.modal-popup .modal-header {
    background: @colorcoral !important;
    color: @colorwhite !important;
}

button#product-addtocart-button {
    max-width: 300px;
    background: @colorblack !important;
    color: @colorwhite !important;
    height: 48px;
}

.box-gotoproduct #product-gotoproduct-button {
    border: 1px solid @colorblack !important;
}

.owl-bottom-narrow .owl-controls {
    margin-bottom: 50% !important;
    display: flex !important;
    margin-left: -15% !important;
}

.owl-theme .owl-dots .owl-dot {
    display: block !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: gray !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: gray !important;
}

.product-info-stock-sku {
    display: none !important;
}

.fotorama__thumb-border {
    border: none !important;
    background-image: none !important;
}

.fotorama__nav--thumbs .fotorama__thumb {
    border: none !important;
}

.fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
    text-align: center;
}

.fotorama__nav__frame.fotorama__nav__frame--thumb {
    margin: 0 10px;
    border: none !important;

    .fotorama__nav--thumbs .fotorama__thumb {
        border: none !important;
    }
}

.price-addcart-product {
	div {
		display: block !important;
	}

	.field.qty {
		margin: 15px 0 !important;

		.control {
			input {
				border: none;
				color: @colorblack;
			}
		}
	}

	.qty-changer {
		a {
			border: none !important;

			.porto-icon-down-dir {
				&:before {
					color: @colorblack;
				}
			}

			.porto-icon-up-dir {
				&:before {
					color: @colorblack;
				}
			}
		}
	}

	.actions {
		margin: 15px 0 !important;
		@media (max-width: 544px) {
			text-align: center;
		}

		button {
			border: none;
			background: @colorblack !important;
			color: @colorwhite !important;
			max-width: 300px;
			width: 100%;
			border-radius: 10px;
			font-size: 16px;
			font-family: @AcuminProBold;
		}
	}

	.moved-add-to-links {
		margin: 15px 0 !important;
		display: none !important;
	}
}
