// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@pager-action__background: @toolbar-element-background;
@pager__font-weight: @font-weight__bold;

//
//    Common
//  _____________________________________________

& when (@media-common =true) {

    .page-products .columns {
        position: relative;
        z-index: 1;
        padding-top: 60px;
    }

    .toolbar {
        select {
            .lib-css(background-color, @toolbar-element-background);
            border-radius: 3px;
            padding-top: 0;
            padding-bottom: 0;
            height: 26px;
        }

        text-align: center;
        &:extend(.abs-add-clearfix all);

        &-amount {
            position: static;
            display: block;
            float: left;
            line-height: @toolbar-mode-icon-font-size+2;
            padding: 6px 0;
            margin: 0;
            text-align: left;

            .products.wrapper~.toolbar & {
                display: none;
            }
        }

        .page-with-filter & {
            &-amount {
                position: static;
            }
        }

        &-products {
            .lib-css(background-color, @toolbar-background);

            .pages {
                display: none;

                .products.wrapper~& {
                    display: block;
                }
            }
        }

        .pages {
            margin-bottom: @indent__m;
        }

        .products.wrapper~& .pages {
            float: left;
            margin-bottom: 0;
        }
    }

    .sorter {
        float: right;

        .page-products & {
            position: static;
        }

        &-label {
            margin-bottom: 0;
            line-height: 26px;
            font-weight: 400;
        }

        &-options {
            margin: 0 @indent__xs 0 7px;
            width: auto;
        }

        &-action {
            display: inline-block;
            vertical-align: top;

            .lib-icon-font(@icon-arrow-up,
                @_icon-font-size: 16px,
                @_icon-font-color: @header-icons-color,
                @_icon-font-color-hover: @header-icons-color-hover );
            .lib-icon-text-hide();

            &:before {
                vertical-align: top;
            }

            &.sort-desc:before {
                content: @icon-arrow-down;
            }
        }
    }

    .modes {
        display: inline-block;
        margin-right: @indent__base;

        &>a {
            text-decoration: none;
        }

        &-label {
            &:extend(.abs-visually-hidden);
        }

        &-mode {
            float: left;
            border: 1px solid #ccc;
            font-weight: @font-weight__regular;
            .lib-css(color, #ccc);
            text-align: center;
            width: 26px;
            line-height: 26px;
            .lib-css(background-color, @toolbar-element-background);
            display: block;
            margin-right: 5px;
            border-radius: 3px;

            &:last-child {
                margin-right: 0;
            }

            &.active,
            &:hover {
                background-color: @theme-color;
                border-color: @theme-color;
                color: #fff;
            }

            .lib-icon-font(@icon-grid,
                @_icon-font-size: @toolbar-mode-icon-font-size,
                @_icon-font-text-hide: true);

            &:before {
                display: block;
            }
        }
    }

    .mode-list:before {
        content: @icon-list;
    }

    .limiter {
        float: right;

        .products.wrapper~.toolbar & {
            display: block;
        }

        &-options {
            width: auto;
            margin: 0 5px 0 7px;
        }

        & .label {
            font-weight: 400;
            margin: 0;
        }

        .control {
            display: inline-block;
        }
    }
}

//
//    Mobile
//--------------------------------------

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .toolbar-products {
        margin-bottom: 0;
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__s) {
    .page-products .columns {
        position: relative;
        z-index: 1;
        padding-top: 0;
    }
}
//Toolbar Style Troquer

@import '_variables.less';

.toolbar-top {
    margin-top: -54px;
    @media (max-width: 768px) {
        margin-top: -10px;
    }
    @media (max-width: 767px) {
        margin-top: 40px;
    }
}

div#paginator-product-list {
    margin-bottom: 12px;
    @media (max-width: 1025px) and (min-width: 1023px) {
        margin-bottom: -12px;
    }

    .filters-tr-list {
        .toolbar.toolbar-products {
            font-size: 14px !important;

            .row.d-flex.justify-content-end {
                padding: 0 !important;
                @media (max-width: 1025px) and (min-width: 1023px) {
                    margin-bottom: 30px;
                }

                .amounttr-count {
                    h5 {
                        font-size: 14px;
                        padding-top: 12px !important;
                        vertical-align: middle;
                        float: none !important;
                        text-align: right;
                        font-family: @AcuminProBold !important;
                        font-weight: bold !important;
                        @media (max-width: 1025px) and (min-width: 1023px) {
                            text-align: left !important;
                            margin-left: 7px;
                            font-size: 13px;
                        }
                        @media (max-width: 768px) {
                            text-align: left !important;
                            margin-left: 0;
                        }
                        @media (max-width: 576px) {
                            text-align: left !important;
                            margin-left: -10px;
                        }
                        @media (max-width: 320px) {
                            text-align: left !important;
                            margin-left: -18px;
                        }
                    }
                }

                .limitertr {
                    padding: 0 !important;
                    @media (max-width: 1025px) and (min-width: 1023px) {
                        left: -32px;
                    }
                    @media (max-width: 768px) {
                        margin-left: -15px !important;
                    }

                    .field.limiter {
                        text-align: right !important;
                        font-family: @AcuminProBold !important;
                        font-weight: bold !important;
                        padding-top: 4px;
                        @media (max-width: 768px) {
                            margin-right: -15px !important;
                        }
                        @media (max-width: 576px) {
                            margin-bottom: 15px !important;
                            margin-right: 0 !important;
                        }
                        @media (max-width: 360px) {
                            margin-right: 15px !important
                        }
                        @media (max-width: 320px) {
                            margin-bottom: 15px !important;
                            margin-right: 0 !important
                        }

                        label.label {
                            @media (max-width: 1025px) and (min-width: 1023px) {
                                font-size: 13px;
                            }
                        }

                        .control {
                            .limiter-options {
                                background-color: transparent;
                                @media (max-width: 1025px) and (min-width: 1023px) {
                                    margin: 0;
                                    font-size: 12px;
                                }
                                @media (max-width: 380px) {
                                    padding-left: 0;
                                }
                                @media (max-width: 360px) {
                                    margin-right: 0 !important;
                                }
                            }
                        }
                    }
                }

                .orderby-tr {
                    text-align: right;
                    padding: 0 5px !important;
                    @media (max-width: 1025px) and (min-width: 1023px) {
                        text-align: left !important;
                    }
                    @media (max-width: 576px) {
                        text-align: left !important;
                        padding: 0 0 0 15px !important;
                    }
                    @media (max-width: 320px) {
                        text-align: left !important;
                        padding: 0 12px !important;
                    }

                    .toolbar-sorter.sorter {
                        float: none;
                        margin-right: 0 !important;
                        font-family: @AcuminProBold !important;
                        font-weight: bold !important;
                        padding-top: 5px;
                        @media (max-width: 576px) {
                            margin-left: 4px;
                        }
                        @media (max-width: 380px) {
                            padding-top: 0;
                        }
                        @media (max-width: 320px) {
                            margin-top: -5px;
                            margin-left: 0;
                        }

                        select {
                            width: auto;
                        }

                        .sorter-label {
                            @media (max-width: 1025px) and (min-width: 1023px) {
                                margin-left: -32px;
                                font-size: 13px;
                            }
                        }

                        .sorter-options {
                            @media (max-width: 1025px) and (min-width: 1023px) {
                                margin: auto 0;
                                font-size: 10px !important;
                            }
                            @media (max-width: 380px) {
                                margin: 0;
                            }
                        }

                        select.sorter-options {
                            background-color: transparent;
                            @media (max-width: 380px) {
                                margin-right: 8px !important;
                            }
                            @media (max-width: 360px) {
                                margin-right: 3px !important;
                                padding-left: 4px;
                            }
                        }
                    }
                }

                .viewmode-tr {
                    padding: 3px 0 !important;
                    @media (max-width: 2500px) and (min-width: 768px) {
                        display: none;
                    }
                    @media (max-width: 576px) {
                        padding: 0 15px !important;
                    }
                    @media (max-width: 320px) {
                        padding: 0 5px !important;
                    }

                    .modes {
                        @media (max-width: 1025px) and (min-width: 1023px) {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .paginator-list-tr {
        text-align: right;
        padding-top: 7px;

        .pages {
            @media (max-width: 576px) {
                margin-right: 0 !important;
            }
            @media (max-width: 320px) {
                margin-right: -10px !important;
            }

            .item {
                a {
                    background-color: transparent;
                }
            }
        }
    }
}

.row.d-flex.justify-content-end.paginator-sec-tr {
    padding: 0 0 10px !important;
}

.attributes-intophoto {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
}

.img-campaign {
    position: absolute;
    right: 0;
    z-index: 3;
    padding: 10px 10px 0 0;
    img {
        height: 30px;
    }
}

.tag-attributes {
    display: flex;
    height: 20px;
    margin-top: 10px;

    .tag-welove {
        background-color: @colorarena;
        width: 60px;
        height: 20px;
        border-radius: 3px;
        margin-right: 5px;
        font-size: 12px;
        font-family: @AcuminProBold;
        line-height: 1.9;
        @media (max-width: 767px) {
            width: 55px;
            font-size: 11px;
            line-height: 2;
        }
        @media (max-width: 320px) {
            width: 50px;
            font-size: 10px;
            line-height: 2.2;
        }
    }

    .tag-lo-ultimo {
        background-color: @colorazul;
        width: 70px;
        height: 20px;
        border-radius: 3px;
        color: #ffffff;
        font-size: 12px;
        font-family: @AcuminProBold;
        line-height: 1.9;
        @media (max-width: 767px) {
            width: 62px;
            font-size: 11px;
            line-height: 2;
        }
        @media (max-width: 320px) {
            width: 57px;
            font-size: 10px;
            line-height: 2.2;
        }
    }
    .tag-campaign {
        background-color: #ed3833;
        width: auto;
        padding: 0 5px;
        height: 20px;
        border-radius: 3px;
        color: #ffffff;
        font-size: 12px;
        font-family: @AcuminProBold;
        line-height: 1.9;
        @media (max-width: 767px) {
            font-size: 11px;
            line-height: 2;
        }
        @media (max-width: 320px) {
            font-size: 10px;
            line-height: 2.2;
        }
    }
}

.category-selected-tr {
    margin-top: -38px;
    margin-left: 4px;
    @media (max-width: 1025px) and (min-width: 1023px) {
        margin-top: -35px;
    }
    @media (max-width: 768px) {
        margin-top: -34px;
    }
    @media (max-width: 576px) {
        margin-left: -5px;
        margin-top: 0 !important;
    }
    @media (max-width: 320px) {
        margin-left: -13px;
    }

    .labels-attributes {
        text-align: left;
        position: initial !important;

        ul.list-tagattributes-text {
            padding: 0 0 0 5px !important;
            margin: 0 !important;

            li {
                display: inline-block !important;
                margin: 5px;
                font-weight: 700;
                padding: 4px;
                border-radius: 0;
                width: 73px !important;
                text-align: center !important;
                @media (max-width: 544px) {
                    margin: 10px 3px 3px;
                    padding: 4px 0 1px 0 !important;
                }
                @media (max-width: 320px) {
                    margin: 10px 0 0;
                    padding: 4px 0 1px 0 !important;
                }
            }

            li.categoryattribute {
                .tag-bottom {
                    width: 60px;
                    height: 10px;
                    border-radius: 3px;
                    background: #ccc;
                    position: absolute;
                    margin: 17px -54px 0;
                }
            }

            li.newproduct {
                .tag-bottom {
                    width: 60px;
                    height: 10px;
                    border-radius: 3px;
                    background: @colorazul;
                    position: absolute;
                    margin: 17px -57px 0;
                }
            }
        }
    }
}

.labels-attributes {
    text-align: left;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;

    ul.list-tagattributes {
        padding: 0 !important;
        margin: 0 !important;

        li {
            display: block;
            margin: 5px 5px;
            font-weight: 700;
            padding: 5px;
            border-radius: 3px;
            width: 24px !important;
        }

        li.categoryattribute {
            background: @colorccc;
        }

        li.newproduct {
            background: @colorazul;
            color: @colorwhite;
        }
    }
}

.tag-labels {
    height: 25px;

    .labels-flag {
        margin: 8px 0 0 !important;
        padding: 0 !important;

        li {
            list-style: none;
        }

        li.upsvendido {
            background: @colorblack;
            max-width: 110px !important;
            color: @colorwhite !important;
            padding: 5px 5px 4px 5px;
            border-radius: 5px;
            text-align: center;
            font-family: @AcuminProBold;
            margin-top: -2px;
            position: absolute;
        }
    }
}
//Toolbar Style Troquer
