<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
// phpcs:disable Generic.WhiteSpace.ScopeIndent.IncorrectExact
// phpcs:disable Magento2.Security.LanguageConstruct.DirectOutput
?>
<?php
$_category = $block->getCurrentCategory();

$_imgHtml = '';
$_imgUrl = $block->getBaseurl() . substr($_category->getData('category_banner'), 1);
if ($_category->getData('category_banner')) {
    $description = $_category->getDescription();

    if (empty($description)) {
        $_imgHtml = '<div id="category-banner-description" class="row">'
            . '<div class="img-banner-category col-lg-12">'
            . '<img src="' . $block->escapeUrl($_imgUrl) . '" alt="' . $block->escapeHtmlAttr($_category->getName()) . '" title="' . $block->escapeHtmlAttr($_category->getName()) . '"/>'
            . '</div>'
            . '</div>';
    } else {
        $_imgHtml = '<div id="category-banner-description" class="row">' .
            '<div class="img-banner-category col-lg-7">' .
            '<img src="' . $block->escapeUrl($_imgUrl) . '" alt="' . $block->escapeHtmlAttr($_category->getName()) . '" title="' . $block->escapeHtmlAttr($_category->getName()) . '"/>' .
            '</div>' .
            '<div class="description-banner-tr col-lg-5 col-md-5 col-sm-5">' .
            '<div class="text-left-sust">' .
            '<span class="line"></span>' .
            '<p>' . $description . '</p>' .
            '<span class="leermas">Leer Más</span>' .
            '<span class="leermenos hide-readmore">Leer Menos</span>' .
            '</div>' .
            '</div>' .
            '</div>';
    }
    /* @noEscape */
    echo $_imgHtml;
}

?>

<script>
    require([
        'jquery'
    ], function ($) {
        $(".leermas").on('click', function () {
            $(".leermenos").removeClass("hide-readmore");
            $(".text-left-sust > div > div > div > p").addClass("hide-whitespace");
            $(this).addClass("hide-readmore");
        }, null);
        $(".leermenos").on('click', function () {
            $(".text-left-sust > div > div > div > p").removeClass("hide-whitespace");
            $('.leermas').removeClass("hide-readmore");
            $(this).addClass("hide-readmore");
        }, null);
    });
</script>
