@import '_variables.less';

.title-profile {
    text-align: center;
    margin: 30px 0 !important;

    h2 {
        margin-bottom: 0;
        font-family: @AcuminProBold;
    }

    h4.closesession {
        margin: 8px 0 0;
        font-size: 15px;
        text-align: right;
        margin-right: 100px;
        font-family: @AcuminProBold;

        a {
            color: @colorcoral !important;
            text-decoration: underline !important;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }
}

#tbl-notifications {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;

    .content-notifications {
        margin: 15px auto;
        background-color: @colorwhite;

        &:last-child {
            margin-bottom: 30px;
        }

        .unread {
            padding-left: 10px;
            border-top: none !important;
            border-right: none !important;
            border-bottom: none !important;
        }

        .info-section-notifications.unread {
            border-left: 6px solid @colorcoral;
            @media (max-width: 767px) {
                border-left: 11px solid @colorcoral;
            }
        }

        .info-section-notifications {
            padding: 15px 0;

            .notification-img {
                @media (max-width: 767px) {
                    padding-right: 0;
                }

                &:before {
                    width: 2px;
                    height: auto;
                    background: @colorcoral;
                }
            }

            .notification-info {
                @media (max-width: 767px) {
                    padding-right: 0;
                }

                a {
                    text-decoration: none;
                }

                strong {
                    font-size: 16px;
                    font-family: @AcuminProBold;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                .notification-time {
                    font-size: 13px;
                    margin: 8px 0 0;
                    color: rgba(0, 0, 0, .5);
                }

                button.btn-notification {
                    width: 70px;
                    height: 28px;
                    font-size: 15px;
                    color: @colorwhite;
                    margin-right: 25px;
                    border-radius: 50px;
                    font-family: @AcuminProBold;
                    background-color: @colorblack;

                    &:hover {
                        color: @colorwhite !important;
                        background-color: @colorblack !important;
                    }

                    @media (max-width: 320px) {
                        width: 60px;
                        margin-right: 15px;
                    }
                }

                span {
                    font-size: 15px;
                    cursor: pointer;
                    color: @colorcoral;
                    text-decoration: underline;
                }

                .read {
                    text-decoration: none;
                    color: rgba(0, 0, 0, .5);
                }
            }

            .notification-delete {
                margin: auto;

                h4 {
                    text-align: center;

                    &:before {
                        cursor: pointer;
                        font-size: 22px;
                        color: #b24f38;
                        content: '\02715';
                        font-family: 'porto-icons', serif;
                    }
                }
            }
        }
    }

    .time-group {
        font-size: 15px;
        margin: 25px 0 0;
        color: @colorrgbablack;
        font-family: @AcuminProBold;
        @media (max-width: 767px) {
            padding: 0 15px;
        }
    }
}
