<?php
/**
 * Copyright © 2018 Porto. All rights reserved.
 */

?>
<?php
/**
 * Top menu for store
 *
 * @see \Smartwave\Megamenu\Block\Topmenu
 */
?>
<?php
    $_helper = $this->helper('Smartwave\Megamenu\Helper\Data');
    $_config = $_helper->getConfig('sw_megamenu');
    $columnsLimit = 0;
    if($_config['general']['enable']) {
?>
<?php $_menu = $block->getMegamenuHtml(); ?>

<nav class="navigation sw-megamenxu" role="navigation">
    <ul>
        <?php echo $_menu; ?>
        <li class="menuvende ui-menu-item level0 fullwidth parent ">
            <a class="level-top" href="<?= $block->getBaseurl(); ?>vende">Vende</a>
        </li>
    </ul>
</nav>

<script type="text/javascript">
    require([
        'jquery',
        'Smartwave_Megamenu/js/sw_megamenu'
    ], function ($) {
        $(".sw-megamenu").swMegamenu();
    });
</script>
<?php
    } else {
?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit); ?>

<nav class="navigation sw-megamenu" role="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?php /* @escapeNotVerified */ echo $_menu; ?>
    </ul>
</nav>

<?php
    }
?>

<script type="text/javascript">
    require([
        'jquery',
        'Smartwave_Megamenu/js/sw_megamenu'
    ], function ($) {

        $("li.ui-menu-item > .open-children-toggle").off("click").on("click", function(){
            if(!$(this).parent().children(".submenu").hasClass("opened")) {
                $(this).parent().children(".submenu").addClass("opened");
                $(this).parent().children("a").addClass("ui-state-active");
            }
            else {
                $(this).parent().children(".submenu").removeClass("opened");
                $(this).parent().children("a").removeClass("ui-state-active");
            }
        });


    });
</script>

<script type="text/javascript">
require([
			'jquery',
			'owl.carousel/owl.carousel.min'
		], function($) {
        $(".subchildmenu").css('display', 'block !important');
        var menucount = document.getElementsByClassName("open-children-toggle");
        var i;
        for(i = 0; i < menucount.length; i++ ){
            menucount[i].addEventListener("click", function(){
                this.classList.toggle("arrow-open-menu");
                $(this).parent().children(".subchildmenu").toggle("openedmenuchild");
            });
        }

    });
	</script>

