<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\GiftMessage\Helper\Message;
use \Magento\Sales\Block\Order\View;

// phpcs:disable Magento2.Templates.ThisInTemplate
?>
<?php /** @var  $block View*/?>
<?php $_order = $block->getOrder() ?>

<div id="details-sales">
    <div class="title-sale">
        <h2>Detalle del pedido</h2>
    </div>
    <div class="summary-sale-details">
        <div class="details-info row d-flex justify-content-center">
            <div class="total-id col-lg-10 col-md-11 col-12">
                <ul id="list-details-shopping">
                    <li>
                        <div class="row">
                            <div class="col-12 col-lg-9 col-md-8">
                                <div class="left-info"><strong>N° de pedido  #<?= $block->escapeHtml($_order->getIncrementId()) ?></strong></div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-4">
                                <div class="rigth-info"><?= $_order->getCreatedAt(); ?></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-12 col-lg-9 col-md-8">
                                <div class="left-info totals-sale-price"><span>Total: <span class="totals-sale-tr"><?= $_order->formatPrice($_order->getGrandTotal()) ?></span></span></div>
                                <?php if($_order->getCouponCode() != ''):?>
                                    <div class="left-info"><span>Descuento: <?= $_order->formatPrice($_order->getDiscountAmount()) ?> (<?= $_order->getCouponCode() ?>)</span></div>
                                <?php endif; ?>
                            </div>
                            <div class="col-12 col-lg-3 col-md-4">
                                <div class="rigth-info count-articles"><?=$_order->getTotalItemCount();?> artículos</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-12 col-lg-9 col-md-8 ">
                            <?php
                            $payment = $_order->getPayment();
                            $method = $payment->getMethodInstance();
                            $methodTitle = $method->getTitle();
                            ?>
                                <div class="left-info"><span>Método de pago:</span><span class="methodtitle"> <?= str_replace("_"," ",$methodTitle); ?></span></div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-4">
                                <div class="rigth-info" data-th="<?= $block->escapeHtmlAttr(__('Status')) ?>">
                                <?php
                                    switch (trim($_order->getStatusLabel())) {
                                        case "Closed":
                                            ?>
                                            <span
                                                class="statusorder-closed"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                            <?php
                                            break;
                                         case "Pending":
                                            ?>
                                            <span
                                                class="statusorder-pending"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                            <?php
                                            break;
                                        case "Processing":
                                            ?>
                                            <span
                                                class="statusorder-processing"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                            <?php
                                            break;
                                        case "Canceled":
                                            ?>
                                            <span
                                                class="statusorder-canceled"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                            <?php
                                            break;
                                        case "Complete":
                                            ?>
                                            <span
                                                class="statusorder-completed"><?= $block->escapeHtml($_order->getStatusLabel()) ?></span>
                                            <?php
                                            break;
                                    } ?>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="info-shipping col-lg-10 col-md-11 col-12">
            <p class="text-shipping">
                <?= strtolower($_order->getShippingAddress()->getName()); ?> <br>
                <?=$_order->getShippingAddress()->getData("street").", ".$_order->getShippingAddress()->getData("city").", ".$_order->getShippingAddress()->getData("region").", ".$_order->getShippingAddress()->getData("postcode"); ?>
            </p>
            <div class="transit-timeline">
                <div class="content-step-order col-12">
                    <div class="bullets-order">
                        <input type="hidden" id="statusorder" name="custId" value="transito">
                        <section class="timeline-order">
                            <ol>
                                <li class="step-order-proce <?php if($_order->getStatus() == 'processing' || $_order->getStatus() == 'in_transit' || $_order->getStatus() == 'complete') echo 'active'?>">
                                    <div>
                                        <span>Procesando</span>
                                    </div>
                                </li>
                                <li class="step-order-transit <?php if($_order->getStatus() == 'in_transit' || $_order->getStatus() == 'complete') echo 'active'?>">
                                    <div>
                                        <span>En tránsito</span>
                                    </div>
                                </li>
                                <li class="step-order-entregado <?php if($_order->getStatus() == 'complete') echo 'active'?>">
                                    <div>
                                        <span>Entregado</span>
                                    </div>
                                </li>
                                <li class="step-order-tr"></li>
                            </ol>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="orders-details-tr order-details-items ordered">

    <div class="order-title">
        <strong><?= $block->escapeHtml(__('Items Ordered')) ?></strong>
        <?php if (!empty($_order->getTracksCollection()->getItems())) : ?>
            <?= $block->getChildHtml('tracking-info-link') ?>
        <?php endif; ?>
    </div>

    <?= $block->getChildHtml('order_items') ?>

    <?php if ($this->helper(Message::class)->isMessagesAllowed('order', $_order)
        && $_order->getGiftMessageId()
    ) : ?>
    <div class="block block-order-details-gift-message">
        <div class="block-title"><strong><?= $block->escapeHtml(__('Gift Message for This Order')) ?></strong></div>
        <?php
        $_giftMessage = $this->helper(Message::class)->getGiftMessageForEntity($_order);
        ?>
        <div class="block-content">
            <dl class="item-options">
                <dt class="item-sender"><strong class="label"><?= $block->escapeHtml(__('From')) ?></strong><?= $block->escapeHtml($_giftMessage->getSender()) ?></dt>
                <dt class="item-recipient"><strong class="label"><?= $block->escapeHtml(__('To')) ?></strong><?= $block->escapeHtml($_giftMessage->getRecipient()) ?></dt>
                <dd class="item-message">
                    <?= /* @noEscape */
                    $this->helper(Message::class)->getEscapedGiftMessage($_order) ?>
                </dd>
            </dl>
        </div>
    </div>
    <?php endif; ?>

    <div class="actions-toolbar">
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml($block->getBackTitle()) ?></span>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {

    });
</script>
