<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Cookie\Helper\Cookie;
use \Magento\GoogleTagManager\Block\Ga;
use \Magento\GoogleTagManager\Helper\Data;

?>
<?php
/** @var Ga $block */

$accountType = $block->getConfig(Data::XML_PATH_TYPE);
$gtmAccountId = $block->getConfig(Data::XML_PATH_CONTAINER_ID);
$gapAccountId = $block->getConfig(Data::XML_PATH_ACCOUNT);
switch ($accountType) {
    case Data::TYPE_TAG_MANAGER:
        if (!empty($gtmAccountId)) {
            ?>
            <!-- GOOGLE TAG MANAGER -->
            <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_GoogleTagManager/js/google-tag-manager": {
                        "isCookieRestrictionModeEnabled": <?= (int)$block->isCookieRestrictionModeEnabled() ?>,
                        "currentWebsite": <?= (int)$block->getCurrentWebsiteId() ?>,
                        "cookieName": "<?= /* @noEscape */ Cookie::IS_USER_ALLOWED_SAVE_COOKIE ?>",
                        "gtmAccountId": "<?= $block->escapeJs($gtmAccountId) ?>",
                        "storeCurrencyCode": "<?= $block->escapeJs($block->getStoreCurrencyCode()) ?>",
                        "ordersData": <?= /* @noEscape */ json_encode($block->getOrdersDataArray()) ?>
                    }
                }
            }
            </script>
            <!-- END GOOGLE TAG MANAGER -->
            <?php
        }
        break;
    case Data::TYPE_UNIVERSAL:
        if (!empty($gapAccountId)) {
            ?>
            <!-- BEGIN GOOGLE UNIVERSAL ANALYTICS CODE -->
            <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_GoogleAnalytics/js/google-analytics": {
                        "isCookieRestrictionModeEnabled": <?= (int)$block->isCookieRestrictionModeEnabled() ?>,
                        "currentWebsite": <?= (int)$block->getCurrentWebsiteId() ?>,
                        "cookieName": "<?= /* @noEscape */ Cookie::IS_USER_ALLOWED_SAVE_COOKIE ?>",
                        "ordersTrackingData": <?= /* @noEscape */ json_encode($block->getOrdersTrackingData()) ?>,
                        "pageTrackingData": <?= /* @noEscape */ json_encode($block->getPageTrackingData($gapAccountId)) ?>
                    }
                }
            }
            </script>
            <!-- END GOOGLE UNIVERSAL ANALYTICS CODE -->
            <?php
        }
        break;
}
