<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\GoogleTagManager\Block\Ga;
use \Magento\GoogleTagManager\Helper\Data;

/** @var Ga $block */

$accountType = $block->getConfig(Data::XML_PATH_TYPE);
$gtmAccountId = $block->getConfig(Data::XML_PATH_CONTAINER_ID);
if ($accountType === Data::TYPE_TAG_MANAGER && $gtmAccountId) : ?>
    <!-- GOOGLE TAG MANAGER -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=<?= $block->escapeUrl($gtmAccountId) ?>"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- END GOOGLE TAG MANAGER -->
<?php endif; ?>
