<?php

/** @noinspection PhpDeprecationInspection */
/** @noinspection PhpUnused */

/** @noinspection PhpUndefinedMethodInspection */

use \Magento\Customer\Block\Widget\Company;
use \Magento\Customer\Block\Widget\Fax;
use \Magento\Customer\Block\Widget\Telephone;
use \Magento\Customer\Helper\Address;
use \Magento\Framework\Escaper;
use \Magento\Framework\Exception\LocalizedException;
use \Troquer\Customer\Block\Address\Edit;

/**
 * @var Edit $block
 * @var Escaper $escaper
 */

?>
<?php try {
    $viewModel = $block->getViewModel();
    $_company = $block->getLayout()->createBlock(Company::class); ?>
    <?php $_telephone = $block->getLayout()->createBlock(Telephone::class) ?>
    <?php $_fax = $block->getLayout()->createBlock(Fax::class) ?>
    <?php $_displayAll = $block->getConfig('general/region/display_all'); ?>
    <?php $_selectRegion = 'Please select a region, state or province.'; ?>
    <?php $_regionValidationClass = $viewModel->addressGetAttributeValidationClass('region'); ?>

    <form class="form-address-edit" action="<?= $escaper->escapeUrl($block->getSaveUrl()) ?>" method="post"
          id="form-validate"
          enctype="multipart/form-data" data-hasrequired="<?= $escaper->escapeHtmlAttr(__('* Required Fields')) ?>">
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $escaper->escapeHtmlAttr(__('Contact Information')) ?></span></legend>
            <br>
            <?= $block->getBlockHtml('formkey') ?>
            <input type="hidden" name="success_url" value="<?= $escaper->escapeUrl($block->getSuccessUrl()) ?>">
            <input type="hidden" name="error_url" value="<?= $escaper->escapeUrl($block->getErrorUrl()) ?>">
            <?= $block->getNameBlockHtml() ?>

            <?php if ($_company->isEnabled()) : ?>
                <?= $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php if ($_telephone->isEnabled()) : ?>
                <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php if ($_fax->isEnabled()) : ?>
                <?= $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
            <?php endif ?>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $escaper->escapeHtmlAttr(__('Address')) ?></span></legend>
            <br>
            <div class="text-indicator-address">
                <p>Añade tu dirección, al escribir los 5 dígitos de tu código postal selecciona tu colonia y escribe tus
                    referencias, los campos municipio y estado se llenarán automáticamente.</p>
            </div>
            <div class="all-info-address">
                <div class="field street fieldstreet input-edit-info inpt-edit">
                    <label class="label"><span><?php /* @escapeNotVerified */
                            echo __('Street') ?></span></label>
                    <input type="text" name="street[1]"
                           value="<?php echo $escaper->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                           title="<?php /* @escapeNotVerified */
                           echo __('Street') ?>" id="street_1" class="required-entry"/>
                    <br>
                    <br>
                    <div class="d-flex">
                        <div class="external">
                            <label class="label"> <span><?php /* @escapeNotVerified */
                                    echo __('External Number') ?></span></label>
                            <input type="text" name="street[2]"
                                   value="<?php echo $escaper->escapeHtmlAttr($block->getStreetLine(2)) ?>"
                                   maxlength="14"
                                   minlength="1" title="<?php /* @escapeNotVerified */
                                   echo __('Street Number') ?>" id="street_2" class="numbers required-entry"/>
                        </div>
                        <br>
                        <br>
                        <div class="internal">
                            <label class="label" for="street_3">
                            <span><?php /* @escapeNotVerified */
                                echo __('House Number') ?></span>
                            </label>
                            <input type="text" name="street[3]"
                                   value="<?php echo $escaper->escapeHtmlAttr($block->getStreetLine(3)) ?>"
                                   maxlength="14"
                                   minlength="1" title="<?php /* @escapeNotVerified */
                            echo __('House Number') ?>" id="street_3"
                                   class="input-text max_text_length min_text_length numbers">
                        </div>
                    </div>
                </div>
                <div class="field zip required input-edit-info inpt-edit">
                    <label class="label" for="zip">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('postcode') ?></span><span id="zipButton"><img
                                src="<?= $block->getBaseurl(); ?>media/troquer/question.png" alt=""></span>
                    </label>
                    <div class="control">
                        <input type="text" name="postcode"
                               value="<?= $escaper->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                               title="<?= /* @noEscape */
                               $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" maxlength="5" class="numbers"/>
                    </div>
                </div>
                <div class="field suburb required input-edit-info inpt-edit">
                    <label class="label" for="suburb">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('suburb') ?></span>
                    </label>
                    <div class="control">
                        <select title="suburb_id" id="suburb_id" name="suburb_id" class="form-control form-control validate-select suburb_id  required-entry">
                        </select>
                        <input type="hidden"
                               id="suburb"
                               name="suburb"
                               value="<?= $block->getAddress()->getCustomAttribute("suburb") ? $block->getAddress()->getCustomAttribute("suburb")->getValue() : '';?>"
                               title=""
                               class="input-text validate-not-number-first field_address_bloq
                        <?= $escaper->escapeHtmlAttr($_regionValidationClass) ?>"
                            <?= !$_displayAll ? ' disabled="disabled"' : '' ?>/>
                    </div>
                </div>
                <div class="field city required input-edit-info inpt-edit">
                    <label class="label" for="city">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('city') ?></span>
                    </label>
                    <div class="control">
                        <input type="text" name="city"
                               value="<?= $escaper->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                               title="<?= /* @noEscape */
                               $block->getAttributeData()->getFrontendLabel('city') ?>" id="city"
                               class="field_address_bloq required-entry"/>
                    </div>
                </div>
                <div class="field region required input-edit-info inpt-edit">
                    <label class="label" for="region_id">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('region') ?></span>
                    </label>
                    <div class="control">
                        <select id="region_id" name="region_id"
                                title="<?= /* @noEscape */
                                $block->getRegion() ?>"
                                class="validate-select region_id field_address_bloq"
                            <?= /* @noEscape */
                            !$_displayAll ? ' disabled="disabled"' : '' ?>>
                            <option value=""><?= $escaper->escapeHtml(__($_selectRegion)) ?></option>
                        </select>
                        <input type="text"
                               id="region"
                               name="region"
                               value="<?= $escaper->escapeHtmlAttr($block->getRegion()) ?>"
                               title="<?= /* @noEscape */
                               $block->getRegion() ?>"
                               class="input-text validate-not-number-first field_address_bloq
                        <?= $escaper->escapeHtmlAttr($_regionValidationClass) ?>"
                            <?= !$_displayAll ? ' disabled="disabled"' : '' ?>/>
                    </div>
                </div>
                <?php if ($this->helper(Address::class)->isVatAttributeVisible()) : ?>
                    <div class="field taxvat">
                        <label class="label" for="vat_id">
                        <span><?= /* @noEscape */
                            $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                        </label>
                        <div class="control">
                            <input type="text" name="vat_id"
                                   value="<?= $escaper->escapeHtmlAttr($block->getAddress()->getVatId()) ?>"
                                   title="<?= /* @noEscape */
                                   $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                                   class="input-text <?= $escaper->escapeHtmlAttr($this->helper(Address::class)->getAttributeValidationClass('vat_id')) ?>"
                                   id="vat_id">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="field country required">
                    <label class="label" for="country">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('country_id') ?></span>
                    </label>
                    <div class="control">
                        <?= $block->getCountryHtmlSelect() ?>
                    </div>
                </div>
            </div>
            <?php $addressAttributes = $block->getLayout()->getBlock('customer_form_address_user_attributes'); ?>
            <?php if ($addressAttributes) : ?>
                <?php echo $addressAttributes->setShowContainer(false)->toHtml(); ?>
            <?php endif; ?>

            <?php if ($block->isDefaultBilling()) : ?>
            <?php elseif ($block->canSetAsDefaultBilling() && !$block->getAddress()->getCustomAttribute('is_for_sales')) : ?>
                <div class="field choice set billing">
                    <input type="checkbox" id="primary_billing" name="default_billing" value="1"
                           class="checkbox inputaddress">
                    <label class="label" for="primary_billing">
                        <span><?= $escaper->escapeHtmlAttr(__('Use as my default billing address')) ?></span>
                    </label>
                </div>
            <?php elseif ($block->getAddress()->getCustomAttribute('is_for_sales')) : ?>
                <input type="hidden" name="default_billing" value="0"/>
            <?php else : ?>
                <input type="hidden" name="default_billing" value="1"/>
            <?php endif; ?>

            <?php if ($block->isDefaultShipping()) : ?>
            <?php elseif ($block->canSetAsDefaultShipping() && !$block->getAddress()->getCustomAttribute('is_for_sales')) : ?>
                <div class="field choice set shipping">
                    <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                    <label class="label" for="primary_shipping">
                        <span><?= $escaper->escapeHtmlAttr(__('Use as my default shopping address')) ?></span>
                    </label>
                </div>
            <?php elseif ($block->getAddress()->getCustomAttribute('is_for_sales')) : ?>
                <input type="hidden" name="default_shipping" value="0"/>
            <?php else : ?>
                <input type="hidden" name="default_shipping" value="1">
            <?php endif; ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" data-action="save-address"
                        title="<?= $escaper->escapeHtmlAttr(__('Save Address')) ?>">
                    <span><?= $escaper->escapeHtmlAttr(__('Save Address')) ?></span>
                </button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $escaper->escapeUrl($block->getBackUrl()) ?>">
                    <span><?= $escaper->escapeHtmlAttr(__('Go back')) ?></span>
                </a>
            </div>
        </div>
    </form>
    <div id="zipModal" class="modal  modalcp">
        <div class="modal-content content-modalguidelines">
            <div class="encabezado-modal">
                <span class="title-condition">Código postal</span>
                <button type="button" class="zip-modal-close close" data-dismiss="modal"></button>
            </div>
            <div class="bodymodalcp">
                <p class="text-price text-center">Escribe los 5 dígitos de tu código postal,</p>
                <p class="text-price text-center zip-bold">52178</p>
                <p class="text-price text-center">incluso si comienza con cero:</p>
                <p class="text-price text-center zip-bold">03810</p>
                <p class="text-price text-center">es importante que lo escribas correctamente para poder mostrar tu
                    colonia.</p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            $(document).ready(function() {
                let existCondition = setInterval(function () {
                    let zip = $("#zip");
                    let valcp = zip.val();
                    let lengthcp = zip.val().length;
                    if (valcp !== '' && lengthcp === 5) {
                        clearInterval(existCondition);
                        selectAddress(valcp);
                    }
                }, 500);
            });

            $('.numbers').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g,'');
            }, null);

            $("#zip").on("keyup", function () {
                let lengthcp = $(this).val().length;
                let code_cp = $(this).val();
                if (lengthcp === 5) {
                    selectAddress(code_cp);
                }
            }, null);
            let suburbedit = "<?= $block->getAddress()->getCustomAttribute("suburb") ? trim($block->getAddress()->getCustomAttribute("suburb")->getValue()) : '';?>";

            function selectAddress(cpcode) {
                $.ajax({
                    url: "<?= $block->getBaseUrl(); ?>customer/address/addresscp",
                    type: "POST",
                    showLoader: true,
                    cache: true,
                    data: {zip_code: cpcode},

                    success: function (response) {
                        $("#suburb_id").empty().append("<option value=''>Selecciona tu colonia</option>");
                        Object.keys(response[0]["neighborhood"]).forEach(function (key) {
                            let option = response[0]["neighborhood"][key];
                            $("#suburb_id").append("<option value='" + option["id"] + "'>" + option["colonia"] + "</option>");
                        });
                        $("#suburb_id option:contains('" + suburbedit + "')").attr('selected', true);
                        if(suburbedit) {
                            $("#suburb").val(suburbedit);
                        } else if(response[0]["neighborhood"].length) {
                            $("#suburb").val(response[0]["neighborhood"][0]["colonia"]);
                        }
                        if(response[0].region) {
                            $("#region_id option:contains('" + response[0].region["region_name"] + "')").each(function () {
                                if($(this).text() === response[0].region["region_name"]){
                                    $(this).attr('selected', true);
                                }
                            });
                            $("#region").val(response[0].region["region_name"]);
                        }
                        if(response[0]["municipality"]) {
                            $("#city").val(response[0]["municipality"]["municipality_name"]);
                        }
                    },
                    error: function (response) {
                    }
                });
            }

            $('#suburb_id').on('change', function() {
                let optionsText = this.options[this.selectedIndex].text;
                $("#suburb").val(optionsText);
            }, null);

            const modal_service = $("#zipModal");
            let btn_service = $("#zipButton");
            let span_service = $(".zip-modal-close")[0];
            btn_service.on("click", function () {
                modal_service.show();
            }, null);
            $(span_service).on("click", function () {
                modal_service.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal_service) {
                    modal_service.show();
                }
            }

            let urlactual = window.location.href;
            let result = urlactual.search("edit");
            if (result > 0) {
                $('#all-info-address').addClass('all-info-address');
                $('.input-edit-info').removeClass('inpt-edit');
            }

            $("#primary_shipping").on("click", function () {
                $(".inputaddress").prop("checked", this.checked);
            }, null);
        });
    </script>
    <script type="text/x-magento-init">
        {
            "#form-validate": {
                "addressValidation": {
                    "postCodes": <?= /* @noEscape */
        $block->getPostCodeConfig()->getSerializedPostCodes() ?>
                }
            },
            "#country": {
                "regionUpdater": {
                    "optionalRegionAllowed": <?= /* @noEscape */
        $_displayAll ? 'true' : 'false' ?>,
                    "regionListId": "#region_id",
                    "regionInputId": "#region",
                    "postcodeId": "#zip",
                    "form": "#form-validate",
                    "regionJson": <?= /* @noEscape */
        $viewModel->dataGetRegionJson() ?>,
                    "defaultRegion": "<?= (int)$block->getRegionId() ?>",
                    "countriesWithOptionalZip": <?= /* @noEscape */
        $viewModel->dataGetCountriesWithOptionalZip(true) ?>
                }
            }
        }

    </script>
<?php } catch (LocalizedException $e) {
} ?>
