<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Troquer\Customer\Block\Address\Grid;

/** @var Grid $block */
$customerAddressView = $block->getData('customer_address');
?>

<div class="block block-addresses-list">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Additional Address - Shopping')) ?></strong></div>
    <span class="lineinf"></span>
    <div class="block-content">
        <?php if ($_pAddsses = $block->getAdditionalAddresses()) : ?>

            <div class="additional-addresses">
                <table class="data table table-additional-addresses-items history" id="additional-addresses-table">
                    <div class="content-aditional-addresses row">
                    <div id="address_items">
                        <div class="content_address_items  item_one">
                            <?php foreach ($_pAddsses as $address) : ?>
                                <div class="item content-address ">
                                    <div class="content">
                                        <span data-th="<?= $block->escapeHtmlAttr(__('First Name')) ?>" class="firstname"><?= $block->escapeHtml($address->getFirstname()) ?>&nbsp;<strong data-th="<?= $block->escapeHtmlAttr(__('Last Name')) ?>" class="lastname"><?= $block->escapeHtml($address->getLastname()) ?></strong></span>
                                        <p data-th="<?= $block->escapeHtmlAttr(__('Street Address')) ?>" class="streetaddress"><?= $block->escapeHtml($block->getStreetAddress($address)) ?></p>
                                        <p data-th="<?= $block->escapeHtmlAttr(__('City')) ?>" class="city"><?= $block->escapeHtml($address->getCity()) ?></p>
                                        <p data-th="<?= $block->escapeHtmlAttr(__('State')) ?>" class="state"><?= $block->escapeHtml($address->getRegion()->getRegion()) ?></p>
                                        <p data-th="<?= $block->escapeHtmlAttr(__('Zip/Postal Code')) ?>" class="zip"><?= $block->escapeHtml($address->getPostcode()) ?></p>
                                        <p data-th="<?= $block->escapeHtmlAttr(__('Phone')) ?>" class="phone"><?= $block->escapeHtml($address->getTelephone()) ?></p>
                                        <div data-th="<?= $block->escapeHtmlAttr(__('Actions')) ?>" class="actions">
                                            <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/address/edit', ['id' => $address->getId()])) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                                            <a class="action delete" href="#" role="delete-address" data-address="<?= $block->escapeHtmlAttr($address->getId()) ?>"><span><?= $block->escapeHtml(__('Delete')) ?></span></a>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    </div>
                </table>
            </div>
        <?php else : ?>
            <p class="empty"><?= $block->escapeHtml(__('You have no other address entries in your address book.')) ?></p>
        <?php endif ?>
    </div>
</div>

<div class="actions-toolbar">
    <div class="primary btn-add-address-new">
        <button type="button" role="add-address" title="<?= $block->escapeHtmlAttr(__('Add New Address')) ?>" class="newaddressadd action primary add"><span><?= $block->escapeHtml(__('Add New Address')) ?></span></button>
    </div>
    <div class="secondary">
        <a class="action back" href="<?= $block->escapeUrl($block->getUrl('customer/account')) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".page-main": {
            "address": {
                "deleteAddress": "td a[role='delete-address']",
                "deleteUrlPrefix": "<?= $block->escapeJs($block->escapeUrl($block->getDeleteUrl())) ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?= $block->escapeJs($block->escapeUrl($block->getAddAddressUrl())) ?>"
            }
        }
    }
</script>


<script type="text/javascript">
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
            
            let mediaqueryList = window.matchMedia("(max-width: 576px)");
            if (mediaqueryList.matches) {
                let itemaddress = $('.content-address').length;
                if(itemaddress >= 2){
                    $('.content_address_items').addClass('row');
                    $('.content_address_items').addClass('info-owl-carousel');
                    $('.content_address_items').addClass('owl-carousel');
                    $('.content_address_items').removeClass('item_one');
                    $("#address_items .owl-carousel").owlCarousel({
                        autoplay: false,
                        autoplayTimeout: 5000,
                        autoplayHoverPause: true,
                        margin: 15,
                        nav: false,
                        navText: ["<em class='porto-icon-left-open-big'></em>", "<em class='porto-icon-right-open-big'></em>"],
                        dots: true,
                        loop: false,
                        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        responsive: {
                            0: {
                                items: 1
                            },
                            575: {
                                items: 1
                            },
                            768: {
                                items: 2
                            }
                        }
                    });

                }
            }else{
                let itemaddress = $('.content-address').length;            
                if(itemaddress >= 4){
                    $('.content_address_items').addClass('info-owl-carousel');
                    $('.content_address_items').addClass('owl-carousel');
                    $('.content_address_items').removeClass('item_one');
                    $("#address_items .owl-carousel").owlCarousel({
                        autoplay: false,
                        autoplayTimeout: 5000,
                        autoplayHoverPause: true,
                        margin: 15,
                        nav: false,
                        navText: ["<em class='porto-icon-left-open-big'></em>", "<em class='porto-icon-right-open-big'></em>"],
                        dots: true,
                        loop: false,
                        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        responsive: {
                            0: {
                                items: 2
                            },
                            575: {
                                items: 2
                            },
                            768: {
                                items: 2
                            }
                        }
                    });

                }
            }
        });
</script>