<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Address $block */

use \Troquer\Customer\Block\Account\Dashboard\Address; ?>
<div class="block block-dashboard-addresses title-line-tr row">
    <div class="box-address">
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Shopping Address')) ?></strong><br>
            <span class="lineinf"></span>
        </div>
        <div class="block-content">
            <div class="box box-shipping-address">
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"><span></span></a>
                </div>
                <div class="box-content">
                    <address>
                        <?= $block->getPrimaryShippingAddressHtml() ?>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <?php if($block->hasSalesAddress()): ?>
        <div class="box-address">
            <div class="block-title">
                <strong><?= $block->escapeHtml(__('Sales Address')) ?></strong><br>
                <span class="lineinf"></span>
            </div>
            <div class="block-content">
                <div class="box box-shipping-address">
                    <div class="box-actions">
                        <a class="action edit" href="<?= $block->escapeUrl($block->getPrimarySalesAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"><span></span></a>
                    </div>
                    <div class="box-content">
                        <address>
                            <?= $block->getPrimarySalesAddressHtml() ?>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
</div>
<div class="address-add-tr address-manage">
    <a class="action edit" href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>"><span><?= $block->escapeHtml(__('Manage Addresses')) ?></span></a>
</div>
