<div id="banks-customer" class="row d-flex justify-content-center">
    <div class="data-banks col-10">
        <div class="infosec-banks row">
            <div class="title-banks col-12">
                <p class="titleparrfbank">Datos Bancarios</p>
            </div>

            <div class="subtitle-banks col-12">
                <p class="titleparrfbank">Cuentas bancarias</p>
                <span class="lineinf"></span>
                <a class="editbanks-info" href="#">Editar</a>
            </div>
            <div class="info-cards-bank">
                <ul class="listcards">
                    <li>
                        <p><strong>CLABE - APODO:</strong> <span>676 928 000 189 109 18</span></p>
                    </li>
                </ul>      
                <div class="addcards">
                    <span class="lnkaddcards">Agregar Nueva cuenta</span>
                </div>     
                
                <div class="addbanks">
                    <p class="titleparrfbank">Agregar nueva cuenta</p>
                    <span class="lineinf"></span>
                    <form id="addcard" action="">
                        <div class="infocards data-clabe">
                            <span>CLABE</span>
                            <input class="input-text inpt-clabe" type="text" name="clabe">
                        </div>
                        <div class="infocards data-name">
                            <span>NOMBRE PROPIETARIO</span>
                            <input class="input-text inpt-propietario" type="text" name="namepropietario">
                        </div>
                        <div class="infocards data-banco">
                            <span>BANCO</span>
                            <input class="input-text inpt-banco" type="text" name="banco">
                        </div>
                        <div class="infocards data-apodo">
                            <span>APODO DE LA CUENTA</span>
                            <input class="input-text inpt-apodo" type="text" name="apodo">
                        </div>

                        <div class="btn-add-card">
                            <button class="btncard-add">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>