<div class="title-orders">
    <h2>Mis intereses</h2>
</div>
<div class="interes-estilos brands-select">
    <!--<p class="title-parrf">Selecciona tus marcas favoritas</p>-->
    <div class="block-title">
        <strong>Marcas</strong><br>
        <span class="lineinf"></span>
    </div>
    <p class="subtitle-passf">Haz clic en el  de las marcas que más te gustan y, así, tendrás una experiencia de compra única para ti.</br> Elige por lo menos dos marcas</p>
    <br>
    <div id="interesescustomer-brands" class="interesescustomer row d-flex justify-content-center">
        <div class="conent-principal-interes col-10 col-lg-8">
            <div class="info-interes row">
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="chanel" name="chanel" value="" class="checkboxInteres">
                    <label for="chanel" class="lblchanel">
                        <img src="/media/troquer/gucci-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Chanel</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="cartier" name="cartier" value="" class="checkboxInteres">
                    <label for="cartier" class="lblcartier">
                        <img src="/media/troquer/cartier-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Cartier</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="dior" name="dior" value="" class="checkboxInteres">
                    <label for="dior" class="lbldior">
                        <img src="/media/troquer/dior-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Dior</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="gucci" name="gucci" value="" class="checkboxInteres">
                    <label for="gucci" class="lblgucci">
                        <img src="/media/troquer/gucci-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Gucci</span>
                </div>
                </div>
             
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="louisvuitton" name="louisvuitton" value="Louis Vuitton" class="checkboxInteres">
                    <label for="louisvuitton" class="lbllouisvuitton">
                        <img src="/media/troquer/louis-vuitton-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Louis Vuitton</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="yvessaintlaurent" name="yvessaintlaurent" value="Yves Saint Laurent" class="checkboxInteres">
                    <label for="yvessaintlaurent" class="lblyvessaintlaurent">
                        <img src="/media/troquer/yves-saint-laurent-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Yves Saint Laurent</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="christianlouboutin" name="christianlouboutin" value="Christian Louboutin" class="checkboxInteres">
                    <label for="christiancouboutin" class="lblchristianlouboutin">
                        <img src="/media/troquer/christian-louboutin-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Christian Louboutin</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="hermes" name="hermes" value="Hermés" class="checkboxInteres">
                    <label for="hermes" class="lblhermes">
                        <img src="/media/troquer/hermes-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Hermés</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="miumiu" name="miumiu" value="Miu Miu" class="checkboxInteres">
                    <label for="miumiu" class="lblmiumiu">
                        <img src="/media/troquer/miu-miu-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Miu Miu</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="balenciaga " name="balenciaga " value="Balenciaga" class="checkboxInteres">
                    <label for="balenciaga " class="lblbalenciaga ">
                        <img src="/media/troquer/balenciaga-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Balenciaga </span>
                </div>
                </div>
                
                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="champion" name="champion" value="Champion" class="checkboxInteres">
                    <label for="champion" class="lblchampion">
                        <img src="/media/troquer/champion-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Champion</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4">
                <div class="imgselect">
                    <input type="checkbox" id="rolex" name="rolex" value="Rolex" class="checkboxInteres">
                    <label for="rolex" class="lblrolex">
                        <img src="/media/troquer/rolex-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Rolex</span>
                </div>
                </div>
                
            </div>
            <!-- <div class="btn-next">
                <button class="next-steep">Siguiente</button>
            </div> -->
        </div>

    </div>
</div>