<?php
$_helper = $this->helper('Smartwave\Porto\Helper\Data');
$header_type = $_helper->getConfig('porto_settings/header/header_type');
$header_new_skin = $_helper->getConfig('porto_settings/header/new_skin');
$class = $header_type == 17 || $header_type == 19 || $header_type == 16 || $header_type == 20 || $header_type == 21 || $header_type == 22 || $header_type == 25 || $header_type == 26 || $header_type == 27 ? 'header-newskin' : '';
if (isset($header_new_skin) && $header_new_skin && ($header_type == 2 || $header_type == 5 || $header_type == 6 || $header_type == 7 || $header_type == 8 || $header_type == 13))
    $class = 'header-newskin';
if (isset($header_new_skin) && $header_new_skin && $header_type == 10)
    $class = 'header-new-skin';
$show_notice = $_helper->getConfig('porto_settings/general/show_site_notice');

if ($show_notice && $show_notice == 1)
    echo $this->getChildHtml("porto_custom_notice");
?>
<header id="headertr" class="page-header type<?php echo $header_type; ?> <?php echo $class; ?>">
    <?php echo $this->getChildHtml("header_customer_form_login"); ?>
    <div id="cintillo-top-tr" class="panel wrapper cintillo-top-tr">
        <div class="cintillo header">
            <?php echo $this->getChildHtml("cintillo_top"); ?>
        </div>
    </div>
    <div id="menu-account" class="header content menu-header-tr">
        <div class="new-header-tr row d-flex justify-content-center">
            <div class="searchtrx col-2 col-md-4 col-lg-4">
                <div class="icon-menu">
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Toggle Nav') ?></span></span>
                </div>
                <div class="back-buy">
                    <a href="/">Regresar a comprar</a>
                </div>
            </div>
            <div class="logoaccount col-8 col-md-4 col-lg-4">
                <a href="/"> <img src="<?= $block->getBaseurl(); ?>media/troquer/troquer-logo-full-n.png" alt="" /></a>
            </div>
            <div class="iconstr iconstraccount col-1 col-md-4 col-lg-4">
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
            <div class="menunavtr col-lg-12">
                <div class="sections nav-sections">
                    <div class="section-items nav-sections-items" role="tablist">
                        <div class="section-item-content nav-sections-item-content">
                            <nav class="navigation sw-megamenxu" role="navigation">
                                <ul>
                                    <li class="ui-menu-item level0 fullwidth parent">
                                        <div class="open-children-toggle"></div>
                                            <a class="level-top"><span>Datos</span></a>
                                        <div class="level0 submenu">
                                            <div class="container">
                                                <div class="row">
                                                    <ul class="subchildmenu col-md-12 mega-columns columns4">
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>customer/account/index/" title="Informacion Personal"><span>Informacion Personal</span></a>
                                                        </li>
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>storecredit/info/" title="Mi Crédito Troquer"><span>Mi Crédito Troquer</span></a>
                                                        </li>
                                                        <li class="ui-menu-item level1 parent ">
                                                            <div class="open-children-toggle"></div>
                                                            <a href="" class="ui-state-active"><span>Mis intereses</span></a>
                                                            <ul class="subchildmenu " style="display: none;">
                                                                <li class="ui-menu-item level2 ">
                                                                    <a href="<?= $block->getBaseurl(); ?>customer/account/styles/" title="Estilos"><span>Estilos</span></a>
                                                                </li>
                                                                <li class="ui-menu-item level2 ">
                                                                    <a href="<?= $block->getBaseurl(); ?>customer/account/brands/" title="Maras"><span>Marcas</span></a>
                                                                </li>
                                                                <li class="ui-menu-item level2 ">
                                                                    <a href="<?= $block->getBaseurl(); ?>customer/account/sizes/" title="Tallas"><span>Tallas</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="ui-menu-item level0 fullwidth parent">
                                        <div class="open-children-toggle"></div>
                                            <a class="level-top"><span>Compras</span></a>
                                        <div class="level0 submenu">
                                            <div class="container">
                                                <div class="row">
                                                    <ul class="subchildmenu col-md-12 mega-columns columns4">
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>sales/order/history/" title="Mis pedidos"><span>Mis pedidos</span></a>
                                                        </li>
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>wishlist/" title="Mi wishlist"><span>Mi wishlist</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="ui-menu-item level0 fullwidth parent">
                                        <div class="open-children-toggle"></div>
                                            <a class="level-top"><span>Ventas</span></a>
                                        <div class="level0 submenu">
                                            <div class="container">
                                                <div class="row">
                                                    <ul class="subchildmenu col-md-12 mega-columns columns4">
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>sales/sale/published/" title="Mis piezas"><span>Mis piezas</span></a>
                                                        </li>
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>sales/sale/appointments/" title="Mis citas"><span>Mis citas</span></a>
                                                        </li>
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>sales/sale/shipments/" title="Mis envíos"><span>Mis envíos</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="ui-menu-item level0 fullwidth parent">
                                        <div class="open-children-toggle"></div>
                                            <a class="level-top"><span>Ayuda</span></a>
                                        <div class="level0 submenu">
                                            <div class="container">
                                                <div class="row">
                                                    <ul class="subchildmenu col-md-12 mega-columns columns4">
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="https://troquer.zendesk.com/hc/es/categories/115000996867-Vender-en-Troquer" target="_blank"><span>FAQ vende</span></a>
                                                        </li>
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="https://troquer.zendesk.com/hc/es/categories/115000995447-Comprar-en-Troquer" target="_blank"><span>FAQ compra</span></a>
                                                        </li>
                                                        <li class="ui-menu-item level1 ">
                                                            <a href="<?= $block->getBaseurl(); ?>terminos-condiciones"><span>Términos y Condiciones</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="ui-menu-item level0 fullwidth parent menuvende">
                                        <a href="<?= $block->getBaseurl(); ?>vende" class="level-top"><span>Vende</span></a>
                                    </li>
                                    <li class="ui-menu-item level0 fullwidth parent lnk-logout">
                                        <a href="<?= $block->getBaseurl(); ?>customer/account/logout/">Cerrar sesión</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MEnu -->
        </div>
    </div>
</header>

<!-- Menu mobile Troquer -->
<div class="content-header-mobile-tr">

    <div class="header-main-mobile-tr">
        <ul class="ul-menu-mob-tr">
            <li><a href="<?= $block->getBaseurl(); ?>" class="action my-wishlist icon-home-tr" title="Home" role="button"></a></li>
            <li><a href="<?= $block->getBaseurl(); ?>wishlist" class="action my-wishlist icon-wish-tr" title="My Wish List" role="button"></a></li>
            <li><a href="<?= $block->getBaseurl(); ?>vende" class="action my-wishlist icon-sale-tr" title="Sale" role="button"></a></li>
            <li><a class="action my-wishlist icon-notifications-tr" id="icon-notifications-tr-mov" title="My Notifications" role="button">
                <span class="counter-noti qty empty">
                    <span id="counter-number-noti-mov" class="counter-number-noti"></span>
                </span>
            </a></li>
            <li><a href="<?= $block->getBaseurl(); ?>customer/account" class="action my-wishlist icon-account-tr" title="My Account" role="button"></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery',
        'Smartwave_Megamenu/js/sw_megamenu'
    ], function ($) {
        jQuery(".nav-toggle").off('click').on('click', function (e) {
            if (!jQuery("html").hasClass("nav-open")) {
                jQuery("html").addClass("nav-before-open");
                setTimeout(function () {
                    jQuery("html").addClass("nav-open");
                }, 300);
            } else {
                jQuery("html").removeClass("nav-open");
                setTimeout(function () {
                    jQuery("html").removeClass("nav-before-open");
                }, 300);
            }
        });
        $("li.ui-menu-item > .open-children-toggle").off("click").on("click", function () {
            if (!$(this).parent().children(".submenu").hasClass("opened")) {
                $(this).parent().children(".submenu").addClass("opened");
                $(this).parent().children("a").addClass("ui-state-active");
            } else {
                $(this).parent().children(".submenu").removeClass("opened");
                $(this).parent().children("a").removeClass("ui-state-active");
            }
        });
    });
</script>

<script type="text/javascript">
    require([
        'jquery',
        'owl.carousel/owl.carousel.min'
    ], function ($) {
        let menucounts = document.getElementsByClassName("open-children-toggle");
        let i;
        for (i = 0; i < menucounts.length; i++) {
            menucounts[i].addEventListener("click", function () {
                this.classList.toggle("arrow-open-menu");
                $(this).parent().children(".subchildmenu").toggle("openedmenuchild");
                $(this).parent().children(".subchildmenu");
            });
        }
    });
</script>

<script>
    require(['jquery'],
        function ($) {
            $('#icon-notifications-tr-mov').on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                $("#block_bell").show();
                $('#btn-notification-close').on('click', function() {
                    $("#block_bell").hide();
                });
            });

            $.ajax({
                url: "/notifications/index/getunreadnotifications",
                type: "POST",
                data: {},
                showLoader: false,
                success: function (data) {
                    data = JSON.parse(data);
                    let number = parseInt(Object.keys(data[1]).length.toString());
                    if (number > 9) {
                        number = '9+';
                    }
                    $('#counter-number-noti-mov').text(number);
                    if (number > 0) {
                        $('a#icon-notifications-tr-mov').addClass('bounce').change();
                    }
                }
            });
        });
</script>

<script>
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            if ($(window).width() <= 767) {
                $('div.content-header-mobile-tr').css("margin-top", $('#headertr').height());
                $('.block-title.filter-title > strong').css("top", $('#headertr').height());
            }
            dektopHeaderSticky();
        }, null);

        $(window).scroll(function () {
            dektopHeaderSticky();
        });

        function dektopHeaderSticky() {
            if ($(window).width() > 767) {
                let headerTr = $('header.is-sticky > div.menu-header-tr');
                if(headerTr.length) {
                    headerTr.css("top", $('#cintillo-top-tr').height());
                } else {
                    headerTr = $('div.menu-header-tr');
                    headerTr.css("top", 0);
                }
            }
        }
    });
</script>
