<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Customer\Block\Account\Dashboard\Info;

/** @var Info $block */
?>
<div class="menu-info-dashboard"></div>
    <div class="sec-logout-tr">
        <div class="row d-flex justify-content-center">
            <div class="title-info-log col-11 col-lg-11 col-md-11 col-12">
                <h2>Datos personales</h2>
                <h4 class="closesession"><a href="<?= $block->getBaseurl(); ?>customer/account/logout/">Cerrar sesión</a></h4>
            </div>
        </div>
    </div>
<div class="block block-dashboard-info title-line-tr">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Personal Information')) ?></strong><br>
        <span class="lineinf"></span>
    </div>
    <div class="block-content">
            <div class="edit-info-tr">
                <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                </a>
            </div>
        <div class="box box-information">
            <strong class="titlebox-none box-title">
                <span><?= $block->escapeHtml(__('Contact Information')) ?></span>
            </strong>

            <div class="box-content">
                <div class="content-info-personal row d-flex justify-content-center">
                    <div class="info-personal col 10">
                        <!-- <div class="row">
                            <div class="photo-profile col-6">Foto de perfil:</div>
                            <div class="photo-profile-f col-6">
                                <div class="photo-user">
                                    <img src="/media/troquer/avatar.png" alt="">

                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="info-account-tit info-name col-3 col-lg-4 col-md-4">Nombre:</div>
                            <div class="info-account info-name-f col-9 col-lg-8 col-md-8"><?= $block->escapeHtml($block->getCustomer()->getFirstname()) ?></div>
                        </div>
                        <div class="row">
                            <div class="info-account-tit info-lname col-3 col-lg-4 col-md-4">Apellido:</div>
                            <div class="info-account info-lname-f col-9 col-lg-8 col-md-8"><?= $block->escapeHtml($block->getCustomer()->getLastname()) ?></div>
                        </div>
                        <div class="row">
                            <div class="info-account-tit info-email col-3 col-lg-4 col-md-4">Email:</div>
                            <div class="info-account info-email-f col-9 col-lg-8 col-md-8"><?= $block->escapeHtml($block->getCustomer()->getEmail()) ?></div>
                        </div>
                        <!-- <div class="row">
                            <div class="info-account-tit info-tel col-3 col-lg-4 col-md-4">Teléfono:</div>
                            <div class="info-account info-tel-f col-9 col-lg-8 col-md-8"><?//= $block->escapeHtml($block->getPhone()) ?></div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="info-account info-tel col-3 col-lg-4 col-md-4">Código QR:</div>
                            <div class="info-account info-tel-f col-9 col-lg-8 col-md-8"><img src="" alt=""></div>
                        </div> -->
                    </div>
                </div>
                <?= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
            </div>
            <div class="box-actions password-update">
                <div class="block-title">
                    <strong><?= $block->escapeHtml(__('Password')) ?></strong><br>
                    <span class="lineinf"></span>
                </div>
                <div class="content-info-personal row d-flex justify-content-center">
                        <div class="info-personal col 10">
                            <div class="row">
                                <div class="password-change col-6"><a href="<?= $block->escapeUrl($block->getChangePasswordUrl()) ?>" class="action change-password">
                        <?= $block->escapeHtml(__('Change Password')) ?>
                    </a></div>
                                <div class="password-change-f col-6"><span>**********</span></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()) : ?>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Newsletters')) ?></span>
                </strong>
                <div class="box-content">
                    <p>
                        <?php if ($block->getIsSubscribed()) : ?>
                            <?= $block->escapeHtml(__('You are subscribed to "General Subscription".')) ?>
                        <?php else : ?>
                            <?= $block->escapeHtml(__('You aren\'t subscribed to our newsletter.')) ?>
                        <?php endif; ?>
                    </p>
                </div>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>


<script type="text/javascript">
    require([
        'jquery'
    ], function($) {
        $(document).ready(function() {
            $('.sidebar.sidebar-main').appendTo('.menu-info-dashboard');
        });
    });
</script>
<script type="text/javascript">
        require([
		    'jquery'
		], function($) {
        var URLactual = window.location.pathname;
        console.log(URLactual);
        var rsulturl = URLactual.indexOf("/customer/") > -1;
        console.log(rsulturl);
        if(rsulturl == true){
            $('main#maincontent > .columns').addClass('bgsalessection');
        }
    });
</script>
