<div class="title-orders">
    <h2>Mis intereses</h2>
</div>
<div class="interes-estilos">
    <!--<p class="title-parrf">Selecciona tus estilos favoritas</p>-->
    <div class="block-title">
        <strong>Estilos</strong><br>
        <span class="lineinf"></span>
    </div>
    <p class="subtitle-passf">Haz clic en el  de los estilos que más te gustan y, así, tendrás una experiencia de compra única para ti.</br> Elige por lo menos dos estilos.</p>
    <br>
    <div id="interesescustomer-sec" class="interesescustomer row d-flex justify-content-center">
        <div class="conent-principal-interes col-10 col-lg-8">
            <div class="info-interes row">
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="clasico" name="clasico" value="" class="checkboxInteres">
                    <label for="clasico" class="lblclasico">
                        <img src="/media/troquer/clasico-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Clasico</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="top" name="top" value="" class="checkboxInteres">
                    <label for="top" class="lbltop">
                        <img src="/media/troquer/top-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Top</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="trending" name="trending" value="" class="checkboxInteres">
                    <label for="trending" class="lbltrending">
                        <img src="/media/troquer/trending-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Trending</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                    <div class="imgselect">
                        <input type="checkbox" id="fashion" name="fashion" value="" class="checkboxInteres">
                        <label for="fashion" class="lblfashion">
                            <img src="/media/troquer/fashion-troquer.png" alt="">
                        </label>
                    </div>
                    <div class="textoinferior">
                        <span class="text-interes">Fashion</span>
                    </div>
                </div>
             
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="romantico" name="romantico" value="" class="checkboxInteres">
                    <label for="romantico" class="lblromantico">
                        <img src="/media/troquer/romantico-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Romántico</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="chic" name="chic" value="" class="checkboxInteres">
                    <label for="chic" class="lblchic">
                        <img src="/media/troquer/chic-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Chic</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="favoritos" name="favoritos" value="" class="checkboxInteres">
                    <label for="favoritos" class="lblfavoritos">
                        <img src="/media/troquer/favoritos-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Favoritos</span>
                </div>
                </div>
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="exclusivo" name="exclusivo" value="" class="checkboxInteres">
                    <label for="exclusivo" class="lblexclusivo">
                        <img src="/media/troquer/exclusivo-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Exclusivo</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="atrevido" name="atrevido" value="" class="checkboxInteres">
                    <label for="atrevido" class="lblatrevido">
                        <img src="/media/troquer/atrevida-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Atrevido</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="disrruptivo" name="disrruptivo" value="" class="checkboxInteres">
                    <label for="disrruptivo" class="lbldisrruptivo">
                        <img src="/media/troquer/disrruptivo-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Disrruptivo</span>
                </div>
                </div>
                
                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="streetwear" name="streetwear" value="" class="checkboxInteres">
                    <label for="streetwear" class="lblstreetwear">
                        <img src="/media/troquer/streetwear-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Streetwear</span>
                </div>
                </div>

                <div class="selctimg col-6 col-lg-3 col-md-4 ">
                <div class="imgselect">
                    <input type="checkbox" id="vintage" name="vintage" value="" class="checkboxInteres">
                    <label for="vintage" class="lblvintage">
                        <img src="/media/troquer/vintage-troquer.png" alt="">
                    </label>
                </div>
                <div class="textoinferior">
                    <span class="text-interes">Vintage</span>
                </div>
                </div>
                
            </div>
            <!-- <div class="btn-next">
                <button class="next-steep">Siguiente</button>
            </div> -->
        </div>

    </div>
</div>