<div class="title-orders">
    <h2>Mis intereses</h2>
</div>
<div class="interes-estilos brands-select">
    <!--<p class="title-parrf">¿Cuáles son tus tallas?</p>-->
    <div class="block-title">
        <strong>Tallas</strong><br>
        <span class="lineinf"></span>
    </div>
    <p class="subtitle-passf">Selecciona tus tallas y, así, tendrás una experiencia de compra única para ti. <br> Puedes elegir más de una talla por sección</p>
    <br>
    <div id="interesescustomer-size" class="interesescustomer row d-flex justify-content-center">
        <div class="content-size conent-principal-interes col-12 col-lg-10 col-md-10">
            <div class="info-interes info-sizes row">
                <div class="listsizes">
                    <ul id="sectop" class="listsections">
                        <p class="titleslist">Top</p>
                        <li>
                            <input type="checkbox" id="topxs" name="topxs" value="topXS" class="checkboxInteres">
                            <label for="topxs" class="lblxs">XS</label>
                        </li>
                        <li>
                            <input type="checkbox" id="tops" name="tops" value="topS" class="checkboxInteres">
                            <label for="tops" class="lbls">S</label>
                        </li>
                        <li>
                            <input type="checkbox" id="topm" name="topm" value="topM" class="checkboxInteres">
                            <label for="topm" class="lbls">M</label>
                        </li>
                        <li>
                            <input type="checkbox" id="topl" name="topl" value="topL" class="checkboxInteres">
                            <label for="topl" class="lbls">L</label>
                        </li>
                        <li>
                            <input type="checkbox" id="topxl" name="topxl" value="topXL" class="checkboxInteres">
                            <label for="topxl" class="lbls">XL</label>
                        </li>
                    </ul>
                    <br>
                    <br>
                    <ul id="secbottom" class="listsections">
                        <p class="titleslist">Bottom</p>
                        <li>
                            <input type="checkbox" id="bottomxs" name="bottomxs" value="bottomXS" class="checkboxInteres">
                            <label for="bottomxs" class="lblxs">XS</label>
                        </li>
                        <li>
                            <input type="checkbox" id="bottoms" name="bottoms" value="bottomS" class="checkboxInteres">
                            <label for="bottoms" class="lbls">S</label>
                        </li>
                        <li>
                            <input type="checkbox" id="bottomm" name="bottomm" value="bottomM" class="checkboxInteres">
                            <label for="bottomm" class="lbls">M</label>
                        </li>
                        <li>
                            <input type="checkbox" id="bottoml" name="bottoml" value="bottomL" class="checkboxInteres">
                            <label for="bottoml" class="lbls">L</label>
                        </li>
                        <li>
                            <input type="checkbox" id="bottomxl" name="bottomxl" value="bottomXL" class="checkboxInteres">
                            <label for="bottomxl" class="lbls">XL</label>
                        </li>
                    </ul>

                    <br>
                    <br>
                    <ul id="secbottom" class="listsections">
                        <p class="titleslist">Zapatos</p>
                        <li>
                            <input type="checkbox" id="z22" name="z22" value="z22" class="checkboxInteres">
                            <label for="z22" class="lblxs">22</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z23" name="z23" value="z23" class="checkboxInteres">
                            <label for="z23" class="lbls">23</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z24" name="z24" value="z24" class="checkboxInteres">
                            <label for="z24" class="lbls">24</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z25" name="z25" value="z25" class="checkboxInteres">
                            <label for="z25" class="lbls">25</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z26" name="z26" value="z26" class="checkboxInteres">
                            <label for="z26" class="lbls">26</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z27" name="z27" value="z27" class="checkboxInteres">
                            <label for="z27" class="lbls">27</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z28" name="z28" value="z28" class="checkboxInteres">
                            <label for="z28" class="lbls">28</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z29" name="z29" value="z29" class="checkboxInteres">
                            <label for="z29" class="lbls">29</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z30" name="z30" value="z30" class="checkboxInteres">
                            <label for="z30" class="lbls">30</label>
                        </li>
                        <li>
                            <input type="checkbox" id="z31" name="z31" value="z31" class="checkboxInteres">
                            <label for="z31" class="lbls">31</label>
                        </li>
                    </ul>
                </div>
               
            </div>
            <!-- <div class="btn-next">
                <button class="next-steep">Comenzar</button>
            </div> -->
        </div>

    </div>
</div>