<div id="banks-customer" class="row d-flex justify-content-center">
    <div class="data-banks col-12">
        <div class="infosec-banks row">
            <div class="title-banks col-12">
                <p class="titleparrfbank"></p>
            </div>

            <div class="subtitle-banks col-12">
                <p class="titleparrfbank">Estado de cuenta</p>
                <span class="lineinf"></span>
                <a class="editbanks-info" href="#">Editar</a>
                <br>
                <p>Refleja los movimientos de tu Saldo Disponible. </p>
            </div>
            
            <div id="statement-sec">
                <div class="tbl-staement">
                    <div class="header-table-info">
                        <div class="row">
                            <div class="saldo-disponible col-6">
                            <p>Saldo disponible:  <strong><?php 
                                $saldodis = 18200;
                                echo "$".number_format($saldodis);
                            ?> </strong></p>
                            </div>
                            <div class="col-3"><p><strong>Movimientos 1-5 de  5</strong></p></div>
                            <div class="col-3"> 
                                <p><strong>Fltrar Ordenar por</strong> <span class="filtro-tbl">Lo Último</span></p>
                            </div>
                        </div>
                    </div>
                <table id="tbl-wallet-transfer" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    
                    <tbody>
                        <p class="title-month"><strong>Enero 2020</strong></p>
                        <tr class="information-tbl-wallet">
                            <td>
                                <span class="title-detail">Transferencia Bancaria</span> <br>
                                <span class="date-detail">Enero 27, 2020</span>
                            </td>
                            <td>
                                <p class="description-table"></p>
                            </td>
                            <td>
                            <p class="wallet">
                                    <span class="lesscant">- 1,300 </span><br>
                                    <span class="canttot"> <?php 
                                            $saldotot = 18200;
                                            echo "$".number_format($saldotot);
                                            ?>
                                    </span>
                                </p>
                            </td>                    
                        </tr>
                        
                        <tr class="information-tbl-wallet">
                            <td>
                                <span class="title-detail">Venta - Burberry </span> <br>
                                <span class="date-detail">Enero 25, 2020</span>
                            </td>
                            <td>
                                <p class="description-table">Tote de nylon con estampado NovaCheck en color negro con costados y doble asa de piel negra y herrajes dorados</p>
                            </td>
                            <td>
                            <p class="wallet">
                                    <span class="lesscant"></span><br>
                                    <span class="addcant">+ 17,000</span><br>
                                    <span class="canttot"> <?php 
                                            $saldotot = 18200;
                                            echo "$".number_format($saldotot);
                                            ?>
                                    </span>
                                </p>
                            </td>                    
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="developer_page"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

