
<div id="footercheckout">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 col-md-10">
            <div class="row content-footer-check">
                <div class="secduas 12 col-md-4 col-12">
                    <span class="titlesfooter">WhatsApp</span>
                    <span class="telfooter"><a href="tel:+52 1 5588103929">+52 1 55 8810 3929</a></span>
                    <p class="textfooter">En caso de no estar en nuestros horarios de atención puedes dejarnos un whatsapp</p>
                </div>
                <div class="sectel col-lg-5 col-md-5 col-12">
                    <span class="titlesfooter">Teléfono</span> <br><br>
                    <span class="telfooter"><a href="tel:+52 55 4170 7590">+52 55 4170 7590</a></span>
                    <br>
                    <p class="textfooter">Te atenderemos y aclararemos cualquiera de tus dudas en un horario de 9:00 am a 7:00 pm de lunes a viernes y los sábados de 10:00 am a 8:00 pm.</p>
                </div>
                <div class="secchat col-lg-3 col-md-3 col-12">
                    <span class="titlesfooter">Prueba nuestro chat</span>
                    <br>
                    <p><span class="sendmjs">Envía un mensaje</span></p>
                    <p>Te ayudamos y guíamos al instante.</p>
                </div>
                <div class="imgfoter col-lg-12 col-md-4 col-12">
                <img class="logosdesk" src="/media/troquer/metodos_de_pago_580-50.png" alt="" />
                <div class="images-resposive">
                    <img src="/media/troquer/metodos_de_pago-01.png" alt="" /><br>
                    <img src="/media/troquer/metodos_de_pago-02.png" alt="" />
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>