<div id="header-checkout" class="row d-flex justify-content-center">
    <div class="logoheadercheckout col-8">
        <a href="/"> <img src="/media/troquer/troquer-logo-full-n.png" alt="" /></a>
    </div>
</div>