<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Checkout\Block\Onepage;

/** @var $block Onepage */
?>

<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?= $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')) ?>" alt="<?= $block->escapeHtmlAttr(__('Loading...')) ?>" style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>");
            return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
        })
    </script>
    <script type="text/javascript">
		require([
			'jquery'
		], function($) {

            $('button.continue').click(function(){
                //alert("continuar");
                $('li.opc-progress-bar-item').addClass('_active');

            });

		})

    </script>


<script type="text/javascript">


        require([
            "jquery",
            "domReady!"
        ], function($){
            $(document).ajaxComplete(function() {
                // enter your code here
                setTimeout(function() {
                    $('.payment-method > .payment-method-title > .label').click(function() {
                    $('html,body').animate({
                        scrollTop: $(this).parent().parent().parent().offset().top
                    }, 'fast');
                });
                $('#content-credit-troquer').insertBefore($('#content-credit-troquer').parent().find('#checkout-payment-method-load'));
                }, 5000);
            });


        });

    </script>


</div>


