@import '_variables.less';

.postcode {
    @media (max-width: 768px) {
        display: none;
    }

    p {
        color: @colorgraytext;
        font-size: 16px;

        span {
            font-weight: bold;
        }

        .more-info {
            color: @colorcoral !important;
            cursor: pointer;
        }
    }
}

.describ-piezas {
    h5 {
        font-size: 20px;
        font-family: @IconsolataBold;
    }

    hr {
        border: solid @colorcoral 1px;
        border-radius: 5px;
        width: 50px;
    }

    p {
        color: @colorgraytext;
        font-size: 16px;
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
    }
}

.cont-text {
    padding-top: 50px;

    p {
        color: @colorrgbablack;
        font-size: 16px;
        font-family: @AcuminProBold;

        span.textsecnd {
            font-family: @AcuminProLight;
        }
    }

    .line-tyc {
        border: solid @colorcoral 1px;
        border-radius: 5px;
        width: 50px;
        margin-top: 50px !important;
        margin-left: 45px !important;
        @media (max-width: 768px) {
            text-align: center;
            margin: 0;
        }
        @media (max-width: 767px) {
            margin-left: 25px !important;
        }
        @media (max-width: 320px) {
            margin-left: 20px !important;
        }
    }

    .cont-txt {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 20px;
        @media (max-width: 768px) {
            text-align: left;
        }
        @media (max-width: 767px) {
            padding-left: 25px;
            padding-right: 25px;
        }
        @media (max-width: 320px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .cont-btn {
        padding-left: 45px;
        @media (max-width: 768px) {
            padding-left: 0 !important;
            text-align: center;
        }

        .btn-secondary {
            background: @colorwhite;
            width: 300px;
            height: 48px;
            border: 1px solid @colorblack;
            border-radius: 10px;
            color: @colorblack;
            font-size: 16px;
            font-family: @AcuminProBold;
        }

        .btn-principal {
            background: @colorblack;
            width: 300px;
            height: 48px;
            border-radius: 10px;
            border: 1px solid @colorblack;
            color: @colorwhite;
            font-size: 16px;
            font-family: @AcuminProBold;

            &:hover {
                background: @colorblack !important;
                color: @colorwhite !important;
                border: 1px solid @colorblack;
            }
        }
    }
}

.cont-text.method-primary {
    padding-top: 0;
    margin: auto;
}

.haztucita-tr {
    p {
        color: @colorrgbablack;
        font-size: 16px;
    }

    .line-tyc-l {
        margin-top: 50px !important;
        margin-left: 45px !important;
        border: solid @colorcoral 1px;
        border-radius: 5px;
        width: 50px;
        @media (max-width: 768px) {
            text-align: center;
            margin: 0;
        }
        @media (max-width: 767px) {
            margin-left: 25px !important;
        }
        @media (max-width: 320px) {
            margin-left: 20px !important;
        }
    }

    .cont-txt {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 20px;
        @media (max-width: 767px) {
            text-align: left;
            padding-left: 25px;
            padding-right: 25px;
        }
        @media (max-width: 320px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .cont-btn {
        padding-left: 45px;

        .btn-secundario {
            background: @colorwhite;
            width: 300px;
            height: 48px;
            border: solid 1px @colorblack;
            border-radius: 10px;
            color: @colorblack;
            font-size: 16px;
            font-family: @AcuminProBold;

            &:hover {
                background: @colorcoral !important;
                color: @colorwhite !important;
                border: none !important;
            }
        }
    }
}

.titlevende {
    font-size: 32px;
    font-family: @AcuminProBold;
    color: @colorblack;
    margin-bottom: 0 !important;
    padding: 35px 10px 30px;

    #serviceButton {
        cursor: pointer;
    }
}

.methods-option {
    margin-top: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 8px;
    color: @colorrgbablack;
    font-family: @AcuminProLight;
    @media (min-width: 1024px) {
        font-size: 20px;
        padding-bottom: 8px;
        padding-left: 150px;
        padding-right: 150px;
    }
    @media (min-width: 1300px) {
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 8px;
    }
    @media (max-width: 767px) {
        font-size: 16px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 8px;
    }
    @media (max-width: 320px) {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 8px;
    }

}

.container-body {
    background: @colorwhite;

    .img-container {
        padding: 0 !important;

        img {
            width: 100%;
            vertical-align: middle;
        }

        .disponible {
            display: none;
        }

        .img-name-r {
            position: absolute;
            background: @colorwhite;
            padding: 20px;
            bottom: 15px;
            right: 20px;
            font-family: @PermanentMarkerRegular;
            font-size: 22px;
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        .img-name-l {
            position: absolute;
            background: @colorwhite;
            padding: 20px;
            left: 20px;
            bottom: 15px;
            font-family: @PermanentMarkerRegular;
            font-size: 22px;
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }

    .text-container {
        padding: 50px 0 0;
        background: @colorwhite;
        @media (max-width: 768px) {
            text-align: center;
            padding: 10px 0 0 !important;
        }

        .line {
            border: solid @colorcoral 1px;
            border-radius: 5px;
            width: 50px;
            margin-top: 50px !important;
            margin-left: 45px !important;
            @media (max-width: 1025px) and (min-width: 990px) {
                margin-top: 10px !important;
            }
            @media (max-width: 990px) and (min-width: 768px) {
                margin-left: 40px !important;
            }
        }

        .text {
            font-size: 16px;
            font-family: @AcuminProLight;
            color: @colorrgbablack;
            padding: 45px;
        }

        .text-block {
            @media (min-width: 1025px) {
                padding-right: 140px;
            }
            @media (max-width: 990px) and (min-width: 768px) {
                padding-left: 40px;
                margin-bottom: 0;
            }
            @media (max-width: 767px) {
                margin-bottom: 0;
            }

            span.hihglight {
                font-family: @AcuminProBold;
            }
        }
    }

    .text-actions {
        font-size: 16px;
        font-family: @AcuminProLight;
        color: @colorrgbablack;

        button.primary {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
            background: @colorblack !important;
            color: @colorwhite !important;
            border: none !important;
            border-radius: 10px;
            height: 48px;
            font-size: 16px;
            font-family: @AcuminProBold;
        }

        button.secondary {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
            background: @colorwhite !important;
            color: @colorblack !important;
            border: 1px solid @colorblack;
            border-radius: 10px;
            height: 48px;
            font-size: 16px;
            font-family: @AcuminProBold;
        }
    }

    .cita-virtual {
        padding-top: 0 !important;
    }

    .info-two-txt {
        @media (max-width: 768px ) {
            order: 2;
        }
    }

    .info-two-img {
        @media (max-width: 768px ) {
            order: 1;
        }
    }
}

#carousel-piezas {
    .owl-controls {
        .owl-dots {
            .owl-dot {
                display: inline-block !important;
            }
        }
    }
}

li.lnk-logout {
    display: none !important;

    a {
        color: @colorcoral !important;
        font-size: 16px;
    }

    text-decoration: underline !important;
    @media (max-width: 767px) {
        display: block !important;
        max-width: 100% !important;
    }
}

.menuvende {
background: @colorblack;
&:hover{
    a{
        content: none !important;
    }
}
    a {
        color: @colorwhite !important;
        text-transform: capitalize !important;
        font-family: @AcuminProBold;
        border-bottom: 0 !important;
        &:after {
            content: none !important;
        }
    }

    span {
        color: @colorladrillo !important;
        text-transform: capitalize !important;
        font-family: @AcuminProBold;

        &:after {
            content: none !important;
        }
    }

    @media (max-width: 767px) {
        display: block !important;
    }
}

.lnk-disabled {
    pointer-events: none;
}
