@import '_variables.less';

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}

.presell-selfserve {
    .img-perks {
        text-align: center;

        img {
            width: 25%;
            padding-top: 10px;
            padding-bottom: 10px;
            @media (max-width: 990px) and (min-width: 768px) {
                width: 20%;
            }
            @media (max-width: 767px) {
                padding-top: 0;
            }
        }

        .text-perks {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProLight;
            @media (max-width: 767px) {
                padding-left: 20px;
                padding-right: 20px;
            }
            @media (max-width: 380px) {
                font-size: 14px;
            }

            .hihglight {
                font-family: @AcuminProBold;
                font-size: 18px;
                @media (max-width: 380px) {
                    font-size: 16px;
                }
                @media (max-width: 320px) {
                    font-size: 15px;
                }
            }

            a {
                color: @colorrgbablack;
                text-decoration: underline;
            }

            span#profitButton1 {
                cursor: pointer;
            }
        }
    }

    .how-it-works {
        .line {
            border: solid @colorcoral 1px;
            border-radius: 5px;
            width: 50px;
        }

        .step-how-it-works {
            padding-top: 25px;
            padding-bottom: 25px;
            @media (max-width: 990px) and (min-width: 768px) {
                padding-left: 40px;
                padding-right: 40px;
            }

            .bullet {
                border: 2px solid @coloraceituna;
                height: 50px;
                width: 50px;
                margin: auto;
                border-radius: 100%;
                color: @coloraceituna;
                line-height: 3;
                font-size: 16px;
                text-align: center;
                font-family: @AcuminProBold;
            }

            .text-steps {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProLight;
                padding-top: 25px;
                text-align: center;
                @media (max-width: 767px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                @media (max-width: 320px) {
                    font-size: 15px;
                }

                .hihglight {
                    font-family: @AcuminProBold;
                }

                .lg-size {
                    font-size: 18px;
                    @media (max-width: 320px) {
                        font-size: 17px;
                    }
                }

                a {
                    color: @colorrgbablack;
                    text-decoration: underline;
                }

                span#guidelinesButton1, span#profitButton2, span#tipsButton, span#noacceptButton1 {
                    cursor: pointer;
                }
            }

            .text-price {
                padding-top: 0;

                .hihglight {
                    font-size: 18px;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
        }

        button.primary {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
            background: @colorblack !important;
            color: @colorwhite !important;
            border: none !important;
            border-radius: 10px;
            height: 48px;
            font-size: 16px;
            font-family: @AcuminProBold;
        }
    }

    .methods {
        font-size: 16px;
        color: @colorrgbablack;
        font-family: @AcuminProLight;
        padding-bottom: 25px;
        text-align: center;
        @media (max-width: 767px) {
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .methods-to-sell {
            font-family: @AcuminProBold;
            margin-bottom: 0;
        }

        .descriptions-methods {
            @media (max-width: 768px) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media (max-width: 380px) {
                padding-left: 25px;
                padding-right: 25px;
            }
            @media (max-width: 360px) {
                padding-left: 20px;
                padding-right: 20px;
            }
            @media (max-width: 360px) {
                padding-left: 0;
                padding-right: 0;
            }

            a {
                color: @colorrgbablack;
                text-decoration: underline;
            }

            span#tipsButton {
                cursor: pointer;
            }
        }
    }

    .vende-tr {
        .garment {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProLight;
            padding-left: 45px;
            padding-right: 45px;
            text-align: left;
            @media (max-width: 990px) and (min-width: 768px) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }

        .text-sell, .text-sell-guidelines {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProLight;
            padding-left: 45px;
            padding-right: 45px;
            text-align: left;
            @media (max-width: 990px) and (min-width: 768px) {
                padding-left: 40px;
                padding-right: 40px;
            }

            .hihglight {
                font-family: @AcuminProBold;
            }

            a {
                color: @colorrgbablack;
                text-decoration: underline;
            }

            span#guidelinesButton2 {
                cursor: pointer;
            }

            span#noacceptButton2 {
                cursor: pointer;
            }
        }

        .full-guidelines {
            @media (max-width: 990px) and (min-width: 768px) {
                margin-bottom: 30px;
            }
        }

        .text-container {
            @media (max-width: 1024px) and (min-width: 990px) {
                padding: 40px 0 0;
            }

            .text {
                @media (max-width: 1024px) and (min-width: 990px) {
                    padding-bottom: 30px;
                }

                .hihglight {
                    font-family: @AcuminProBold;
                }
            }
        }
    }

    .text-actions {
        a {
            color: @colorrgbablack;
            text-decoration: underline;
        }
    }

    .sec-actions {
        @media (min-width: 1024px) {
            margin: auto;
        }
        @media (max-width: 768px) {
            padding-bottom: 30px;
        }

        .text-actions {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 15px;
        }
    }
}

.modal-content.content-modalguidelines {
    width: 100% !important;
    max-width: 500px !important;
    padding: 0 !important;
    background: transparent;
    @media (max-width: 767px) {
        width: 95% !important;
    }

    .encabezado-modal {
        background: @colorcoral;
        border-radius: 6px 6px 0 0;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-family: @AcuminProBold;
        color: @colorwhite;

        button.close {
            width: 26px;
            height: 26px;
            background: transparent @iconclosemodal top left no-repeat !important;
            top: 13px;
            right: 16px;
            border: none !important;
            opacity: 1;
            cursor: pointer;
            z-index: 1000;
            background-size: 25px 25px !important;
        }
    }

    .bodymodalcp {
        background: @colorwhite !important;
        border-radius: 0 0 6px 6px;
        padding: 15px 20px;

        .tabs {
            display: flex;
            text-align: center;

            .tabs-menu {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProLight;
                cursor: pointer;
                @media (max-width: 767px) {
                    font-size: 15px;
                }
                @media (max-width: 320px) {
                    font-size: 13px;
                }
            }

            div#estados {
                padding: 0;
            }
        }

        .sections {
            padding-top: 20px;

            article {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProLight;
                @media (max-width: 767px) {
                    font-size: 14px;
                }

                a {
                    color: @colorrgbablack;
                    text-decoration: underline;
                }

                .hihglight {
                    font-family: @AcuminProBold;
                }

                .title-category {
                    font-size: 16px;
                    padding-bottom: 5px;
                    color: @colorrgbablack;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }
                }

                .tabs-category {
                    ul {
                        margin-bottom: 10px !important;

                        li {
                            margin: auto;
                            cursor: pointer;
                        }
                    }
                }

                #tab5, #tab6, #tab7, #tab8, #tab9 {
                    margin-bottom: 0 !important;

                    li {
                        list-style: disc;
                    }
                }
            }

            #tab3 {
                li {
                    padding-bottom: 10px;
                }
            }

            article#tab1 {
                display: block;
            }

            article#tab2, article#tab3, article#tab4 {
                display: none;
            }

            #tab5 {
                display: block;
            }

            #tab6, #tab7, #tab8, #tab9 {
                display: none;
            }
        }

        .title-info {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProBold;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        .noaccept-pieces {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProLight;
            margin-bottom: 0 !important;
            @media (max-width: 767px) {
                font-size: 14px;
            }

            li {
                list-style: disc;
                margin-bottom: 3px;

                a {
                    color: @colorrgbablack;
                    text-decoration: underline;
                }
            }
        }
    }
}

.active-tab {
    font-family: @AcuminProBold !important;
    border-bottom: 2px solid @colorblack;
}

.active-tab-category {
    color: @colorcoral;
    text-decoration: underline;
    @media (max-width: 320px) {
        font-size: 14px;
    }
}
