@import '_variables.less';

.self-serve {
    margin-top: 30px;

    .general-steps {
        h5 {
            font-size: 20px;
            font-family: @IconsolataBold;
        }

        hr {
            border: solid @colorcoral 1px;
            border-radius: 5px;
            width: 50px;
        }
    }

    .step-disabled {
        opacity: .3;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.self-serve-info, .self-serve-characteristic, .self-serve-characteristic-mobile, .self-serve-picture {
    .progressbar {
        li.active {
            &:after {
                background: @colorcoral !important;
            }
        }

        li {
            list-style-type: none;
            float: left;
            width: 33.33%;
            position: relative;
            text-align: center;

            &:before {
                content: "";
                width: 20px;
                height: 20px;
                background: @colorarena;
                border-radius: 50%;
                display: block;
                text-align: center;
                margin: auto;
                margin-bottom: 10px !important;
                z-index: 2;
                position: inherit;
            }

            &:after {
                content: "";
                position: absolute;
                width: 96%;
                height: 2px;
                background: @colorarena;
                top: 10px;
                left: -48%;
                z-index: 1;
                @media (max-width: 767px) {
                    width: 94%;
                    left: -46%;
                }
            }

            .text-desk {
                font-size: 16px;
                font-family: @AcuminProBook;
                color: @colorrgbablack;
                @media (max-width: 1023px) {
                    display: none;
                }
            }
        }

        li:first-child:after {
            content: none;
        }

        li.active {
            &:before {
                content: "";
                width: 20px;
                height: 20px;
                background: @colorcoral;
                border-radius: 50%;
                display: block;
                text-align: center;
                margin: auto;
                margin-bottom: 10px !important;
            }
        }

        li.active + li:after {
            &:before {
                background: @colorcoral;
            }
        }
    }

    .text-mob {
        @media (min-width: 1024px) {
            display: none;
        }
        @media (max-width: 1023px) {
            display: block;
        }

        .general, .characteristic, .photos {
            padding: 20px;
            text-align: center;
            font-size: 16px;
            font-family: @AcuminProBook;
            color: @colorrgbablack;
            margin-bottom: 0;

            .emphasys {
                font-family: @AcuminProBold;
            }
        }
    }
}

.lbl-title {
    font-size: 20px !important;
    font-family: @AcuminProBold !important;
}

.self-serve-info {
    .info {
        padding-top: 24px;
        @media (max-width: 767px) {
            padding-top: 0;
        }

        .department, .category, .type-piece {
            @media (max-width: 767px) {
                padding: 0 40px;
            }
            @media (max-width: 320px) {
                padding: 0 30px;
            }

            label {
                font-size: 20px;
                font-family: @AcuminProBold;
            }

            .line {
                border: solid @colorcoral 1px;
                border-radius: 5px;
                margin-top: 10px;
                width: 50px;
            }

            .btn-group {
                .btn-active {
                    background: @colorcoral !important;
                    color: @colorwhite !important;
                    border: 1px solid @colorcoral !important;
                    font-family: @AcuminProBold !important;
                    font-size: 16px;
                }

                .btn-gender {
                    border: 2px solid @colorarena;
                    width: 100%;
                    height: 43px;
                    font-size: 16px;
                    font-family: @AcuminProBook;
                }

                .female {
                    border-radius: 10px 0 0 10px;

                    &:hover {
                        font-family: @AcuminProBold;
                        border: 2px solid @colorcoral;
                        color: @colorcoral !important;
                    }
                }

                .male {
                    border-radius: 0 10px 10px 0;

                    &:hover {
                        font-family: @AcuminProBold;
                        border: 2px solid @colorcoral;
                        color: @colorcoral !important;
                    }
                }

                .female.btn-active, .male.btn-active {
                    &:hover {
                        color: @colorwhite !important;
                    }
                }
            }
        }
    }

    .category, .type-piece {
        @media (max-width: 767px) {
            padding: 0 40px;
        }
        @media (max-width: 320px) {
            padding: 0 30px;
        }

        h5 {
            font-size: 20px;
            font-family: @AcuminProBold;
        }

        .line {
            border: solid @colorcoral 1px;
            border-radius: 5px;
            margin-top: 10px;
            width: 50px;
        }
    }

    .custom-select {
        height: 43px;
        cursor: pointer;
        border: 2px solid @colorarena;
    }

    button.primary {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        background: @colorblack !important;
        color: @colorwhite !important;
        border: none !important;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }
}

.self-serve-characteristic {
    p.required {
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        font-family: @AcuminProBook;
        @media (min-width: 1024px) {
            margin-top: 20px;
        }
    }

    .btn-group {
        @media (min-width: 1350px) {
            padding: 0 100px;
        }
        @media (max-width: 1349px) and (min-width: 1280px) {
            padding: 0 80px;
        }
        @media (max-width: 1279px) {
            padding: 0 20px;
        }

        .btn-select {
            width: 100%;
            height: 63px;
            border-radius: 10px;
            font-size: 16px;
            font-family: @AcuminProBold;
            border: 2px solid @colorarena;

            &:hover {
                border: 2px solid @colorcoral;
                font-family: @AcuminProBold;
                color: @colorcoral;
            }

            .txt-selected {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .edit-upload {
                background: @colorwhite;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                line-height: 32px;
                box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
            }
        }

        .btn-active {
            background: @colorcoral !important;
            color: @colorwhite !important;
            border: 1px solid @colorcoral !important;
            font-family: @AcuminProBold !important;
            font-size: 16px;
            width: 100%;

            &:hover {
                color: @colorwhite !important;
            }
        }
    }

}

.buttons_sections {
    button.primary {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        background: @colorblack !important;
        color: @colorwhite !important;
        border: 1px solid @colorblack !important;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }

    button.secondary {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        background: @colorwhite !important;
        color: @colorblack !important;
        border: 1px solid @colorblack !important;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }
}

.activegenderselected {
    color: @colorwhite !important;
    font-family: @AcuminProBold !important;
    background: @colorcoral !important;
    border: 2px solid @colorcoral !important;

    p {
        display: block !important;
        font-family: @AcuminProBook !important;
    }
}

.select-gender-women {
    margin-right: -5px;
}

.select-gender-man {
    margin-left: -3px;
    @media (max-width: 320px) {
        margin-left: 0;
    }
}

.btn-select-gender {
    display: flex;
    @media (max-width: 320px) {
        display: block;
    }

    .select-gender.selectinpt {
        width: 100%;
        display: inline-block;
        margin-right: -2px;
    }

    .select-gender-hombre {
        .genderselected {
            background: @colorwhite;
            padding: 10px 0;
            border-radius: 10px 0 0 10px;
            border: 2px solid @colorarena;
            text-align: center;
            color: @colorrgbablack;

            &:hover {
                cursor: pointer;
                background: @colorcoral !important;
                color: @colorwhite !important;
            }

            @media (max-width: 320px) {
                border-radius: 10px;
            }
        }
    }
}

.select-gender-mujer {
    .genderselected {
        background: @colorwhite;
        padding: 10px 0;
        border-radius: 0;
        border: 2px solid @colorarena;
        text-align: center;
        color: @colorrgbablack;

        &:hover {
            cursor: pointer;
            background: @colorcoral !important;
            color: @colorwhite !important;
        }

        @media (max-width: 320px) {
            border-radius: 10px;
        }
    }
}

.select-gender-singenero {
    .genderselected {
        background: @colorwhite;
        padding: 10px 0;
        border-radius: 0 10px 10px 0;
        border: 2px solid @colorarena;
        text-align: center;
        color: @colorrgbablack;

        &:hover {
            cursor: pointer;
            background: @colorcoral !important;
            color: @colorwhite !important;
        }

        @media (max-width: 320px) {
            border-radius: 10px;
        }
    }
}

.list-filters-select {
    @media (max-width: 768px) {
        height: 450px;
        overflow: scroll;
        margin-top: 20px;
    }
}

.ln-letters {
    @media (max-width: 768px) {
        display: none;
    }
    margin-bottom: 20px;

    a {
        border: none !important;
        color: #000000 !important;
        font-size: 16px !important;
        background-color: #FFFFFF !important;

        &:hover {
            color: #bf9880 !important;
        }
    }

    .ln-disabled {
        color: @colorarena !important;
        pointer-events: none !important;
    }

    .ln-selected {
        color: #bf9880 !important;
        font-family: @AcuminProBold;
    }
}

.divmodel {
    display: none !important;
}

.input_serach_modals {
    label.lbl_search {
        &:after {
            content: '' !important;
            cursor: pointer;
            background-image: url(/media/troquer/sprite-troquer.png);
            width: 24px !important;
            height: 22px !important;
            position: absolute;
            background-position: -45px 22px !important;
            background-size: 374px 22px;
            margin-top: 5px;
        }
    }

    input {
        border: none;
        padding-left: 30px !important;
        border-bottom: 1px solid @colorarena;
        @media (max-width: 768px) {
            margin-bottom: 10px;
        }

        &::placeholder {
            padding-left: 15px !important;
        }
    }
}

.modal-selfserve {
    width: 100% !important;
    max-width: 900px !important;
    padding: 0 !important;
    background: transparent;
    @media (max-width: 768px) {
        width: 95% !important;
    }

    .encabezado-modal {
        background: @colorcoral;
        border-radius: 6px 6px 0 0;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-family: @AcuminProBold;
        color: @colorwhite;

        span.title-condition {
            margin-left: 20px;
        }

        button.close {
            width: 26px;
            height: 26px;
            background: transparent @iconclosemodal top left no-repeat !important;
            top: 13px;
            right: 16px;
            border: none !important;
            opacity: 1;
            cursor: pointer;
            z-index: 1000;
            background-size: 25px 25px !important;
        }
    }

    .bodymodalcp {
        background: #FFFFFF !important;
        border-radius: 0 0 6px 6px;

        .list-letters {
            text-align: center;
            padding: 15px 0 !important;

            li {
                display: inline-block;
                margin: 5px 5px;

                a {
                    color: @colorblack;
                    font-family: @AcuminProBook;
                    font-size: 16px;

                    &:hover {
                        color: @colorcoral !important;
                        cursor: pointer;
                    }
                }
            }
        }

        .content-modal-selfserve {
            margin: 0 !important;
            padding: 20px 15px !important;

            .norequire {
                @media (max-width: 767px) {
                    padding: 0;
                }

                p {
                    color: @colorrgbablack;
                    font-family: @AcuminProBook;
                    font-size: 16px;
                    text-align: center;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }

                    .highlight {
                        font-family: @AcuminProBold;
                    }
                }
            }

            .search-input {
                @media (min-width: 1024px) {
                    margin: auto auto 30px;
                }
                @media (max-width: 767px) {
                    padding: 0;
                }

                .inputsearch {
                    input#searchmodelo {
                        border: none;

                        &::placeholder {
                            color: @colorgray;
                        }
                    }
                }
            }

            .list-search {
                @media (max-width: 767px) {
                    padding: 0;
                }

                .select-modelo {
                    .listNav {
                        .ln-letters {
                            text-align: center;
                            margin-bottom: 5px;

                            a {
                                display: inline-block;
                                float: none;
                            }
                        }
                    }

                    ul#listMaterial {
                        @media (min-width: 1024px) {
                            width: 80%;
                            margin: auto;
                        }
                    }
                }

                .list-modelo {
                    height: auto;
                    max-height: 300px;
                    overflow: scroll;
                    margin-bottom: 10px;

                    li {
                        display: inline-block;
                        margin: 10px;
                        max-width: 190px !important;
                        width: 100%;
                        @media (max-width: 768px) {
                            margin: 10px 5px;
                            max-width: 190px !important;
                            width: 100%;
                        }
                        @media (max-width: 767px) {
                            max-width: 95% !important;
                        }

                        a {
                            color: @colorblack;
                            font-family: @AcuminProBook;
                            font-size: 16px;

                            &:hover {
                                color: @colorcoral !important;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.select-estado {
    .sup-statususe {
        display: flex;
        @media (max-width: 576px) {
            display: block;
        }
    }

    .inf-statususe {
        display: flex;
        @media (max-width: 576px) {
            display: block;
        }
    }

    .selectinpt input:checked + label > .info-statu {
        color: @colorwhite !important;
        background: @colorcoral !important;
    }

    .selectinpt input:checked + label > .info-statu > p {
        display: block !important;
    }

    .select-usestatus.selectinpt {
        text-align: center;
        width: 45%;
        margin: 0 auto;
        @media (max-width: 576px) {
            width: 100%;
            margin: 10px 0;
        }

        br {
            @media (max-width: 576px) {
                display: none ;
            }
        }

        h4 {
            font-family: @AcuminProBold !important;
            font-size: 16px;
        }

        .info-statu {
            width: 100%;
            height: 84%;
            font-family: @AcuminProBook;
            color: @colorrgbablack;
            border: 1px solid @colorarena;
            margin: 10px auto;
            border-radius: 10px;
            padding: 8px;
            font-size: 16px;
            @media (max-width: 576px) {
                margin: 0 auto;
            }

            &:hover {
                border: 1px solid @colorcoral;
                color: @colorblack;
                cursor: pointer;
            }

            p {
                @media (max-width: 576px) {
                    display: none;
                }
            }
        }
    }

    .list-estado {
        .selected-estado {
            text-align: center;
            width: 45%;
            font-family: @AcuminProBook;
            color: @colorrgbablack;
            border: 1px solid @colorarena;
            margin: 10px auto;
            border-radius: 10px;
            padding: 8px;
            font-size: 16px;

            h4 {
                font-family: @AcuminProBold !important;
                font-size: 16px;
            }

            &:hover {
                border: 1px solid @colorcoral;
                color: @colorblack;
                cursor: pointer;
            }
        }

        .select-estado-active {
            background: @colorcoral;
            color: @colorwhite !important;
        }
    }
}

.select-estado .selectinpt-mobile input:checked + label > .info-statu-mob {
    display: block !important;
}

.listselect-active {
    color: @colorcoral !important;
    text-decoration: underline !important;
    font-family: @AcuminProBold !important;
}

.btn-active-model {
    background: @colorcoral !important;
    color: @colorwhite !important;
    border: 1px solid @colorcoral !important;
    font-family: @AcuminProBook;
    font-size: 16px;
    width: 100%;

    &:hover {
        background: @colorcoral !important;
        color: @colorwhite !important;
        border: 1px solid @colorcoral !important;
    }

    span.titleself {
        font-family: @AcuminProBold !important;
        color: @colorwhite !important;
    }

    span.infoself {
        font-family: @AcuminProBook;
        color: @colorwhite !important;
    }
}

.select-color-inf input:checked + label {
    border: @colorwhite 5px double !important;
    font-family: @AcuminProBold !important;
}

.select-color {
    .list-color {
        @media (max-width: 380px) {
            height: auto;
            max-height: 490px;
            overflow: scroll;
        }
        @media (max-width: 360px) {
            height: auto;
            max-height: 465px;
            overflow: scroll;
        }
        @media (max-width: 320px) {
            max-height: 395px;
        }

        li {
            max-width: 80px !important;
            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 10px 0 !important;
            @media (max-width: 768px) {
                max-width: 85px !important;
            }
            @media (max-width: 380px) {
                max-width: 105px !important;
            }
            @media (max-width: 360px) {
                max-width: 100px !important;
            }
            @media (max-width: 320px) {
                max-width: 85px !important;
            }

            .select-color-inf {
                color: @colorblack !important;
                font-size: 16px !important;
                font-family: @AcuminProBook;

                .selectinpt {
                    input:checked + label {
                        border: @colorwhite 5px double;
                    }
                }

                ._color {
                    display: block;
                    background: @colorblack;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 1px solid @colorccc;
                    text-align: center;
                    margin: 0 auto;
                    padding: 5px 13px !important;
                }

                span {
                    display: block;
                    line-height: 2.4;
                    color: @colorrgbablack;
                    font-family: @AcuminProLight;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.desactivedbotton {
    pointer-events: none !important;
    opacity: .4;
}

button#btnacepcolor {
    margin: 0 auto;
}

._selected_color {
    background: #000000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: #f6f1f1 5px double;
}

.listselect-active {
    ._color {
        background: #000000;
        width: 35px !important;
        height: 35px !important;
        border-radius: 50% !important;
        text-align: center !important;
        margin: 0 auto !important;
        border: #f6f1f1 5px double !important;
    }
}

.bnt-search {
    text-align: center;
    margin: auto;
    width: 100%;

    button.btnsearch {
        background: @colorblack;
        color: @colorwhite;
        max-width: 300px;
        min-width: 200px;
        width: 100%;
        height: 48px;
        font-size: 16px;
        border-radius: 10px;
        font-family: @AcuminProBold;
        border: 1px solid @colorblack;

        &:hover {
            background: @colorblack !important;
            color: @colorwhite !important;
        }

        @media (max-width: 767px) {
            max-width: 300px;
        }
    }

}

.selectinpt {
    label {
        font-size: 16px;
        color: @colorrgbablack;
        font-family: @AcuminProLight;

        &:hover {
            cursor: pointer;
        }
    }

    input {
        display: none;

        &:checked + label {
            color: @colorcoral;
            font-family: @AcuminProBold;
        }

        &:hover {
            color: @colorcoral;
        }
    }
}

.btn-pric {
    text-align: center;
    margin: 20px 0 15px;

    input#priceselect {
        display: none;
    }

    input#priceselect:checked + label {
        background: @colorcoral !important;
    }

    input#priceselect:checked + button {
        background: @colorcoral !important;
    }

    label {
        padding: 2px 10px;
        border-radius: 5px;
        border: 1px solid @colorcoral;

        &:hover {
            cursor: pointer;
        }
    }
}

.select-color {
    max-width: 70%;
    margin: 0 auto;
    font-family: @AcuminProBook;
    font-size: 16px;
    padding: 20px 0;

    @media (max-width: 767px) {
        max-width: 100%;
        padding: 0;
    }

    p {
        text-align: center;
        margin-bottom: 35px;
        color: @colorrgbablack;
        @media (max-width: 767px) {
            font-size: 15px;
        }
    }

    .input-precio {
        max-width: 69%;
        margin: 0 auto;
        text-align: left;
        @media (max-width: 767px) {
            max-width: 85%;
        }
        @media (max-width: 320px) {
            max-width: 100%;
        }

        .input-pr {
            margin-bottom: 20px !important;

            input {
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 1px solid @colorarena;
            }

            p.no-required {
                text-align: left;
                margin-top: 10px;
                font-size: 14px;
                color: rgba(0, 0, 0, .5);
            }
        }

        .btn-price-select {
            text-align: center;

            button.btn-price {
                background: #000000;
                max-width: 300px;
                width: 100%;
                height: 48px;
                border-radius: 10px;
                color: #FFFFFF;
                font-family: @AcuminProBold;
                font-size: 16px;
                border: 1px solid @colorblack;

                &:hover {
                    border: 1px solid @colorblack;
                }
            }
        }

        span {
            color: #777777;
            text-transform: uppercase;
            font-family: @AcuminProBold;
        }

        span.text-price-tag {
            font-family: @AcuminProBook !important;
            text-transform: initial !important;
            padding-left: 15px;
            color: #000000;
        }

    }

}

.errorprice {
    margin-top: 12px;

}

.tooltip-error-price-show {
    visibility: visible !important;
}

.tooltip-error-price {
    color: red !important;
    font-family: @AcuminProLight !important;
    visibility: hidden;
    text-transform: initial !important;
    font-size: 14px !important;
}

._hide_modal {
    display: none !important;
}

.box-picture_ {
    text-align: center;

    input {
        display: none;
    }

    .photo_upload {
        border-radius: 8px;
        padding: 5px;
        width: 200px;
        height: 200px;
        margin: auto;
        cursor: pointer;
    }

}

.btn_cancel {
    font-size: 16px;
    font-family: @AcuminProBold;
    color: @colorblack !important;
    cursor: pointer;
}

.btn_change {
    background: @colorblack !important;
    color: @colorwhite !important;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    height: 48px !important;
    font-size: 16px;
    font-family: @AcuminProBold;
    border: 1px solid @colorblack !important;
    margin: 0 auto 25px;

    &:hover {
        border: 1px solid @colorblack !important;
        background: @colorblack !important;
        color: @colorwhite !important;
    }
}

.self-serve-picture {
    .picture {
        padding-top: 48px;
        @media (max-width: 767px) {
            padding-top: 0;
        }

        .upload-section {
            @media (max-width: 767px) {
                padding: 0 40px;
            }

            h5 {
                font-size: 20px;
                font-family: @AcuminProBold;
            }

            .line {
                border: solid @colorcoral 1px;
                border-radius: 5px;
                margin-top: 10px;
                width: 50px;
            }

            .text-indicator {
                font-size: 16px;
                margin-bottom: 0;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
            }

            .upload-photo {
                display: flex;
                @media (max-width: 768px) {
                    display: block;
                }

                .picture-block {
                    padding: 0;
                    @media (max-width: 768px) {
                        padding: 0 15px;
                    }

                    .block-infopicture {
                        .box-picture {
                            border: 1px solid @colorarena;
                            border-radius: 8px;
                            padding: 5px;
                            width: 200px;
                            height: 200px;
                            @media (max-width: 768px) {
                                margin: auto;
                            }

                            input {
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                                opacity: 0;
                            }
                        }

                        .add-picture {
                            font-size: 14px;
                            color: @colorrgbablack;
                            font-family: @AcuminProLight;
                        }
                    }
                }

                .tips-photos {
                    @media (max-width: 767px) {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    .title-tips {
                        font-size: 16px;
                        color: @colorrgbablack;
                        font-family: @AcuminProBold;
                        @media (max-width: 320px) {
                            font-size: 14px;
                        }
                    }

                    li, p {
                        font-size: 16px;
                        color: @colorrgbablack;
                        font-family: @AcuminProBook;
                        @media (max-width: 320px) {
                            font-size: 14px;
                        }

                        span {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    button.primary {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        background: @colorblack !important;
        color: @colorwhite !important;
        border: none !important;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }
}

.content-modalphotos {
    margin-bottom: 80px;
    border-radius: 6px !important;
    @media (max-width: 576px) {
        max-width: 380px !important;
        width: 100% !important;
    }
    @media (max-width: 380px) {
        max-width: 340px !important;
    }
    @media (max-width: 320px) {
        max-width: 290px !important;
    }

    .encabezado-modal {
        background: @colorcoral;
        border-radius: 6px 6px 0 0;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-family: @AcuminProBold;
        color: @colorwhite;
        @media (max-width: 320px) {
            font-size: 14px;
        }

        span.title-condition {
            margin-left: 20px;
            @media (max-width: 768px) {
                vertical-align: sub;
            }
        }

        button.close {
            width: 26px;
            height: 26px;
            background: transparent @iconclosemodal top left no-repeat !important;
            top: 13px;
            right: 16px;
            border: none !important;
            opacity: 1;
            cursor: pointer;
            z-index: 1000;
            background-size: 25px 25px !important;

        }
    }

    .bodymodalphotos {
        padding: 25px 5%;
        background: @colorwhite;
        text-align: center;
        border-radius: 6px;

        #examples-images-slider-upload {
            .item.item-info-examples {
                margin-bottom: 20px;
                @media (max-width: 768px) {
                    padding-right: 0;
                    padding-left: 0;
                }

                .title-body-info {
                    font-size: 16px;
                    text-align: center;
                    color: @colorrgbablack;
                    font-family: @AcuminProBold;
                }

                .text-body-info {
                    height: 45px;
                    font-size: 16px;
                    margin-bottom: 0;
                    text-align: center;
                    color: @colorrgbablack;
                    font-family: @AcuminProBook;
                    @media (max-width: 320px) {
                        font-size: 14px;
                    }
                }

                .img-upload {
                    border: 1px solid #e0d9d9;
                    border-radius: 8px;
                    padding: 5px;
                    width: 270px;
                    margin: auto;
                    @media (max-width: 320px) {
                        width: 260px;
                        height: 280px;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            .owl-controls {
                .owl-dots {
                    display: inline-flex;
                    margin-top: 0 !important;
                }
            }
        }
    }
}

.self-serve-characteristic-mobile {
    @media (min-width: 1024px) {
        display: none;
    }

    .characteristic-mobile {
        @media (max-width: 767px) {
            padding: 0 40px;
        }

        h5 {
            font-size: 20px;
            font-family: @AcuminProBold;
        }

        .line {
            border: solid @colorcoral 1px;
            border-radius: 5px;
            width: 50px;
        }

        .search-characteristic {
            label {
                &:before {
                    content: '' !important;
                    cursor: pointer;
                    background-image: url(/media/troquer/sprite-troquer.png);
                    width: 24px !important;
                    height: 22px !important;
                    position: absolute;
                    background-position: -45px 22px !important;
                    background-size: 374px 22px;
                    margin-top: 5px;
                }
            }

            input {
                font-size: 16px;
                border: none;
                padding-left: 35px;
                border-bottom: 1px solid @colorarena;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }

        .select-inpt {
            max-height: 80%;
            overflow: scroll;

            .inpt {
                position: relative;
                margin-bottom: 15px;

                input[type="radio"] {
                    display: none;
                }

                input[type="radio"]:checked + label:after {
                    border-radius: 11px;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 7px;
                    left: 3px;
                    content: '';
                    display: block;
                    background: @colorcoral;
                }

                label {
                    font-size: 16px;
                    color: @colorrgbablack;
                    font-family: @AcuminProBook;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }

                    &:before {
                        content: '';
                        display: inline-block;
                        position: relative;
                        top: 4px;
                        margin: 0 5px 0 0;
                        width: 18px;
                        height: 18px;
                        border-radius: 11px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }

        .select-estado-mobile {
            .select-usestatus-mobile.selectinpt-mobile {
                width: 100%;
                border: 1px solid @colorarena;
                border-radius: 10px;
                padding: 10px;
                position: relative;

                input[type="radio"] {
                    display: none;
                }

                input[type="radio"]:checked + label {
                    h4 {
                        color: @colorblack;
                    }
                }

                input[type="radio"]:checked + label:after {
                    border-radius: 11px;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 17px;
                    left: 13px;
                    content: '';
                    display: block;
                    background: @colorcoral;
                }

                label {
                    &:before {
                        content: '';
                        display: inline-block;
                        position: relative;
                        top: 4px;
                        margin: 0 5px 0 0;
                        width: 18px;
                        height: 18px;
                        border-radius: 11px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }

                    h4 {
                        margin-top: -18px !important;
                        font-family: @AcuminProBold;
                        color: @colorrgbablack;
                        font-size: 16px;
                        width: 80%;
                    }

                    .info-statu-mob {
                        width: 80%;
                        font-family: @AcuminProBook;
                        color: @colorblack;
                        margin: 10px auto;
                        border-radius: 10px;
                        font-size: 16px;
                        display: none;
                    }
                }
            }
        }

        .select-estado-mobile {
            .selectinpt-mobile input:checked + label > .info-statu-mob {
                display: block !important;
            }
        }

        .text-characteristic-price {
            p {
                font-size: 16px;
                margin-bottom: 35px;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
            }

            .input-precio {
                .input-pr {
                    margin-bottom: 20px !important;

                    span {
                        font-size: 15px;
                        color: @colorgray;
                        text-transform: uppercase;
                        font-family: @AcuminProBold;
                    }

                    input {
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        border-bottom: 1px solid @colorarena;
                    }

                    p.no-required {
                        text-align: left;
                        margin-top: 10px;
                        font-size: 14px;
                        color: rgba(0, 0, 0, .5);
                    }
                }

                .btn-pric {
                    text-align: center;

                    input#priceselectmob {
                        display: none;
                    }

                    input#priceselectmob:checked + label {
                        background: @colorcoral !important;
                    }

                    input#priceselectmob:checked + button {
                        background: @colorcoral !important;
                    }

                    label {
                        padding: 2px 10px;
                        border-radius: 5px;
                        border: 1px solid @colorcoral;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    span.text-price-tag {
                        font-family: @AcuminProBook !important;
                        text-transform: initial !important;
                        padding-left: 15px;
                        font-size: 15px;
                        color: @colorrgbablack;
                    }
                }

                .btn-price-select {
                    text-align: center;

                    button.btn-price {
                        background: @colorblack;
                        max-width: 300px;
                        width: 100%;
                        height: 48px;
                        border-radius: 10px;
                        color: @colorwhite;
                        font-family: @AcuminProBold;
                        font-size: 16px;
                        border: 1px solid @colorblack;

                        &:hover {
                            border: 1px solid @colorblack;
                            background: @colorblack !important;
                            color: @colorwhite !important;
                        }
                    }
                }

                span {
                    color: #777777;
                    text-transform: uppercase;
                    font-family: @AcuminProBold;
                }
            }
        }
    }

    button.primary {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        background: @colorblack !important;
        color: @colorwhite !important;
        border: none !important;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
        font-family: @AcuminProBold;
    }

    .select-color {
        max-width: 100%;
    }
}

.self-serve-value {
    .step1, .step3 {
        @media (max-width: 768px) {
            display: none;
        }
    }

    .text-indicator {
        font-size: 16px;
        color: @colorrgbablack;
        font-family: @AcuminProBook;
        @media (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .count-pieces-value {
        font-size: 15px;
        color: @colorrgbablack;
        font-family: @AcuminProBook;
        @media (max-width: 767px) {
            margin-left: 15px;
        }
    }
}

.self-summary-pieces {
    .summary-section {
        h5 {
            font-family: @AcuminProBold;
            font-size: 20px;
        }

        .line {
            border: solid #bf9880 1px;
            border-radius: 5px;
            width: 50px;
            margin: 0 auto;
        }

        .tbl-sumary-pieces {
            .content-summary {
                @media (max-width: 576px) {
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }

                .info-section-summary {
                    padding: 10px 0;

                    .info-summary {
                        margin: auto;

                        br {
                            @media (max-width: 768px) {
                                display: none !important;
                            }
                        }

                        span.title {
                            font-size: 16px;
                            font-family: @AcuminProBook;
                            @media (max-width: 768px) {
                                display: none !important;
                            }
                        }

                        span.brand, span.garment, span.status {
                            font-size: 16px;
                            color: @colorrgbablack;
                            font-family: @AcuminProBook;
                            @media (max-width: 767px) {
                                font-size: 15px;
                            }
                            @media (max-width: 380px) {
                                width: 185px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            @media (max-width: 360px) {
                                width: 175px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            @media (max-width: 320px) {
                                font-size: 14px;
                                width: 150px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }

                        span.brand-name {
                            font-size: 16px;
                            color: @colorrgbablack;
                            font-family: @AcuminProBold;
                            @media (max-width: 767px) {
                                font-size: 15px;
                            }
                            @media (max-width: 320px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .btn-action-pieces {
                        .edit {
                            color: @colorcoral;
                            text-decoration: underline;
                            cursor: pointer;
                            font-size: 14px;
                            @media (max-width: 320px) {
                                font-size: 13px;
                            }
                        }

                        .delete {
                            float: right;
                            font-family: @AcuminProBold;
                        }
                    }

                    .btn-action-pieces {
                        .edit {
                            color: @colorcoral;
                            text-decoration: underline;
                            cursor: pointer;
                            font-size: 14px;
                            @media (max-width: 320px) {
                                font-size: 13px;
                            }
                        }

                        .delete {
                            float: right;
                            font-family: @AcuminProBold;
                        }
                    }
                }
            }
        }
    }

    .buttons-pieces {
        .btn-actions {
            button {
                margin: 0 auto;
                max-width: 300px;
                width: 100%;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                font-family: @AcuminProBold;
                border: 1px solid @colorblack !important;
            }

            .addpiece {
                background: @colorwhite !important;
                color: @colorblack !important;
            }

            .value {
                background: @colorblack !important;
                color: @colorwhite !important;
            }
        }
    }
}

.button-troquer {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    height: 48px !important;
    font-size: 16px;
    font-family: @AcuminProBold;
    border: 1px solid @colorblack !important;
}

.button-primary {
    background: @colorblack !important;
    color: @colorwhite !important;

    &:hover {
        background: @colorblack !important;
        color: @colorwhite !important;
    }
}

.button-secondary {
    background: @colorwhite !important;
    color: @colorblack !important;

    &:hover {
        background: @colorwhite !important;
        color: @colorblack !important;
    }
}

.modal-summary {
    width: 100% !important;
    max-width: 900px !important;
    padding: 0 !important;
    background: transparent;
    @media (max-width: 767px) {
        width: 95% !important;
    }

    .encabezado-modal {
        background: @colorcoral;
        border-radius: 6px 6px 0 0;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-family: @AcuminProBold;
        color: @colorwhite;

        span.title-condition {
            margin-left: 20px;
        }

        button.close {
            width: 26px;
            height: 26px;
            background: transparent @iconclosemodal top left no-repeat !important;
            top: 13px;
            right: 16px;
            border: none !important;
            opacity: 1;
            cursor: pointer;
            z-index: 1000;
            background-size: 25px 25px !important;
        }
    }

    .bodymodalcp {
        background: #FFFFFF !important;
        border-radius: 0 0 6px 6px;
        padding: 15px 30px;
        @media (max-width: 767px) {
            padding: 15px 20px;
        }

        .info-edit-piece {
            margin-bottom: 15px;
            @media (max-width: 767px) {
                height: auto;
                max-height: 600px;
                overflow: scroll;
            }
            @media (max-width: 380px) {
                max-height: 500px;
            }
            @media (max-width: 360px) {
                max-height: 470px;
            }
            @media (max-width: 320px) {
                max-height: 400px;
            }

            li {
                border-bottom: 1px solid rgba(224, 217, 217, 0.5);
                padding: 10px;
                @media (max-width: 380px) {
                    padding: 10px 0;
                }

                .col-lg-5.col-md-5.col-5 {
                    &:nth-child(2n) {
                        @media (max-width: 767px) {
                            padding-left: 0;
                        }
                    }
                }

                .col-lg-2.col-md-2.col-2 {
                    @media (max-width: 767px) {
                        padding-left: 0;
                    }
                }
            }
        }

        .list-letters {
            text-align: center;
            padding: 15px 0 !important;

            li {
                display: inline-block;
                margin: 5px 5px;

                a {
                    color: @colorblack;
                    font-family: @AcuminProBook;
                    font-size: 16px;

                    &:hover {
                        color: @colorcoral !important;
                        cursor: pointer;
                    }
                }
            }
        }

        .content-modal-selfserve {
            margin: 0 !important;
            padding: 20px 15px !important;

            .search-input {
                .inputsearch {
                    input#searchmodelo {
                        border: none;

                        &::placeholder {
                            color: @colorgray;
                        }
                    }
                }
            }

            .list-search {
                .list-modelo {
                    li {
                        display: inline-block;
                        margin: 10px 15px;
                        max-width: 160px !important;
                        width: 100%;

                        a {
                            color: @colorblack;
                            font-family: @AcuminProBook;
                            font-size: 16px;

                            &:hover {
                                color: @colorcoral !important;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .btn-acept {
            margin-top: 5px;
            margin-bottom: 15px;
            @media (max-width: 320px) {
                margin-bottom: 10px;
            }
        }
    }
}

.info-edit-piece {
    .select_to_edit {
        div {
            span {
                font-family: @AcuminProBook;
            }
        }

        .info-departament, .info-category, .info-garment, .info-brand, .info-model, .info-material, .info-color, .info-use, .info-price, .info-photo {
            font-size: 15px;
            font-family: @AcuminProBold;
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }

        .select {
            position: relative;
            font-family: @AcuminProBook;
            color: @colorrgbablack;
            font-size: 15px;
            @media (max-width: 320px) {
                font-size: 13px;
            }

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label {
                font-family: @AcuminProBold;
            }

        }
    }
}

.profits_estimate {
    .rw_profits {
        .profit_result {
            order: 2;
            text-align: right;
            @media (max-width: 576px) {
                order: 1;
                text-align: left;
            }

            .estimated-profit {
                margin: 0;
                font-size: 22px;
                color: @colorblack;
                font-family: @AcuminProBold;
                @media (max-width: 360px) {
                    font-size: 21px;
                }
                @media (max-width: 320px) {
                    font-size: 19px;
                }
            }
        }

        .pieces_count {
            order: 1;
            @media (max-width: 576px) {
                order: 2;
                padding: 0;
            }

            h5 {
                font-family: @AcuminProBook;
                font-weight: 100;
                font-size: 16px;
            }
        }
    }
}

.section-profits {
    p {
        font-size: 16px;
        font-family: @AcuminProBook;
        color: @colorrgbablack;
        padding: 0 24px 15px;
        @media (max-width: 990px) and (min-width: 768px) {
            padding: 0 10px 15px;
        }

        span.highlight {
            font-family: @AcuminProBold;
        }

        span#priceButton {
            vertical-align: sub;
            margin-left: 3px;
            cursor: pointer;
        }
    }

    p.count-pieces-value {
        @media (max-width: 767px) {
            padding: 24px 15px 0;
        }
    }
}

.info_ganancia {
    @media (max-width: 768px) {
        display: none;
    }
}

h4.lnk-gan {
    display: none;
    @media (max-width: 768px) {
        display: inline-block;
        right: 0;
        top: 28px;
    }
    @media (max-width: 767px) {
        right: -15px;
        top: 25px;
    }
    @media (max-width: 380px) {
        right: -10px;
    }
    @media (max-width: 320px) {
        top: 20px;
        right: -5px;
    }

    &:after {
        float: right;
        cursor: pointer;
        content: '\f803';
        font-family: 'porto-icons', serif;
        font-size: 24px;
        font-weight: 700 !important;
    }
}

.btn-action-upload {
    position: absolute !important;
    right: 50px;
    top: 56px;
    @media (max-width: 1024px) and (min-width: 990px) {
        right: -10px;
    }
    @media (max-width: 768px) {
        position: inherit !important;
    }
    @media (min-width: 768px) {
        margin: auto auto auto 100px;
    }

    .row {
        @media (max-width: 768px) {
            height: 100%;
        }

        .action_collpase {
            margin: auto 0;
            @media (max-width: 768px) {
                order: 2;
                margin: initial !important;
            }
        }

        .action_delete {
            @media (max-width: 768px) {
                order: 1;
            }

            .btn-delete-upload {
                margin: auto;
                right: 15px;
                display: inline-block;

                &:after {
                    content: '\02715';
                    font-family: 'porto-icons', serif;
                    font-size: 22px;
                    color: #b24f38;
                    cursor: pointer;
                }

                @media (max-width: 767px) {
                    top: 5px;
                    right: 0;
                }
                @media (max-width: 380px) {
                    right: 5px;
                }
                @media (max-width: 320px) {
                    right: 10px;
                }
            }
        }
    }
}

.material_edit {
    display: block !important;
}

.btn-action-pieces {
    @media (min-width: 768px) {
        margin: auto;
        padding-right: 25px;
    }

    .row {
        @media (max-width: 767px) {
            height: 100%;
        }

        .action_edit {
            margin: auto 0;
            @media (max-width: 767px) {
                order: 2;
                margin: initial !important;
            }

            span#editSummary {
                @media (max-width: 767px) {
                    justify-content: flex-end;
                    position: absolute;
                    bottom: 0;
                    padding-bottom: 15px;
                    font-family: @AcuminProBold;
                }
                @media (max-width: 360px) {
                    right: 10px;
                }
            }
        }

        .action_delete {
            @media (max-width: 767px) {
                order: 1;
            }

            .delete {
                @media (max-width: 767px) {
                    margin-top: 10px;
                }

                &:before {
                    content: '\02715';
                    font-family: 'porto-icons', serif;
                    font-size: 22px;
                    color: @colorladrillo;
                    cursor: pointer;
                }
            }
        }
    }
}

.hiden_cards {
    display: none !important;
}

.section_products_summary {
    display: flex;
}

#modaltemrs {
    .modal-content {
        .bodymodalcp {
            .content_modal_terms {
                padding: 10px 0;
                @media (max-width: 767px) {
                    overflow: scroll;
                    height: auto;
                    max-height: 485px;
                }
                @media (max-width: 320px) {
                    max-height: 410px;
                }

                p {
                    text-align: center;
                    font-size: 15px;
                    color: @colorrgbablack;
                    font-family: @AcuminProBook;

                    a {
                        text-decoration: none;
                        color: @colorcoral;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .check_termns {
                    width: 80%;
                    margin: 3rem auto 0;
                    @media (max-width: 767px) {
                        width: 100%;
                    }

                    .terms_check {
                        margin-top: 10px;

                        .input_term {
                            width: 5%;
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                        }

                        .text_terms {
                            width: 88%;
                            display: inline-block;
                            vertical-align: middle;
                            padding-left: 10px;

                            p {
                                text-align: left;
                            }
                        }

                        input {
                            display: none;
                        }

                        input[type=checkbox]:checked + label:after {
                            border-radius: 4px;
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            content: " ";
                            display: block;
                            background: #bf9880;
                        }

                        label {
                            &:before {
                                content: " ";
                                display: inline-block;
                                position: relative;
                                top: 0;
                                margin: 0 5px 0 0;
                                width: 22px;
                                height: 22px;
                                border-radius: 4px;
                                border: 1px solid #bf9880;
                                background-color: transparent;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .button-continue {
                margin-top: 15px !important;
                text-align: center;
            }
        }
    }
}

.title_qty_prod {
    font-size: 16px;
    font-weight: 500;
    color: @colorgraytext;
    max-width: 120px;
    width: 100%;
    @media (max-width: 576px) {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }

}

.info_edit {
    display: none;
}

.btn_save {
    margin-top: 20px;
    margin-bottom: 10px;

    .btn_change {
        color: @colorwhite !important;
        max-width: 300px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid @colorblack !important;
        background: @colorblack !important;

        &:hover {
            border: 1px solid @colorblack !important;
            background: @colorblack !important;
            color: @colorwhite !important;
        }
    }
}

.btn_change_disabled {
    pointer-events: none !important;
    opacity: .4;
}

.edit_info {
    color: @colorcoral;
    cursor: pointer;
    text-decoration: underline;
}

.modal_edit {
    display: none;
    background: @colorwhite !important;
    padding: 15px;
    border-radius: 0 0 6px 6px;
}

div#summaryModal {
    pointer-events: none;

    .modal-content.modal-summary {
        pointer-events: auto !important;
    }
}

.edit_brand_modal {
    padding: 0 40px;
    max-height: 55%;
    height: 55%;

    h5 {
        font-size: 20px;
        font-family: @AcuminProBold;
    }

    .line {
        border: solid @colorcoral 1px;
        border-radius: 5px;
        width: 50px;
    }

    .search-characteristic {
        label {
            &:before {
                content: '' !important;
                cursor: pointer;
                background-image: url(/media/troquer/sprite-troquer.png);
                width: 24px !important;
                height: 22px !important;
                position: absolute;
                background-position: -45px 22px !important;
                background-size: 374px 22px;
                margin-top: 5px;
            }
        }

        input {
            font-size: 14px;
            border: none;
            padding-left: 35px;
            border-bottom: 1px solid #e0d9d9;

            &::placeholder {
                padding-left: 25px;
            }
        }
    }

    .select-inpt {
        max-height: 45vh;
        overflow: scroll;
        overflow-x: hidden;

        .inpt {
            position: relative;
            margin-bottom: 15px;

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 7px;
                left: 3px;
                content: '';
                display: block;
                background: @colorcoral;
            }

            label {
                font-size: 14px;

                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }
            }
        }

    }

}

.selected_card_use {
    @media (max-width: 767px) {
        background: @colorcoral;
    }

    label {
        h4 {
            @media (max-width: 767px) {
                color: @colorwhite !important;
            }
        }

        .info-statu-mob {
            p {
                @media (max-width: 767px) {
                    color: @colorwhite !important;
                }
            }
        }
    }
}

.select-estado-mobile {
    .select-usestatus-mobile.selectinpt-mobile {
        width: 100%;
        border: 1px solid @colorarena;
        border-radius: 10px;
        padding: 10px;
        position: relative;

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked + label {
            h4 {
                color: @colorblack;
            }
        }

        input[type="radio"]:checked + label:after {
            border-radius: 11px;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 17px;
            left: 13px;
            content: '';
            display: block;
            background: @colorcoral;
        }

        label {
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                top: 4px;
                margin: 0 5px 0 0;
                width: 18px;
                height: 18px;
                border-radius: 11px;
                border: 1px solid @colorcoral;
                background-color: transparent;
            }

            h4 {
                margin-top: -18px !important;
                font-family: @AcuminProBold;
                color: @colorrgbablack;
                font-size: 16px;
                width: 80%;
            }

            .info-statu-mob {
                width: 80%;
                font-family: @AcuminProBook;
                color: @colorblack;
                margin: 10px auto;
                border-radius: 10px;
                font-size: 16px;
                display: none;
            }
        }
    }
}

.select-estado-mobile {
    .selectinpt-mobile input:checked + label > .info-statu-mob {
        display: block !important;
    }
}

h5.more_pieces {
    &:after {
        float: right;
        cursor: pointer;
        content: '\f803';
        font-family: 'porto-icons', serif;
        font-size: 24px;
        font-weight: 700 !important;
        margin-top: -5px;
    }
}

h5.more_pieces.active {
    &:after {
        content: '\f800' !important;
    }
}

h4.lnk-gan.active {
    &:after {
        content: '\f800' !important;
    }
}

.container-valued {
    padding: 15px 0;

    p {
        font-size: 16px;
        font-family: @AcuminProBook;
        color: @colorrgbablack;
        @media (max-width: 767px) {
            font-size: 15px;
        }
        @media (max-width: 320px) {
            font-size: 14px;
        }
    }

    .summary-upload {
        display: inline-flex;
        padding: 0;

        .box-photo {
            width: 90px;
            height: 90px;

            img {
                width: 100%;
            }
        }

        .info-summary {
            padding-left: 10px;
            margin: auto 0;
            @media (max-width: 320px) {
                padding-left: 0;
            }

            p.brand, p.status {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
                margin-bottom: 3px !important;
                @media (max-width: 767px) {
                    font-size: 15px;
                    width: 200px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                @media (max-width: 320px) {
                    font-size: 14px;
                    width: 170px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            p.brand-name {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProBold;
                margin-bottom: 3px !important;
                @media (max-width: 767px) {
                    font-size: 15px;
                    width: 200px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                @media (max-width: 380px) {
                    width: 180px;
                }
                @media (max-width: 320px) {
                    font-size: 14px;
                    width: 170px;
                }
            }

            .no-valued-mob {
                font-family: @AcuminProBold;
                color: @colorladrillo;
                font-size: 15px;
                margin-bottom: 3px !important;
                @media (min-width: 1024px) {
                    display: none;
                }
                @media (max-width: 768px) {
                    display: block;
                }
                @media (max-width: 767px) {
                    width: 200px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                @media (max-width: 360px) {
                    font-size: 14px;
                    width: 170px;
                }
            }

            .txt-profit-mob {
                font-family: @AcuminProBold;
                color: @colorblack;
                font-size: 15px;
                margin-bottom: 3px !important;
                @media (min-width: 1024px) {
                    display: none;
                }
                @media (max-width: 768px) {
                    display: block;
                }
            }

            .edit {
                cursor: pointer;
                font-size: 14px;
                color: @colorcoral;
                text-decoration: underline;
                margin-bottom: 3px !important;
            }
        }
    }

    .show_ganancia {
        display: block !important;
    }

    .info_ganancia {
        div {
            @media (max-width: 767px) {
                padding-top: 0;
            }

            .no-valued-desk {
                font-family: @AcuminProBold;
                color: @colorladrillo;
                font-size: 16px;
                @media (min-width: 1024px) {
                    display: block;
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        p.txt-12 {
            font-size: 13px;
        }

        p.total-profit {
            color: @colorblack;
            font-family: @AcuminProBold;
        }
    }
}

.buttons-pieces {
    .service-value {
        p {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProBook;
            @media (max-width: 767px) {
                font-size: 14px;
            }

            a {
                color: @colorrgbablack;
                text-decoration: underline;
            }
        }
    }

    .btn-actions {
        button {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
            border-radius: 10px;
            height: 48px;
            font-size: 16px;
            font-family: @AcuminProBold;
            border: 1px solid @colorblack !important;
        }

        .addpiece {
            background: @colorwhite !important;
            color: @colorblack !important;
        }

        .value {
            background: @colorblack !important;
            color: @colorwhite !important;
        }
    }
}

.line-profit {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid @colorcoral !important;

    &:before {
        content: '';
        background: @colorcoral;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        position: absolute;
        top: -3px;
        right: -1px;
    }

    &:after {
        content: '';
        background: @colorcoral;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        position: absolute;
        top: -3px;
        left: -1px;
    }
}

.bullet-profit {
    background: @colorcoral !important;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    top: -15px;
}

.txt-12 {
    font-size: 12px;
}

.total-profit {
    font-size: 22px;
    font-weight: 900;
    color: @colorblack !important;
    @media (max-width: 360px) {
        font-size: 21px;
    }
    @media (max-width: 320px) {
        font-size: 19px;
    }
}

.btn-principal {
    background: @colorblack !important;
    width: 300px !important;
    height: 48px !important;
    border-radius: 10px !important;
    color: @colorwhite !important;
    border: 1px solid @colorblack !important;
    font-family: @AcuminProBold;
    font-size: 16px;

    &:hover {
        background-color: @colorblack !important;
        color: @colorwhite !important;
        border: 1px solid @colorblack !important;
    }

    @media (max-width: 320px) {
        max-width: 300px !important;
        min-width: 260px !important;
        width: 100% !important;
    }
}

.btn-secondary {
    background: @colorwhite !important;
    width: 300px !important;
    height: 48px !important;
    border-radius: 10px !important;
    color: @colorblack !important;
    border: 1px solid @colorblack !important;
    font-family: @AcuminProBold;
    font-size: 16px;

    &:hover {
        background-color: @colorwhite !important;
        color: @colorblack !important;
        border: 1px solid @colorblack !important;
    }
}

.no-valued {
    color: @colorladrillo !important;
}

.txt-profit-desk {
    display: none;
}

.content_section_address {
    padding: 25px 0;
    background: @colorwhite;

    p {
        font-size: 16px;
        color: @colorrgbablack;
        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }
}

div#slider_cards_address {
    background: @colorwhite !important;
    width: 100%;
    margin: 0 auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .card_address {
        background: @colorcoral;
        padding: 5px 10px;
        max-width: 180px;
        width: 100%;
        border-radius: 10px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    form#form-validate {
        fieldset {
            legend.legend {
                margin-bottom: 20px !important;
            }
        }
    }
}

.buttons_edit_guia {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.price_mobile {
    @media (max-width: 767px) {
        padding: 0 40px;
    }

    h5 {
        font-size: 20px;
        font-family: @AcuminProBold;
    }

    .line {
        border: solid @colorcoral 1px;
        border-radius: 5px;
        width: 50px;
    }

    .search-characteristic {
        label {
            &:before {
                content: '' !important;
                cursor: pointer;
                background-image: url(/media/troquer/sprite-troquer.png);
                width: 24px !important;
                height: 22px !important;
                position: absolute;
                background-position: -45px 22px !important;
                background-size: 374px 22px;
                margin-top: 5px;
            }
        }

        input {
            font-size: 16px;
            border: none;
            padding-left: 35px;
            border-bottom: 1px solid @colorarena;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }

    .select-inpt {
        max-height: 80%;
        overflow: scroll;

        .inpt {
            position: relative;
            margin-bottom: 15px;

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 7px;
                left: 3px;
                content: '';
                display: block;
                background: @colorcoral;
            }

            label {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
                @media (max-width: 767px) {
                    font-size: 14px;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }
            }
        }
    }

    .select-estado-mobile {
        .select-usestatus-mobile.selectinpt-mobile {
            width: 100%;
            border: 1px solid @colorarena;
            border-radius: 10px;
            padding: 10px;
            position: relative;

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + label {
                h4 {
                    color: @colorblack;
                }
            }

            input[type="radio"]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 17px;
                left: 13px;
                content: '';
                display: block;
                background: @colorcoral;
            }

            label {
                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }

                h4 {
                    margin-top: -18px !important;
                    font-family: @AcuminProBold;
                    color: @colorrgbablack;
                    font-size: 16px;
                    width: 80%;
                }

                .info-statu-mob {
                    width: 80%;
                    font-family: @AcuminProBook;
                    color: @colorblack;
                    margin: 10px auto;
                    border-radius: 10px;
                    font-size: 16px;
                    display: none;
                }
            }
        }
    }

    .select-estado-mobile {
        .selectinpt-mobile input:checked + label > .info-statu-mob {
            display: block !important;
        }
    }

    .text-characteristic-price {
        p {
            font-size: 16px;
            margin-bottom: 35px;
            color: @colorrgbablack;
            font-family: @AcuminProBook;
            @media (max-width: 767px) {
                font-size: 15px;
            }
            @media (max-width: 320px) {
                font-size: 14px;
            }
        }

        .input-precio {
            .input-pr {
                margin-bottom: 20px !important;

                span {
                    font-size: 15px;
                    color: @colorgray;
                    text-transform: uppercase;
                    font-family: @AcuminProBold;
                }

                input {
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 1px solid @colorarena;
                }

                p.no-required {
                    text-align: left;
                    margin-top: 10px;
                    font-size: 14px;
                    color: rgba(0, 0, 0, .5);
                }
            }

            .btn-pric {
                text-align: center;

                input#priceselectmob {
                    display: none;
                }

                input#priceselectmob:checked + label {
                    background: @colorcoral !important;
                }

                input#priceselectmob:checked + button {
                    background: @colorcoral !important;
                }

                label {
                    padding: 2px 10px;
                    border-radius: 5px;
                    border: 1px solid @colorcoral;

                    &:hover {
                        cursor: pointer;
                    }
                }

                span.text-price-tag {
                    font-family: @AcuminProBook !important;
                    text-transform: initial !important;
                    padding-left: 15px;
                    font-size: 15px;
                    color: @colorrgbablack;
                }
            }

            .btn-price-select {
                text-align: center;

                button.btn-price {
                    background: @colorblack;
                    max-width: 300px;
                    width: 100%;
                    height: 48px;
                    border-radius: 10px;
                    color: @colorwhite;
                    font-family: @AcuminProBold;
                    font-size: 16px;
                    border: 1px solid @colorblack;

                    &:hover {
                        border: 1px solid @colorblack;
                        background: @colorblack !important;
                        color: @colorwhite !important;
                    }
                }
            }

            span {
                color: #777777;
                text-transform: uppercase;
                font-family: @AcuminProBold;
            }
        }
    }
}

.upload-section-edit {

    padding: 0 40px;

    h5 {
        font-size: 20px;
        font-family: @AcuminProBold;
    }

    .line {
        border: solid @colorcoral 1px;
        border-radius: 5px;
        width: 50px;
    }

    .text-indicator {
        font-size: 16px;
        color: @colorrgbablack;
        font-family: @AcuminProBook;
    }

    .upload-photo {

        display: block;

        .picture-block {
            padding: 0 15px;

            .block-infopicture {
                .box-picture {
                    border: 1px solid @colorarena;
                    border-radius: 8px;
                    padding: 5px;
                    width: 200px;
                    height: 200px;
                    margin: auto;

                    input {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        opacity: 0;
                    }
                }
            }
        }

        .tips-photos {
            padding-left: 0;
            padding-right: 0;

            .title-tips {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProBold;
                @media (max-width: 320px) {
                    font-size: 14px;
                }
            }

            li, p {
                font-size: 16px;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
                @media (max-width: 320px) {
                    font-size: 14px;
                }

                span {
                    cursor: pointer;
                }
            }
        }
    }
}

.select-estado-modal {
    .select-usestatus-mobile.selectinpt-mobile {
        width: 100%;
        border: 1px solid @colorarena;
        border-radius: 10px;
        padding: 10px;
        position: relative;

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked + label {
            h4 {
                color: @colorblack;
            }
        }

        input[type="radio"]:checked + label:after {
            border-radius: 11px;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 17px;
            left: 13px;
            content: '';
            display: block;
            background: @colorcoral;
        }

        label {
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                top: 4px;
                margin: 0 5px 0 0;
                width: 18px;
                height: 18px;
                border-radius: 11px;
                border: 1px solid @colorcoral;
                background-color: transparent;
            }

            h4 {
                margin-top: -18px !important;
                font-family: @AcuminProBold;
                color: @colorrgbablack;
                font-size: 16px;
                width: 80%;
            }

            .info-statu-mob {
                width: 80%;
                font-family: @AcuminProBook;
                color: @colorblack;
                margin: 10px auto;
                border-radius: 10px;
                font-size: 16px;
                display: none;
            }
        }
    }
}

.btn_save_photo {
    display: none;
    margin-bottom: 10px;
}

.section_products_upload {
    margin-top: 50px;

    h3.title-pieces-summary {
        font-size: 22px;
        color: @colorrgbablack;
        font-family: @AcuminProBook;
        @media (max-width: 767px) {
            padding: 0 20px;
            text-align: left;
        }
    }

    .info_products_card {
        margin-top: 15px;
        @media (max-width: 1024px) and (min-width: 768px) {
            padding-right: 8px !important;
            padding-left: 8px !important;
        }
        @media (max-width: 767px) {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .products_cards {
            padding: 15px;
            background: @colorwhite;

            .row {
                margin-right: 0 !important;
                margin-left: 0 !important;

                .photo_product {
                    width: 90px;
                    height: 90px;

                    img {
                        width: 100%;
                    }
                }

                .info_products {
                    margin: auto;

                    h2 {
                        font-size: 16px;
                        font-family: @AcuminProBold;
                        margin-bottom: 2px;
                    }

                    p {
                        font-size: 15px;
                        font-family: @AcuminProBook;
                        color: @colorrgbablack;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.self-serve-shipping {
    margin-top: 30px;

    .general-steps {
        h5 {
            font-size: 20px;
            font-family: @IconsolataBold;
        }

        hr {
            border: solid @colorcoral 1px;
            border-radius: 5px;
            width: 50px;
        }
    }

    .step-disabled {
        opacity: .3;
        @media (max-width: 768px) {
            display: none;
        }
    }

    .step1, .step2 {
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.self-serve-shippinguide {
    .step1, .step2 {
        @media (max-width: 768px) {
            display: none;
        }
    }

    img.shippinguideskimg {
        @media (min-width: 768px) {
            display: block;
            width: 100%;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    img.shippinguidemobimg {
        @media (min-width: 768px) {
            display: none;
        }
        @media (max-width: 767px) {
            display: block;
            width: 100%;
        }
    }

    h2 {
        padding-top: 5px;
        @media (max-width: 767px) {
            display: block;
            margin: auto;
            text-align: center;
        }
        @media (max-width: 320px) {
            font-size: 30px;
        }
    }

    .title-box-succes {
        position: relative;

        .text-banner {
            right: 3%;
            left: unset;
            top: unset;
            @media (max-width: 768px) {
                margin: 20px 0 0 0 !important;
            }
            @media (max-width: 767px) {
                right: 11%;
            }
            @media (max-width: 320px) {
                right: 5%;
            }

            p {
                @media (max-width: 380px) {
                    font-size: 16px;
                }
            }
        }
    }

    .shippinguide {
        padding-top: 30px;

        .shippinguide-download {
            h2 {
                padding: 0 20px;
                color: @colorrgbablack;
                font-family: @IconsolataBold;
                @media (max-width: 767px) {
                    padding: 0 0 20px 0;
                    margin: auto 15px;
                }
            }

            h3 {
                padding: 0 20px 10px;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
                @media (max-width: 767px) {
                    padding: 0 0 20px 0;
                    margin: auto;
                    text-align: center;
                }
            }

            .line {
                border: solid @colorcoral 1px;
                border-radius: 5px;
                width: 50px;
                margin: 0 0 0 20px;
                @media (max-width: 767px) {
                    margin: auto;
                }
            }

            p {
                font-size: 16px;
                padding: 0 20px;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
                @media (max-width: 767px) {
                    text-align: center;
                }
                @media (max-width: 320px) {
                    font-size: 15px;
                }
            }

            p.hihglight {
                font-family: @AcuminProBold;
            }

            p.guide-time {
                margin: 0;
                font-size: 14px;
                padding: 0 20px 20px;
                color: @colorrgbablack;
                font-family: @AcuminProBook;
                @media (max-width: 767px) {
                    padding: 20px;
                }
            }

            button.secondary {
                margin: 0 0 0 35px;
                max-width: 300px;
                width: 100%;
                background: @colorwhite !important;
                color: @colorblack !important;
                border: 1px solid @colorblack;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                font-family: @AcuminProBold;
                @media (max-width: 768px) {
                    margin: 0 auto;
                }
            }
        }

        .shippinguide-steps {
            margin: auto;
            @media (max-width: 768px) {
                margin-bottom: 25px;
            }
            @media (max-width: 767px) {
                display: block !important;
            }

            .icon-guide {
                display: block;
                text-align: center;
                @media (max-width: 767px) {
                    display: flex;
                    text-align: left;
                    margin-bottom: 10px;
                }

                img {
                    width: 70%;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }

                p {
                    font-size: 16px;
                    color: @colorrgbablack;
                    font-family: @AcuminProBook;
                    @media (max-width: 767px) {
                        font-size: 15px;
                    }

                    span {
                        img {
                            width: 18px !important;
                            vertical-align: sub;
                        }
                    }
                }

                #videoButton {
                    @media (min-width: 768px) {
                        display: block;
                        cursor: pointer;
                    }
                    @media (max-width: 767px) {
                        display: none;
                    }
                }

                .video-tr {
                    @media (min-width: 768px) {
                        display: none;
                    }
                    @media (max-width: 767px) {
                        display: block;
                    }
                }

                .text-next-steps {
                    padding: 0;
                    @media (max-width: 767px) {
                        margin: auto;
                        padding: inherit;
                    }
                }
            }
        }
    }

    .shippinguide-pickup, .shippinguide-actions {
        padding-top: 30px;

        .title-pickup {
            text-align: center;
            padding: 0 20px;
            color: @colorrgbablack;
            font-family: @IconsolataBold;
            @media (max-width: 767px) {
                padding: 0 20px 20px;
            }
        }

        .line {
            border: solid @colorcoral 1px;
            border-radius: 5px;
            width: 50px;
            margin: auto;
        }

        p, .phone-pickup {
            text-align: center;
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProBook;
            @media (max-width: 767px) {
                padding: 0 20px;
                text-align: center;
            }
            @media (max-width: 320px) {
                font-size: 15px;
            }

            #serviceButton {
                cursor: pointer;
                vertical-align: top;
            }
        }

        .num-guide {
            padding: 0 0 20px 0;
            font-family: @AcuminProBold;
        }

        .phone-pickup {
            display: block;
            margin-bottom: 30px;

            p {
                font-size: 20px;
                color: @colorblack;
                font-family: @AcuminProBold;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        .phone-pickup-mob {
            display: none;
            @media (max-width: 767px) {
                display: block;
                button.primary {
                    margin: 0 auto 30px;
                    max-width: 300px;
                    width: 100%;
                    background: @colorblack !important;
                    color: @colorwhite !important;
                    border: none !important;
                    border-radius: 10px;
                    height: 48px;
                    font-size: 16px;
                    font-family: @AcuminProBold;
                }
            }
        }

        .action-button-chat {
            padding-bottom: 30px;
        }
    }

    .shippinguide-actions {
        .text-actions {
            margin: auto auto 25px;

            p {
                padding: 0;
            }
        }

        a {
            width: 100%;

            button.secondary {
                margin: 0 auto;
                max-width: 300px;
                width: 100%;
                background: @colorwhite !important;
                color: @colorblack !important;
                border: 1px solid @colorblack;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                font-family: @AcuminProBold;
            }
        }

        .text-actions-block {
            display: block;

            button.primary {
                margin: 0 auto 30px;
                max-width: 300px;
                width: 100%;
                background: @colorblack !important;
                color: @colorwhite !important;
                border: none !important;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                font-family: @AcuminProBold;
            }
        }
    }
}

.content-modalphotos.pieces {
    @media (max-width: 320px) {
        max-width: 310px !important;
    }
}
