<?php

/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
use \Magento\Catalog\Block\Product\View;

/** @var $block View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php $dailydealhelper = $this->helper('Smartwave\Dailydeals\Helper\Data'); ?>
<?php if ($_product->isSaleable()) : ?>
    <div class="box-tocart">
        <?php if ($block->getRequest()->getParam('dailydealproduct') || $dailydealhelper->isDealProduct($_product->getId())) : ?>
            <?php $productSku = $_product->getSku(); ?>
            <input type="text" id="todate" value="<?php echo $dailydealhelper->getDailydealToDate($productSku); ?>" style="display:none;">
            <input type="text" style="display: none;" id="fromdate" value="<?php echo $dailydealhelper->getDailydealFromDate($productSku); ?>">
            <p id="countdown"></p>
            <div class="sw-dailydeal-wrapper">
                <div class="sw-dailydeal">
                    <?php if ($block->getRequest()->getParam('dailydealproduct')) : ?>
                        <p id="expired"></p>
                    <?php endif; ?>
                    <div class="countdowncontainer" style="display:none;">
                        <span class="dailydeal-label">
                            <?php echo __('Offer Ends In:'); ?>
                        </span>
                        <span class="number-wrapper">
                            <div class="line"></div>
                            <span class="number day">
                                <p id="countdown_days"></p>
                            </span>
                            <div class="caption"><?php echo __('Days'); ?></div>
                        </span>

                        <span class="number-wrapper">
                            <div class="line"></div>
                            <span class="number hour">
                                <p id="countdown_hours"></p>
                            </span>
                            <div class="caption"><?php echo __('Hours'); ?></div>
                        </span>

                        <span class="number-wrapper">
                            <div class="line"></div>
                            <span class="number min">
                                <p id="countdown_minutes"></p>
                            </span>
                            <div class="caption"><?php echo __('Minutes'); ?></div>
                        </span>

                        <span class="number-wrapper">
                            <div class="line"></div>
                            <span class="number sec">
                                <p id="countdown_seconds"></p>
                            </span>
                            <div class="caption"><?php echo __('Seconds'); ?></div>
                        </span>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <div class="fieldset price-addcart-product">
            <?php if ($block->shouldRenderQuantity()) : ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?>:</span></label>
                    <div class="control">
                        <?php if($block->getProductStock($_product->getSku()) > 1): ?>
                            <div class="opccount">
                                <div class="qty-changer">
                                    <a href="javascript:void(0)" class="qty-dec"><i class="porto-icon-down-dir"></i></a>
                                </div>
                            </div>
                            <div class="opccount">
                                <input type="number" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                            </div>
                            <div class="opccount">
                                <div class="qty-changer">
                                    <a href="javascript:void(0)" class="qty-inc"><i class="porto-icon-up-dir"></i></a>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit" title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>" class="action primary tocart tocartx" id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */ echo 'Agregar a mi bolsa' ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/product/view/validation',
            'Magento_Catalog/js/catalog-add-to-cart'
        ], function($) {
            'use strict';

            $('#product_addtocart_form').mage('validation', {
                radioCheckboxClosest: '.nested',
                submitHandler: function(form) {
                    var widget = $(form).catalogAddToCart({
                        bindSubmit: false
                    });

                    widget.catalogAddToCart('submitForm', $(form));

                    return false;
                }
            });
        });
    </script>
<?php endif; ?>
