<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
use \Magento\Catalog\Block\Product\View\Attributes;

/**
 * Product additional attributes template
 *
 * @var $block Attributes
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();

?>
<?php if ($_additional = $block->getAdditionalData()) : ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('More Information')) ?></caption>
            <tbody>

                <?php foreach ($_additional as $_data) : ?>

                    <tr>
                        <th class="col label <?= $block->escapeHtml($_data['label']) ?>" scope="row"><?= $block->escapeHtml($_data['label']) ?></th>
                        <td class="col data <?= $block->escapeHtml($_data['label']) ?>" data-th="<?= $block->escapeHtmlAttr($_data['label']) ?>"><?= /* @noEscape */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif; ?>
