<?php
/** @noinspection PhpUndefinedMethodInspection */
/** @noinspection PhpDeprecationInspection */
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
use \Magento\Catalog\Block\Product\View\Attributes;

/**
 * Product additional attributes template
 *
 * @var $block Attributes
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();
$_attributeAddAttribute = $block->getAddAttribute();

$sku = $_product->getData("sku");
$color = $_product->getAttributeText("color");
$material = $_product->getAttributeText("material");
$size_clothes = $_product->getAttributeText("size_clothes");
$size_shoes = $_product->getAttributeText("size_shoes");
$size_clothes_alpha = $_product->getAttributeText("size_clothes_alpha");
$size_shoes_alpha = $_product->getAttributeText("size_shoes_alpha");
$size_lenses = $_product->getAttributeText("size_lenses");
$size_rings = $_product->getAttributeText("size_rings");
$fit = $_product->getAttributeText("fit");
$condition_inner = $_product->getAttributeText("condition_inner");
$condition_external = $_product->getAttributeText("condition_external");
$dimension_depth = $_product->getData("dimension_depth");
$dimension_diameter = $_product->getData("dimension_diameter");
$dimension_height = $_product->getData("dimension_height");
$dimension_length = $_product->getData("dimension_length");
$dimension_width = $_product->getData("dimension_width");
$gemstone = $_product->getAttributeText("gemstone");
$heel_height = $_product->getData("heel_height");
$measure_bust = $_product->getData("measure_bust");
$measure_hip = $_product->getData("measure_hip");
$measure_leg_opening = $_product->getData("measure_leg_opening");
$measure_length = $_product->getData("measure_length");
$measure_shoulders = $_product->getData("measure_shoulders");
$measure_waist = $_product->getData("measure_waist");
$model_bags = $_product->getAttributeText("model_bags");
$model_lenses = $_product->getAttributeText("model_lenses");
$model_watches = $_product->getAttributeText("model_watches");
$qty_carats = $_product->getData("qty_carats");
$qty_stone = $_product->getData("qty_stone");
$price_original = $_product->getData('price_original');
$gender = $_product->getAttributeText('gender');
$manufacturer = $_product->getAttributeText('manufacturer');
$reference = $_product->getData("reference");
$is_water_resistant = $_product->getData("is_water_resistant");
$size_accesories = $_product->getAttributeText("size_accesories");
$size_bracelets = $_product->getAttributeText("size_bracelets");
$box_material = $_product->getAttributeText("box_material");
$code_bags = $_product->getData("code_bags");
$weight = $_product->getData("weight");

?>
<div class="attributes-content row">
    <?php if ($price_original && (int)$price_original > 0): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('price_original')->getStoreLabel() ?></span><br><span><strong>$<?= number_format($price_original, 0, ".", ","); ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($manufacturer): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('manufacturer')->getStoreLabel() ?></span><br><span><strong><?= $manufacturer ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($model_bags): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('model_bags')->getStoreLabel() ?></span><br><span><strong><?= $model_bags ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if (isset($sku)): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('sku')->getStoreLabel() ?></span><br><span><strong><?= $sku ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($material): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('material')->getStoreLabel() ?></span><br><span><strong><?= $material ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($color): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('color')->getStoreLabel() ?></span><br><span><strong><?= $color ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($fit): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('fit')->getStoreLabel() ?></span><br><span><strong><?= $fit ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($gender): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('gender')->getStoreLabel() ?></span><br><span><strong><?= $gender ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($size_clothes): ?>
        <div class="attributes col-6">
            <p class="size-clothes"><span><strong><?= $_product->getResource()->getAttribute('size_clothes')->getStoreLabel() ?></strong></span><br><span><?= $size_clothes ?></span></p>
            <?php if ($size_clothes_alpha && $size_clothes_alpha != $size_clothes): ?>
                <span>&nbsp;|&nbsp;<?= $size_clothes_alpha ?></span>
            <?php endif; ?>
            <span>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="<?= $block->getBaseUrl(); ?>tallas#<?= strtolower($gender) ?>&clothes"
                                              target="_blank" class="guide">Guía de tallas</a></span>
            <br>
        </div>
    <?php endif; ?>
    <?php if ($size_shoes): ?>
        <div class="attributes col-6">
            <p class="size-shoes"><span><strong><?= $_product->getResource()->getAttribute('size_shoes')->getStoreLabel() ?></strong></span><br><span><?= $size_shoes ?></span></p>
            <?php if ($size_shoes_alpha && $size_shoes_alpha != $size_shoes): ?>
                <span>&nbsp;|&nbsp;<?= $size_shoes_alpha ?></span>
            <?php endif; ?>
            <span>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="<?= $block->getBaseUrl(); ?>tallas#<?= strtolower($gender) ?>&shoes"
                                              target="_blank" class="guide">Guía de tallas</a></span>
            <br>
        </div>
    <?php endif; ?>
    <?php if ($heel_height): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('heel_height')->getStoreLabel() ?></span><br><span><strong><?= $heel_height ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($dimension_diameter): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('dimension_diameter')->getStoreLabel() ?></span><br><span><strong><?= number_format((float)$dimension_diameter, 0, '.', ',') ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($gemstone): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('gemstone')->getStoreLabel() ?></span><br><span><strong><?= $gemstone ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($size_lenses): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('size_lenses')->getStoreLabel() ?></span><br><span><strong><?= $size_lenses ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($size_rings): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('size_rings')->getStoreLabel() ?></span><br><span><strong><?= $size_rings ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($size_accesories): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('size_accesories')->getStoreLabel() ?></span><br><span><strong><?= $size_accesories ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($size_bracelets): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('size_accesories')->getStoreLabel() ?></span><br><span><strong><?= $size_bracelets ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($qty_carats && (int)$qty_carats > 0): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('qty_carats')->getStoreLabel() ?></span><br><span><strong><?= number_format($qty_carats, 0, ".", ","); ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($qty_stone && (int)$qty_stone > 0): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('qty_stone')->getStoreLabel() ?></span><br><span><strong><?= $qty_stone ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($reference): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('reference')->getStoreLabel() ?></span><br><span><strong><?= $reference ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($box_material): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('box_material')->getStoreLabel() ?></span><br><span><strong><?= $box_material ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($code_bags): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('code_bags')->getStoreLabel() ?></span><br><span><strong><?= $code_bags ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($weight && $weight > 0): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('weight')->getStoreLabel() ?></span><br><span><strong><?= $weight ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($_product->getAttributeSetId() == "12"): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('is_water_resistant')->getStoreLabel() ?></span><br><span><strong><?php echo $is_water_resistant ? "Si" : "No" ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($measure_leg_opening && (int)$measure_shoulders > 0): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('measure_leg_opening')->getStoreLabel() ?></span><br><span><strong><?= $measure_leg_opening ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($condition_inner): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('condition_inner')->getStoreLabel() ?></span><br><span><strong><?= $condition_inner ?></strong></span></p>
        </div>
    <?php endif; ?>
    <?php if ($condition_external): ?>
        <div class="attributes col-6">
            <p><span><?= $_product->getResource()->getAttribute('condition_external')->getStoreLabel() ?></span><br><span><strong><?= $condition_external ?></strong></span></p>
        </div>
    <?php endif; ?>
</div>
<div class="attributes-measure">
    <?php if ($dimension_width || $dimension_height || $dimension_depth || $dimension_length): ?>
        <p class="dimension"><span>Medidas</span></p>
        <ul>
            <?php if ($dimension_width && (float)$dimension_width > 0): ?>
                <li><span class="num"><?= number_format((float)$dimension_width, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('dimension_width')->getStoreLabel() ?></span></li>
            <?php endif; ?>
            <?php if ($dimension_height && (float)$dimension_height > 0): ?>
                <li><span class="num"><?= number_format((float)$dimension_height, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('dimension_height')->getStoreLabel() ?></span></li>
            <?php endif; ?>
            <?php if ($dimension_depth && (float)$dimension_depth > 0): ?>
                <li><span class="num"><?= number_format((float)$dimension_depth, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('dimension_depth')->getStoreLabel() ?></span></li>
            <?php endif; ?>
            <?php if ($dimension_length && (float)$dimension_length > 0): ?>
                <li><span class="num"><?= number_format((float)$dimension_length, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('dimension_length')->getStoreLabel() ?></span></li>
            <?php endif; ?>
        </ul>
    <?php endif; ?>
    <?php if ($measure_shoulders || $measure_bust || $measure_waist || $measure_hip || $measure_length): ?>
        <p class="dimension"><span>Medidas</span></p>
        <ul>
            <?php if ($measure_shoulders && (float)$measure_shoulders > 0): ?>
                <li><span class="num"><?= number_format((float)$measure_shoulders, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('measure_shoulders')->getStoreLabel() ?></span></li>
            <?php endif; ?>
            <?php if ($measure_bust && (float)$measure_bust > 0): ?>
                <li><span class="num"><?= number_format((float)$measure_bust, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('measure_bust')->getStoreLabel() ?></span></li>
            <?php endif; ?>
            <?php if ($measure_waist && (float)$measure_waist > 0): ?>
                <li><span class="num"><?= number_format((float)$measure_waist, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('measure_waist')->getStoreLabel() ?></span></li>
            <?php endif; ?>
            <?php if ($measure_hip && (float)$measure_hip > 0): ?>
                <li><span class="num"><?= number_format((float)$measure_hip, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('measure_hip')->getStoreLabel() ?></span></li>
            <?php endif; ?>
            <?php if ($measure_length && (float)$measure_length > 0): ?>
                <li><span class="num"><?= number_format((float)$measure_length, 1, '.', ',') ?>&nbsp;cm</span> <br> <span
                        class="label"><?= $_product->getResource()->getAttribute('measure_length')->getStoreLabel() ?></span></li>
            <?php endif; ?>
        </ul>
    <?php endif; ?>
</div>

<?php
$originalPrice = $_product->getPrice();
$finalPrice = $_product->getFinalPrice();
$discount = false;
$percentage = 0;
?>
<br>
<?php
if ($originalPrice > $finalPrice) {
    $percentage = ($originalPrice - $finalPrice) * 100 / $originalPrice;
    $discount = true;
}
?>
<?php if($discount && $percentage >= 50) { ?>
    <p>* No hay cambios ni devoluciones para este producto</p>
<?php } ?>
<p>¿Tienes dudas? Llámanos al <span><span style="color: #000000;"><a
                style="color: #000000; text-decoration: underline;" href="tel:+52 55 4170 7590">+52 55 4170 7590</a>  y te asistimos con tu compra.</span></span>
</p>
<p>Nuestros horarios de atención son de lunes a viernes de 9:00 am a 8:00 pm y los sábados de 10:00 am a 3:00 pm.</p>
<p class="text-inferior-descr">* Las fotografías son del artículo real, las diferencias de color pueden ser causadas por
    la iluminación.</p>
