<div class="shipping-method">
    <h4>Envio</h4>
    <ul>
        <li>A través del servicio prioritario de Fedex. Los tiempos de entrega varían según el destino y oscilan entre los 2 y 5 días hábiles.</li>
    </ul>
    <h4>Devoluciones</h4>
    <ul>
        <li>Si algo no es lo que esperas puedes devolverlo sin problema, puedes encontrar los detalles en nuestras preguntas frecuentes, solo recuerda que no aceptamos devoluciones de productos por debajo de los 2.000 MXN y con el 50% o más de descuento.</li>
    </ul>
    <p>¿Tienes dudas? Llámamos al <a href="tel:+52 55 5351 4488">+52 55 5351 4488</a> o mándanos un whatsapp al <a href="tel:+52 1 5588103929">+52 1 55 8810 3929</a></p>
    <p>Nuestros horarios de atención son de lunes a viernes de 9:00 am a 9:00 pm y los sábados de 10:00 am a 8:00 pm.</p>
</div>