<?php
$_cataloghelper = $this->helper('Troquer\Catalog\Helper\Data');
$_product = $block->getProduct();
?>
<?php if ($_product->isSaleable()) : ?>
    <div class="use-state">
        <p class="condition-product"><span class="title-condition">Estado: </span>&nbsp;<span
                class="condition"><?= strtolower($_product->getAttributeText('condition')); ?></span><span id="editcpmodal"
                                                                                               class="img-condition"><img
                    src="<?= $block->getBaseurl(); ?>media/troquer/question.png" alt=""></span></p>
    </div>
    <div class="labels-products-tag">
        <ul class="attributesproduct">
            <?php if ($_product->getWeLove()): ?>
                <li class="categorycircle"><span>We Love</span></li>
            <?php endif; ?>
            <?php if ($_cataloghelper->isProductNew($_product)): ?>
                <li class="productnew"><span>Lo Último</span></li>
            <?php endif; ?>
            <?php
            $originalPrice = $_product->getPrice();
            $finalPrice = $_product->getFinalPrice();
            ?>
            <?php if ($originalPrice > $finalPrice) {
                $percentage = ($originalPrice - $finalPrice) * 100 / $originalPrice;
                ?>
                <li class="percentdiscount">
                    <span><?= '<span class="porcent-product-tr"> -' . round($percentage) . '%</span>'; ?></span>
                </li>
            <?php } ?>
        </ul>
    </div>
<?php else : ?>
    <div class="outstockalert ">
        <div class="tag-labels">
            <ul class="labels-flag">
                <li class="upsvendido">
                    <span> ¡Oops Vendido! </span>
                </li>
            </ul>
        </div>
    </div>
<?php endif; ?>

<div id="cpModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span class="title-condition">Estado de uso</span>
            <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">

            <?php $_condition = strtolower($_product->getAttributeText('condition')); ?>
            <?php switch ($_condition) {
                case 'estrenado un par de veces':
                    echo '<img src="/media/troquer/used-once-condition.png" alt=""> <br> <p><strong>Estrenado un par de veces</strong><br>Prendas que se han usado pero que no muestran daños visibles.</p>';
                    break;
                case 'nuevo sin etiqueta':
                    echo '<img src="/media/troquer/semi-new-condition.png" alt=""> <br> <p><strong>Nuevo sin etiqueta</strong><br>Prendas nunca antes usadas en perfectas condiciones.</p>';
                    break;
                case 'usado con onda':
                    echo '<img src="/media/troquer/used-condition.png" alt=""> <br> <p><strong>Usado con onda</strong><br>Prendas que cuentan con señales de uso o mantenimiento menores, como pequeñas decoloraciones, detalles mínimos de confección u otros desperfectos menores.</p>';
                    break;
                case 'nuevo con etiqueta':
                    echo '<img src="/media/troquer/new-condition.png" alt=""> <br> <p><strong>Nuevo con etiqueta</strong><br>Prendas nunca antes usadas que conservan sus etiquetas de marca y/o precio.</p>';
                    break;
            } ?>
        </div>
    </div>
</div>

<script>
    require([
            'jquery'
        ], function () {
            let modal = document.getElementById("cpModal");
            let btn = document.getElementById("editcpmodal");
            let span = document.getElementsByClassName("close")[0];
            if (btn !== null) {
                btn.onclick = function () {
                    modal.style.display = "block";
                }
            }
            if (btn !== null) {
                span.onclick = function () {
                    modal.style.display = "none";
                }
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
    );
</script>
