// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_cart.less';
@import 'module/_minicart.less';
@import 'module/_checkout.less';
@import 'module/_menu_mobile.less';
@import 'module/_menu.less';

@googleplaces__z-index: @modal__z-index + 50;

.pac-container {
    z-index: @googleplaces__z-index !important;
}

[name = 'shippingAddress.street.0'] {
    display: none;
}

[name = 'shippingAddress.street.1'] {
    display: none;
}

[name = 'shippingAddress.city'] {
    display: none;
}

[name = 'shippingAddress.region_id'] {
    display: none;
}

[name = 'shippingAddress.postcode'] {
    display: none;
}

[name = 'shippingAddress.country_id'] {
    display: none;
}

[name = 'shippingAddress.custom_attributes.suburb'] {
    display: none;
}
