@import '_variables.less';

.bg-full-newsletter {
    @media (max-width: 2560px) and (min-width: 2160px) {
        width: 100vw;
        height: 162px;
        background-color: #fff;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 122%)" !important;
        margin-top: 45px !important;
    }
    @media (max-width: 1980px) and (min-width: 1600px) {
        width: 100vw;
        height: 162px;
        background-color: #fff;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 113.5%)" !important;
        margin-top: 45px !important;
    }
}

.section-newsletter {
    background: @colorwhite;
    padding: 25px 0;
    margin: 46px 0;
    width: 100% !important;
    @media (max-width: 840px) {
        padding: 25px 15px;
    }
    @media (max-width: 544px) {
        margin: 0 0 !important;
    }

    .row.d-flex.justify-content-center {
        .col-lg-10 {
            .row {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    .text-newsletter {
        @media (max-width: 768px) {
            padding-left: 10%;
        }
        @media (max-width: 544px) {
            padding: initial !important;
        }

        h3 {
            color: @coloraceituna;
            font-family: @AcuminProBold;
            font-size: 37px !important;
            @media (max-width: 544px) {
                font-size: 25px !important;
            }
        }

        p {
            font-family: @AcuminProLight;
            font-size: 16px !important;
            color: @colorparrafo;
            max-width: 370px;
            width: 100%;
            @media (max-width: 544px) {
                font-size: 14px !important;
            }
        }
    }

    .form-newsletter {
        form#newsletter-validate-detail {
            padding-top: 10%;
            @media (max-width: 768px) {
                padding-right: 12px;
                vertical-align: middle;
                margin-top: 10%;
            }

            input#footer_newsletter {
                border: none;
                border-radius: initial;
                border-bottom: 1px solid @colorblack;
            }

            button.action.subscribe.primary {
                border-radius: initial;
                border: none;
                border-bottom: 1px solid @colorblack;
            }
        }
    }
}

div#newsletter-sec {
    background: @colorwhite;
    padding: 25px 0;
    margin: 46px 0;

    [data-enable-parallax="0"] {
        background: @colorwhite !important;

        h1 {
            color: @coloraceituna;
            font-family: @AcuminProBold;
            font-size: 37px !important;
        }

        p {
            font-family: @AcuminProLight;
            font-size: 16px !important;
            color: @colorparrafo;
            max-width: 370px;
            width: 100%;
        }
    }
}

.block.newsletter.footer-troquer {
    width: 100% !important;
    max-width: 80%;
    margin: 5% auto 0;

    input#footer_newsletter {
        border: navajowhite;
        border-bottom: 1px solid @colorblack;
    }

    button.action.subscribe.primary {
        background: transparent;
        border: navajowhite;
        border-bottom: 1px solid @colorblack;
        color: @colorblack;
        font-family: @AcuminProBook;
        font-size: 12px;
    }
}
