<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
?>
<div class="title-orders">
    <h2>Mi crédito Troquer</h2>
</div>

<div class="block block-balance troquer-balance">
    <div class="block-title">
        <p><?= $block->escapeHtml(__('Balance')) ?></p>
    </div>
    <div class="block-content">
        <p>
            <span class="balance-price-label"><?= $block->escapeHtml(__('Your balance is:')) ?></span>
            <?= /* @noEscape */ $this->helper(Magento\Framework\Pricing\Helper\Data::class)->currency($block->getBalance()) ?>
        </p>
    </div>
</div>
