<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
?>
<?php if ($block->canShow() && $block->getEvents() && count($block->getEvents())) : ?>
    <div class="block block-balance-history balance-history-troquer">

        <div class="content-order-titles row d-flex justify-content-center">
            <div class="col-12">
                <div class="info-section-order titles-row-balances row">
                    <div class="order-num col-3 col-lg-2 col-md-2 col-sm-2">
                        <?= $block->escapeHtml(__('Action')) ?>
                    </div>
                    <div class="order-price-date col-3 col-lg-2 col-md-2 col-sm-2">
                        <?= $block->escapeHtml(__('Balance Change')) ?>
                    </div>
                    <div class="order-status-info col-3 col-lg-2 col-md-2 col-sm-2">
                        <?= $block->escapeHtml(__('Balance')) ?>
                    </div>
                    <div class="order-button seguimiento-tr col-3 col-lg-2 col-md-2 col-sm-2">
                        <?= $block->escapeHtml(__('Date')) ?>
                    </div>
                    <div class="order-info col-12 col-lg-4 col-md-4 col-sm-4">
                        <?= $block->escapeHtml(__('Additional Info')) ?>
                    </div>
                </div>
            </div>
        </div>
        <?php foreach ($block->getEvents() as $event) : ?>
            <?php
            $additionalInfo = $event->getAdditionalInfo();
            if(strpos($additionalInfo, 'By admin') !== false) {
                $additionalInfo = mb_substr(explode("(", $additionalInfo)[1], 0, -1);
            }
            if(strpos($additionalInfo, 'Data was imported by') !== false){
                $additionalInfo = 'Actualización de crédito';
            }
            ?>
            <div class="content-order row d-flex justify-content-center">
                <div class="col-12">
                    <div class="info-section-order titles-row-balances row">
                        <div class="order-num col-3 col-lg-2 col-md-2 col-sm-2">
                            <?= $block->escapeHtml($block->getActionLabel($event->getAction())) ?>
                        </div>
                        <div class="order-price-date col-3 col-lg-2 col-md-2 col-sm-2">
                            <?= /* @noEscape */
                            $this->helper(Magento\Framework\Pricing\Helper\Data::class)->currency($event->getBalanceDelta()) ?>
                        </div>
                        <div class="order-status-info col-3 col-lg-2 col-md-2 col-sm-2">
                            <?= /* @noEscape */
                            $this->helper(Magento\Framework\Pricing\Helper\Data::class)->currency($event->getBalanceAmount()) ?>
                        </div>
                        <div class="order-button seguimiento-tr col-3 col-lg-2 col-md-2 col-sm-2">
                            <?= /* @noEscape */
                            $block->formatDate($event->getUpdatedAt(), IntlDateFormatter::SHORT, true) ?>
                        </div>

                        <div class="order-num col-12 col-lg-4 col-md-4 col-sm-4">
                            <h3 class="showaddinfo">Additional Info</h3>
                                <div class="content-additinal-info">
                                    <?= $additionalInfo ?>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
<?php else : ?>

    <div class="block block-balance troquer-balance">
        <div class="empty-sales">
            <div class="comienza-vender">
                <div class="row container-body mob-colum haztucita-tr">
                    <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container info-two-txt">
                        <div class="line-tyc-l mt-4"></div>
                        <p class="pt-4 cont-txt"><span class="font-weight-bold">Agenda tu cita virtual</span> <br/>
                            <span class="textsecnd">Revisa tus piezas con nuestra curadora vía Skype y programa su  recolección a domicilio.</span>
                        </p>
                        <div class="cont-btn pb-4">
                            <a target="_blank"
                               href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">
                                <button type="button" class="btn btn-secundario" data-toggle="modal"
                                        data-target="#staticBackdrop">Agendar
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container info-two-img">
                        <img src="<?= $block->getBaseurl(); ?>media/troquer/lo-hacemos-por-ti.jpg"
                             alt="no puedes vender Piezas no auténticas Vestidos de novia, Trajes sastre, Ropa interior, Ropa de cama entre otros"
                             class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
<?php endif; ?>

<script>
     require([
			'jquery'
		], function() {
        let item_count = document.getElementsByClassName("showaddinfo");
        let i;
        for(i = 0; i < item_count.length; i++ ){
            item_count[i].addEventListener("click", function(){
                this.classList.toggle("_active");
                let content = this.nextElementSibling;
                if(content.style.display === 'block'){
                    content.style.display = 'none';
                }else{
                    content.style.display = 'block';
                }
            });
        }
    });
</script>
