<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Troquer\Checkout\Block\Onepage\Link;

/** @var $block Link */
?>
<?php if ($block->isPossibleOnepageCheckout()) :?>
    <?php if(!$block->isLoggedIn()): ?>
        <button type="button"
                title="<?= $block->escapeHtmlAttr(__('Proceed to Checkout')) ?>"
                class="action primary troquer-proceed-to-checkout checkout">
            <span><?= $block->escapeHtml(__('Proceed to Checkout')) ?></span>
        </button>
    <?php else: ?>
        <button type="button"
                title="<?= $block->escapeHtmlAttr(__('Proceed to Checkout')) ?>"
                onclick="window.location.href='/checkout'"
                class="action primary checkout">
            <span><?= $block->escapeHtml(__('Proceed to Checkout')) ?></span>
        </button>
    <?php endif; ?>
<?php endif?>
