@import '_variables.less';

.title-orders {
    text-align: center;
    margin: 30px 0 !important;

    h2 {
        font-family: @AcuminProBold;
    }
}

div#menu-orders {
    margin-top: 30px;

    .options-menu {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        @media (max-width: 767px) {
            max-width: 380px;
        }
        @media (max-width: 380px) {
            max-width: 350px;
        }
        @media (max-width: 320px) {
            max-width: 300px;
        }

        ul#list-menu-orders {
            padding-inline-start: 0 !important;
            text-align: center;
            display: block;

            .owl-controls {
                display: none !important;
            }

            li {
                display: inline-flex;
                width: 24%;
                border-bottom: 2px solid #DDDDDD;
                margin: 0 0 0 -3px !important;
                padding-bottom: 5px;
                @media (max-width: 767px) {
                    width: 100% !important;
                }

                &:hover {
                    font-weight: bold;
                    border-bottom: 2px solid @colorblack;
                }

                a {
                    text-align: center;
                    margin: 0 auto;
                    color: @colorblack;
                    text-transform: uppercase;
                    font-family: @AcuminProBook;
                    font-size: 15px;
                    @media (max-width: 320px) {
                        font-size: 14px;
                    }

                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}

._noactiveorder {
    display: none !important;
    transition: opacity 1s ease-out;
    opacity: 0;
}

._currentorder {
    font-weight: bold;
    border-bottom: 2px solid @colorblack !important;
}

td.seguimiento-tr {
    vertical-align: middle;
    display: none;
    @media (max-width: 767px) {
        display: none !important;
    }

    span.seguimeitobtn {
        border: 1px solid @colorblack;
        padding: 5px 28px;
        border-radius: 8px;
    }
}

div#tbl-orders {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto !important;

    div#countdown {
        display: flex;
        float: right;
        font-family: @AcuminProBold;
        font-size: 16px;
        @media (max-width: 767px) {
            font-size: 14px;
            padding-right: 15px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
            padding-right: 15px;
        }
    }

    .order {
        font-family: @AcuminProBold;
        font-size: 16px;
        @media (max-width: 768px) {
            font-size: 15px;
        }
        @media (max-width: 576px) {
            font-size: 14px;
            margin-left: 30px;
        }
        @media (max-width: 380px) {
            margin-left: 15px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }
    }

    .content-order {
        background-color: @colorwhite;
        margin: 20px auto;
        font-family: @AcuminProBook;

        .col-12 {
            padding: 0;
        }

        .info-section-order {
            margin: 10px auto;
            @media (max-width: 768px) {
                margin: 15px auto;
            }

            .order-img {
                @media (max-width: 767px) {
                    padding: 0 0 0 15px;
                }
            }

            .order-returned-summary {
                display: flex;
                margin: auto;
                font-size: 16px;
                @media (max-width: 768px) {
                    display: block;
                    padding: 0;
                    .order-num-returned, .order-price-date, .order-status-returned {
                        margin-bottom: 5px;
                    }
                }

                .order-num-returned, .canceled-order {
                    @media (max-width: 320px) {
                        font-size: 15px;
                    }
                }

                .order-price-date {
                    strong {
                        font-family: @AcuminProBold;
                    }

                    span {
                        color: @colorrgbablack;
                    }

                    @media (max-width: 320px) {
                        font-size: 15px;
                    }
                }

                .order-status-returned {
                    @media (max-width: 320px) {
                        font-size: 15px;
                    }

                    span {
                        color: @colorparrafo;
                        font-size: 13px;

                        &:before {
                            font-size: 8px;
                        }
                    }

                    span.sku {
                        color: @colorblack;
                        font-size: inherit;
                        @media (max-width: 360px) {
                            display: block;
                        }
                    }
                }

                .order-num-returned {
                    strong {
                        font-family: @AcuminProBold;
                    }

                    span {
                        color: @colorrgbablack;
                    }
                }

                .order-actions {
                    display: none;
                }

                .canceled-order {
                    a {
                        color: @colorcoral;
                        text-decoration: underline;
                    }

                    .view-tr {
                        display: none;
                    }
                }
            }

            .order-info-summary {
                display: flex;
                margin: auto;
                font-size: 16px;

                .order-num {
                    strong {
                        font-family: @AcuminProBold;
                    }

                    span {
                        color: @colorrgbablack;
                    }
                }

                .order-price-date {
                    .total--info-price, span.price {
                        font-family: @AcuminProBold;
                        color: @colorblack;
                    }

                    span {
                        color: @colorrgbablack;
                    }
                }

                @media (max-width: 768px) {
                    display: block;
                    padding: 0;
                    .order-num, .order-price-date {
                        margin-bottom: 5px;
                    }

                    .order-num, .order-price-date, .order-status-info {
                        @media (max-width: 320px) {
                            font-size: 15px;
                        }
                    }
                }

                .order-status-info {
                    @media (max-width: 768px) {
                        display: inline-flex;
                    }

                    span {
                        font-size: 13px;
                        color: @colorparrafo;

                        &:before {
                            font-size: 8px;
                        }

                        @media (max-width: 768px) {
                            margin-right: 20px;
                        }
                    }

                    a {
                        color: @colorcoral;
                        text-decoration: underline;
                        @media (max-width: 768px) {
                            margin-top: -3px;
                        }
                    }
                }

                .order-actions {
                    display: none;
                }
            }

            .order-button {
                margin: auto;
                @media (max-width: 767px) {
                    margin: 10px 0 0 auto;
                }

                .btn-seguimiento {
                    margin: 0 auto;
                    max-width: 300px;
                    width: 100%;
                    background: @colorwhite !important;
                    color: @colorblack !important;
                    border: 1px solid @colorblack;
                    border-radius: 10px;
                    height: 40px;
                    font-size: 16px;
                    font-family: @AcuminProBold;
                    @media (max-width: 767px) {
                        height: 33px;
                    }
                }
            }
        }
    }
}

span.statusorder-completed {
    &:before {
        content: "";
        padding: 0 4px;
        border-radius: 50%;
        background: #137A35;
        margin-right: 5px;
        vertical-align: middle;
    }
}

span.statusorder-processing {
    &:before {
        content: "";
        padding: 0 4px;
        border-radius: 50%;
        background: #7ABC26;
        margin-right: 5px;
        vertical-align: middle;
    }
}

span.statusorder-pending {
    &:before {
        content: "";
        padding: 0 4px;
        border-radius: 50%;
        background: #FFE32A;
        margin-right: 5px;
        vertical-align: middle;
    }
}

span.statusorder-closed, span.statusorder-cancel-user {
    &:before {
        content: "";
        padding: 0 4px;
        border-radius: 50%;
        background: #9D3821;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 8px;
    }
}

span.statusorder-canceled, span.statusorder-transit {
    &:before {
        content: "";
        padding: 0 4px;
        border-radius: 50%;
        background: #F5921B;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 8px;
    }
}

ul.items.order-links {
    display: none !important;
}

#details-sales {
    padding: 30px 0;

    .title-sale {
        text-align: center;

        h2 {
            font-family: @AcuminProBold;
            margin-bottom: 28px;
        }
    }

    .summary-sale-details {
        padding: 10px 0;
        background: @colorwhite;
        @media (max-width: 767px) {
            text-align: center;
        }

        .details-info {
            margin: 20px 0;
            @media (max-width: 767px) {
                padding: 0 15px;
            }

            .total-id {
                border-bottom: 1px solid @colorccc;
                background: @colorwhite;
                padding: 0;
                @media (max-width: 767px) {
                    padding-bottom: 14px;
                }

                ul#list-details-shopping {
                    font-family: @AcuminProBook;
                    font-size: 16px;
                    color: @colorrgbablack;
                    padding-inline-start: 0 !important;
                    @media (max-width: 767px) {
                        margin-bottom: 0;
                    }

                    li {
                        list-style: none !important;
                        margin-bottom: 5px;

                        .left-info {
                            strong {
                                font-size: 16px !important;
                                font-family: @AcuminProBold;
                            }

                            .methodtitle {
                                text-transform: capitalize;
                            }
                        }

                        .left-info.totals-sale-price {
                            margin-bottom: 5px;
                        }

                        .rigth-info.count-articles {
                            margin-bottom: 5px;
                        }

                        .rigth-info {
                            @media (max-width: 990px) and (min-width: 768px) {
                                text-align: right;
                            }

                            span {
                                font-size: 13px;
                                color: @colorparrafo;

                                &:before {
                                    font-size: 8px;
                                }

                                @media (max-width: 767px) {
                                    margin-right: 20px;
                                }
                            }

                            a {
                                color: @colorcoral;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.info-shipping {
    margin: auto;
    padding: 0 !important;
    @media (max-width: 767px) {
        padding: 0 15px !important;
    }

    .text-shipping {
        font-size: 16px;
        color: @colorrgbablack;
        font-family: @AcuminProBook;
        text-transform: capitalize;
    }

    .transit-timeline {
        .content-step-order {
            @media (max-width: 768px) {
                padding-top: 0;
            }

            .bullets-order {
                border-top: none;
            }
        }
    }
}

.orders-details-tr.order-details-items.ordered {
    border: none !important;
    padding: 0;

    .product-order-tr {
        margin-bottom: 15px;
        background: @colorwhite;

        .col-12.content {
            padding: 0;

            .info-section-order {
                margin: auto;
                @media (max-width: 768px) {
                    margin: 15px auto;
                }

                .order-img {
                    margin: 10px auto;
                    @media (max-width: 767px) {
                        margin: 15px auto;
                        padding: 0 0 0 15px;
                    }
                }
            }
        }
    }

    .table-wrapper.order-items {
        table#my-orders-table {
            border-collapse: initial !important;
        }

        .order-info-summary {
            align-self: center;
        }
    }

    .actions-toolbar {
        .secondary {
            a.action.back {
                color: @colorblack;
                font-family: @AcuminProBold;
                background-color: @colorwhite;
                border: solid 1px @colorblack;
                border-radius: 10px;
                height: 48px;
                width: 300px;
                font-size: 16px;
                line-height: 3;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.product-order-tr {
    .product-item-name {
        font-size: 16px !important;
        font-family: @AcuminProBold;
    }

    .tallas {
        font-size: 16px;
        color: @colorrgbablack;
    }

    .price-sku-tr {
        .cart-price {
            .price {
                font-family: @AcuminProBold;
                font-size: 16px;
            }
        }

        .sku-order-item {
            font-size: 16px;
            color: @colorrgbablack;
            @media (max-width: 380px) {
                font-size: 15px;
            }
            @media (max-width: 360px) {
                font-size: 14.5px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }
    }

    .btn-actions-order {
        margin: auto;
        display: flex;

        .return-limit {
            margin: 0;
            font-size: 15px;
            color: @colorrgbablack;
            @media (max-width: 360px) {
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }

        .sale-tr {
            font-size: 15px;
            padding: 5px 25px;
            border-radius: 5px;
            text-decoration: none;
            font-family: @AcuminProBold;
            color: @colorblack !important;
            border: 1px solid @colorblack;
        }

        .return-order {
            font-size: 15px;
            padding: 5px 25px;
            border-radius: 5px;
            text-decoration: none;
            font-family: @AcuminProBold;
            color: @colorcoral !important;
            border: 1px solid @colorcoral;
        }
    }

    td.status-order-tr.col.qty {
        display: none !important;
    }
}

.block.block-order-details-view.address-order-tr {
    display: none;
}

.btn-inferior-tr {
    text-align: center;
    margin: 30px 0;

    a {
        text-decoration: none;

        .lnk-seguimiento {
            max-width: 300px;
            width: 100%;
            background: @colorblack;
            padding: 13px 0;
            border-radius: 10px;
            margin: 0 auto;
            height: 48px;
            color: @colorwhite;
            font-family: @AcuminProBold;
            font-size: 16px;
        }
    }
}

div#tbl-orders {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto !important;

    .orderdetails-transito {
        background: @colorwhite;
        margin: 20px auto;

        .col-12.content {
            padding: 0;
        }

        .info-section-order {
            margin: 10px auto;
            @media (max-width: 768px) {
                margin: 15px auto;
            }

            .order-img {
                @media (max-width: 767px) {
                    padding: 0 0 0 15px;
                }
            }

            .order-info-summary {
                display: flex;
                margin: auto;
                font-size: 16px;

                .order-num, .order-price-date {
                    strong {
                        font-family: @AcuminProBold;
                    }

                    span {
                        color: @colorrgbablack;
                    }
                }

                .order-price-date {
                    span.price {
                        color: @colorblack !important;
                    }
                }

                @media (max-width: 768px) {
                    display: block;
                    padding: 0;
                    .order-num, .order-price-date {
                        margin-bottom: 5px;
                    }

                    .order-num, .order-price-date, .order-status-info {
                        @media (max-width: 320px) {
                            font-size: 15px;
                        }
                    }
                }

                .order-status-info {
                    @media (max-width: 767px) {
                        display: inline-flex;
                    }

                    span {
                        font-size: 13px;
                        color: @colorparrafo;

                        &:before {
                            font-size: 8px;
                        }

                        @media (max-width: 767px) {
                            margin-right: 20px;
                        }
                    }

                    a {
                        color: @colorcoral;
                        text-decoration: underline;
                        @media (max-width: 768px) {
                            margin-top: -3px;
                        }
                    }
                }

                .order-actions {
                    display: none;
                }
            }

            .order-button {
                margin: auto;
                @media (max-width: 767px) {
                    margin: 10px 0 0 auto;
                }

                .btn-seguimiento {
                    margin: 0 auto;
                    max-width: 300px;
                    width: 100%;
                    background: @colorwhite !important;
                    color: @colorblack !important;
                    border: 1px solid @colorblack;
                    border-radius: 10px;
                    height: 40px;
                    font-size: 16px;
                    font-family: @AcuminProBold;
                    @media (max-width: 767px) {
                        height: 33px;
                    }
                }

                .noguia {
                    font-size: 15px;
                    color: @colorrgbablack;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.content-step-order {
    @media (max-width: 768px) {
        padding-top: 15px;
    }

    .bullets-order {
        border-top: 1px solid @colorarena;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
}

.timeline-order {
    width: 100%;
    text-align: center;
}

.timeline-order ol {
    font-size: 0;
    padding: 40px 0;
    transition: all 1s;
}

.timeline-order ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 200px;
    height: 3px;
    background: @colorarena;
    @media (max-width: 767px) {
        width: 120px;
        margin-left: -10px;
    }
    @media (max-width: 320px) {
        width: 100px;
    }
}

.timeline-order ol li.active {
    background: @colorcoral !important;
    &:after {
        background: @colorcoral !important;
    }
}

.timeline-order ol li:last-child {
    width: 0;
}

.timeline-order ol li:first-child {
    width: 0;
}

.timeline-order ol li:not(:first-child) {
    margin-left: 8px;
}

.timeline-order ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: ~"calc(100% - 1px)";
    bottom: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: @colorarena;
    z-index: 2;
}

.timeline-order ol li div {
    position: absolute;
    left: ~"calc(100% - 40px)";
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
    top: ~"calc(100% + 16px)" !important;
    @media (max-width: 320px) {
        left: ~"calc(100% - 30px)";
        padding: 5px 0;
        width: 80px;
    }

    span {
        color: @colorrgbablack;
        font-size: 12px;
    }
}

.timeline-order ol li:nth-child(odd) div {
    top: -16px;
}

.timeline-order ol li:nth-child(even) div {
    top: ~"calc(100% + 16px)";
}

.timeline-order ol li:nth-child(even) div::before {
    top: -8px;
    border-color: transparent transparent transparent white;
}

.timeline-order time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

._steporder {
    background: @coloraceituna !important;

    &:after {
        background: @coloraceituna !important;
    }
}

@media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }

    .timeline ol li div {
        position: static;

        span {
            color: @colorarena;
        }
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
}

.empty-sales {
    max-width: 80% !important;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 768px) {
        max-width: 100% !important;
        margin-bottom: 30px !important;
    }

    .img-calendar-empty {
        text-align: center;
        margin: 20px 0;

        p {
            font-family: @AcuminProLight;
            font-size: 16px;
            margin-top: 15px;
            color: @colorrgbablack;
            @media (max-width: 320px) {
                font-size: 14px;
            }
        }

        img {
            max-width: 70px !important;
            width: 100%;
        }
    }
}

.comienza-vender {
    margin-top: 40px;
}

.order-products-toolbar {
    margin: 30px auto 30px;
    @media (max-width: 767px) {
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .pager {
        display: flex;
        @media (max-width: 767px) {
            display: grid;
            margin-top: 10px;
        }

        p.toolbar-amount {
            margin-left: 130px;
            font-family: @AcuminProBold;
            font-size: 16px;
            line-height: 28px !important;
            @media (max-width: 1024px) and (min-width: 1024px) {
                margin-left: inherit;
            }
            @media (max-width: 768px) {
                margin-left: inherit;
            }
            @media (max-width: 767px) {
                margin-left: 20px;
                font-size: 14px;
                order: 1;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }

        .pages {
            text-align: end;
            margin-left: -130px;
            @media (max-width: 1024px) and (min-width: 1024px) {
                margin-left: inherit;
            }
            @media (max-width: 768px) {
                margin-left: inherit;
            }
            @media (max-width: 767px) {
                order: 3;
                text-align: end;
                margin-right: 10px;
                margin-top: 15px;
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }

            .item a.page {
                background-color: transparent;
            }

            .action {
                background-color: transparent;
            }
        }

        .limiter {
            float: left;
            margin-left: 30px;
            font-family: @AcuminProBold;
            font-size: 16px;
            @media (max-width: 767px) {
                order: 2;
                right: -5px;
                position: absolute;
                margin-top: 7px;
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }

            select#limiter {
                background-color: transparent !important;
            }
        }
    }
}

.iracomprar {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}

.table-wrapper.orders-history {
    @media (max-width: 767px) {
        border-top: none;
    }
}

#menu-sales {
    margin-top: 30px;

    .options-menu-sales {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;

        ul#list-menu-sales {
            .owl-controls {
                display: none !important;
            }

            padding-inline-start: 0 !important;
            text-align: center;
            display: block;

            li {
                display: inline-flex;
                width: 15%;
                border-bottom: 2px solid #DDDDDD;
                margin: 0 0 0 -3px !important;
                padding-bottom: 5px;
                @media (max-width: 767px) {
                    width: 100% !important;
                }

                &:hover {
                    font-weight: bold;
                    border-bottom: 2px solid @colorblack;
                }

                a {
                    text-align: center;
                    margin: 0 auto;
                    color: @colorblack;
                    text-transform: uppercase;
                    font-family: @AcuminProBook;
                    font-size: 15px;
                    @media (max-width: 767px) {
                        font-size: 13px;
                    }
                    @media (max-width: 320px) {
                        font-size: 10px;
                    }

                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }

            li#discounted {
                &:hover {
                    border-bottom: 2px solid @colorladrillo !important;
                }

                a {
                    color: @colorladrillo;

                    &:hover {
                        color: @colorladrillo !important;
                    }
                }

                &._currentorder {
                    border-bottom: 2px solid @colorladrillo !important;
                }
            }
        }
    }
}

.section-sales {
    .content-sales {
        background-color: @colorwhite;
        margin: 20px auto;
        font-size: 14px;
        font-family: @AcuminProBook;

        .divide-info {
            border-top: 1px solid #ddd;
            margin-top: 70px;
            @media (max-width: 767px) {
                margin-top: 20px;
            }
        }

        .col-12 {
            @media (max-width: 380px) {
                padding: 0;
            }
        }

        .info-section-sale {
            margin: 18px 0 8px;

            .sale-img {
                @media (max-width: 380px) {
                    padding: 0 0 0 15px;
                }
                @media (max-width: 320px) {
                    padding: 0 0 0 5px;
                }
            }

            .sale-info-summary {
                display: flex;
                margin: auto;
                font-size: 16px;
                @media (max-width: 1024px) and (min-width: 1024px) {
                    font-size: 15px;
                }
                @media (max-width: 768px) {
                    display: block;
                    margin: -5px 0 0;
                }
                @media (max-width: 576px) {
                    padding: 0 15px 0 10px;
                }

                .sale-name {
                    @media (max-width: 768px) {
                        margin-bottom: 5px;
                    }
                    @media (max-width: 576px) {
                        padding: 0;
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }
                }

                .sale-name span strong {
                    font-family: @AcuminProBold;
                }

                .sale-sku {
                    @media (max-width: 768px) {
                        margin-bottom: 5px;
                    }
                    @media (max-width: 576px) {
                        padding: 0;
                    }

                    .sku-type {
                        font-size: 16px;
                        color: inherit;
                        @media (max-width: 576px) {
                            font-size: 14px;
                        }
                        @media (max-width: 320px) {
                            font-size: 13px;
                        }
                    }

                    .sku {
                        font-size: 15px;
                        color: inherit;
                        @media (max-width: 576px) {
                            font-size: 14px;
                        }
                        @media (max-width: 320px) {
                            font-size: 13px;
                        }
                    }

                    span {
                        font-size: 13px;
                        color: @colorparrafo;

                        &:before {
                            font-size: 8px;
                        }
                    }
                }

                .sale-price {
                    font-family: @AcuminProBook;
                    @media (max-width: 768px) {
                        margin-bottom: 5px;
                    }
                    @media (max-width: 576px) {
                        padding: 0;
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }

                    span {
                        font-size: 13px;
                        color: @colorparrafo;

                        &:before {
                            font-size: 8px;
                        }
                    }

                    span.expired, span.processed {
                        font-size: 13px;
                        color: @colorparrafo;

                        &:before {
                            font-size: 8px;
                        }
                    }

                    .date-sale {
                        font-family: @AcuminProBook;
                    }

                    span.price-discount {
                        .price {
                            color: @colorladrillo;
                        }
                    }

                    .discount-show {
                        margin-top: 10px;

                        .percent-apply {
                            background: @colorladrillo;
                            padding: 5px 8px;
                            border-radius: 5px;
                            color: @colorwhite;
                            font-family: @AcuminProBold;
                            margin-left: 3px;
                        }
                    }
                }

                .sale-status-info {
                    @media (max-width: 767px) {
                        display: inline-flex;
                    }
                    @media (max-width: 576px) {
                        padding: 0;
                    }

                    span {
                        font-size: 13px;
                        color: @colorparrafo;

                        &:before {
                            font-size: 8px;
                        }

                        @media (max-width: 767px) {
                            margin-right: 20px;
                        }
                    }

                    a {
                        color: @colorcoral;
                        text-decoration: underline;
                    }
                }
            }

            .sale-discount {
                margin: auto;
                @media (max-width: 768px) {
                    padding: 0;
                }
                @media (max-width: 767px) {
                    padding: 0 0 0 8px;
                }
            }

            .btn-return {
                margin: auto;
                visibility: hidden;
                @media (max-width: 768px) {
                    display: none;
                }

                .request-return {
                    color: @colorblack !important;
                    text-decoration: none;

                    .btn-r {
                        background: @colorwhite;
                        text-align: center;
                        padding: 5px 0;
                        border-radius: 10px;
                        border: 1px solid @colorblack;
                    }
                }
            }
        }
    }
}

.section-shipments {
    .content-shipments {
        background-color: @colorwhite;
        margin: 20px auto;
        font-size: 14px;
        font-family: @AcuminProBook;

        .info-content {
            @media (max-width: 767px) {
                padding: 0;
            }

            .info-section-shipments {
                margin: 18px 0 18px;

                .shipments-info-summary {
                    display: flex;
                    margin: auto;
                    font-size: 16px;
                    @media (max-width: 768px) {
                        padding: 0;
                    }
                    @media (max-width: 767px) {
                        display: block;
                    }

                    .shipments-name {
                        @media (max-width: 768px) {
                            margin-bottom: 5px;
                        }
                        @media (max-width: 767px) {
                            font-size: 14px;
                        }
                        @media (max-width: 320px) {
                            font-size: 13px;
                        }

                        span {
                            strong {
                                font-family: @AcuminProBold;
                            }
                        }
                    }

                    .shipments-status {
                        font-family: @AcuminProBook;
                        @media (max-width: 768px) {
                            margin-bottom: 5px;
                        }
                        @media (max-width: 767px) {
                            font-size: 14px;
                        }
                        @media (max-width: 320px) {
                            font-size: 13px;
                        }

                        span {
                            font-size: 13px;
                            color: @colorparrafo;

                            &:before {
                                font-size: 8px;
                            }
                        }

                        .lnk-view {
                            color: @colorcoral !important;
                            font-family: @AcuminProBook;
                            font-size: 15px;
                            cursor: pointer;
                            text-decoration: underline;
                            @media (max-width: 767px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .shipments-transit {
                        font-size: 16px;
                        font-family: @AcuminProBook;
                        @media (min-width: 1024px) {
                            padding: 0;
                        }
                        @media (max-width: 768px) {
                            margin-bottom: 5px;
                        }
                        @media (max-width: 767px) {
                            font-size: 14px;
                        }
                    }

                    .shipments-received {
                        font-size: 16px;
                        font-family: @AcuminProBook;
                        @media (max-width: 768px) {
                            margin-bottom: 5px;
                        }
                        @media (max-width: 767px) {
                            padding: 0 30px;
                            font-size: 14px;
                        }
                    }

                    .shipments-name, .shipments-transit, .shipments-status {
                        @media (max-width: 768px) {
                            font-size: 15px;
                            padding-left: 0;
                            margin: auto;
                        }
                        @media (max-width: 767px) {
                            padding: 0 30px;
                        }
                    }

                    .btn-action {
                        margin: auto;
                        @media (max-width: 768px) {
                            padding: 0;
                            text-align: right;
                        }
                        @media (max-width: 767px) {
                            text-align: center;
                            margin-top: 15px;
                        }

                        button.secondary {
                            margin: 0 auto;
                            width: 230px;
                            background: @colorwhite !important;
                            color: @colorblack !important;
                            border: 1px solid @colorblack;
                            border-radius: 10px;
                            height: 40px;
                            font-size: 16px;
                            font-family: @AcuminProBold;
                            @media (max-width: 768px) {
                                width: 190px;
                            }
                            @media (max-width: 767px) {
                                width: 300px;
                                height: 48px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.text-sup {
    text-align: center;
    margin-top: 30px;
    @media (max-width: 576px) {
        margin-bottom: 30px;
        padding: 0 15px;
    }

    p {
        color: @colorrgbablack;
        font-size: 16px;
        font-family: @AcuminProBook;
        @media (max-width: 576px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }

        .emphasys {
            font-family: @AcuminProBold;
        }
    }
}

section#returns-request {
    .content-returns {
        .info-returns-titles {
            h4 {
                font-family: @AcuminProBold;
                margin: 15px 40px;
            }

            h3.title-request-return {
                text-align: center;
                font-family: @AcuminProBold;
                font-size: 20px;
            }

            .info-titles {
                margin-top: 30px;

                .address-return {
                    background: @colorwhite !important;
                    padding: 10px 0;
                    margin: 0 10px;
                }
            }
        }
    }
}

.btn-select {
    .request-select {
        color: @colorcoral !important;

        .btn-select {
            background: @colorwhite;
            text-align: center;
            padding: 5px 0;
            border-radius: 10px;
            border: 1px solid @colorcoral;
        }
    }
}

.form-select-tr {
    max-width: 400px !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    select.browser-default.custom-select {
        max-width: 300px !important;
        width: 100%;
    }

    .btns-returns-cancel {
        text-align: center;
        margin: 45px auto 10px;
        max-width: 300px;
        width: 100%;

        a {
            div {
                max-width: 300px;
                text-align: center;
                padding: 5px 0;
                border-radius: 8px;
            }
        }

        a.btn-request-return-tr {
            color: @colorwhite;

            &:hover {
                color: @colorwhite !important;
            }

            .btn-ret {
                background: @colorblack;
                border: 1px solid @colorblack !important;
                font-family: @AcuminProBold;
            }
        }

        a.btn-cancel-return-tr {
            color: @colorblack;

            .btn-canc {
                background: @colorwhite;
                border: 1px solid @colorblack !important;
                font-family: @AcuminProBold;
            }
        }
    }
}

.form-total-returns {
    margin-top: 25px;

    .table-totals-return {
        border: 2px solid #DDDDDD;
        padding: 30px 0;

        .list-totals-return {
            padding: 15px 0;
            border-bottom: 1px solid #DDDDDD;

            .file-total {
                margin-top: 10px;
                margin-bottom: 10px;

                .cant-return {
                    text-align: right;
                }
            }
        }
    }
}

.btn-edit-customer-address {
    a {
        color: @colorcoral !important;
        font-family: @AcuminProBold;

        &:hover {
            color: @colorcoral !important;
        }
    }
}

div#tbl-orders {
    .info-reception-start {
        padding: 15px 0 0 !important;
        background: @colorwhite !important;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto !important;

        .row-recepction {
            padding-bottom: 10px;
        }

        .reception-tr {
            .content-sales {
                .info-section-sale {
                    margin: 0 0 8px;
                    border-top: 2px solid #fafafa;
                    padding-top: 18px;
                }
            }
        }

        .txt-r {
            float: right;
        }

        .lnk-viewmore {
            color: @colorcoral !important;
            font-family: @AcuminProBook;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.reception-tr {
    margin: 15px 0;

    strong {
        font-family: @AcuminProBold;
        font-size: 16px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }
    }

    span {
        font-family: @AcuminProLight;
        font-size: 16px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }
    }
}

.seguimiento-pz {
    color: @colorblack !important;

    .btn-seguimiento {
        background: @colorwhite;
        text-align: center;
        padding: 5px 0;
        border-radius: 10px;
        border: 1px solid @colorblack;
        max-width: 150px !important;
        width: 100%;
        float: right;
        margin-top: 20px;
        font-family: @AcuminProBold;
        @media (max-width: 767px) {
            max-width: 90% !important;
            float: none;
            margin: 20px auto auto;
        }
    }
}

.discount-show .percent-apply {
    background: @colorladrillo;
    padding: 5px 8px;
    border-radius: 5px;
    color: @colorwhite;
    font-family: @AcuminProBold;
    margin-left: 3px;
}

.btn-dondarpz {
    display: none;
    padding-left: 0 !important;

    a {
        div {
            max-width: 150px;
            width: 100%;
            text-align: center;
            padding: 3px 5px;
            border-radius: 6px;
            margin-bottom: 5px;
        }
    }

    .donarpieza {
        color: @colorblack !important;

        .btn-donar {
            border: 1px solid @colorblack;
        }
    }

    .solicitarregreso {
        color: @colorcoral !important;

        .btn-regreso {
            border: 1px solid @colorcoral !important;
        }
    }
}

.info-rows-agendar {
    .sec-agendar {
        background: @colorwhite;
        padding-right: 0 !important;
        @media (max-width: 768px) {
            order: 2;
        }
    }

    .image-venta {
        padding-left: 0 !important;
        padding-right: 0 !important;
        @media (max-width: 768px) {
            order: 1;
        }
    }
}

.btn-agendar {
    color: @colorblack !important;

    .btn-two {
        max-width: 300px;
        width: 100%;
        background: @colorwhite;
        border: 1px solid @colorblack;
        padding: 14px 12px;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
        @media (max-width: 768px ) {
            margin: 0 auto;
        }
    }
}

.btn-start-sale {
    color: @colorwhite !important;

    &:hover {
        color: @colorwhite !important;
    }

    .btn {
        max-width: 300px;
        width: 100%;
        background: @colorblack;
        border: 1px solid @colorblack;
        padding: 12px 12px;
        text-align: center;
        border-radius: 10px;
        font-size: 16px;
        font-family: @AcuminProBold;
        @media (max-width: 768px ) {
            margin: 0 auto;
        }
    }
}

.text-brands {
    text-align: center;

    p.title-brands-accept {
        font-family: @IconsolataBold !important;
        font-size: 22px !important;
    }
}

.text-left-empty {
    .line {
        display: inline-block;
        width: 50px;
        height: 1px;
        background-color: @colorladrillo;
        margin: 0 0 20px;
    }
}

.comienza-vender {
    .image-venta {
        img {
            width: 100%;
            vertical-align: middle;
        }

        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .texto-btn-venta {
        margin: auto;

        .text-left-empty {
            padding: 80px;
            @media (max-width: 1024px) {
                padding: 30px;
            }
            @media (max-width: 320px) {
                padding: 30px;
            }

            p {
                font-size: 16px;
                font-family: @AcuminProBook;
                color: @colorrgbablack;
                @media (max-width: 320px) {
                    font-size: 14px;
                }

                .highlight {
                    font-family: @AcuminProBold;
                }
            }
        }
    }
}

.titles-sup {
    @media (max-width: 576px ) {
        text-align: center;
    }

    h4 {
        font-family: @AcuminProBold;
        font-size: 18px;
        margin-top: 0 !important;
    }

    .line-subt {
        display: inline-block;
        width: 50px;
        height: 1px;
        background-color: @colorladrillo;
        margin: 0 0 10px;
    }
}

.info-cp {
    @media (max-width: 768px ) {
        text-align: right;
    }
    @media (max-width: 576px ) {
        text-align: center;
    }

    p {
        font-family: @AcuminProBook;
        color: @colorrgbablack;
        font-size: 14px;

        .lnk-edit-cp {
            color: @colorcoral;
            font-family: @AcuminProBold;
            text-decoration: underline;
        }
    }
}

.list-appoinmetns {
    max-width: 85%;
    width: 100%;
    margin: 20px auto;

    ul#listado-app {
        padding-inline-start: 0;

        li {
            list-style: none;
            color: @colorrgbablack;

            .result-info-appoinment {
                position: relative;
                padding: 15px 0;
                background: @colorwhite;

                span.edit {
                    float: right;
                    position: absolute;
                    left: unset;
                    right: 0;
                    padding-right: 10px;

                    a {
                        color: @colorcoral;
                        text-decoration: underline;
                    }
                }

                span.close {
                    float: right;
                    position: absolute;
                    left: unset;
                    right: 0;
                    font-weight: bold;
                    padding-right: 14px;
                    cursor: pointer;
                    bottom: 15px;
                }

                .date-place-appoinmetn {
                    .viewmap {
                        a {
                            color: @colorcoral;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.appointment-data-cpnone {
    p {
        font-family: @AcuminProLight;
        font-size: 16px;
        color: @colorgraytext;
    }

    div#cpnone {
        @media (max-width: 768px) {
            padding-right: 15px !important;
            padding-left: 15px !important;
        }

        .titlestext {
            margin-bottom: 30px;

            h2 {
                font-family: @AcuminProBold;

                strong {
                    color: @coloraceituna;
                }
            }

            p {
                strong {
                    font-family: @AcuminProBold;
                }
            }
        }

        .texth2 {
            h2 {
                padding-top: 14%;
                font-family: @AcuminProBold;
                @media (max-width: 768px) {
                    padding-top: 0;
                    text-align: center;
                }
            }
        }

        .listmetodos {
            font-size: 15px;
            @media (max-width: 576px) {
                margin-top: 20px;
            }

            p {
                font-family: @AcuminProBold;
            }

            ol.listpiezas {
                padding-top: 15%;
                @media (max-width: 576px) {
                    padding-right: 15px !important;
                    padding-left: 15px !important;
                    padding-top: 10px;
                }

                li {
                    list-style: decimal;
                    color: @colorrgbablack;
                }
            }
        }
    }
}

._hiddensec {
    display: none;
}

.btns-sale {
    margin-top: 30px;

    .content-sale {
        max-width: 70%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        @media (max-width: 576px) {
            max-width: 100%;
            width: 100%;
        }

        a {
            display: inline-flex;
            margin: 10px 20px;
            @media (max-width: 380px) {
                margin: 10px 5px;
            }

            div {
                max-width: 300px;
                width: 300px;
                padding: 14px 12px;
                text-align: center;
                border-radius: 5px;
                font-size: 16px;
                font-family: @AcuminProLight;
            }
        }

        a.howsale {
            color: @colorblack;

            div#salebtn {
                background: @colorwhite;
                border: 1px solid @colorblack;
            }
        }

        a.startsale {
            color: @colorwhite;

            &:hover {
                color: @colorwhite !important;
            }

            div#salebtn {
                background: @colorblack;
                border: 1px solid @colorblack;
            }
        }
    }
}

.appointment-data-cpnone {
    margin-top: 40px;
}

form.form.password.forget {
    .field.email.required {
        @media (max-width: 767px) {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 40px !important;
        }
    }

    .field.captcha.required {
        @media (max-width: 767px) {
            width: 90%;
            margin: 0 auto;
        }

        .control.captcha-image {
            @media (max-width: 576px) {
                .captcha-img {
                    margin: 0 auto;
                }

                button.action.reload.captcha-reload {
                    margin: 25px 0 15px !important;
                }
            }
        }
    }

    .actions-toolbar {
        .primary {
            background-color: @colorblack;
            height: 48px;
            color: @colorwhite !important;
            font-family: @AcuminProBold;
        }
    }
}

.imgcitavirtual {
    @media (max-width: 576px) {
        order: 3;
    }
}

.pasoscitavirtual {
    @media (max-width: 576px) {
        order: 2;
    }
}

.titlecitavirtual {
    text-align: right;

    h2 {
        text-align: right;
    }

    @media (max-width: 576px) {
        order: 1;
        margin-top: 20px;
        text-align: center;
    }
}

._currenshipment {
    border-bottom: 2px solid @colorblack !important;

    a {
        font-weight: bold;
    }
}

.menu-shipments {
    #list-menu-ship {
        width: 100%;
        position: relative;
        text-align: center;
        display: block;
        border-bottom: 0 !important;
        @media (max-width: 576px) {
            text-align: center;
        }

        li {
            display: inline-flex;
            width: 25%;
            padding-bottom: 5px;
            border-bottom: 1px solid @colorccc;
            margin: 0 0 0 -3px !important;
            @media (max-width: 576px) {
                width: 100% !important;
            }
            @media (max-width: 360px) {

                font-size: 12px;
            }
            @media (max-width: 320px) {

                font-size: 11px;
            }

            &:hover {
                font-weight: bold;
                border-bottom: 2px solid @colorblack !important;
            }

            a {
                text-align: center;
                color: @colorblack !important;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 15px;
                font-family: @AcuminProBook, serif;
                text-decoration: none !important;
            }
        }

        .owl-controls {
            display: none !important;
        }
    }
}

.descrip-guia {
    margin: 0 auto;
    background: @colorwhite;
    padding: 30px 0 0;
    @media (max-width: 576px) {
        max-width: 100%;
    }
}

.info-sup-guia {
    text-align: center;
    margin: 30px auto;
    color: @colorrgbablack;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    @media (max-width: 360px) {
        font-size: 15px;
    }
    @media (max-width: 320px) {
        font-size: 14px;
    }

    p {
        a {
            color: @colorrgbablack !important;
        }

        .highlight {
            font-family: @AcuminProBold;
        }
    }
}

.file-no-guia {
    border-bottom: 1px solid @colorccc;
    padding-bottom: 20px;

    .detalles-guia {
        @media (max-width: 768px) {
            text-align: center;
        }

        .numeroguia {
            color: @colorblack;
            font-family: @AcuminProBold;
        }

        p {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProBook;
            @media (max-width: 320px) {
                font-size: 14px;
            }
        }

        .no-guias {
            font-family: @AcuminProBold;
        }
    }

    .btn-actions-guia {
        @media (max-width: 768px) {
            margin-bottom: 25px;
            margin-top: 10px;
        }

        .btn-dowload-guia {
            a {
                text-decoration: none;

                .btn-dw-guia {
                    background: @colorblack;
                    text-align: center;
                    padding: 13px;
                    border-radius: 10px;
                    width: 300px;
                    height: 48px;
                    margin: auto;
                    font-size: 16px;
                    border: 1px solid @colorblack;
                    color: @colorwhite !important;
                    font-family: @AcuminProBold;

                    &:hover {
                        color: @colorwhite !important;
                    }
                }
            }
        }

        .btn-dowload-guia-compl {
            a {
                text-decoration: none;

                .btn-dw-guia-compl {
                    background: @colorwhite;
                    text-align: center;
                    padding: 13px;
                    border-radius: 10px;
                    width: 300px;
                    height: 48px;
                    margin: auto;
                    font-size: 16px;
                    border: 1px solid @colorblack;
                    font-family: @AcuminProBold;
                    color: @colorblack !important;

                    &:hover {
                        color: @colorblack !important;
                    }
                }
            }
        }
    }

    .btn-actions {
        text-align: right;
        @media (max-width: 767px) {
            text-align: center;
            margin-top: 15px;
        }

        button.secondary {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
            background: @colorwhite !important;
            color: @colorblack !important;
            border: 1px solid @colorblack;
            border-radius: 10px;
            height: 48px;
            font-size: 16px;
            font-family: @AcuminProBold;
        }

        .btn-back {
            margin: 20px auto 0;
            @media (max-width: 767px) {
                margin: 30px auto 10px;
            }

            a {
                color: @colorcoral !important;
                font-family: @AcuminProBook;
                font-size: 15px;
                cursor: pointer;
                text-decoration: underline;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }

        .back-finish-ship {
            margin: 0;
            @media (max-width: 767px) {
                margin-top: -10px;
            }

            a {
                color: @colorcoral !important;
                font-family: @AcuminProBook;
                font-size: 15px;
                cursor: pointer;
                text-decoration: underline;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
    }
}

#shipments-history-transit {
    margin-top: 40px;
}

.file-address {
    border-bottom: 1px solid @colorccc;
    margin: 10px auto;
    padding: 20px 0;

    .address-customer-name {
        .name-customer {
            text-transform: capitalize;
        }

        p {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProBook;
            @media (max-width: 768px) {
                text-align: center;
            }
            @media (max-width: 320px) {
                font-size: 14px;
            }
        }
    }
}

.file-address.addres-transit {
    border-bottom: none;
}

.file-btns-cancel {
    padding: 20px 0;

    .btns-guia-cancel {
        p {
            font-size: 16px;
            color: @colorrgbablack;
            font-family: @AcuminProBook;
            padding-bottom: 15px;
            text-align: center;
            @media (max-width: 320px) {
                font-size: 14px;
            }

            .highlight {
                font-family: @AcuminProBold;
            }
        }

        .guiacompl {
            text-decoration: none;

            .btn-guia-complement {
                width: 300px;
                height: 48px;
                font-size: 16px;
                border: 1px solid @colorcoral;
                margin: 0 auto;
                padding: 13px;
                border-radius: 10px;
                text-align: center;
                color: @colorcoral !important;
                font-family: @AcuminProBold;

                &:hover {
                    color: @colorcoral !important;
                }
            }
        }

        .lnk-cancel {
            text-align: center;
            padding-top: 10px;
            @media (max-width: 767px) {
                padding-top: 35px;
                padding-bottom: 15px;
            }

            a.cancelenvio {
                color: @colorblack !important;
                text-decoration: underline;
                font-weight: 700;
                font-size: 15px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}

.content-list-shipment {
    max-width: 80%;
    margin: 25px auto 0;
    padding: 30px 0 0;

    .product-items-ship {
        background: @colorwhite !important;
        padding: 15px 0;
        margin-bottom: 15px;
    }
}

ul.list-guias-compl {
    li {
        .lnk-guias {
            color: @colorblack !important;
            text-decoration: underline !important;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }
    }
}

.detalles-guia {
    .no-guias {
        cursor: pointer;
        max-width: 350px;

        &:after {
            content: '\f803';
            font-size: 24px;
            cursor: pointer;
            margin-left: 20px;
            vertical-align: middle;
            font-family: 'porto-icons', serif;
        }
    }
}

.no-guias.active {
    &:after {
        content: '\f800' !important;
    }
}

._showtitleguias {
    display: none;
}

.rw-info-discount {
    width: 100% !important;
}

span.price-discount-summ {
    color: @colorladrillo;
}

.price-original-summer {
    span {
        font-family: @AcuminProBold;
    }

    span.line-through-price {
        font-family: @AcuminProBook;
        text-decoration: line-through;
        color: rgba(0, 0, 0, .5);
    }
}

.text-sup {
    .btns-discounts {
        display: flex;
        margin: 0 auto;
        text-align: center;
        max-width: 600px;
        @media (max-width: 576px) {
            display: block;
        }

        .btn-aceptdisc {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;

            button.btnaction {
                background: @colorblack !important;
                color: @colorwhite !important;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                font-family: @AcuminProBold;
                max-width: 300px;
                width: 100%;
                margin-left: 15px;
                border: 1px solid @colorblack;
                @media (max-width: 576px) {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }

        .btn-rechazddisc {
            margin: 0 auto;
            max-width: 300px;
            width: 100%;

            button.btnaction {
                background: @colorwhite !important;
                color: @colorblack !important;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                font-family: @AcuminProBold;
                max-width: 300px;
                width: 100%;
                margin-right: 15px;
                border: 1px solid @colorblack;
            }
        }
    }
}
