<?php

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var History $block */

use \Magento\Framework\Exception\NoSuchEntityException;
use \Troquer\Notifications\Block\History; ?>
<?php
try {
    $notifications = $block->getNotifications();
    ?>
    <div class="title-profile row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-12">
            <h2>Notificaciones</h2>
        </div>
        <div class="col-lg-4">
            <h4 class="closesession"><a href="<?= $block->getBaseurl(); ?>customer/account/logout/">Cerrar sesión</a>
            </h4>
        </div>
    </div>
    <?php if ($notifications && count($notifications)) : ?>
        <div class="history-notifications">
            <div id="tbl-notifications">
                <?php $timeGroup = date('F Y'); ?>
                <?php foreach ($notifications as $notification) : ?>
                    <?php $aux = $block->getTimeGroup($notification); ?>
                    <?php if ($aux && $aux != $timeGroup) : ?>
                        <?php $timeGroup = $aux; ?>
                        <h4 class="time-group"><?php echo $timeGroup; ?></h4>
                    <?php endif; ?>
                    <div class="content-notifications">
                        <div class="col-12 <?php if(!$notification->getData('read')) echo 'unread';?>">
                            <div class="info-section-notifications row <?php if(!$notification->getData('read')) echo 'unread';?>">
                                <div class="notification-img col-lg-1 col-2"></div>
                                <div class="notification-info col-lg-10 col-8">
                                    <strong id="noti-title" <?php if($notification->getData('read')) echo 'class="read"';?>><?php echo $notification->getData('title'); ?></strong>
                                    <p id="noti-body"<?php if($notification->getData('read')) echo 'class="read"';?>><?php echo $notification->getData('body'); ?></p>
                                    <?php if ($notification->getData('cta')) : ?>
                                        <a href="<?= $block->getBaseUrl() . $notification->getData('cta'); ?>">
                                            <button id="<?= $notification->getData('id'); ?>" class="btn-notification">Ver</button>
                                        </a>
                                    <?php endif; ?>
                                    <span class="<?php if($notification->getData('read')) { echo 'read'; } else { echo 'read-notification'; } ?>"
                                          id="<?= $notification->getData('id'); ?>"><?php if($notification->getData('read')) { echo 'Leído'; } else { echo 'Marcar cómo leído'; } ?></span>
                                    <p class="notification-time"><?php echo $block->getNotificationAge($notification); ?></p>
                                </div>
                                <div class="notification-delete col-lg-1 col-2">
                                    <h4 class="delete-notification"
                                        id="<?= $notification->getData('id'); ?>"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
        <script>
            require([
                'jquery'
            ], function ($) {
                let deleteButtons = $(".delete-notification");
                let i;
                for (i = 0; i < deleteButtons.length; i++) {
                    $(deleteButtons[i]).on("click", function () {
                        let notification = $(this).closest('div.content-notifications');
                        let notification_id = $(this).attr("id");
                        $.ajax({
                            url: "/notifications/index/deletenotification",
                            type: "POST",
                            data: {
                                notification_id: notification_id
                            },
                            showLoader: true,
                            cache: true,
                            success: function () {
                                notification.remove();
                            }
                        });
                    }, null);
                }

                let readButtons = $(".read-notification");
                let j;
                for (j = 0; j < readButtons.length; j++) {
                    $(readButtons[j]).on("click", function () {
                        let notification = $(this).closest('div.content-notifications');
                        let notification_id = $(this).attr("id");
                        $.ajax({
                            url: "/notifications/index/readnotification",
                            type: "POST",
                            data: {
                                notification_id: notification_id
                            },
                            showLoader: true,
                            cache: true,
                            success: function () {
                                $(notification).find('div.col-12.unread').removeClass('unread').change();
                                $(notification).find('#noti-title').addClass('read').change();
                                $(notification).find('#noti-body').addClass('read').change();
                                $(notification).find('span.read-notification').removeClass('read-notification').addClass('read').text('Leído').prop("onclick", null).off("click").change();
                            }
                        });
                    }, null);
                }
                
                let seeButtons = $(".btn-notification");
                let k;
                for (k = 0; k < seeButtons.length; k++) {
                    $(seeButtons[k]).on("click", function () {
                        let notification_id = $(this).attr("id");
                        $.ajax({
                            url: "/notifications/index/readnotification",
                            type: "POST",
                            data: {
                                notification_id: notification_id
                            },
                            showLoader: false,
                            cache: true,
                            success: function () {}
                        });
                    }, null);
                }
            });
        </script>
    <?php else: ?>
        <div class="empty-sales">
            <div class="img-calendar-empty">
                <img src="" alt="">
                <p>No tienes notificaciones</p>
            </div>
            <div class="comienza-vender">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 image-venta iracomprar">
                        <a href="<?= $block->getBaseurl(); ?>" class="btn-start-sale">
                            <div class="btn"><span>Ir a comprar</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <?php
} catch (NoSuchEntityException $e) {
}
?>
