<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="content-credit-troquer">

    <!-- ko if: isAvailable && isActive() -->
    <div class="payment-option opc-payment-additional customerbalance" id="customerbalance-placer">
        <div class="payment-option-title title-troquer-credit">
            <!-- ko i18n: 'Credit Troquer' -->
            <!-- /ko -->
        </div>
        <div class="troquer-credit-use payment-option-content field choice">
            <div class="actions-toolbar">
                <div class="primary">
                    <button id="use-customer-balance" class="action action-use" name="payment[use_customer_balance]" data-bind="click: sendRequest">
                            <span><!-- ko i18n: 'Use Store Credit' --><!-- /ko --></span>
                    </button>
                </div>
            </div>
            <div class="payment-option-inner">
                <p class="title-credit">
                    <!-- ko i18n: 'Use credit troquer' -->
                    <!-- /ko -->
                </p>
                <p class="amount-credit">
                    <!-- ko i18n: 'Have ' -->
                    <!-- /ko -->
                    <span id="customerbalance-available-amount" data-bind="text: formatBalance()"></span>
                    <!-- ko i18n: 'availables' -->
                    <!-- /ko -->
                </p>
            </div>

        </div>
    </div>
    <!-- /ko -->

</div>