<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Image;
use \Magento\Wishlist\Model\Item;

/** @var Image $block */

/** @var Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<!--div class="tag-attributes">
    <?//php if ($_product->getWeLove()): ?>
        <div class="tag-welove">
            <span>We Love</span>
        </div>
    <?//php endif; ?>
    <?//php if ($_cataloghelper->isProductNew($_product)): ?>
        <div class="tag-lo-ultimo">
            <span>Lo Último</span>
        </div>
    <?//php endif; ?>
</div-->
<a class="product-item-photo" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
    <?= $block->getImage($block->getProductForThumbnail($item), 'wishlist_thumbnail')->toHtml() ?>
</a>
