<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Info;
use \Magento\Wishlist\Model\Item;

/** @var Info $block */

/** @var Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>

<div class="tag-labels tag-labels-wishlist">
    <ul class="labels-flag">
        <?php
        $originalPrice = $product->getData("price");
        $finalPrice = $product->getData("min_price");
        ?>
        <?php
        if ($originalPrice > $finalPrice && $product->getIsSalable()) {
            $percentage = ($originalPrice - $finalPrice) * 100 / $originalPrice;
            ?>
            <li class="percent-discount">
                <?php
                echo '<span class="porcent-product-tr"> -' . round($percentage) . '%</span>';
                ?>
            </li>
        <?php } ?>
        <?php if (!$product->getIsSalable()) { ?>
            <li class="upsvendido">
                <span> ¡Oops Vendido! </span>
            </li>
        <?php } ?>
    </ul>
</div>

<strong class="product-item-name">
    <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>" class="product-item-link">
        <?= $block->escapeHtml($product->getName()) ?>
    </a>
</strong>
