<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use \Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php if ($block->getCollection()->getSize()) : ?>
    <div id="paginator-product-list" class="row">
        <div class="filters-tr-list col-md-12 col-sm-10 col-lg-10">
            <div class="toolbar toolbar-products" data-mage-init='<?php /* @escapeNotVerified */
                echo $block->getWidgetOptionsJson(); ?>'>
                <div class="row d-flex justify-content-end">
                    <div class="col-8 col-md-4 col-sm-3 col-lg-4 amounttr-count">
                        <?php include($block->getTemplateFile('Magento_Catalog::product/list/toolbar/amount.phtml')) ?>
                    </div>
                    <div class="col-4 col-md-2 col-sm-2 col-lg-2 limitertr">
                        <?php include($block->getTemplateFile('Magento_Catalog::product/list/toolbar/limiter.phtml')) ?>
                    </div>
                    <div class="col-9 col-md-6 col-sm-3 col-lg-4 orderby-tr">
                        <?php if ($block->isExpanded()) : ?>
                            <?php include($block->getTemplateFile('Magento_Catalog::product/list/toolbar/sorter.phtml')) ?>
                        <?php endif; ?>
                    </div>
                    <div class="viewmode-tr col-3 col-md-2 col-sm-1 col-lg-1">
                        <?php if ($block->isExpanded()) : ?>
                            <?php include($block->getTemplateFile('Magento_Catalog::product/list/toolbar/viewmode.phtml')) ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginator-list-tr col-lg-2 col-md-12 col-sm-2">
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>

<?php endif ?>
<script>
    require([
        'jquery'
    ], function ($) {
        $('select.sorter-options').change(function(){
            var text = $(this).find('option:selected').text()
            var $aux = $('<select/>').append($('<option/>').text(text))
            $(this).after($aux)
            $(this).width($aux.width())
            $aux.remove()
        }).change()
    });
</script>
