<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Catalog\ViewModel\Product\Breadcrumbs;

/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="line-spacing"></div>
<div class="breadcrumbs" data-mage-init='{
    "breadcrumbs": {
        "categoryUrlSuffix": "<?= $block->escapeHtml($viewModel->getCategoryUrlSuffix()); ?>",
        "useCategoryPathInUrl": <?= (int) $viewModel->isCategoryUsedInProductUrl(); ?>,
        "product": "<?= $block->escapeHtml($block->escapeJsQuote($viewModel->getProductName(), '"')); ?>"
    }
}'></div>
