<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Catalog\Block\Product\Image;
use \Magento\Framework\Escaper;

/** @var $block Image */
/** @var $escaper Escaper */
?>

<span class="img-preview-product-tr product-image-container"
      style="width:<?= $escaper->escapeHtmlAttr($block->getWidth()) ?>px;">
    <span class="product-image-wrapper" style="padding-bottom: <?= ($block->getRatio() * 100) . '%;' ?>">
        <img class="<?= $escaper->escapeHtmlAttr($block->getClass()) ?>"
             src="<?= $escaper->escapeUrl($block->getImageUrl()) ?>"
             alt="<?= /* @noEscape */ $block->stripTags($block->getLabel(), null, true) ?>"/>
    </span>
</span>
