@import '_variables.less';

.filter.active .filter-options {
    @media (max-width: 767px) {
        padding: 10px 30px !important;
        width: 300px;
        right: auto;
        top: 100px !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.filter.active .filter-current {
    @media (max-width: 767px) {
        position: relative !important;
        margin-left: -5px !important;
        padding: 5px 0 !important;
        width: 250px !important;
        height: auto !important;
        top: 0 !important;
    }
}

.filter.active .filter-current .item {
    padding: 4px 10px 4px !important;
}

.filter-current .action.remove {
    position: initial !important;
    top: 0 !important;
    margin-left: 7px;
    @media (max-width: 767px) {
        position: initial;
        top: 0 !important;
        margin-left: 7px;
    }

    &:before {
        font-size: 15px;
        margin-top: -3px;
        content: '\02715' !important;
        color: @colorblack !important;
    }
}

.filter.active .filter-current ~ .filter-options {
    @media (max-width: 767px) {
        padding-bottom: 260px !important;
        position: relative;
        margin-left: -30px;
        top: 0 !important;
        height: 100vh;
    }
}

.block.filter > .block-content.filter-content > .block-actions.filter-actions {
    @media (max-width: 767px) {
        display: none;
    }
}

.block.filter.active > .block-content.filter-content > .block-actions.filter-actions {
    @media (max-width: 767px) {
        display: block;
    }
}

.block.filter > .block-content.filter-content > .content_button_filters {
    @media (max-width: 767px) {
        display: none;
    }
}

.block.filter.active > .block-content.filter-content > .content_button_filters {
    @media (max-width: 767px) {
        display: block;
    }
}

.block-content.filter-content {
    @media (max-width: 767px) {
        padding: 0 30px !important;
        width: 300px;
        right: auto;
        top: 47px;
        position: fixed;
        background: #FFFFFF;
        margin-left: -15px !important;
        display: none;
    }

    .block-actions.filter-actions {
        margin: 0 !important;
        @media (max-width: 767px) {
            position: relative;
            border-radius: 0 !important;
            border-bottom: 1px solid @colorarena !important;
        }
    }
}

.content_button_filters {
    z-index: 1;
    height: 40px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    @media (max-width: 767px) {
        height: auto;
    }
    @media (min-width: 768px) {
        padding-top: 15px;
        margin-bottom: 15px;
    }
}

.is_sticky_filter {
    padding: 10px 0 45px;
    background: @colorwhite;
    max-width: 257px;
    position: fixed;;
    width: 100%;
    top: 118px;
    z-index: 3;
    @media (max-width: 1366px) and (min-width: 1280px) {
        max-width: 237px;
    }
    @media (max-width: 1024px) and (min-width: 990px) {
        max-width: 220px;
    }
    @media (max-width: 980px) and (min-width: 768px) {
        max-width: 185px;
        top: 105px;
        left: 0;
    }
}

button#apply_fylter {
    width: 100%;
    font-size: 13px;
    padding: 1px 12px;
    border-radius: 7px;
    color: @colorwhite;
    background: @colorblack;
    border: 1px solid @colorblack;
    //float: right !important;
    margin: 0 0 15px !important;
    font-family: @AcuminProBold;

    &:hover {
        background: @colorblack !important;
        color: @colorwhite !important;
    }
}

.filter-current .items {
    background: @colorwhite !important;
    border: none !important;
    @media (max-width: 767px) {
        overflow: scroll;
        max-height: 125px;
    }

    .item {
        width: auto;
        border-radius: 10px;
        display: inline-flex;
        border: 1px solid @colorcoral;
        padding: 7px 10px 4px !important;
        @media (max-width: 767px) {
            margin: 0 3px 8px !important;
        }
    }
}

.block-actions.filter-actions {
    margin: 0 !important;
}

.filter.active .filter-current + .block-actions {
    @media (max-width: 767px) {
        top: 160px !important;
    }
}

a.alertmake {
    margin-left: 10px;
    color: @colorcoral !important;
    font-weight: 600;
}

.block-actions.filter-actions {
    background: @colorwhite !important;
    border: none !important;

    a {
        font-size: 13px;
        color: @colorblack;
    }
}

.filter .filter-current-subtitle {
    background: @colorwhite;
    border: none;
    display: none;

    .items {
        background: @colorwhite;
        border: none;
    }
}

[attribute="color"] .swatch-attribute-options div {
    width: auto !important;
}

[attribute="garment_category"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="garment_category"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="condition"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="condition"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.smile-es-range-slider .ui-slider-handle {
    width: 15px !important;
}

.filter-options-content {
    a {
        width: 100% !important;
    }
}

[attribute="garment_type"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="garment_type"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="size_clothes_alpha"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="size_clothes_alpha"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="size_shoes_alpha"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="size_shoes_alpha"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="size_lenses"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="size_lenses"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="size_rings"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="size_rings"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="material"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="material"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="fit"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="fit"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="color"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="color"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="manufacturer"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="manufacturer"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

[attribute="gender"] .filter-options-content ol li input:checked:after {
    background: @colorcoral !important;
}

[attribute="gender"] {
    .filter-options-content {
        .field.search {
            .control {
                input {
                    margin-bottom: 15px;
                }
            }
        }

        ol {
            li {
                position: relative;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked + label:after {
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: " ";
                    display: block;
                    background: @colorcoral;
                    cursor: pointer;

                    span {
                        color: @colorcoral !important;
                        font-weight: 800;
                    }
                }

                label {
                    &:hover {
                        &::before {
                            background: @colorcoral;
                        }
                    }

                    &:before {
                        content: " ";
                        display: inline-block;
                        position: relative;
                        top: 0;
                        cursor: pointer;
                        float: right;
                        width: 18px;
                        height: 18px;
                        border-radius: 3px;
                        border: 1px solid @colorcoral;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.filter-value {
    color: @colorblack !important;
}

label.lbl-status-check {
    content: ' ';
    width: 15px;
    height: 15px;
    background: @colorwhite;
    vertical-align: text-top;
    border: 1px solid @colorcoral;
    border-radius: 25%;
    float: right;
}

.inputs-filters {
    display: none !important;
}

.inputs-filters:checked + .lbl-status-check {
    background: @colorcoral;
    cursor: pointer !important;
}

.swatch-attribute.swatch-layered.size {
    div {
        div {
            div {
                background: transparent;
                height: 30px;
                width: 30px;
                padding-top: 3px;
                border: 1px solid @colorcoral;
                color: @colorcoral !important;

                &:hover {
                    background: @colorcoral !important;
                    color: @colorwhite !important;
                }
            }
        }
    }
}

.filter-options-title {
    background: transparent !important;
    border: none !important;
}

.filter-options-content {
    background: transparent !important;
    border: none !important;

    .swatch-attribute.swatch-layered.color {
        .swatch-attribute-options.clearfix {
            div.swatch-option-link-layered {
                .swatch-option.image {
                    background-size: initial !important;
                    min-width: 22px !important;
                    height: 22px !important;
                    border: 0 !important;
                }
            }
        }
    }
}

.swatch-attribute.swatch-layered.color {
    div {
        div {
            div {
                border-radius: 50% !important;
            }
        }
    }
}

.swatch-option.selected {
    outline: none !important;
}

.swatch-option.selected::before {
    content: "\02714";
    color: @colorcoral;
    line-height: 22px;
}

.filter-options-title {
    &:after {
        content: none !important;
    }
}

.ui-slider-horizontal {
    background: @colorarena;
}

.smile-es-range-slider .ui-slider-handle {
    background: @colorcoral;

    &:hover {
        background: @colorcoral !important;
    }
}

.toolbar-amount {
    display: block !important;
}

.filter .field.search input[type=text] {
    margin-bottom: 5px;

    &::placeholder {
        color: @colorrgbablack !important;
    }
}

.filter-options-content {
    display: block !important;
}

.filter-options-content {
    .actions {
        div.secondary {
            display: inline-flex !important;
            width: 100%;

            a.action.show-more {
                text-align: left;
                padding: 10px;
            }

            a.action.show-less {
                padding: 10px 0 10px;
            }
        }
    }
}
select.sorter-options {
    border: none !important;
    font-size: 12px !important;
    @media (max-width: 576px) {
        margin-right: 15px !important;
    }
    @media (max-width: 320px) {
        margin-right: 10px !important;
    }
}

button.action.tobag.primary {
    border: none !important;
    width: 22px;
    height: 22px;
}
