<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\Checkout\Block\Onepage\Success;

?>
<?php /** @var $block Success */ ?>
<div class="checkout-success">
    <div class="image-cart">
        <img class="imgdesk" src="/media/troquer/CONFIRMACIONGUIAESCRITORIO.jpg" alt="">
        <img class="imgmob" src="/media/troquer/CONFIRMACIONGUIAMOVIL.jpg" alt="">
        <div class="text-banner">
            <p>¡Gracias por comprar en Troquer!</p>
        </div>
    </div>
    <div class="texto-success">
        <?php if ($block->getOrderId()): ?>
            <?php if ($block->getCanViewOrder()) : ?>
                <p class="num_order">El número de confirmación de tu pedido es: <?= $block->getOrderId() ?></p>
                <!-- <p class="num_order"><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p> -->
            <?php else : ?>
                <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
            <?php endif; ?>
            <p class="text-secundary"><?php /* @escapeNotVerified */ echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>

            <?php if (isset($_SESSION['pdf_url'])): ?>
                <div class="pdf-ticket">
                    <iframe id="pdf" src="<?php echo $_SESSION["pdf_url"] ?>" style="width:100%;" frameborder="0"></iframe>
                </div>
            <?php endif; ?>

            <?php if(isset($_SESSION['show_map']) && $_SESSION['show_map'] == '1'): ?>
                <div style="margin: 20px 0px; width: 70%">
                    <h2>Mapa de tiendas</h2>
                    <iframe src="https://www.paynet.com.mx/mapa-tiendas/index.html?locationNotAllowed=true" style="border: 1px solid #000; width:100%; height:300px;" frameborder="0"></iframe>
                </div>
            <?php endif; ?>

        <?php endif; ?>

        <?php echo $block->getAdditionalInfoHtml() ?>
    <div class="btns-order-success">
        <div class="btn-seccess-order btn-no-order">
            <a href="<?=$block->getViewOrderUrl()?>" class="order-num"><div class="order-btn-lnk">Ver mi pedido</div></a>
        </div>
        <div class="btn-seccess-order btn-comprar">
            <a href="/" class="order-num"><div class="order-btn-lnk">Seguir comprando</div></a>
        </div>
    </div>
    </div>
</div>
