<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\CustomAttributeManagement\Block\Form\Renderer\Text;

?>
<?php
/**
 * Create account form template
 */
/* @var $block Text */
?>
<?php
$fieldCssClass = 'field field-' . $block->getHtmlId();
$fieldCssClass .= $block->isRequired() ? ' required' : '';
?>
<div class="<?= /* @noEscape */ $fieldCssClass ?>">

    <div class="register-tr control">
        <input placeholder="CELULAR" type="text" id="<?= /* @noEscape */ $block->getHtmlId() ?>" name="<?= $block->escapeHtmlAttr($block->getFieldName()) ?>" value="<?= /* @noEscape */ $block->getEscapedValue() ?>" class="telefonotr input-text<?= /* @noEscape */ $block->getHtmlClass() ?>">
        <?php if ($_message = $block->getAdditionalDescription()) : ?>
        <div class="note"><?= /* @noEscape */ $_message ?></div>
        <?php endif; ?>
    </div>
</div>
