<?php

/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\LayeredNavigation\Block\Navigation\State;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation state
 *
 * @var $block State
 */
?>
<div class="content_button_filters">
    <button id="apply_fylter">Aplicar filtros</button>
    <input id="query_search_input" type="hidden" value="">
</div>

<?php $_filters = $block->getActiveFilters() ?>
<?php if (!empty($_filters)) : ?>
    <div class="filter-current" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false }}'>
        <strong class="block-subtitle filter-current-subtitle" role="heading" aria-level="2" data-role="title" data-count="<?php echo count($_filters); ?>"><?php /* @escapeNotVerified */ echo __('Now Shopping by') ?></strong>
        <ol class="items">
            <?php foreach ($_filters as $_filter) : ?>
                <li class="item">

                    <span class="filter-value"><?php /* @escapeNotVerified */ echo $block->stripTags($_filter->getLabel()) ?></span>
                    <?php
                    $clearLinkUrl = $_filter->getClearLinkUrl();
                    $currentFilterName = $block->escapeHtml(__($_filter->getName())) . " " . $block->stripTags($_filter->getLabel());
                    if ($clearLinkUrl) :
                    ?>
                        <a class="action previous" href="<?php /* @escapeNotVerified */ echo $_filter->getRemoveUrl() ?>" title="<?php /* @escapeNotVerified */ echo __('Previous') ?>">
                            <span><?php /* @escapeNotVerified */ echo __('Previous') ?></span>
                        </a>
                        <a class="action remove" title="<?php echo $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>" href="<?php /* @escapeNotVerified */ echo $clearLinkUrl ?>">
                            <span><?php echo $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></span>
                        </a>
                    <?php else : ?>
                        <a class="action remove" href="<?php /* @escapeNotVerified */ echo $_filter->getRemoveUrl() ?>" title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Remove')) . " " . $currentFilterName; ?>">
                            <span><?php /* @escapeNotVerified */ echo __('Remove This Item') ?></span>
                        </a>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
<?php endif; ?>

<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        let checked = {};

        function checkboxClickFunction(element) {
            let url_item = $(element).parent().attr('href');
            if(element.checked) {
                url_item.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                    checked[key.split("%")[0]] = checked[key.split("%")[0]] ? checked[key.split("%")[0]] + ',' + value : value;
                });
            } else {
                let deleted_value = $(element).next().text().trim().split('\n')[0];
                deleted_value = encodeURIComponent(deleted_value);
                deleted_value = deleted_value.replace(/%20/g, '+');
                url_item.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                    if(value === deleted_value) {
                        let new_checked = checked[key.split("%")[0]].split(',');
                        new_checked = $.grep(new_checked, function(value) {
                            return value !== deleted_value;
                        });
                        checked[key.split("%")[0]] = new_checked.join(',');
                    } else {
                        checked[key.split("%")[0]] = checked[key.split("%")[0]] ? checked[key.split("%")[0]] + ',' + value : value;
                    }
                });
            }
            deleteDuplicates(checked);
            updateValue();
        }

        function swatchClickFunction(element) {
            let link = $(element);
            let url_item = link.attr('href');
            let linkdiv = link.find("div").first();
            url_item.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                if(linkdiv.hasClass("selected")) {
                    let deleted_value = $(linkdiv).data("option-label");
                    let new_checked = checked[key.split("%")[0]].split(',');
                    new_checked = $.grep(new_checked, function(value) {
                        return value !== deleted_value;
                    });
                    checked[key.split("%")[0]] = new_checked.join(',');
                } else {
                    checked[key.split("%")[0]] = checked[key.split("%")[0]] ? checked[key.split("%")[0]] + ',' + value : value;
                }
            });
            linkdiv.toggleClass("selected");
            deleteDuplicates(checked);
            updateValue();
        }

        function updateValue() {
            let url = '';
            $.each(checked, function (key, value) {
                let values = value.split(",");
                if(values.length > 1) {
                    for(let i = 0; i < values.length; i++) {
                        if(url === '') {
                            url = key + '%5B' + i + '%5D=' + values[i];
                        } else {
                            url = url + '&' + key + '%5B' + i + '%5D=' + values[i];
                        }
                    }
                } else {
                    if(url === '') {
                        url = key + '=' + values[0];
                    } else {
                        url = url + '&' + key + '=' + values[0];
                    }
                }
            });

            $('#query_search_input').val(url);
        }

        function deleteDuplicates(checked) {
            $.each( checked, function( key, value ) {
                let values = value.split(",");
                values = [...new Set(values)];
                checked[key] = values.join(",");
                if(checked[key] === '') {
                    delete checked[key];
                }
            });
        }

        window.checkboxClickFunction = checkboxClickFunction;
        window.swatchClickFunction = swatchClickFunction;

        $('#apply_fylter').on("click", function () {
            let filters_add = $('#query_search_input').val();
            if(filters_add) {
                window.history.pushState('', 'Title filter', '?' + filters_add + '');
                location.reload();
            }
        }, null);

        $('.block-title.filter-title > strong').on("click", function () {
            $('.block-content.filter-content').show();
        }, null);

        $('.filter.active > .filter-title > strong').on("click", function () {
            $('.block-content.filter-content').hide();
        }, null);

    });
</script>
