<div class="field search" data-bind="if: displaySearch">
    <div class="control">
        <input class="filter-search" title="filter-search" type="text" autocomplete="off" data-bind="attr: {placeholder: searchPlaceholder}, event: {keyup: onSearchChange.bind(this), focusout: onSearchFocusOut}" />
    </div>
</div>
<ol class="items" data-bind="foreach: getDisplayedItems()">
    <li class="item">
        <div data-bind="attr: {href:url}, visible: count >= 1" class="item_a_filter">
            <input type="checkbox" class="check_item_filter" title="check_item_filter" data-bind="checked: is_selected, attr: {id: id}" onclick="checkboxClickFunction(this)" />
            <label data-bind="attr: {for: id}">
                <span data-bind="html: label"></span>
                <span class="count" data-bind="text: count, visible: $parent.displayProductCount"></span>
            </label>
        </div>

        <div data-bind="visible: count < 1">
            <span data-bind="html: label"></span>
            <span class="count" data-bind="text: count"></span>
        </div>
    </li>
</ol>

<div class="no-results-message empty" data-bind="if: fulltextSearch() && !hasSearchResult()">
    <p data-bind="html: getSearchResultMessage()"></p>
</div>

<div class="actions" data-bind="visible: enableExpansion()">
    <div class="secondary">
        <a class="action show-more" data-bind="visible: displayShowMore(), event: {click: onShowMore}"><span data-bind="text: showMoreLabel"></span></a>
        <a class="action show-less" data-bind="visible: displayShowLess(), event: {click: onShowLess}"><span data-bind="text: showLessLabel"></span></a>
    </div>
</div>
