<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
<tr class="totals balance summarytr">
    <th class="mark" scope="row">
        <!-- ko text: -getPureValue()  + ' ' + title -->
        <!-- /ko -->
        <button id="delete-customer-balance" class="action" name="payment[delete_customer_balance]" data-bind="click: sendRequest">
            <span><!-- ko text: $t('Remove') --><!-- /ko --></span>
        </button>
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->