@import '_variables.less';

.image-cart {
    position: relative;

    .imgdesk {
        display: block;
        @media (max-width: 576px) {
            display: none;
        }
    }

    .imgmob {
        display: none;
        @media (max-width: 576px) {
            display: block;
        }
    }

    img {
        width: 100%;
    }

    .text-banner {
        right: 0 !important;
        left: unset !important;
        margin: 60px 30px 0 0 !important;
        @media (max-width: 768px) {
            margin: 20px 20px 0 0 !important;
        }
        @media (max-width: 320px) {
            margin: 10px 10px 0 80px !important;
        }
    }
}

.texto-success {
    text-align: center;
    padding: 50px 15px 35px;

    .num_order {
        font-family: @IconsolataBold;
        font-size: 22px;
    }

    .text-secundary {
        font-family: @AcuminProBook;
        font-size: 16px;
    }

    .pdf-ticket {
        width: 65%;
        margin: 0 auto;
        @media (max-width: 767px) {
            width: 100%;
        }

        iframe {
            height: 950px;
            @media (max-width: 767px) {
                height: 490px;
            }
        }
    }
}

.btns-order-success {
    max-width: 800px;
    display: -webkit-flex;
    display: flex;
    margin: 20px auto;
    text-align: center;
    @media (max-width: 576px) {
        display: grid !important;
    }
}

.btn-seccess-order {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    margin: 20px auto;
}

.btn-no-order {
    color: @colorblack !important;
    font-family: @AcuminProBold;
    @media (max-width: 576px) {
        order: 2;
    }

    .order-btn-lnk {
        max-width: 300px;
        width: 100%;
        border: 1px solid @colorblack;
        padding: 13px 5px;
        background: @colorwhite;
        color: @colorblack;
        height: 48px;
        font-size: 16px;
        border-radius: 10px;
        font-family: @AcuminProBold
    }
}

.btn-comprar {
    @media (max-width: 576px) {
        order: 1;
    }

    .order-btn-lnk {
        max-width: 300px;
        width: 100%;
        border: 1px solid @colorblack;
        padding: 13px 5px;
        background: @colorblack;
        color: @colorwhite;
        height: 48px;
        font-size: 16px;
        border-radius: 10px;
        font-family: @AcuminProBold;
    }
}
