@import '_variables.less';

.block.block-balance.troquer-balance {
    text-align: center;
    float: none !important;
    background: @colorwhite !important;
    width: 100% !important;
    margin: 20px auto 0;
    padding: 20px;

    .block-title {
        p {
            font-family: @AcuminProBold;
            font-size: 22px;
        }
    }

    .block-content {
        p {
            span {
                font-size: 20px !important;
                font-family: @AcuminProBook;
            }
        }
    }

    .empty-sales {
        .comienza-vender {
            .haztucita-tr {
                .info-two-txt {
                    text-align: left !important;
                    @media (max-width: 576px) {
                        text-align: center !important;
                    }
                }
            }
        }
    }
}

.balance-history-troquer {
    text-align: center;
    margin-top: 25px !important;
    padding: 20px 0 !important;

    .block-title {
        font-family: @AcuminProBold;
        margin: 15px 0 !important;
    }

    .content-order-titles {
        font-family: @AcuminProBold;
        text-align: left;
        font-size: 16px;
        margin-left: inherit;
        margin-right: inherit;

        .titles-row-balances {
            .order-info {
                @media (max-width: 576px) {
                    display: none !important;
                }
            }
        }
    }

    .info-section-order {
        text-align: center;
    }

    .content-order {
        background-color: @colorwhite;
        margin: 10px auto 20px;
        font-size: 14px;
        font-family: @AcuminProBook;
        padding: 20px 0;

        .info-section-order {
            .order-num {
                @media (max-width: 576px) {
                    text-align: left !important;
                }

                h3.showaddinfo._active {
                    &:after {
                        content: '\f800' !important;
                        font-family: 'porto-icons', serif;
                        font-size: 24px;
                        float: right;
                        top: -6px;
                        margin-top: -5px;
                    }
                }

                .showaddinfo {
                    display: none;
                    font-size: 16px !important;
                    font-family: @AcuminProBold;
                    @media (max-width: 576px) {
                        display: block !important;
                    }

                    &:after {
                        content: '\f807';
                        font-family: 'porto-icons', serif;
                        font-size: 24px;
                        float: right;
                        top: -6px;
                        margin-top: -5px;
                    }
                }

                .content-additinal-info {
                    @media (max-width: 576px) {
                        display: none;
                    }
                }
            }
        }
    }
}

div#content-credit-troquer {
    .payment-option.opc-payment-additional.customerbalance {
        @media (max-width: 576px) {
            margin: 0 !important;
        }
    }
}

.payment-option.opc-payment-additional.customerbalance {
    margin-top: -38px;
}

.title-troquer-credit {
    display: block !important;

    span {
        font-size: 22px !important;
        font-family: @AcuminProBold;
    }
}

.troquer-credit-use {
    margin-top: 5px !important;

    .actions-toolbar {
        .primary {
            width: auto !important;
        }
    }

    .payment-option-inner {
        p {
            font-size: 16px;
            font-family: @AcuminProBook;
        }

        p.title-credit {
            color: @colorblack !important;
            margin-bottom: 0 !important;
        }

        .amount-credit {
            color: @colorcoral;
            font-size: 14px !important;
        }
    }
}

.summarytr {
    th.mark {
        button#delete-customer-balance {
            background: none !important;
            width: 80px !important;
            max-width: 80px !important;
            padding: 5px 5px 5px 0 !important;
            height: auto !important;
            text-align: right !important;
            border: none !important;

            span {
                display: block !important;
                text-decoration: underline !important;
            }
        }
    }
}
