@import '_variables.less';

.indicator-section {
    font-size: 16px;
    text-align: center;
    color: @colorrgbablack;
    font-family: @AcuminProBook;
}

.block.block-balance.troquer-balance {
    text-align: center;
    float: none !important;
    background: @colorwhite !important;
    width: 100% !important;
    margin: 25px auto 0;
    padding: 20px;

    .block-title {
        p {
            font-family: @AcuminProBold;
            font-size: 22px;
        }
    }

    .block-content {
        p {
            span {
                font-size: 20px !important;
                font-family: @AcuminProBook;
            }
        }
    }

    .empty-sales {
        .comienza-vender {
            .haztucita-tr {
                .info-two-txt {
                    text-align: left !important;
                    @media (max-width: 576px) {
                        text-align: center !important;
                    }
                }
            }
        }
    }
}

.showcommet {
    display: block !important;
}

.open-children-toggle-bal {
    @media (max-width: 768px) {
        width: 15px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        &:after {
            content: '\f803';
            font-family: 'porto-icons', serif;
            font-size: 20px;
            font-weight: bold !important;
        }
    }
}

.arrow-up-dow.active {
    .open-children-toggle-bal {
        &:after {
            content: '\f800';
            font-family: 'porto-icons', serif;
            font-size: 20px;
        }
    }
}

.balance-history-troquer {
    text-align: center;
    padding: 20px 0 !important;
    background: @colorwhite;
    margin-top: 25px;

    .block-title {
        font-family: @AcuminProBold;
        margin: 15px 0 !important;
        font-size: 18px;
    }

    .content-order-titles {
        font-family: @AcuminProBold;
        text-align: left;
        font-size: 16px;
        margin-left: inherit;
        margin-right: inherit;

        .titles-row-balances {
            .order-info {
                @media (max-width: 576px) {
                    display: none !important;
                }
            }
        }
    }

    .info-section-order {
        text-align: center;
    }

    .content-order {
        margin: 10px auto 20px;
        font-size: 14px;
        font-family: @AcuminProBook;

        .date-summary-balance {
            margin: auto;
            padding: 0;

            p {
                font-size: 14px;
                text-align: left;
                color: @colorrgbablack;
                font-family: @AcuminProBold;
            }
        }

        .content-summary-balance {
            margin: auto;
            padding: 20px;
            background: @colorbackground;

            .summary-balance-info {
                .info-balance {
                    text-align: left;

                    .reason-balance {
                        font-size: 16px;
                        margin-bottom: 5px;
                        font-family: @AcuminProBold;
                    }

                    .date-balance {
                        color: @colorrgbablack;
                    }
                }

                .comment-balance {
                    order: 2;
                    @media (max-width: 768px) {
                        order: 3;
                        display: none;
                    }
                    text-align: center;
                    color: @colorrgbablack;
                }

                .arrow-up-dow {
                    display: none;
                    @media (max-width: 768px) {
                        order: 3;
                        display: block;
                        padding-right: 2px;
                        padding-left: 2px;
                    }
                }

                .amount-balance {
                    order: 3;
                    @media (max-width: 768px) {
                        order: 2;
                    }
                    text-align: right;

                    .change-balance {
                        font-size: 16px;
                        margin-bottom: 5px;
                        color: @colorladrillo;
                    }

                    .total-balance {
                        font-size: 16px;
                        color: @colorblack;

                        .price_sub {
                            font-size: 15px;
                            font-family: @AcuminProLight;
                            color: @colorgraytext;
                        }
                    }
                }
            }
        }

        .info-section-order {
            .order-num {
                @media (max-width: 576px) {
                    text-align: left !important;
                }

                h3.showaddinfo._active {
                    &:after {
                        content: '\f800' !important;
                        font-family: 'porto-icons', serif;
                        font-size: 24px;
                        float: right;
                        top: -6px;
                        margin-top: -5px;
                    }
                }

                .showaddinfo {
                    display: none;
                    font-size: 16px !important;
                    font-family: @AcuminProBold;
                    @media (max-width: 576px) {
                        display: block !important;
                    }

                    &:after {
                        content: '\f807';
                        font-family: 'porto-icons', serif;
                        font-size: 24px;
                        float: right;
                        top: -6px;
                        margin-top: -5px;
                    }
                }

                .content-additinal-info {
                    @media (max-width: 576px) {
                        display: none;
                    }
                }
            }
        }
    }
}

.summary_month {
    ul {
        li {
            color: @colorgraytext;
            font-size: 14px;
            font-family: @AcuminProLight;
            display: inline-flex;
            margin-right: 10px;
            border-right: 1.5px solid @colorgraytext;
            padding-right: 5px;

            &:last-child {
                border: none !important;
            }
        }
    }
}

.encabezado_titles_balan_mob {
    display: none;
    @media (max-width: 768px) {
        display: block;
        text-align: left;
        padding-left: 0 !important;
    }

    h4 {
        font-family: @AcuminProBold;
        text-align: left !important;
        font-size: 18px;
        opacity: 0.5;
        @media (max-width: 768px) {
            padding-left: 0 !important;
        }
    }
}

.content_summary_titles {
    margin: 10px auto;

    .encabezado_titles {
        h4 {
            font-family: @AcuminProBold;
            text-align: center;
            font-size: 18px;
            opacity: .5;
            @media (max-width: 576px) {
                margin-top: 5px !important;
                margin-bottom: 5px !important;
            }
        }
    }

    .encabezado_titles_mov {
        h4 {
            text-align: left !important;

        }
    }

    .encabezado_titles_balan {
        @media (max-width: 768px) {
            display: none;
        }

        h4 {
            text-align: center !important;
        }
    }

    .amount-balance {
        h4 {
            text-align: right !important;
        }
    }
}

.content-summary-balance.content_summary_titles {
    @media (max-width: 576px) {
        margin: 0 auto !important;
    }
}

.block-balance-history {
    float: none !important;
}

.content-balance-top {
    margin: 0 auto;

    h4 {
        text-align: left;
        font-family: @AcuminProBook;
        font-size: 16px;
        font-weight: 100 !important;

        .bold_balance {
            font-family: @AcuminProBold;
        }
    }

    .col-lg-8 {
        @media (max-width: 990px) and (min-width: 768px) {
            display: none;
        }
    }
}

.date-balance {
    .date_update {
        font-size: 16px;
        font-family: @AcuminProBook;
    }
}

.title_bal_ab {
    color: @colorgray;
    font-size: 15px;
    font-family: @AcuminProLight;
    text-align: left;
    @media (max-width: 576px) {
        display: none;
    }
}

.qty_balance {
    max-width: 180px;
    width: 100%;
    float: right;

    .qty_balance_div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media (max-width: 576px) {
            display: block !important;
        }
    }
}

.btymonth_balance {
    margin: 20px auto !important;

    p.order {
        font-size: 16px;
        font-family: @AcuminProBold;
        font-weight: 600;
    }

    .month_left_balance {
        padding-left: 0px !important;
        @media (max-width: 768px) {
            padding-left: 30px !important;
        }
        @media (max-width: 767px) {
            padding-left: 18px !important;
        }
    }
}

.amount-balance {
    .change-balance {
        .addcredit {
            color: @coloraceituna;
            font-size: 16px;
            font-family: @AcuminProBold;
        }

        .restorecredit {
            color: @colorladrillo;
            font-size: 16px;
            font-family: @AcuminProBold;
        }
    }

    .total-balance {
        font-size: 16px;
        font-family: @AcuminProBold;
    }
}

div#content-credit-troquer {
    .payment-option.opc-payment-additional.customerbalance {
        @media (max-width: 576px) {
            margin: 0 !important;
        }
    }
}

.payment-option.opc-payment-additional.customerbalance {
    margin-top: -38px;
}

.title-troquer-credit {
    display: block !important;

    span {
        font-size: 22px !important;
        font-family: @AcuminProBold;
    }
}

.troquer-credit-use {
    margin-top: 5px !important;

    .actions-toolbar {
        .primary {
            width: auto !important;
        }
    }

    .payment-option-inner {
        p {
            font-size: 16px;
            font-family: @AcuminProBook;
        }

        p.title-credit {
            color: @colorblack !important;
            margin-bottom: 0 !important;
        }

        .amount-credit {
            color: @colorcoral;
            font-size: 14px !important;
        }
    }
}

.summarytr {
    th.mark {
        button#delete-customer-balance {
            background: none !important;
            width: 80px !important;
            max-width: 80px !important;
            padding: 5px 5px 5px 0 !important;
            height: auto !important;
            text-align: right !important;
            border: none !important;

            span {
                display: block !important;
                text-decoration: underline !important;
            }
        }
    }
}

.link_detail {
    a {
        font-family: @AcuminProBook;
        color: @colorcoral;

        &:hover {
            color: @colorcoral !important;
        }
    }

}

.sale-success {
    span {
        &:before {
            content: "";
            font-size: 10px;
            background: #0da732;
            padding: 1px 5px;
            border-radius: 10px;
            vertical-align: text-top;
            margin-right: 5px;
        }
    }
}

.sale-processing {
    span {
        &:before {
            content: "";
            font-size: 10px;
            background: #c6900b;
            padding: 1px 5px;
            border-radius: 10px;
            vertical-align: text-top;
            margin-right: 5px;
        }
    }
}

.summary-balance-info {
    align-items: center;
    justify-content: center;
}
.image_details_sale {
    align-items: center;
    justify-content: center;

    .image_detail {
        max-width: 100px;
        height: 100px;
        background: #CCCCCC;
    }

    .info_detail {
        text-align: left;
    }
}
