@import '_variables.less';

div#section-sustentable {
    margin: 30px auto;
    @media (max-width: 768px) {
        padding: 0 20px !important;
    }
    @media (max-width: 544px) {
        padding: 0 20px;
    }

    h3.title {
        font-size: 25px;
        font-weight: 700;
        line-height: 3rem;
        margin-bottom: 78px;
        font-family: @PermanentMarkerRegular;
        padding: 0 20px;

        span {
            color: @colorladrillo;
        }

        @media (max-width: 768px) {
            margin-bottom: 44px;
            font-size: 24px;
            padding: 0;
        }
        @media (max-width: 544px) {
            margin-bottom: 30px;
            padding: 0;
        }
    }

    a {
        background: 0 0;
        border: none;
        padding: 0 0 5px;
        line-height: 1;
        text-transform: uppercase;
        color: #222;
        font-weight: 700;
        display: inline-block;
        font-family: inherit;
        text-decoration: none;
        border-radius: 0;
        border-bottom: 2px solid #222;
        cursor: pointer;
        letter-spacing: .075em;
    }

    a.btn.btn-default {
        margin-left: 20px;
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }

    .text-left-sust {
        padding-top: 36px;
        padding-left: 50px;
        font-family: @AcuminProLight;
        font-size: 16px;
        color: @colorparrafo;
        @media (max-width: 768px) {
            padding-top: 36px;
            padding-left: 30px;
        }
        @media (max-width: 544px) {
            padding-top: 36px;
            padding-left: 0;
        }

        .line {
            display: inline-block;
            width: 70px;
            height: 1px;
            background-color: @colorladrillo;
            margin: 0 0 50px;
            @media (max-width: 768px) {
                margin: 0 0 55px;
            }
            @media (max-width: 544px) {
                margin: 0 0 30px;
            }
        }

        p {
            line-height: 20px;
        }
    }
}

.bg-full-consigna {
    @media (max-width: 2560px) and (min-width: 2160px) {
        width: 100vw;
        height: 360px;
        background-color: #fff;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 122%)" !important;
        margin-top: 55px !important;
    }
    @media (max-width: 1980px) and (min-width: 1600px) {
        width: 100vw;
        height: 360px;
        background-color: #fff;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 113.5%)" !important;
        margin-top: 55px !important;
    }
}

.content-consignacion {
    margin-bottom: 35%;
    @media (min-width: 1600px) {
        position: relative;
    }

    @media (max-width: 1024px) {
        margin-bottom: 45%;
    }
    @media (max-width: 920px) {
        margin-bottom: 47%;
    }
    @media (max-width: 768px) {
        height: 140px;
        margin-bottom: 35%;
    }
    @media (max-width: 544px) {
        height: auto;
        margin-bottom: 0 !important;
    }

    .imgconsignacion {
        width: 30%;
        float: right;
        @media (max-width: 1024px) and (min-width: 990px) {
            border-bottom: 105px solid @colorwhite;
        }
        @media (max-width: 768px) {
            width: 35%;
            border-bottom: 128px solid @colorwhite;
        }
        @media (max-width: 544px) {
            float: none;
            width: 100%;
            border-bottom: none;
        }

        img.imgdesktop {
            @media (max-width: 544px) {
                display: none;
            }
        }

        img.imgmobile {
            display: none;
            @media (max-width: 544px) {
                display: block;
            }
        }

        img {
            width: 100%;
        }
    }

    .info-consignacion {
        padding: 40px 0;
        width: 70%;
        background: @colorwhite;
        float: left;
        margin-top: 4%;
        @media (max-width: 768px) {
            padding: 10px 0;
            width: 65%;
        }
        @media (max-width: 544px) {
            float: none;
            width: 100%;
            padding-top: 30px;
        }

        .text-consignacion {
            width: 80%;
            margin: 0 auto;

            p {
                font-family: @AcuminProLight;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.7);
                @media (max-width: 544px) {
                    font-size: 14px;
                }
                @media (max-width: 320px) {
                    font-size: 13px;
                }

                strong {
                    font-family: @AcuminProBold;
                    color: rgba(0, 0, 0, .7);
                }

                a, a:hover, a:active, a:focus {
                    text-decoration: underline;
                    color: initial !important;
                    cursor: pointer;
                }
            }

            .title-consg {
                font-size: 22px;
                font-family: @AcuminProBold;
                margin-bottom: 30px;
                margin-top: 0;

                span {
                    color: @coloraceituna;
                }
            }

            .btn-lnk-sale-b {
                border-bottom: none !important;

                .lnksale {
                    background: @colorblack;
                    padding: 13px 25px;
                    color: @colorwhite;
                    border-radius: 10px;
                    max-width: 300px;
                    text-align: center;
                    font-size: 16px;
                    font-family: @AcuminProBold;
                    margin-top: 30px;
                    @media (max-width: 768px) {
                        font-size: 15px;
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

div#section-pricing {
    padding: 40px 30px 0;
    @media (max-width: 360px) {
        padding: 40px 20px 0;
    }

    div.col-6.col-sm-4.col-lg-2.col-xl-2 {
        @media (max-width: 1024px) and (min-width: 990px) {
            padding: 0 5px;
        }
        @media (max-width: 360px) {
            padding: 0 10px;
        }
        a {
            font-size: 16px;
            color: @colorwhite;
            font-family: @AcuminProBold;
            &:hover {
                color: @colorwhite !important;
                text-decoration: none;
            }
            @media (max-width: 360px) {
                font-size: 15px;
            }
            @media (max-width: 320px) {
                font-size: 14px;
            }

            .box {
                padding: 30px 10px;
                border-radius: 5px;
                @media (max-width: 768px) {
                    padding: 20px 10px;
                    margin-bottom: 20px;
                }
                @media (max-width: 768px) {
                    padding: 20px 7px;
                    margin-bottom: 20px;
                }
            }
            .first {
                background: #002f3a;
            }
            .second {
                background: @colorladrillo;
            }
            .third {
                background: @colorarena;
            }
            .fourth {
                background: #6f7b59;
            }
            .fifth {
                background: #c38d81;
            }
            .sixth {
                background: @colorazulosc;
            }
        }
    }
    .col-6.col-sm-4.col-lg-2.col-xl-2:nth-child(3) {
        a {
            color: @colorblack !important;
            &:hover {
                color: @colorblack !important;
                text-decoration: none;
            }
        }
    }
}

div#section-payments {
    margin: 40px 0 30px;
    @media (max-width: 840px) {
        margin: 40px 10px 30px;
    }

    .info-payments {
        .img-payments {
            text-align: center;
        }

        .text-payments {
            padding-top: 4%;
            @media (max-width: 768px) {
                padding-left: 0;
            }

            p {
                font-family: @IconsolataBold;
                color: @colorblack;
                text-transform: uppercase;
                font-size: 15px;
                text-align: left !important;
                @media (max-width: 544px) {
                    text-align: left;
                }
            }
        }
    }
}

div#section-slogan {
    margin: 30px auto 0;
    @media (max-width: 768px) {
        margin: 45px auto 0;
    }

    .line-slogan {
        margin: auto;
        @media (max-width: 380px) and (min-width: 325px) {
            padding: 0 32px;
        }

        &:before, &:after {
            content: '';
            height: 2px;
            width: 50px;
            border-radius: 50px;
            position: absolute;
            background: @coloraceituna;
        }

        &:before {
            left: 15px;
            top: -12px;
            @media (min-width: 1401px) {
                left: 30px;
            }
            @media (max-width: 1400px) and (min-width: 1280px) {
                left: 10px;
            }
            @media (max-width: 1024px) and (min-width: 990px) {
                left: 0;
            }
            @media (max-width: 768px) {
                left: ~"calc(50% - 25px)";
            }
        }

        &:after {
            right: 15px;
            @media (min-width: 1401px) {
                right: 30px;
            }
            @media (max-width: 1400px) and (min-width: 1280px) {
                right: 10px;
            }
            @media (max-width: 1024px) and (min-width: 990px) {
                right: 0;
            }
            @media (max-width: 768px) {
                right: ~"calc(50% - 25px)";
            }
        }

        h3 {
            font-family: @AcuminProBold;
            margin: 10px 0 5px;
            line-height: 1.4;

            strong {
                color: @coloraceituna;
            }
        }
    }
}

li#payment {
    div#checkout-step-payment {
        form#co-payment-form {
            fieldset.fieldset {
                div#checkout-payment-method-load {
                    .items.payment-methods {
                        @media (max-width: 544px) {
                            margin: 0 0 !important;
                        }
                    }
                }

                .payment-option._collapsible.opc-payment-additional.discount-code {
                    @media (max-width: 544px) {
                        margin: 0 0 !important;
                    }
                }
            }
        }
    }
}

#payments-sect {
    .content-info {
        padding: 10px;
        justify-content: center;
        margin: 0;
        background-color: @colorwhite;
        display: flex;
        align-items: center;
    }

    .text.payments {
        font-family: @IconsolataBold;
        color: @colorblack;
        text-transform: uppercase;
        font-size: 15px;
    }
}

.sec-ultimo {
    margin-bottom: 46px;
    padding-top: 46px;
    background: @colorbackground;
    margin-right: 0 !important;
    margin-left: 0 !important;
    @media (max-width: 768px) {
        padding: 20px 0 !important;
    }
    @media (max-width: 544px) {
        padding: 40px 20px 4px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .tittles-blocks {
        @media (max-width: 544px) {
            margin: 0 !important;
        }
    }
}

.info-owl-carousel {
    margin: 0 auto !important;
}

.item.brands-top {
    max-width: 291px;
    margin: 0 auto;
    width: 100%;
    .img-closets {
        color: @colorblack;

        a {
            color: @colorblack !important;

            &:hover {
                text-decoration: none !important;
            }
        }

        img {
            width: 100%;
        }

        .text-closets {
            height: auto;
            text-align: center;
            padding: 15px 15px;

            p {
                font-family: @AcuminProBold;
                font-size: 16px;
                text-decoration: underline;
            }
        }

    }
}


.section-brands-top {
    margin: 0 auto !important;
    @media (max-width: 768px) {
        padding: 35px 0;
    }
    @media (max-width: 576px) {
        max-width: 90%;
        margin: 0 auto;
    }
    @media (max-width: 544px) {
        padding: 35px 20px;
    }

    .block-static-block {
        width: 100% !important;
    }
}
.section-closets {
    margin-left: 0 !important;
    margin-right: 0 !important;
    @media (max-width: 768px) {
        padding: 35px 0;
    }
    @media (max-width: 544px) {
        padding: 35px 20px;
    }

    .block-static-block {
        width: 100% !important;
    }
}

.item.item-info-closets {
    max-width: 291px;
    margin: 0 auto;
    width: 100%;
    background: @colorwhite;

    .img-closets {
        color: @colorblack;

        a {
            color: @colorblack !important;

            &:hover {
                text-decoration: none !important;
            }
        }

        img {
            width: 100%;
        }

        .text-closets {
            height: 175px;
            text-align: center;
            padding: 0 15px;
            @media (max-width: 1024px) and (min-width: 768px) {
                height: 170px;
            }

            h3 {
                font-family: @AcuminProBold;
                font-size: 16px;
            }

            p {
                font-family: @AcuminProLight;
                font-size: 14px;
            }
        }

        .follow-closets {
            text-align: center;
            padding: 10px 0;

            a {
                color: @colorblack;
                font-family: @AcuminProBook;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }
}

.content-principal.container-fluid {
    padding: 0;
}

div#section-app {
    background: @colorwhite;
    margin-left: 0 !important;
    margin-right: 0 !important;
    @media (max-width: 544px) {
        padding: 40px 0;
    }

    .img-app {
        img {
            float: right;
        }
    }

    div {
        padding: 0;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .text-app {
        text-align: center;
        padding: 5% 12% 0 !important;
        @media (max-width: 768px) {
            padding: 0 3% !important;
        }
        @media (max-width: 544px) {
            padding: 0 6% !important;
        }

        h1 {
            font-weight: bold;
        }

        p {
            margin: 40px 0;
            @media (max-width: 768px) {
                margin: 20px 0;
                padding: 0 10px;
            }
        }
    }

    .img-app {
        @media (max-width: 544px) {
            margin-top: 20px;
        }
    }
}

div#product-recomendados {
    background: @colorbackground;
    margin: 30px 0 0;
    padding: 20px 0;
    @media (max-width: 768px) {
        padding: 20px 0;
        margin: 20px 0 10px;
    }
    @media (max-width: 544px) {
        padding: 20px 20px 0;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .tittles-blocks {
        @media (max-width: 544px) {
            margin: 0 !important;
        }
    }
}

.home-slider {
    position: relative;
    color: @colorazulosc;
    border-bottom: 1px solid #e7e7e7;
}

.home-slider:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 61%;
    display: block;
    background: #f7f6f7;
    content: '';
}

.owl-middle-narrow .owl-theme .owl-controls {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.owl-middle-narrow .owl-theme .owl-controls {
    visibility: visible;
    opacity: 1;
    width: ~"calc(100% + 100px)" !important;
    margin-left: -50px;
}

.owl-middle-narrow .owl-theme .owl-controls,
.owl-middle-narrow.owl-theme .owl-controls {
    visibility: visible;
    opacity: 1;
    width: ~"calc(100% + 100px)";
    margin-left: -50px;
}

.owl-middle-narrow .owl-theme .owl-controls .owl-nav [class*=owl-],
.owl-middle-narrow.owl-theme .owl-controls .owl-nav [class*=owl-] {
    font-size: 24px;
    color: #333333;
}

.home-subcats {
    background-color: @colorwhite;
    padding-top: 30px;
}

.home-subcats .porto-sicon-box {
    padding: 10px;
    justify-content: center;
    margin: 0;
}

.home-subcats .left-icon .porto-sicon-body,
.home-subcats .left-icon .porto-sicon-left {
    flex: 0 0 auto;
}

.home-subcats .left-icon .porto-sicon-left {
    margin-right: 15px;
}

.home-subcats .owl-controls {
    display: none;
}

.h-100 > .porto-ultimate-content-box {
    height: 100%;
    font-size: .6666vw;
}

@media (max-width: 767px) {
    .h-100 > .porto-ultimate-content-box {
        min-height: 50vw;
        font-size: 1vw;
    }
}

#banner-sections {
    .content-banner-section {
        .row {
            margin-right: 0 !important;
            margin-left: 0 !important;

            @media (max-width: 544px) {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }

            .banner-left {
                width: 100%;
                padding: 0 0;

                img {
                    @media (min-width: 1440px) {
                        display: none;
                    }
                }
            }

            .banner-right {
                padding: 0 0;

                .row {
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                    padding: 0 0;

                    .banner-mujer {
                        display: block;
                        padding: 0;

                        a {
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                    }

                    .banner-hombre {
                        padding: 0;
                        display: block;

                        a {
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.text-banner {
    position: absolute;
    padding: 20px 25px 15px;
    z-index: 1;
    color: #1a1a1a;
    font-size: 15px;
    opacity: 1;
    left: 0;
    top: 0;
    background: @colorwhite;
    margin: 30px 30px 0 30px;
    @media (max-width: 768px) {
        padding: 10px 18px 2px;
    }
    @media (max-width: 767px) {
        margin: 20px 0 0 20px;
    }
    @media (max-width: 380px) {
        padding: 7px 15px 0;
    }
    @media (max-width: 320px) {
        margin: 15px 0 0 15px;
    }

    p {
        font-family: @PermanentMarkerRegular;
        font-size: 30px;
        @media (max-width: 544px) {
            font-size: 18px;
        }
    }
}

.bgsalessection {
    background: @colorbackground !important;
}
