<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong>
        <span class="text">
            <!-- ko i18n: 'My Cart' -->
            <!-- /ko --></span>
        <span class="qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
            <!-- ko text: getCartParam('summary_count') -->
            <!-- /ko -->
        </span>
    </strong>
</div>

<div class="block-content">
    <button type="button" id="btn-minicart-close" class="action close" data-action="close" data-bind="attr: { title: $t('Close') }">
        <span>
            <!-- ko i18n: 'Close' -->
            <!-- /ko --></span>
    </button>


    <!-- ko if: getCartParam('summary_count') -->
    <strong class="subtitle">
        <!-- ko i18n: 'Recently added item(s)' -->
        <!-- /ko --></strong>
    <div data-action="scroll" class="minicart-items-wrapper">
        <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartParam('items'), as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
            <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} -->
            <!-- /ko -->
            <!-- /ko -->
        </ol>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: getCartParam('summary_count') -->
    <strong class="subtitle empty" data-bind="visible: closeSidebar()">
        <!-- ko i18n: 'You have no items in your shopping cart.' -->
        <!-- /ko -->
    </strong>
    <!-- ko if: getCartParam('cart_empty_message') -->
    <p class="minicart empty text">
        <!-- ko text: getCartParam('cart_empty_message') -->
        <!-- /ko -->
    </p>

    <div class="actions">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                <span>
                    <!-- ko text: $t('View and edit cart') -->
                    <!-- /ko --></span>
            </a>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: getCartParam('summary_count') -->
    <div class="items-total">
        <span class="count">
            <!-- ko text: getCartParam('summary_count') -->
            <!-- /ko --></span>
        <!-- ko if: getCartParam('summary_count') == 1 -->
        <!-- ko i18n: 'item' -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: getCartParam('summary_count') > 1 -->
        <!-- ko i18n: 'items' -->
        <!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: getCartParam('possible_onepage_checkout') -->
    <!-- ko foreach: getRegion('subtotalContainer') -->
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko foreach: getRegion('extraInfo') -->
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: getCartParam('possible_onepage_checkout') -->
    <div class="actions">
        <div class="primary">
            <div data-bind="html: getCartParam('extra_actions')"></div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: getCartParam('possible_onepage_checkout') -->
    <div class="message-product-no-available">
        <span>
            <!-- ko i18n: 'Some of the preducts are not available. Please check your cart.' -->
        <!-- /ko --></span>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: getCartParam('summary_count') -->
    <div class="actions">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                <span class="items-not-available">
                    <!-- ko i18n: 'View and edit cart' -->
                    <!-- /ko --></span>
            </a>
        </div>
    </div>
    <!-- /ko -->

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() -->
<!-- /ko -->
<!-- /ko -->