<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="subtotal">
    <span class="label">
        <!-- ko i18n: 'Cart Subtotal' -->
        <!-- /ko -->
    </span>

    <!-- ko foreach: elems -->
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <!-- /ko -->
</div>
