<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Troquer\Catalog\Block\Product\ProductList\Toolbar;

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block Toolbar
 */
?>

<h5 class="toolbar-amount" id="toolbar-amount">
    <?php if ($block->getLastPageNum() > 1) :?>
        <?= $block->escapeHtml(
            __(
                'Items %1-%2 of %3',
                '<span class="count toolbar-number">' . $block->getFirstNum() . '</span>',
                '<span class="count toolbar-number">' . $block->getLastNum() . '</span>',
                '<span class="count toolbar-number">' . $block->getTotalNum() . '</span>'
            ),
            ['span']
        ) ?>
    <?php elseif ($block->getTotalNum() == 1) :?>
        <?= $block->escapeHtml(
            __('%1 Item', '<span class="count toolbar-number">' . $block->getTotalNum() . '</span>'),
            ['span']
        ) ?>
    <?php else :?>
        <?= $block->escapeHtml(
            __('%1 Items', '<span class="count toolbar-number">' . $block->getTotalNum() . '</span>'),
            ['span']
        ) ?>
    <?php endif; ?>
</h5>
