<?php

/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
$_helper = $this->helper('Smartwave\Porto\Helper\Data');

//$title = $_helper->getConfig('porto_settings/footer/footer_newsletter_title'); //"Be the First to Know";
//$sub_title = $_helper->getConfig('porto_settings/footer/footer_newsletter_text'); //"Get all the latest information on Events,<br>Sales and Offers. Sign up for newsletter today.";
?>
<div class="bg-full-newsletter"></div>
<div class="block newsletter section-newsletter">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
            <div class="row">
                <div class="text-newsletter col-sm-12 col-md-7 col-lg-7">
                    <h3>Únete a nuestra comunidad</h3>
                    <p>Recibe las actualizaciones más recientes, no te pierdas de nuestras nuevas piezas.</p>
                </div>
                <div class="form-newsletter col-sm-12 col-md-5 col-lg-5">
                <form class="form subscribe" novalidate action="<?php echo $block->getFormActionUrl() ?>" method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-validate-detail">
                    <div class="field newsletter">
                        <label class="label" for="footer_newsletter"><span><?php echo __('Sign Up for Our Newsletter:') ?></span></label>
                        <div class="control">
                            <input name="email" type="email" id="footer_newsletter" data-validate="{required:true, 'validate-email':true}" placeholder="ejemplo@ejemplo.com.mx"/>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="action subscribe primary" title="<?php echo __('SUSCRIBIRME') ?>" type="submit">
                            <span><?php echo __('Subscribe') ?></span>
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>    

</div>