@import '_variables.less';

footer.page-footer {
    .footer {
        .footer-middle {
            .container {
                .footer-ribbon {
                    display: none !important;
                }

                .row {
                    @media (max-width: 767px) {
                        margin-left: 0;
                        margin-right: 0;
                    }

                    .col-lg-12 {
                        @media (max-width: 576px) {
                            padding-right: 0 !important;
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
#footer-tr-new {
    background: #121214;
    color: @colorwhite !important;
    margin-left: 0;

    .iconwhatsapp {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    .lnk-menu.active {
        @media (max-width: 767px) {
            &:after {
                content: '\f800' !important;
            }
        }
    }

    .lnk-menu {
        text-transform: uppercase;
        color: #999999 !important;
        @media (max-width: 767px) {
            &:after {
                float: right;
                cursor: pointer;
                content: '\f807';
                font-family: 'porto-icons', serif;
                font-size: 20px;
                font-weight: 700 !important;
            }
        }
    }

    a {
        color: @colorwhite !important;
    }

    .sec-uno {
        @media (max-width: 576px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .logo-submenu-tr {
            picture {
                img {
                    width: 143px;
                    height: 40px;
                }
            }

            ul.submenu-footer {
                font-weight: bold;

                li {
                    display: inline-block !important;
                    margin: 10px 0 !important;
                    font-weight: 500;

                    &:nth-child(2) {
                        margin: 0 10px !important;
                        font-weight: bold !important;

                        &:before {
                            display: inline-block !important;
                            content: ".";
                            position: absolute;
                            padding: 0 0 0 0;
                            font-size: 26px;
                            margin-top: -13px !important;
                            margin-left: -8px !important;
                        }

                        &:after {
                            display: inline-block !important;
                            content: ".";
                            position: absolute;
                            padding: 0 0 0 0;
                            font-size: 26px;
                            margin-top: -13px;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }

        .sellos-conf {
            ul.listsellos li {
                max-width: 70px;
                width: 100%;
                display: inline-block;
                margin: 0 5px;
                @media (max-width: 420px) {
                    max-width: 55px !important;
                    margin: 0 5px 5px !important;
                }
                @media (max-width: 320px) {
                    max-width: 40px !important;
                }

                img {
                    vertical-align: middle;

                }
            }
        }
    }

    .sec-dos {
        @media (max-width: 576px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .sec-tres {
        @media (max-width: 576px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .cont-footer-sec {
            .sec-menu-footer {
                li {
                    padding-bottom: 10px !important;

                    span {
                        cursor: pointer;
                        text-transform: initial;
                        font-weight: 700;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    a {
                        text-transform: initial;
                        font-family: @AcuminProBold;
                    }
                }
            }
        }
    }

    .sec-cuatro {
        @media (max-width: 576px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .cont-footer-sec {
            .acercade {
                li {
                    padding-bottom: 10px !important;

                    a {
                        font-family: @AcuminProBold;
                    }

                    span {
                        cursor: pointer;
                        font-family: @AcuminProBold;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.cont-footer-sec {
    @media (max-width: 767px) {
        display: none;
        overflow: hidden;
    }
}

.footer-bottom {
    background-color: @colorwhite !important;
    padding: 5px 0 !important;

    .container {
        columns: @colorblack;
    }

    .footerbottomtr {
        width: 100% !important;
    }
}

.footer-bottom .custom-block {
    width: 100% !important;

    [data-enable-parallax="0"] {
        background: @colorwhite !important;
    }
}

.footerbottom {
    padding: 10px 0 4px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }

    .metodosdepago {
        max-width: 70%;
        width: 100%;
        display: inline-block;
        left: unset;
        right: 0;
        margin-right: 0;
        float: right;
        @media (max-width: 768px) {
            max-width: 100%;
            display: block;
            padding-left: 0 !important;
        }

        .imgpagoa {
            max-width: 70%;
            width: 100%;
            display: inline-block;
            text-align: center;
            @media (max-width: 768px) {
                max-width: 100%;
                display: block;
            }
        }

        .redesociales {
            max-width: 25%;
            width: 100%;
            display: inline-block;
            text-align: right;
            @media (max-width: 768px) {
                max-width: 100%;
                display: block;
                text-align: center;
                margin-top: 20px;
            }

            .rssicons {
                li {
                    display: inline-block !important;
                    font-size: 20px;
                    margin: 0 5px;
                    width: 30px;
                    height: 30px;

                    a {
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    .copyr {
        max-width: 25%;
        width: 100%;
        display: inline-block;
        float: left;
        margin-top: 1.7%;
        @media (max-width: 768px) {
            float: none;
            max-width: 100%;
            margin-bottom: 10px !important;
            margin-top: 10px !important;
            text-align: center;
            padding-bottom: 0 !important;
        }
    }
}
