@import '_variables.less';

.notfound {
    background: @colorwhite;
    text-align: center;
    padding: 77px 0;
    margin: 30px auto;
    max-width: 70%;
    @media (max-width: 768px) {
        max-width: 90%;
    }

    .content-not {
        max-width: 70%;
        width: 100%;
        margin: 0 auto;
        @media (max-width: 768px) {
            max-width: 100%;
        }

        h1 {
            margin-bottom: 35px !important;
            font-family: @AcuminProBold;
        }

        p {
            margin-bottom: 35px !important;
            font-family: @AcuminProBook;
            font-size: 16px;

            a {
                color: @colorblack;
            }
        }

        .button-lnk {
            .lnk-home {
                .lnkbnt {
                    max-width: 300px;
                    width: 100%;
                    margin: 0 auto;
                    background: @colorblack;
                    padding: 10px 0;
                    color: @colorwhite;
                    font-family: @AcuminProBold;
                    border-radius: 10px;
                }
            }
        }
    }
}
