@import '_variables.less';

.products-grid.wishlist {
    @media (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 0;
        padding: 10px;
    }

    ol.product-items {
        .product-item {
            padding: 10px;
            margin-bottom: 0;
            border-bottom: none;
            @media (min-width: 1024px) {
                margin-bottom: 10px;
            }
            @media (max-width: 767px) {
                width: 50%;
                padding: 5px;
            }

            &:first-child {
                border-top: none;
            }

            .info-wishlist-img {
                background-color: @colorwhite;
                border-radius: 10px;

                .product-item-photo {
                    border: none !important;
                    padding: 0 10px;
                    @media (max-width: 767px) {
                        float: none;
                    }

                    span {
                        img {
                            position: initial !important;
                        }
                    }
                }

                .tag-labels.tag-labels-wishlist {
                    padding: 0 15px;
                    @media (max-width: 767px) {
                        margin: 5px 0;
                        padding: 0 10px;
                    }
                }

                strong.product-item-name {
                    text-align: left;
                    padding: 0 15px;
                    width: auto;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @media (max-width: 767px) {
                        margin: 0;
                        padding: 0 10px;
                    }

                    a {
                        font-family: @AcuminProBold;
                        font-size: 16px;
                        color: @colorblack;
                    }
                }

                .price-box.price-configured_price {
                    text-align: left;
                    padding: 0 15px 1px;
                    @media (max-width: 767px) {
                        margin: 0;
                        padding: 0 10px 1px;
                    }

                    p.price-as-configured {
                        .price-container {
                            .price-wrapper {
                                .price {
                                    font-family: @AcuminProBook;
                                    color: @colorblack !important;
                                }
                            }
                        }

                        span {
                            font-family: @AcuminProBook;
                            font-size: 16px;
                        }

                        .special-price {
                            color: @colorblack;
                        }

                        .old-price {
                            span.price-container.price-configured_price.tax.weee {
                                .price-wrapper {
                                    .price {
                                        color: @colorladrillo !important;
                                    }
                                }
                            }
                        }
                    }
                }

                .product-item-inner {
                    padding: 0 !important;
                    text-align: left !important;

                    .box-tocart.box-tocart-wishlist {
                        display: inline-block;
                        margin-bottom: 0;
                        @media (max-width: 576px) {
                            margin: 0 !important;
                        }

                        .fieldset-wishlist {
                            .field.qty {
                                margin-right: 0 !important;
                            }

                            .product-item-actions {
                                max-width: 30px !important;
                                width: 100%;
                                @media (max-width: 576px) {
                                    float: right;
                                }

                                .actions-primary {
                                    max-width: 30px !important;
                                    width: 100%;

                                    button {
                                        max-width: 30px !important;
                                        min-width: 30px !important;
                                        width: 100%;
                                        @media (max-width: 576px) {
                                            line-height: 22px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .product-item-actions {
                        display: inline-block;
                        text-align: left !important;
                        height: 30px;
                        margin-left: -9px;
                        @media (max-width: 576px) {
                            height: 20px;
                        }

                        a.btn-remove.action.delete {
                            font-family: @AcuminProBook;
                            font-size: 16px;
                            color: @colorblack;
                            cursor: pointer;
                            width: 30px !important;
                            position: relative;
                            top: 3px;
                            text-decoration: none;
                            text-align: center;
                            left: 30px;
                            @media (max-width: 767px) {
                                top: -10px;
                                left: 30px;
                            }

                            &:before {
                                content: '\f81a';
                                font-family: 'porto-icons', serif;
                                font-size: 25px;
                                text-decoration: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

#wishlist-view-form {
    @media (max-width: 576px) {
        background: @colorbackground !important;
        padding: 0;
    }

    .products-grid.wishlist {
        ol.product-items {
            .product-item {
                @media (max-width: 576px) {

                    .product-item-info.info-wishlist-img {
                        a.product-item-photo {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                        }

                        .price-box.price-configured_price {
                            .price-as-configured {
                                .price-container.price-configured_price.tax.weee {
                                    span.price-wrapper {
                                        span.price {
                                            padding-left: 0 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .actions-toolbar {
        margin-top: 30px !important;

        .primary {
            float: none !important;
            max-width: 800px !important;
            width: 100% !important;
            text-align: center;

            .update {
                background: @colorwhite !important;
                height: 48px !important;
                color: @colorblack !important;
                border: 1px solid @colorblack;
                font-family: @AcuminProBold;
                font-size: 16px !important;
                display: none !important;
                max-width: 300px !important;
                width: 100% !important;
                @media (max-width: 576px) {
                    float: none !important;
                    margin-bottom: 20px;
                }
            }

            .tocart {
                font-family: @AcuminProBold;
                font-size: 16px !important;
                background: @colorblack !important;
                height: 48px !important;
                color: @colorwhite !important;
                border: 1px solid @colorblack;
                display: block !important;
                max-width: 300px !important;
                width: 100% !important;
                @media (max-width: 576px) {
                    display: block !important;
                    float: none !important;
                }
            }
        }
    }
}

.box-tocart-wishlist {
    .fieldset-wishlist {
        text-align: left;

        .field.qty {
            display: inline-block !important;

            .control {
                input {
                    height: 24px !important;
                }
            }
        }

        .product-item-actions {
            display: inline-block !important;

            .actions-primary {
                button {
                    text-align: left;
                }
            }
        }
    }
}

.tag-labels-wishlist {
    text-align: left !important;
    margin: 5px 0;
    @media (max-width: 767px) {
        margin-left: 115px;
    }
}

.empty-wishlist-tr {
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
    text-align: center;

    img {
        max-width: 60px !important;
        width: 60px !important;
    }

    p {
        margin-top: 20px;
        font-family: @AcuminProBook;
        font-size: 16px !important;
        color: @colorgray;
    }
}

a.lnk-comprar {
    .btn-comprar {
        max-width: 300px;
        width: 100%;
        margin: 30px auto;
        background: @colorblack;
        color: @colorwhite;
        font-family: @AcuminProBold;
        padding: 16px 0;
        border-radius: 10px;
        height: 48px;
        font-size: 16px;
    }
}

h1.title-wishlist {
    background: @colorbackground;
    padding: 25px 0 20px;
    text-align: center;
    font-family: @AcuminProBold;
    margin: 0 auto;
    width: 100%;
    @media (max-width: 767px) {
        padding: 40px 0 20px;
    }
}
