<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use \Magento\GoogleTagManager\Block\ListJson;

?>
<?php
/** @var ListJson $block */
?>

<div id="checkout-shipping-load">
    <!-- Content loaded dynamically -->
</div>

<script type="text/x-magento-init">
    <?php $cart = $block->getCart(); ?>
    {
        "*": {
            "Magento_GoogleTagManager/js/actions/checkout": {
                "cart": <?= /* @noEscape */ $block->getCartContent() ?>,
                "grand_total": <?= /* @noEscape */ $cart->getData('grand_total') ?>,
                "num_items": <?= /* @noEscape */ count($cart->getAllVisibleItems()) ?>
            }
        }
    }
</script>
