<section id="section-appointment">
    <div class="content-appointment">
        <div class="title-orders">
            <h2>Mis citas</h2>
        </div>
        <div class="row title-cp d-flex justify-content-center">
            <div class="col-lg-9 coll-sm-7 col-12 titles-sup">
                <h4>Mis citas agendadas</h4>
                <span class="line-subt"></span>
            </div>
        </div>

        <div class="list-appoinmetns _hiddensec">
            <ul id="listado-app">
                <li>
                    <div class="result-info-appoinment row">
                        <div class="col-5 date-place-appoinmetn">
                            <p class="date-place-text"><strong>Fecha y hora de tu cita:</strong><br>Miércoles, 08 de Enero de 2020 a las 09:45</p>
                        </div>
                        <div class="col-7 date-place-appoinmetn">
                            <p class="place-appoinment"><strong>Te esperamos en:</strong><br>Lago Nargis 34, Colonia Granada, CDMX - CP 11520</p>
                            <p class="viewmap"><a href="">Ver mapa</a></p>
                        </div>
                        <span class="edit"><a href="">Editar</a></span>
                        <br>
                        <span class="close">X</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="appointment-tada">
            <div class="empty-sales">
                <div class="img-calendar-empty">
                    <img src="<?= $block->getBaseurl(); ?>media/troquer/calendar.png" alt="">
                    <p>No tienes citas agendadas</p>
                </div>
            </div>
        </div>

        <?php if(!empty($postcode)) :?>
            <div class="appointment-tada ccp">
                <div class="empty-salestr">
                    <div class="comienza-vender">
                        <div class="info-rows-agendar row">
                            <div class="col-12 col-lg-6 col-md-12 texto-btn-venta sec-agendar">
                                <div class="text-left-empty">
                                    <span class="line"></span>
                                    <p><strong>Agenda tu cita virtual</strong>
                                    <br>
                                    Revisa tus piezas con nuestra curadora vía Skype y programa su recolección a domicilio.
                                    </p>
                                    <br><br>
                                    <a target="_blank" href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita." class="btn-agendar">
                                        <div class="btn-two"><span>Agendar</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-12 image-venta">
                                <img src="<?= $block->getBaseurl(); ?>media/troquer/lo-hacemos-por-ti.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comienza-vender">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-6 col-md-12  image-venta">
                        <img src="<?= $block->getBaseurl(); ?>media/troquer/explorar-marcas-troquer.jpg" alt="">
                        </div>
                        <div class="col-12 col-lg-6 col-sm-12 texto-btn-venta">
                            <div class="text-left-empty text-brands">
                                <p class="title-brands-accept">¡Conoce las marcas que aceptamos!</p>
                                <span class="line"></span>
                                <br>
                                <p>
                                Puedes utilizar nuestro buscador para determinar si aceptamos las marcas que tienes en mente vender, si no están en la lista no serán aceptadas.
                                </p>
                                <br><br>
                                <a href="" class="btn-start-sale">
                                    <div class="btn"><span>Explorar marcas</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        <?php else : ?>
            <div class="comienza-vender">
                <div class="row container-body mob-colum haztucita-tr">
                    <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container info-two-txt cita-virtual">
                        <div class="line-tyc-l mt-4"></div>
                        <p class="pt-4 cont-txt"><span class="font-weight-bold">Agenda tu cita virtual o presencial</span><br/><span class="textsecnd">Revisa tus piezas con nuestra curadora por videollamada y programa su recolección a domicilio o agenda tu cita presencial en nuestras oficinas en CDMX.</span><br><br><span class="textsecnd"><span id="tipsmodal" class="lnk-modal"><u>Consulta aquí</u></span> todo lo que debes saber antes de tu cita presencial</span></p>
                        <div class="cont-btn pb-4">
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita." ><button type="button" class="btn btn-secundario" data-toggle="modal" data-target="#staticBackdrop">Agendar</button></a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container info-two-img">
                        <img src="<?= $block->getBaseurl(); ?>media/troquer/lo-hacemos-por-ti.jpg" alt="no puedes vender Piezas no auténticas Vestidos de novia, Trajes sastre, Ropa interior, Ropa de cama entre otros" class="img-fluid">
                    </div>
                </div>
            </div>
            <br>
        <?php endif; ?>
    </div>
</section>

<div id="tipsModal" class="modal  modalcp">
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span class="title-condition">Tips e información COVID-19</span>
            <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <p class="title-body-info">Citas presenciales Lago Nargis 34, Colonia Granada, CDMX</p>
            <p class="text-body-info">Tu seguridad y la de nuestro equipo es lo más importante por lo que te compartimos las medidas de precaución e higiene que tomaremos antes, durante y después de tu cita presencial:</p>
            <ul class="text-body-info">
                <li>Antes de tu cita, te aconsejamos lavar o llevar tus piezas a la tintorería</li>
                <li>Al ingresar a nuestras oficinas, se verificará tu temperatura, si es mayor a 37.5º tu cita podrá ser cancelada</li>
                <li>El uso de cubrebocas o careta será obligatorio</li>
                <li>Te proporcionaremos gel antibacterial al entrar y salir de nuestras oficinas</li>
                <li>Solo se permitirá el acceso a una persona por cita, por favor evita ir acompañado</li>
            </ul>
            <p class="text-body-center"><span class="emphasys">¡Cuídate, cuidémonos todos!</span><br>¿Tienes dudas?
                manda un WhatsApp al <a class="lnk-modal" target="_blank"
                                        href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">55
                    7425 5874</a></span></p>
        </div>
    </div>
</div>

<script>
    require([
            'jquery'
        ], function () {
            let modal = document.getElementById("tipsModal");
            let btn = document.getElementById("tipsmodal");
            let span = document.getElementsByClassName("close")[0];
            if (btn !== null) {
                btn.onclick = function () {
                    modal.style.display = "block";
                }
            }
            if (btn !== null) {
                span.onclick = function () {
                    modal.style.display = "none";
                }
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
    );
</script>
