<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var History $block */

use \Troquer\Sales\Block\Sale\History; ?>
<div class="title-orders">
    <h2>Mis piezas</h2>
</div>
<div id="menu-sales">
    <div class="options-menu-sales">
        <ul id="list-menu-sales" class="owl-carousel owl-theme">
            <li id="processed" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/processed/">Procesando</a></li>
            <li id="rejected" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/rejected/">Rechazado</a></li>
            <li id="deserted" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/deserted/">Regresos</a></li>
            <li id="published" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/published/">Publicado</a></li>
            <li id="sold" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/sold/">Vendido</a></li>
            <li id="discounted" class="item lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/discounted/">Descuentos</a></li>
            <li id="expired" class="lnk-menu-orders _currentorder"><a href="<?= $block->getBaseUrl(); ?>sales/sale/expired/">Expirado</a></li>
        </ul>
    </div>
</div>
<?php $_expired = $block->getExpired(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($_expired && count($_expired)) : ?>
    <?php if ($block->getPagerHtml()) : ?>
        <div class="pager-sales-sec order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
    <div id="section-expired" class="tbl-sales-summary">
        <div class="table-wrapper orders-history">
            <div id="tbl-orders" class="section-sales">
                <table class="order-tr data table table-order-items history" id="my-orders-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__('Orders')) ?></caption>
                    <tbody>
                        <?php foreach ($_expired as $product) : ?>
                            <?php
                            $productImage = $product->getThumbnail();
                            ?>
                            <div class="content-sales row d-flex justify-content-center">
                                <div class="col-12">
                                    <div class="info-section-sale row">
                                        <div class="sale-img col-lg-2 col-4 col-md-3">
                                            <?php if(!empty($productImage)) :?>
                                                <img height="100" width="100" src="<?= $block->getMediaUrl().$productImage?>" alt="<?=$product->getData("name")?>">
                                            <?php endif;?>
                                        </div>
                                        <div class="sale-info-summary col-lg-10 col-7 col-md-6">
                                            <div class="sale-name col-lg-4">
                                                <span><strong><?=$product->getData("name")?></strong></span> <br>
                                                <span><?=$product->getAttributeText('condition');?></span>
                                            </div>
                                            <div class="sale-sku col-lg-5">
                                                <span class="sku-type"><?=$product->getAttributeText("garment_type")?></span>
                                                <br>
                                                <span class="sku">SKU <?=$product->getData("sku")?></span>
                                            </div>
                                            <div class="sale-price col-lg-3">
                                                <?php
                                                    switch($product->getAttributeText("status")){
                                                    case "Disabled":
                                                ?>
                                                    <span class="statusorder-closed expired"><?= $product->getAttributeText("status") ?></span>
                                                <?php
                                                    break;
                                                    case "Habilitado":
                                                ?>
                                                    <span class="statusorder-completed expired"><?= $product->getAttributeText("status") ?></span>
                                                <?php }?>
                                                <br>
                                                <span><strong><?=$product->getData("price")?></strong></span>
                                            </div>
                                        </div>
                                        <div class="btn-dondarpz col-lg-2 col-4 col-md-3">
                                            <a class="donarpieza" href=""><div class="btn-donar">Donar pieza</div></a>
                                            <a class="solicitarregreso" href=""><div class="btn-regreso">Solicitar regreso</div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<?php else : ?>
    <div class="empty-sales">
        <div class="img-calendar-empty">
            <img src="<?= $block->getBaseUrl(); ?>media/troquer/icon-shipment-empty.png" alt="">
            <p>No tienes nuevos envios</p>
        </div>
        <div class="comienza-vender">
            <div class="row container-body mob-colum haztucita-tr">
                <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container info-two-txt cita-virtual">
                    <div class="line-tyc-l mt-4"></div>
                    <p class="pt-4 cont-txt"><span class="font-weight-bold">Agenda tu cita virtual o presencial</span><br/><span class="textsecnd">Revisa tus piezas con nuestra curadora por videollamada y programa su recolección a domicilio o agenda tu cita presencial en nuestras oficinas en CDMX.</span><br><br><span class="textsecnd"><span id="tipsmodal" class="lnk-modal"><u>Consulta aquí</u></span> todo lo que debes saber antes de tu cita presencial</span></p>
                    <div class="cont-btn pb-4">
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita." ><button type="button" class="btn btn-secundario" data-toggle="modal" data-target="#staticBackdrop">Agendar</button></a>
                    </div>
                </div>
                <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container info-two-img">
                    <img src="<?= $block->getBaseurl(); ?>media/troquer/lo-hacemos-por-ti.jpg" alt="no puedes vender Piezas no auténticas Vestidos de novia, Trajes sastre, Ropa interior, Ropa de cama entre otros" class="img-fluid">
                </div>
            </div>
            <br>
        </div>
    </div>
<?php endif ?>

<!-- Start Modal TIPS CITA COVID-19 -->
<div id="tipsModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span class="title-condition">Tips e información COVID-19</span>
            <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <p class="title-body-info">Citas presenciales Lago Nargis 34, Colonia Granada, CDMX</p>
            <p class="text-body-info">Tu seguridad y la de nuestro equipo es lo más importante por lo que te compartimos las medidas de precaución e higiene que tomaremos antes, durante y después de tu cita presencial:</p>
            <ul class="text-body-info">
                <li>Antes de tu cita, te aconsejamos lavar o llevar tus piezas a la tintorería</li>
                <li>Al ingresar a nuestras oficinas, se verificará tu temperatura, si es mayor a 37.5º tu cita podrá ser cancelada</li>
                <li>El uso de cubrebocas o careta será obligatorio</li>
                <li>Te proporcionaremos gel antibacterial al entrar y salir de nuestras oficinas</li>
                <li>Solo se permitirá el acceso a una persona por cita, por favor evita ir acompañado</li>
            </ul>
            <p class="text-body-center"><span class="emphasys">¡Cuídate, cuidémonos todos!</span><br>¿Tienes dudas?
                manda un WhatsApp al <a class="lnk-modal" target="_blank"
                                        href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">55
                    7425 5874</a></span></p>
        </div>
    </div>
</div>

<script>
    require([
            'jquery'
        ], function () {
            let modal = document.getElementById("tipsModal");
            let btn = document.getElementById("tipsmodal");
            let span = document.getElementsByClassName("close")[0];
            if (btn !== null) {
                btn.onclick = function () {
                    modal.style.display = "block";
                }
            }
            if (btn !== null) {
                span.onclick = function () {
                    modal.style.display = "none";
                }
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
    );
</script>
<!-- End Modal TIPS CITA COVID-19 -->

<script type="text/javascript">
		require([
			'jquery',
			'owl.carousel/owl.carousel.min'
		], function($) {
			if(window.matchMedia('(max-width: 767px)').matches){
                $('#list-menu-sales').owlCarousel({
                    items:4,
                    loop:true,
                    margin:10,
                    merge:true,
                    responsive:{
                        0:{
                            items:3
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:5
                        }
                    }
                });
            }
		});
	</script>
