<?php

use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */
$url = $block->getRequest()->getUriString();
$url_components = parse_url($url);
try {
    parse_str($url_components['query'], $params);
} catch (Exception $exception) {
    $params = [];
}

if(!$params || !array_key_exists("order_id", $params)) {
    header('Location: ' . $block->getBaseurl() . 'sales/sale/transit');
} else {
    $orderInfo = json_decode(json_encode($block->getOrder($params["order_id"])[0]), true);
    $products = $orderInfo["products"];
    $statusId = $orderInfo["inbound_order"]["catalog_order_status_id"];

    if(in_array($statusId, [3,5,7,8])) {
        $statusText = "Recibió Troquer";
        $backUrl = $block->getBaseurl() . "sales/sale/received";
    } else if (in_array($statusId, [6])) {
        $statusText = "Fecha de cancelación";
        $backUrl = $block->getBaseurl() . "sales/sale/expiredshipment";
    } else if (in_array($statusId, [4])) {
        $statusText = "Fecha de expiración";
        $backUrl = $block->getBaseurl() . "sales/sale/expiredshipment";
    } else {
        $statusText = "Recibió paquetería";
        $backUrl = $block->getBaseurl() . "sales/sale/transit";
    }

    $expiration_date = array_key_exists("shipping_guides", $orderInfo) && count($orderInfo["shipping_guides"]) ? $orderInfo["shipping_guides"][0]["expiration_date"] : '';
    $urls = [];
    ?>

    <div class="title-orders">
        <h2>Mis envíos</h2>
    </div>
    <div id="menu-sales">
        <div class="options-menu-sales menu-shipments">
            <ul id="list-menu-ship">
                <li id="shipments" class="lnk-menu-orders"><a href="<?= $block->getBaseurl(); ?>sales/sale/shipments">Activo</a></li>
                <li id="transit" class="lnk-menu-orders <?php if(in_array($statusId, [2])): ?>_currenshipment<?php endif; ?>"><a href="<?= $block->getBaseurl(); ?>sales/sale/transit">En tránsito</a></li>
                <li id="received" class="lnk-menu-orders <?php if(in_array($statusId, [3,5,7,8])): ?>_currenshipment<?php endif; ?>"><a href="<?= $block->getBaseurl(); ?>sales/sale/received">Recibido</a></li>
                <li id="expiredshipment" class="lnk-menu-orders <?php if(in_array($statusId, [4,6])): ?>_currenshipment<?php endif; ?>"><a href="<?= $block->getBaseurl(); ?>sales/sale/expiredshipment">Expirado</a></li>
            </ul>
        </div>
    </div>
    <section id="shipments-history-transit">
        <div id="listshipment-history-transit">
            <div id="shipment-transit">
                <div class="descrip-guia">
                    <div class="row d-flex justify-content-center">
                        <div class="content-princ col-lg-10 col-sm-8 col-md-10 col-11">
                            <div class="file-no-guia row">
                                <div class="detalles-guia col-lg-8 col-md-7 col-12">
                                    <p class="numeroguia">N° de guia <?php echo $orderInfo["inbound_order"]["tracking_number"] ?></p>
                                    <p class="numpiezas"><?php echo count($orderInfo["products"]) ?> piezas</p>
                                    <p class="dateexpired"><?php echo $statusText . " " . $expiration_date ?></p>
                                </div>
                                <div class="btn-actions col-lg-4 col-md-5 col-12">
                                    <?php if (in_array($statusId, [2])): ?>
                                        <a href="https://www.fedex.com/apps/fedextrack/index.html?tracknumbers=<?php echo $orderInfo["inbound_order"]["tracking_number"]; ?>&cntry_code=mx"><button class="secondary">Seguimiento</button></a>
                                    <?php endif; ?>
                                    <div class="btn-back _back-finish-ship">
                                        <a href="<?= $backUrl ?>">Volver atrás</a>
                                    </div>
                                </div>
                            </div>
                            <div class="file-address addres-transit row">
                                <div class="address-customer-name col-lg-12 col-12 col-sm-12 col-12">
                                    <p class="name-customer"><?= strtolower($block->getCustomer()->getData('firstname')." ".$block->getCustomer()->getData('lastname'));?></p>
                                    <div class="address-customer">
                                        <p><?php echo $orderInfo["inbound_order"]["shipper_street"] ?>&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_number"] ?><?php echo $orderInfo["inbound_order"]["shipper_neighborhood"] ?>,&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_city"] ?>,&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_state_id"] ?>,&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_zip_code"] ?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section_products_upload mb-4">
        <h3 class="title-pieces-summary">Resumen de tus piezas</h3>
        <h5 class="title_qty_prod count_product"></h5> <br>
        <div class="row section_products_summary">
            <?php foreach ($products as $product) { ?>
                <div class="col-12 col-lg-4 col-md-6 info_products_card">
                    <div class="products_cards">
                        <div class="row">
                            <div class="col-3 col-lg-3 col-md-3 photo_product">
                                <img src="<?php echo $product["url"]; ?>" alt="" class="image_product">
                            </div>
                            <div class="col-9 col-lg-9 col-md-9 info_products">
                                <h2><?php echo $product["brand"]; ?></h2>
                                <p><?php echo $product["garment"]; ?> <br> <?php echo $product["condition"]; ?></p>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            let qtyproduct = $('.info_products_card').length;
            let count_product = $('.count_product');
            count_product.text(qtyproduct + ' pieza(s)');
            if (qtyproduct >= 4) {
                count_product.addClass('more_pieces');
                $('.section_products_summary').addClass('hiden_cards');
            }
            let item_prod = document.getElementsByClassName("count_product");
            let iprod;
            for (iprod = 0; iprod < item_prod.length; iprod++) {
                item_prod[iprod].addEventListener("click", function () {
                    this.classList.toggle("active");
                    let products_summary = $('.section_products_summary');
                    let resultprod = products_summary.hasClass("hiden_cards");
                    if (resultprod) {
                        products_summary.removeClass('hiden_cards');
                    } else {
                        products_summary.addClass('hiden_cards');
                    }
                });
            }

        });
    </script>
<?php } ?>
