<?php

use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

?>

<div class="col-12">
    <h2 class="text-center titlevende">Vende en Troquer</h2>
</div>
<section class="mb-4 presell-selfserve">
    <div class="row pt-4 pb-4">
        <div class="col-12 col-lg-4 img-perks pb-3">
            <img src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/presell/vende-beneficio-1-troquer.png" alt="">
            <p class="text-perks"><span class="hihglight">Nosotros hacemos todo por ti</span>.<br> Entrega tus piezas y
                una vez vendidas recibe tu pago.</p>
        </div>
        <div class="col-12 col-lg-4 img-perks pb-3">
            <img src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/presell/vende-beneficio-2-troquer.png" alt="">
            <p class="text-perks"><span class="hihglight">Gana hasta el 83% del precio de venta</span><br> de tus
                piezas. <span id="profitButton1"><u>Consulta los porcentajes de ganancias</u>.</span></p>
        </div>
        <div class="col-12 col-lg-4 img-perks">
            <img src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/presell/vende-beneficio-3-troquer.png" alt="">
            <p class="text-perks"><span class="hihglight">Recibimos piezas auténticas</span><br> de marcas premium, de
                lujo y algunas selectas de fast fashion. <a
                    href="<?= $block->getBaseurl(); ?>media/downloadable/directoriodemarcas.pdf" target="_blank">Ver
                    marcas aceptadas</a>.</p>
        </div>
    </div>
</section>
<section class="mb-4 presell-selfserve">
    <div class="row container-body vende-tr">
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
            <img src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/presell/vende-vende-troquer-opt.gif"
                 alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina" class="img-fluid">
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container">
            <div class="line mt-4 ml-5"></div>
            <p class="text cont-txt pt-4 text-block">Libérate de eso que ya no usas, <span class="hihglight">monetiza tu guardarropa</span>
                y haz espacio para todo lo nuevo.</p>
            <div class="cont-btn pb-5">
                <a href="<?= $block->getBaseurl(); ?>vende/lead">
                    <button type="button" class="btn-principal">Comienza a vender</button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- <section class="mb-4 presell-selfserve">
    <div class="row container-body">
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container info-two-txt">
            <div class="line mt-4 ml-5"></div>
            <p class="text cont-txt pt-4">Ingresa las características de tu pieza y conoce cuánto podrías ganar vendiendo en Troquer.</p>
            <div class="cont-btn pb-4">
                <a href="#"><button type="button" class="btn-secondary">Valuar</button></a>
            </div>
        </div>
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container info-two-img">
            <img src="<? //= $block->getBaseurl(); ?>media/troquer/selfserve/presell/vende-valua-troquer.jpg" alt="no puedes vender Piezas no auténticas Vestidos de novia, Trajes sastre, Ropa interior, Ropa de cama entre otros" class="img-fluid img-r">
        </div>
    </div>
</section> -->
<section class="mb-4 presell-selfserve">
    <div class="row container-body how-it-works">
        <div class="col-12">
            <h2 class="text-center titlevende">¿Cómo funciona?</h2>
            <div class="line container"></div>
        </div>
        <div class="col-12 step-how-it-works">
            <div class="bullet">1</div>
            <p class="text-steps"><span class="hihglight lg-size">Elige tus piezas</span><br>Consulta el <a
                    href="<?= $block->getBaseurl(); ?>media/downloadable/directoriodemarcas.pdf" target="_blank">Directorio
                    de marcas</a>, los lineamientos de <span id="guidelinesButton1"><u>piezas aceptadas</u></span> y
                <span id="noacceptButton1"><u>no aceptadas</u></span>.</p>
        </div>
    </div>
</section>
<section class="mb-4 presell-selfserve">
    <div class="row container-body how-it-works">
        <div class="col-12 step-how-it-works">
            <div class="bullet">2</div>
            <p class="text-steps"><span class="hihglight lg-size">Entrega tus piezas</span><br>Escoge la mejor opción
                que se adapte a ti.</p>
        </div>
    </div>
    <div class="row container-body methods">
        <div class="col-12 col-lg-4 pb-3">
            <p class="methods-to-sell">Citas virtuales</p>
            <p class="descriptions-methods">Es fácil, una curadora experta revisa tus piezas en videollamada y
                programamos una recolección a domicilio.</p>
        </div>
        <div class="col-12 col-lg-4 pb-3">
            <p class="methods-to-sell">Citas presenciales</p>
            <p class="descriptions-methods">Disponibles en Ciudad de México, Guadalajara y Monterrey. Agenda tu cita y
                una curadora experta revisará tus piezas. Consulta <span id="tipsButton"><u> aquí</u></span> todo lo que
                debes saber antes de tu cita presencial en CDMX.</p>
        </div>
        <div class="col-12 col-lg-4">
            <p class="methods-to-sell">Hazlo en línea</p>
            <p class="descriptions-methods">Llena nuestro formulario en línea con las características de tus piezas y
                envíalas por mensajería desde cualquier parte de la República Mexicana.</p>
        </div>
    </div>
</section>
<section class="mb-4 presell-selfserve">
    <div class="row container-body how-it-works">
        <div class="col-12 step-how-it-works">
            <div class="bullet">3</div>
            <p class="text-steps"><span class="hihglight lg-size">Nosotros hacemos todo por ti</span><br>Recibimos tus
                piezas, las autentificamos, valuamos, almacenamos y vendemos.</p>
        </div>
    </div>
</section>
<section class="mb-4 presell-selfserve">
    <div class="row container-body how-it-works">
        <div class="col-12 step-how-it-works">
            <div class="bullet">4</div>
            <p class="container text-steps"><span class="hihglight lg-size">Vende y ¡recibe tu pago!</span><br>Te
                pagamos por <span class="hihglight">transferencia bancaria</span> o <span class="hihglight">crédito Troquer</span>
                directo a tu cuenta en aproximadamente 30 días tras la consolidación de la venta. Consulta <span
                    id="profitButton2"><u>aquí</u></span> la tabla de tus ganancias.</p>
        </div>
        <div class="container container-body text-center pb-4">
            <?php if (!$block->isLoggedIn()): ?>
                <button type="button" class="icon-sell-not-logged-in primary">Comienza a vender</button>
            <?php else: ?>
                <a href="<?= $block->getBaseurl(); ?>vende/lead">
                    <button type="button" class="primary">Comienza a vender</button>
                </a>
            <?php endif; ?>
        </div>
    </div>
</section>
<section class="mb-4 presell-selfserve">
    <div class="row container-body how-it-works">
        <div class="col-12">
            <h2 class="text-center p-4 titlevende">¿Cómo fijamos el precio de venta?</h2>
            <div class="line container"></div>
        </div>
        <div class="container step-how-it-works">
            <p class="text-steps text-price"><span
                    class="hihglight">Contamos con una calculadora especializada.</span><br>Funciona con una tecnología
                basada en datos de piezas vendidas a lo largo de 7 años tomando en cuenta la marca, categoría, estado de
                uso, año de fabricación y la demanda actual de tu pieza. Recuerda que nuestra misión es vender tus
                piezas en menos de 90 días.</p>
        </div>
    </div>
</section>
<section class="mb-4 presell-selfserve">
    <div class="row container-body vende-tr">
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
            <h5 class="img-name-r">¿Qué puedes vender?</h5>
            <img
                src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/presell/vende-quepuedesvender-escritrio-troquer.gif"
                alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina" class="img-fluid">
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container">
            <div class="line mt-4 ml-5"></div>
            <p class="text-sell cont-txt pt-4"><span class="hihglight">Piezas auténticas, en buena condición</span> para
                mujer y hombre</p>
            <p class="garment">Bolsas&nbsp;&nbsp;|&nbsp;&nbsp;Zapatos&nbsp;&nbsp;|&nbsp;&nbsp;Accesorios&nbsp;&nbsp;|&nbsp;&nbsp;Ropa&nbsp;&nbsp;|&nbsp;&nbsp;Joyería</p>
            <p class="text-sell-guidelines pt-4">Consulta el <a
                    href="<?= $block->getBaseurl(); ?>media/downloadable/directoriodemarcas.pdf" target="_blank">Directorio
                    de marcas</a> aceptadas</p>
            <p class="text-sell-guidelines full-guidelines">Conoce nuestros lineamientos de <span
                    id="guidelinesButton2"><u>piezas aceptadas</u></span>
                y <span id="noacceptButton2"><u>no aceptadas</u></span></p>
        </div>
    </div>
</section>
<section class="mb-4 presell-selfserve">
    <div class="row container-body">
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 sec-actions">
            <h2 class="text-center p-4 titlevende">¿Tienes dudas?<span id="serviceButton"><img
                        src="<?= $block->getBaseurl(); ?>media/troquer/question.png" alt=""></span></h2>
            <p class="text-center text-actions">Conoce más visitando nuestras <a
                    href="https://troquer.zendesk.com/hc/es/categories/115000996867-Vender-en-Troquer">FAQs</a>.</p>
            <div class="text-center">
                <a href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita."
                   target="_blank">
                    <button type="button" class="btn-principal">Hablar con un experto</button>
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container info-two-img">
            <img src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/presell/vende-dudas-troquer.jpg"
                 alt="no puedes vender Piezas no auténticas Vestidos de novia, Trajes sastre, Ropa interior, Ropa de cama entre otros"
                 class="img-fluid img-r">
        </div>
    </div>
</section>
<div id="profitModal" class="modal  modalcp">
    <div class="modal-content content-modalguidelines">
        <div class="encabezado-modal">
            <span class="title-condition">Porcentajes de ganancias</span>
            <button type="button" class="profit-modal-close close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <table class="margin_element">
                <tbody>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;"><b>Costo Pieza M&iacute;nimo</b>
                    </td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;"><b>Costo Pieza M&aacute;ximo</b>
                    </td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;"><b>Tu Ganancia</b></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$1,001</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$1,400</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">40% &nbsp;&nbsp;($400 hasta $560)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$1,401</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$1,800</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">41% &nbsp;&nbsp;($574 hasta $738)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$1,801</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$2,300</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">42% &nbsp;&nbsp;($756 hasta $966)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$2,301</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$5,000</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">50% &nbsp;&nbsp;($1,150 hasta $2,500)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$5,001</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$7,000</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">60% &nbsp;&nbsp;($3,000 hasta $4,200)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$7,001</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$14,000</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">65% &nbsp;&nbsp;($4,551 hasta $9,100)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$14,001</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$18,000</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">70% &nbsp;&nbsp;($9,801 hasta $12,600)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$18,001</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$35,000</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">75% &nbsp;&nbsp;($13,501 hasta $26,250)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$35,001</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$100,000</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">80% &nbsp;&nbsp;($28,001 hasta $80,000)</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">$100,001</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">+</td>
                    <td style="border: 1px solid black; width: auto; padding: 5px;">83% &nbsp;&nbsp;($83,001 hasta +)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="guidelinesModal" class="modal  modalcp">
    <div class="modal-content content-modalguidelines">
        <div class="encabezado-modal">
            <span class="title-condition">Piezas aceptadas</span>
            <button type="button" class="guidelines-modal-close close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <div class="tabs">
                <div class="col-3 tabs-menu active-tab" id="precios">Precios</div>
                <div class="col-3 tabs-menu" id="marcas">Marcas</div>
                <div class="col-3 tabs-menu" id="rechazos">Categorías</div>
                <div class="col-3 tabs-menu" id="estados">Estados de uso</div>
            </div>
            <div class="sections">
                <article id="tab1">
                    <p>El precio mínimo Troquer publicado es de $1,000 MXN por lo que solo aceptamos piezas con precio
                        retail mayor a $3,000 MXN</p>
                </article>
                <article id="tab2">
                    <p>Solo aceptamos piezas de las marcas que se encuentran dentro de nuestro <a
                            href="<?= $block->getBaseurl(); ?>media/downloadable/directoriodemarcas.pdf"
                            target="_blank">Directorio de marcas</a>.</p>
                </article>
                <article id="tab3">
                    <div class="text-center title-category">
                        <p>Revisa el listado de piezas de cada categoría</p>
                    </div>
                    <div class="tabs-category">
                        <ul class="d-flex">
                            <li class="tabs-menu-category active-tab-category" id="bolsas">Bolsas</li>
                            <li class="tabs-menu-category" id="zapatos">Zapatos</li>
                            <li class="tabs-menu-category" id="accesorios">Accesorios</li>
                            <li class="tabs-menu-category" id="joyeria">Joyería</li>
                            <li class="tabs-menu-category" id="ropa">Ropa</li>
                        </ul>
                    </div>
                    <div id="tab5">
                        <div class="d-flex col-12">
                            <div class="col-7 col-lg-6">
                                <ul>
                                    <li>Cangureras</li>
                                    <li>Cruzadas</li>
                                    <li>De Hombro</li>
                                    <li>De mano y Clutches</li>
                                </ul>
                            </div>
                            <div class="col-5 col-lg-6">
                                <ul>
                                    <li>De Viaje</li>
                                    <li>Mochilas</li>
                                    <li>Totes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tab6">
                        <div class="d-flex col-12">
                            <div class="col-6">
                                <ul>
                                    <li>Alpargatas</li>
                                    <li>Botas</li>
                                    <li>Botines</li>
                                    <li>Deportivos</li>
                                    <li>Flats</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li>Mocasines</li>
                                    <li>Sandalias</li>
                                    <li>Tacones</li>
                                    <li>Zuecos</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tab7">
                        <div class="d-flex col-12">
                            <div class="col-12">
                                <ul>
                                    <li>Accesorios para el cabello</li>
                                    <li>Accesorios para bolsas</li>
                                    <li>Bufandas y Pashminas</li>
                                    <li>Carteras</li>
                                    <li>Cinturones</li>
                                    <li>Cosmetiqueras</li>
                                    <li>Fundas para celulares y dispositivos</li>
                                    <li>Fundas para documentos</li>
                                    <li>Gorras</li>
                                    <li>Guantes</li>
                                    <li>Lentes de sol y gafas</li>
                                    <li>Llaveros</li>
                                    <li>Paraguas</li>
                                    <li>Pañuelos</li>
                                    <li>Relojes</li>
                                    <li>Sombreros</li>
                                    <li>Tarjeteros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tab8">
                        <div class="d-flex col-12">
                            <div class="col-6">
                                <ul>
                                    <li>Anillos</li>
                                    <li>Aretes</li>
                                    <li>Broches</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li>Collares</li>
                                    <li>Dijes</li>
                                    <li>Pulseras</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tab9">
                        <div class="d-flex col-12">
                            <div class="col-6">
                                <ul>
                                    <li>Abrigos</li>
                                    <li>Bermudas</li>
                                    <li>Camisas</li>
                                    <li>Camisetas</li>
                                    <li>Chamarras</li>
                                    <li>Enteros/Monos</li>
                                    <li>Faldas</li>
                                    <li>Jeans</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li>Pantalones</li>
                                    <li>Polos</li>
                                    <li>Ropa deportiva</li>
                                    <li>Shorts</li>
                                    <li>Suéteres</li>
                                    <li>Tops y playeras</li>
                                    <li>Trajes y sets</li>
                                    <li>Vestidos</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article id="tab4">
                    <ul>
                        <li><span class="hihglight">Nuevo con etiqueta</span><br>Piezas nunca antes usadas que conservan
                            sus etiquetas de marca y/o precio.
                        </li>
                        <li><span class="hihglight">Nuevo sin etiqueta</span><br>Piezas nunca antes usadas en perfectas
                            condiciones.
                        </li>
                        <li><span class="hihglight">Estrenado un par de veces</span><br>Piezas que se han usado pero que
                            no muestran daños visibles.
                        </li>
                        <li><span class="hihglight">Usado con onda</span><br>Piezas que cuentan con señales de uso o
                            mantenimiento menores.
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</div>
<div id="noacceptModal" class="modal  modalcp">
    <div class="modal-content content-modalguidelines">
        <div class="encabezado-modal">
            <span class="title-condition">Piezas NO aceptadas</span>
            <button type="button" class="noaccept-modal-close close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <p class="title-info">¿Qué NO aceptamos?</p>
            <ul class="noaccept-pieces col-12">
                <li>Piezas no auténticas.</li>
                <li>Piezas defectuosas o con daños.</li>
                <li>Piezas sucias.</li>
                <li>piezas con decoloraciones o manchas.</li>
                <li>Piezas rotas.</li>
                <li>Piezas con habilitaciones faltantes (botones, cremalleras, broches).</li>
                <li>Piezas con olor o almacenamiento, humedad, cigarro o comida.</li>
                <li>Vestidos de novia.</li>
                <li>Trajes sastre.</li>
                <li>Ropa interior.</li>
                <li>Ropa de cama.</li>
                <li>Piezas con o de pelo animal.</li>
                <li>Piezas de vinipiel o polipiel.</li>
                <li>Piezas intervenidas o hechas a la medida.</li>
                <li>Trajes de baño sin etiqueta.</li>
                <li>Ropa de marcas sin demanda especificadas en el <a
                        href="<?= $block->getBaseurl(); ?>media/downloadable/directoriodemarcas.pdf" target="_blank">Directorio
                        de marcas</a>.
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="tipsModal" class="modal  modalcp">
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span class="title-condition">Tips e información COVID-19</span>
            <button type="button" class="tips-modal-close close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <div class="content-info">
                <p class="title-body-info">Citas presenciales Lago Nargis 34, Colonia Granada, CDMX</p>
                <p class="text-body-info">Tu seguridad y la de nuestro equipo es lo más importante por lo que te
                    compartimos las medidas de precaución e higiene que tomaremos antes, durante y después de tu cita
                    presencial:</p>
                <ul class="text-body-info">
                    <li>Antes de tu cita, te aconsejamos lavar o llevar tus piezas a la tintorería</li>
                    <li>Al ingresar a nuestras oficinas, se verificará tu temperatura, si es mayor a 37.5º tu cita podrá
                        ser cancelada
                    </li>
                    <li>El uso de cubrebocas o careta será obligatorio</li>
                    <li>Te proporcionaremos gel antibacterial al entrar y salir de nuestras oficinas</li>
                    <li>Solo se permitirá el acceso a una persona por cita, por favor evita ir acompañado</li>
                </ul>
                <p class="text-body-center">
                    <span class="emphasys">¡Cuídate, cuidémonos todos!</span>
                    <br>
                    <span>¿Tienes dudas? manda un WhatsApp al <a class="lnk-modal" target="_blank"
                                                                 href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">55 7425 5874</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="serviceModal" class="modal  modalcp">
    <div class="modal-content content-modalguidelines">
        <div class="encabezado-modal">
            <span class="title-condition">Horario de atención</span>
            <button type="button" class="service-modal-close close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <p class="text-price text-center">Habla con nuestrxs expertxs de:</p>
            <p class="text-price text-center">Lunes a viernes de 9:00 am a 6:00 pm</p>
        </div>
    </div>
</div>
<script>
    require([
            'jquery'
        ], function ($) {
            const modal_tips = $("#tipsModal");
            let btn_tips = $("#tipsButton");
            let span_tips = $(".tips-modal-close")[0];
            $(btn_tips).on("click", function () {
                modal_tips.show();
            }, null);
            $(span_tips).on("click", function () {
                modal_tips.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal_tips) {
                    modal_tips.hide();
                }
            }

            const modal_service = $("#serviceModal");
            let btn_service = $("#serviceButton");
            let span_service = $(".service-modal-close")[0];
            btn_service.on("click", function () {
                modal_service.show();
            }, null);
            $(span_service).on("click", function () {
                modal_service.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal_service) {
                    modal_service.show();
                }
            }

            const modal_guide = $("#guidelinesModal");
            let btn1_guide = $("#guidelinesButton1");
            let btn2_guide = $("#guidelinesButton2");
            let span_guide = $(".guidelines-modal-close")[0];
            $(btn1_guide).on("click", function () {
                modal_guide.show();
            }, null);
            $(btn2_guide).on("click", function () {
                modal_guide.show();
            }, null);
            $(span_guide).on("click", function () {
                modal_guide.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal_guide) {
                    modal_guide.hide();
                }
            }

            $(".tabs-menu").each(function () {
                $(this).on("click", function () {
                    let id = $(this).attr('id');
                    let tab1 = $('#tab1');
                    let tab2 = $('#tab2');
                    let tab3 = $('#tab3');
                    let tab4 = $('#tab4');
                    $("#precios").removeClass("active-tab");
                    $("#marcas").removeClass("active-tab");
                    $("#estados").removeClass("active-tab");
                    $("#rechazos").removeClass("active-tab");
                    $(this).addClass("active-tab");
                    switch (id) {
                        case 'precios':
                            tab1.show();
                            tab2.hide();
                            tab3.hide();
                            tab4.hide();
                            break;
                        case 'marcas':
                            tab1.hide();
                            tab2.show();
                            tab3.hide();
                            tab4.hide();
                            break;
                        case 'rechazos':
                            tab1.hide();
                            tab2.hide();
                            tab3.show();
                            tab4.hide();
                            break;
                        case 'estados':
                            tab1.hide();
                            tab2.hide();
                            tab3.hide();
                            tab4.show();
                            break;
                    }
                }, null);
            });
            $(".tabs-menu-category").each(function () {
                $(this).on("click", function () {
                    let id = $(this).attr('id');
                    let tab5 = $('#tab5');
                    let tab6 = $('#tab6');
                    let tab7 = $('#tab7');
                    let tab8 = $('#tab8');
                    let tab9 = $('#tab9');
                    $("#bolsas").removeClass("active-tab-category");
                    $("#zapatos").removeClass("active-tab-category");
                    $("#accesorios").removeClass("active-tab-category");
                    $("#joyeria").removeClass("active-tab-category");
                    $("#ropa").removeClass("active-tab-category");
                    $(this).addClass("active-tab-category");
                    tab5.hide();
                    tab6.hide();
                    tab7.hide();
                    tab8.hide();
                    tab9.hide();
                    switch (id) {
                        case 'bolsas':
                            tab5.show();
                            break;
                        case 'zapatos':
                            tab6.show();
                            break;
                        case 'accesorios':
                            tab7.show();
                            break;
                        case 'joyeria':
                            tab8.show();
                            break;
                        case 'ropa':
                            tab9.show();
                            break;
                    }
                }, null);
            });

            const modal_noaccept = $("#noacceptModal");
            let btn1_noaccept = $("#noacceptButton1");
            let btn2_noaccept = $("#noacceptButton2");
            let span_noaccept = $(".noaccept-modal-close")[0];
            $(btn1_noaccept).on("click", function () {
                modal_noaccept.show();
            }, null);
            $(btn2_noaccept).on("click", function () {
                modal_noaccept.show();
            }, null);
            $(span_noaccept).on("click", function () {
                modal_noaccept.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal_noaccept) {
                    modal_noaccept.hide();
                }
            }

            const modal_profit = $("#profitModal");
            let btn1_profit = $("#profitButton1");
            let btn2_profit = $("#profitButton2");
            let span_profit = $(".profit-modal-close")[0];
            $(btn1_profit).on("click", function () {
                modal_profit.show();
            }, null);
            $(btn2_profit).on("click", function () {
                modal_profit.show();
            }, null);
            $(span_profit).on("click", function () {
                modal_profit.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal_profit) {
                    modal_profit.hide();
                }
            }
        }
    );
</script>
