<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var History $block */

use \Troquer\Sales\Block\Sale\History; ?>
<div class="title-orders">
    <h2>Mis piezas</h2>
</div>
<div id="menu-sales">
    <div class="options-menu-sales">
        <ul id="list-menu-sales" class="owl-carousel owl-theme">
            <li id="processed" class="lnk-menu-orders _currentorder"><a href="<?= $block->getBaseUrl(); ?>sales/sale/processed/">Procesando</a></li>
            <li id="rejected" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/rejected/">Rechazado</a></li>
            <li id="deserted" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/deserted/">Regresos</a></li>
            <li id="published" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/published/">Publicado</a></li>
            <li id="discounted" class="item lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/discounted/">Descuentos</a></li>
            <li id="sold" class="lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/sold/">Vendido</a></li>
        </ul>
    </div>
</div>
<?php $_processed = $block->getProcessed();?>
<?= $block->getChildHtml('info') ?>
<?php if ($_processed && count($_processed)) : ?>
    <div class="text-sup">
        <p class="text-sup-bold">Tus piezas se activarán automáticamente al finalizar la cuenta regresiva.</p>
        <p>Puedes solicitar el regreso de tus piezas de forma gratuita antes de que termine la cuenta regresiva, una vez la pieza se active el costo de regreso por pieza será de $450.</p>
    </div>
    <?php if ($block->getPagerHtml()) : ?>
        <div class="pager-sales-sec order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
    <div id="section-all-tr" class=" tbl-sales-summary">
        <div class="table-wrapper orders-history">
            <div id="tbl-orders" class="section-sales">
                <table class="order-tr data table table-order-items history" id="my-orders-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__('Orders')) ?></caption>
                    <tbody>
                        <?php $date1 = date('Y-m-d', strtotime('0000-00-00 00:00:00')); ?>
                        <?php $date2 = date('Y-m-d', strtotime('0000-00-00 00:00:00')); ?>
                        <?php $count = 1; ?>
                        <?php foreach ($_processed as $product) : ?>
                            <?php if(date('Y-m-d', strtotime($product->getData('reception_date'))) != $date1 || date('Y-m-d', strtotime($product->getData('email_date'))) != $date2): ?>
                                <div id="countdown" class="countdown-<?= $count ?>" data-timestamp="<?= $product->getData('email_date') ?>"></div>
                                <span class="order"><?= $product->getData('reception_date'); ?></span>
                                <?php $date1 = date('Y-m-d', strtotime($product->getData('reception_date'))); ?>
                                <?php $date2 = date('Y-m-d', strtotime($product->getData('email_date'))); ?>
                            <?php endif; ?>
                            <div class="content-sales row d-flex justify-content-center">
                                <div class="col-12">
                                    <div class="info-section-sale row">
                                        <div class="sale-img col-lg-2 col-4 col-md-3">
                                            <img height="100" width="100" src="<?= $product->getData('url'); ?>" alt="<?= $product->getData('name'); ?>"/>
                                        </div>
                                        <div class="sale-info-summary col-lg-10 col-7 col-md-6">
                                            <div class="sale-price col-lg-4">
                                                <span style='font-family: "Acumin Pro Book",serif !important;'>Ganancia estimada</span>
                                                <br>
                                                <span><?php if((int)$product->getData('precio_troquer') != 0) {
                                                    $price = $product->getData('precio_troquer');
                                                    switch((int)$price) {
                                                        case ($price >= 450 && $price <= 750):
                                                            echo '$170.00';
                                                            break;
                                                        case ($price > 750 && $price <= 1000):
                                                            echo '$350.00';
                                                            break;
                                                        case ($price > 1000 && $price <= 1400):
                                                            echo '$' . number_format($price * 0.4, 2, '.', ',');
                                                            break;
                                                        case ($price > 1400 && $price <= 1800):
                                                            echo '$' . number_format($price * 0.41, 2, '.', ',');
                                                            break;
                                                        case ($price > 1800 && $price <= 2300):
                                                            echo '$' . number_format($price * 0.42, 2, '.', ',');
                                                            break;
                                                        case ($price > 2300 && $price <= 5000):
                                                            echo '$' . number_format($price * 0.5, 2, '.', ',');
                                                            break;
                                                        case ($price > 5000 && $price <= 7000):
                                                            echo '$' . number_format($price * 0.6, 2, '.', ',');
                                                            break;
                                                        case ($price > 7000 && $price <= 14000):
                                                            echo '$' . number_format($price * 0.65, 2, '.', ',');
                                                            break;
                                                        case ($price > 14000 && $price <= 18000):
                                                            echo '$' . number_format($price * 0.7, 2, '.', ',');
                                                            break;
                                                        case ($price > 18000 && $price <= 35000):
                                                            echo '$' . number_format($price * 0.75, 2, '.', ',');
                                                            break;
                                                        case ($price > 35000 && $price <= 100000):
                                                            echo '$' . number_format($price * 0.8, 2, '.', ',');
                                                            break;
                                                        case ($price > 100000):
                                                            echo '$' . number_format($price * 0.83, 2, '.', ',');
                                                            break;
                                                    }
                                                    } else {
                                                        echo "Ganancia sin definir"; }?>
                                                </span>
                                            </div>
                                            <div class="sale-sku col-lg-5">
                                                <span class="sku-type"><?= $product->getData('garment_category'); ?></span>
                                                <br>
                                                <span class="sku">SKU: <?= (is_null($product->getData('sku'))) ? "N/A" : $product->getData('sku'); ?></span>
                                            </div>
                                            <div class="sale-price col-lg-3">
                                                <span class="statusorder-closed processed"><?= $product->getData('status_name'); ?></span>
                                                <br>
                                                <?php $precio_troquer = '$'.number_format($product->getData('precio_troquer'), 2, '.', ',') ?>
                                                <span><?= ((int)$product->getData('precio_troquer') != 0) ? $precio_troquer : "Precio sin definir" ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
<?php else : ?>
    <div class="empty-sales">
        <div class="img-calendar-empty">
            <img src="<?= $block->getBaseUrl(); ?>media/troquer/icon-shipment-empty.png" alt="">
            <p>No tienes nuevos envios</p>
        </div>
    </div>
    <div class="row container-body vende-tr">
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
            <img src="/media/troquer/selfserve/presell/vende-vende-troquer-opt.gif" alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina" class="img-fluid">
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container">
            <div class="line mt-4 ml-5"></div>
            <p class="text cont-txt pt-4 text-block">Libérate de eso que ya no usas, <span class="hihglight">monetiza tu guardarropa</span> y haz espacio para todo lo nuevo.</p>
            <div class="cont-btn pb-5">
                <a href="/vende/lead"><button type="button" class="btn-principal">Comienza a vender</button></a>
            </div>
        </div>
    </div>
    <br>
    <br>
<?php endif ?>

<!-- Start Modal TIPS CITA COVID-19 -->
<div id="tipsModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span class="title-condition">Tips e información COVID-19</span>
            <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <p class="title-body-info">Citas presenciales Lago Nargis 34, Colonia Granada, CDMX</p>
            <p class="text-body-info">Tu seguridad y la de nuestro equipo es lo más importante por lo que te compartimos las medidas de precaución e higiene que tomaremos antes, durante y después de tu cita presencial:</p>
            <ul class="text-body-info">
                <li>Antes de tu cita, te aconsejamos lavar o llevar tus piezas a la tintorería</li>
                <li>Al ingresar a nuestras oficinas, se verificará tu temperatura, si es mayor a 37.5º tu cita podrá ser cancelada</li>
                <li>El uso de cubrebocas o careta será obligatorio</li>
                <li>Te proporcionaremos gel antibacterial al entrar y salir de nuestras oficinas</li>
                <li>Solo se permitirá el acceso a una persona por cita, por favor evita ir acompañado</li>
            </ul>
            <p class="text-body-center"><span class="emphasys">¡Cuídate, cuidémonos todos!</span><br>¿Tienes dudas?
                manda un WhatsApp al <a class="lnk-modal" target="_blank"
                                        href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">55
                    7425 5874</a></span></p>
        </div>
    </div>
</div>

<script>
    require([
            'jquery'
        ], function () {
            let modal = document.getElementById("tipsModal");
            let btn = document.getElementById("tipsmodal");
            let span = document.getElementsByClassName("close")[0];
            if (btn !== null) {
                btn.onclick = function () {
                    modal.style.display = "block";
                }
            }
            if (btn !== null) {
                span.onclick = function () {
                    modal.style.display = "none";
                }
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
    );
</script>
<!-- End Modal TIPS CITA COVID-19 -->
<script type="text/javascript">
		require([
			'jquery',
			'owl.carousel/owl.carousel.min'
		], function($) {
			if(window.matchMedia('(max-width: 767px)').matches){
                $('#list-menu-sales').owlCarousel({
                    items:4,
                    loop:true,
                    margin:10,
                    merge:true,
                    responsive:{
                        0:{
                            items:3
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:5
                        }
                    }
                });
            }
		});
	</script>
<!-- Start CUENTA REGRESIVA -->
<script>
    let _second = 1000;
    let _minute = _second * 60;
    let _hour = _minute * 60;
    let _day = _hour * 24;
    let timers = [];

    function showRemaining(className, endDate) {
        let end = new Date(endDate);
        end.setDate(end.getDate() + 3);
        let now = new Date();

        let distance = end - now;
        if (distance < 0) {
            clearInterval(timers[className]);
            document.getElementsByClassName(className)[0].innerHTML = 'Pieza/s procesada/s';
            return;
        }
        let days = Math.floor(distance / _day);
        let hours = Math.floor((distance % _day) / _hour);
        let minutes = Math.floor((distance % _hour) / _minute);

        document.getElementsByClassName(className)[0].innerHTML = days + ' d, ';
        document.getElementsByClassName(className)[0].innerHTML += hours + ' hrs, ';
        document.getElementsByClassName(className)[0].innerHTML += minutes + ' min ';
    }

    let countdowns = document.querySelectorAll('*[class^="countdown-"]');
    countdowns.forEach(function (countdown) {
        if(countdown.getAttribute('data-timestamp')) {
            timers[countdown.className] = setInterval(showRemaining(countdown.className, countdown.getAttribute('data-timestamp')), 10000);
        } else {
            document.getElementsByClassName(countdown.className)[0].innerHTML = 'Pieza/s en proceso';
        }
    })
</script>
