<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var History $block */

use \Troquer\Sales\Block\Sale\History; ?>
<div class="title-orders">
    <h2>Mis piezas</h2>
</div>
<div id="menu-sales">
    <div class="options-menu-sales">
        <ul id="list-menu-sales" class="owl-carousel owl-theme">
            <li id="processed" class="item lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/processed/">Procesando</a></li>
            <li id="rejected" class="item lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/rejected/">Rechazado</a></li>
            <li id="deserted" class="item lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/deserted/">Regresos</a></li>
            <li id="published" class="item lnk-menu-orders _currentorder"><a href="<?= $block->getBaseUrl(); ?>sales/sale/published/">Publicado</a></li>
            <li id="discounted" class="item lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/discounted/">Descuentos</a></li>
            <li id="sold" class="item lnk-menu-orders"><a href="<?= $block->getBaseUrl(); ?>sales/sale/sold/">Vendido</a></li>
        </ul>
    </div>
</div>
<?php $_published = $block->getPublished(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($_published && count($_published)) : ?>
    <div class="text-sup">
        <p>Si deseas solicitar el regreso de alguna de tus piezas publicadas el costo del regreso por cada pieza es de $450.</p>
    </div>
    <?php if ($block->getPagerHtml()) : ?>
        <div class="pager-sales-sec order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
    <div id="section-publicated" class="tbl-sales-summary">
        <div class="table-wrapper orders-history">
            <div id="tbl-orders" class="section-sales">
                <table class="order-tr data table table-order-items history" id="my-orders-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__('Orders')) ?></caption>
                    <tbody>
                        <?php foreach ($_published as $product) : ?>
                            <?php
                            $productImage = $product->getThumbnail();
                            ?>
                            <div class="content-sales row d-flex justify-content-center">
                                <div class="col-12">
                                    <div class="info-section-sale row">
                                        <div class="sale-img col-lg-2 col-4 col-md-3">
                                            <?php if(!empty($productImage)) :?>
                                                <img height="100" width="100" src="<?= $block->getMediaUrl().$productImage?>" alt="<?=$product->getData("name")?>">
                                            <?php endif;?>
                                        </div>
                                        <div class="sale-info-summary col-lg-10 col-8 col-md-9">
                                            <div class="sale-name col-lg-4">
                                                <span><strong><?=$product->getData("name")?></strong></span> <br>
                                                <span><?=$product->getAttributeText("garment_type")?></span>
                                            </div>
                                            <div class="sale-sku col-lg-5">
                                                <span class="sku">SKU&nbsp;</span><span class="sku"><?=$product->getData("sku")?></span>
                                                <br>
                                                <span class="sku">Fecha de publicación&nbsp;</span><span class="sku"><strong><?=date('d/m/Y',strtotime($product->getData("publication_date")))?></strong></span>
                                            </div>
                                            <div class="sale-price col-lg-3">
                                                <?php if($product->getData("discount_percent") > 0 ):?>
                                                    <span class="price-discount">
                                                        <?php
                                                            echo $product->getData("price") - $product->getData("discount_amount");
                                                        ?>
                                                    </span>
                                                    <p class="discount-show">Activo: <span class="percent-apply">-<?= (int)$product->getData("discount_percent")?>%</span></p>
                                                <?php else : ?>
                                                    <span><strong>$<?= number_format($product->getData("price"),2,'.',','); ?></strong> </span>
                                                <?php endif; ?>
                                                <br>
                                                <?php
                                                    switch($product->getAttributeText("status")){
                                                    case "Disabled":
                                                ?>
                                                    <span class="statusorder-closed"><?= $product->getAttributeText("status") ?></span>
                                                <?php
                                                    break;
                                                    case "Habilitado":
                                                ?>
                                                    <span class="statusorder-completed"><?= $product->getAttributeText("status") ?></span>
                                                <?php }?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<?php else : ?>
    <div class="empty-sales">
        <div class="img-calendar-empty">
            <img src="<?= $block->getBaseUrl(); ?>media/troquer/icon-shipment-empty.png" alt="">
            <p>No tienes piezas publicadas</p>
        </div>
    </div>
    <div class="row container-body vende-tr">
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
            <img src="/media/troquer/selfserve/presell/vende-vende-troquer-opt.gif" alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina" class="img-fluid">
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container">
            <div class="line mt-4 ml-5"></div>
            <p class="text cont-txt pt-4 text-block">Libérate de eso que ya no usas, <span class="hihglight">monetiza tu guardarropa</span> y haz espacio para todo lo nuevo.</p>
            <div class="cont-btn pb-5">
                <a href="/vende/lead"><button type="button" class="btn-principal">Comienza a vender</button></a>
            </div>
        </div>
    </div>
    <br>
    <br>
<?php endif ?>

<!-- Start Modal TIPS CITA COVID-19 -->
<div id="tipsModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span class="title-condition">Tips e información COVID-19</span>
            <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <p class="title-body-info">Citas presenciales Lago Nargis 34, Colonia Granada, CDMX</p>
            <p class="text-body-info">Tu seguridad y la de nuestro equipo es lo más importante por lo que te compartimos las medidas de precaución e higiene que tomaremos antes, durante y después de tu cita presencial:</p>
            <ul class="text-body-info">
                <li>Antes de tu cita, te aconsejamos lavar o llevar tus piezas a la tintorería</li>
                <li>Al ingresar a nuestras oficinas, se verificará tu temperatura, si es mayor a 37.5º tu cita podrá ser cancelada</li>
                <li>El uso de cubrebocas o careta será obligatorio</li>
                <li>Te proporcionaremos gel antibacterial al entrar y salir de nuestras oficinas</li>
                <li>Solo se permitirá el acceso a una persona por cita, por favor evita ir acompañado</li>
            </ul>
            <p class="text-body-center"><span class="emphasys">¡Cuídate, cuidémonos todos!</span><br>¿Tienes dudas?
                manda un WhatsApp al <a class="lnk-modal" target="_blank"
                                        href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">55
                    7425 5874</a></span></p>
        </div>
    </div>
</div>

<script>
    require([
            'jquery'
        ], function () {
            let modal = document.getElementById("tipsModal");
            let btn = document.getElementById("tipsmodal");
            let span = document.getElementsByClassName("close")[0];
            if (btn !== null) {
                btn.onclick = function () {
                    modal.style.display = "block";
                }
            }
            if (btn !== null) {
                span.onclick = function () {
                    modal.style.display = "none";
                }
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
    );
</script>
<!-- End Modal TIPS CITA COVID-19 -->

<script type="text/javascript">
		require([
			'jquery',
			'owl.carousel/owl.carousel.min'
		], function($) {
			if(window.matchMedia('(max-width: 767px)').matches){
                $('#list-menu-sales').owlCarousel({
                    items:4,
                    loop:true,
                    margin:10,
                    merge:true,
                    responsive:{
                        0:{
                            items:3
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:5
                        }
                    }
                });
            }
		});
	</script>
