<?php

use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

$order = json_decode(json_encode($block->newOrder()[0]), true);
$orderInfo = json_decode(json_encode($block->getOrder($order["inbound_order_id"])[0]), true);
$products = $orderInfo["products"];

$expiration_date = array_key_exists("shipping_guides", $orderInfo) && count($orderInfo["shipping_guides"]) ? $orderInfo["shipping_guides"][0]["expiration_date"] : '';
$urls = [];
$_received = $block->getReceived();
?>

<div class="title-orders">
    <h2>Mis envíos</h2>
</div>
<div id="menu-sales">
    <div class="options-menu-sales menu-shipments">
        <ul id="list-menu-ship">
            <li id="shipments" class="lnk-menu-orders"><a
                    href="<?= $block->getBaseurl(); ?>sales/sale/shipments">Activo</a></li>
            <li id="transit" class="lnk-menu-orders"><a href="<?= $block->getBaseurl(); ?>sales/sale/transit">En
                    tránsito</a></li>
            <li id="received" class="lnk-menu-orders _currenshipment"><a
                    href="<?= $block->getBaseurl(); ?>sales/sale/received">Recibido</a></li>
            <li id="expiredshipment" class="lnk-menu-orders"><a
                    href="<?= $block->getBaseurl(); ?>sales/sale/expiredshipment">Expirado</a></li>
        </ul>
    </div>
</div>
<?php if ($_received && count($_received)) : ?>
    <?php if ($block->getPagerHtml()) : ?>
        <div class="pager-sales-sec order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
    <div id="section-shipments" class="tbl-shipments-summary">
        <div class="shipments-history">
            <div id="tbl-orders" class="section-shipments">
                <?php foreach ($_received as $_order): ?>
                    <div class="content-shipments row">
                        <div class="info-content col-12">
                            <div class="info-section-shipments row">
                                <div class="shipments-info-summary col-12">
                                    <div class="shipments-name col-lg-4 col-md-4 col-12">
                                        <span><strong>No. de guía <?php echo $_order->getInboundOrder()->tracking_number; ?></strong></span>
                                        <br>
                                        <span><?php echo $_order->getInboundOrder()->total_products; ?> piezas</span>
                                    </div>
                                    <div class="shipments-received col-lg-4 col-md-4 col-12">
                                        <span>Recibió Troquer</span>
                                        <br>
                                        <span><?php echo $_order->getShippingGuides()[0]->updated_at; ?></span>
                                    </div>
                                    <div class="shipments-status col-lg-4 col-md-4 col-12">
                                        <span class="statusorder-completed">recibido</span><br>
                                        <a href="<?= $block->getBaseurl(); ?>sales/sale/orderdetail?order_id=<?= $_order->getInboundOrder()->id ?>"><span
                                                class="lnk-view">Ver mis piezas</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php else: ?>
    <section id="notshipments">
        <div id="notshipments">
            <div id="Shipping-empty">
                <div class="empty-sales">
                    <div class="img-calendar-empty">
                        <img src="<?= $block->getBaseurl(); ?>media/troquer/icon-shipment-empty.png" alt="">
                        <p>No hemos recibido ningun paquete aún</p>
                    </div>
                </div>
            </div>
            <div class="row container-body">
                <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
                    <img class="no-disponible img-fluid"
                         src="<?= $block->getBaseurl(); ?>media/troquer/hazlo-por-tu-cuenta.jpg"
                         alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina"">
                    <img class="disponible img-fluid"
                         src="<?= $block->getBaseurl(); ?>media/troquer/servicio-no-disponible.png"
                         alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina"">
                </div>
                <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text method-primary">
                    <div class="line-tyc mt-4"></div>
                    <p class="pt-4 pb-3 cont-txt"><span class="font-weight-bold">Registra tus piezas y envíalas por mensajería</span><br/>
                        <span class="textsecnd">Llena nuestro formulario y envíanos tus piezas por mensajería desde cualquier parte de la República Mexicana.</span>
                    </p>
                    <div class="cont-btn pb-5">
                        <a class=""
                           href="<?= $block->getBaseurl(); ?>vende/hazlo-en-linea#informacion-general">
                            <button type="button" class="btn btn-principal">Hazlo en línea</button>
                        </a>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>
<?php endif; ?>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        let itemcount = document.getElementsByClassName("lnk-menu-orders");
        let i;
        for (i = 0; i < itemcount.length; i++) {
            itemcount[i].addEventListener("click", function () {
                this.classList.toggle("_currenshipment");
                $(this).siblings().removeClass('_currenshipment');
                let id_ = $(this).attr('id');
                switch (id_) {
                    case 'procesed':
                        $('html,body').animate({
                            scrollTop: $('#section-all-tr').offset().top
                        }, 'slow');
                        break;
                }
            });
        }
    });
</script>
