<?php

use Magento\Framework\Exception\NoSuchEntityException;
use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

try {
    $order = json_decode(json_encode($block->newOrder()[0]), true);
    $orderInfo = json_decode(json_encode($block->getOrder($order["inbound_order_id"])[0]), true);
    $products = $orderInfo["products"];

    if (!$orderInfo["inbound_order"]["tracking_number"]) {
        header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
    } else {
        ?>
        <section class="mt-4 mb-4 self-serve self-serve-shippinguide">
            <div class="row container-body py-4 pl-5 pr-5 pb-2">
                <div class="container col-lg-4 col-md-12 general-steps step1">
                    <h5 class="text-uppercase text-center">1. Describe tus piezas</h5>
                    <hr>
                </div>
                <div class="container col-lg-4 col-md-12 general-steps step2">
                    <h5 class="text-uppercase text-center">2. Conoce tu ganancia</h5>
                    <hr>
                </div>
                <div class="container col-lg-4 col-md-12 general-steps step3">
                    <h5 class="text-uppercase text-center">3. Envía tus piezas</h5>
                    <hr>
                </div>
            </div>
        </section>
        <section class="mt-4 mb-4 self-serve-shippinguide">
            <h2 class="row pb-4 titlevende">Confirmación de guía</h2>
            <div class="row container-body title-box-succes">
                <div class="text-banner"><p>¡Gracias por confiar en Troquer!</p></div>
                <img src="<?= $block->getBaseurl(); ?>media/troquer/escritorio-confirmacionguia-troquer.jpg" alt=""
                     class="shippinguideskimg">
                <img src="<?= $block->getBaseurl(); ?>media/troquer/movil-confirmacionguia-troquer.jpg" alt=""
                     class="shippinguidemobimg">
            </div>
            <div class="row container-body pl-5 pr-5 pb-2 shippinguide">
                <div class="container col-lg-6 col-sm-12 shippinguide-download">
                    <h2>Tu no. de guía es <?php echo $orderInfo["inbound_order"]["tracking_number"] ?></h2>
                    <h3>Recepción <?php echo $orderInfo["inbound_order"]["code"] ?></h3>
                    <div class="line mt-3 mb-4"></div>
                    <p>Tu guía gratuita ha sido generada correctamente. Ahora solo empaca tus piezas y envíalas para que
                        nosotros hagamos todo por ti. Estas a un paso de monetizar tu guardarropa.</p>
                    <p>Cuentas con 7 días naturales contados a partir de la fecha de creación para que la guía
                        expire.</p>
                    <p class="guide-time">*Esta información también ha sido enviada a tu correo electrónico.</p>
                    <div class="row container-body text-center pt-4 pb-5">
                        <button onclick="window.open('<?php echo $orderInfo["shipping_guides"][0]["url"] ?>')"
                                type="button"
                                class="secondary">Descargar guía
                        </button>
                    </div>
                </div>
                <div class="container d-flex col-lg-6 col-sm-12 shippinguide-steps">
                    <div class="col-12 col-lg-4 col-md-4 icon-guide">
                        <div class="col-3 col-lg-12 col-md-12">
                            <img src="<?= $block->getBaseurl(); ?>media/troquer/iconowebempaca.png" alt="">
                        </div>
                        <div class="col-9 col-lg-12 col-md-12 text-next-steps">
                            <p id="videoButton">Empaca tus piezas <span><img
                                        src="<?= $block->getBaseurl(); ?>media/troquer/question.png" alt=""></span></p>
                            <a href="https://youtu.be/ED4zak4ticc" target="_blank"><p class="video-tr">Empaca tus piezas
                                    <span><img src="<?= $block->getBaseurl(); ?>media/troquer/question.png"
                                               alt=""></span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4 icon-guide">
                        <div class="col-3 col-lg-12 col-md-12">
                            <img src="<?= $block->getBaseurl(); ?>media/troquer/iconowebdescargaguia.png" alt="">
                        </div>
                        <div class="col-9 col-lg-12 col-md-12 text-next-steps">
                            <p>Descarga y pega la guía</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4 icon-guide">
                        <div class="col-3 col-lg-12 col-md-12">
                            <img src="<?= $block->getBaseurl(); ?>media/troquer/iconowebenviatuspiezas.png" alt="">
                        </div>
                        <div class="col-9 col-lg-12 col-md-12 text-next-steps">
                            <p>Lléva tu paquete a un centro de envío o solicita una recolección</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-4 mb-4 self-serve-shippinguide">
            <div class="row container-body pl-5 pr-5 pb-2 shippinguide-pickup">
                <div class="container">
                    <h2 class="title-pickup">Entrega tu paquete sin salir de casa</h2>
                    <div class="line mt-3 mb-4"></div>
                    <p>Solicita la recolección a domicilio completamente gratis.</p>
                    <p class="num-guide">Tu no. de guía
                        es <?php echo $orderInfo["inbound_order"]["tracking_number"] ?></p>
                    <div class="phone-pickup">
                        <p>Llama al 55 5228 9904</p>
                    </div>
                    <div class="row container-body text-center phone-pickup-mob">
                        <a href="tel:+5552289904">
                            <button type="button" class="primary">Solicita tu recolección</button>
                        </a>
                    </div>
                    <p>¿Necesitas ayuda?<span id="serviceButton"><img
                                src="<?= $block->getBaseurl(); ?>media/troquer/question.png" alt=""></span></p>
                    <div class="text-center action-button-chat">
                        <a href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita."
                           target="_blank">
                            <button type="button" class="btn-secondary">Hablar con un experto</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-4 mb-4 self-serve-shippinguide">
            <div class="row container-body pl-5 pr-5 pb-2 shippinguide-actions">
                <div class="container">
                    <div class="col-lg-6 col-sm-12 text-actions">
                        <p>Puedes generar guías complementarias si ocupas más cajas para tu envío, conocer el estatus de
                            tu
                            paquete, revisar tu inventario o cancelar tu guía actual desde tu perfil</p>
                    </div>
                    <div class="line mt-3 mb-4"></div>
                    <div class="row container-body text-center pt-3 pb-4">
                        <a href="<?= $block->getBaseurl(); ?>sales/sale/shipments">
                            <button type="button" class="secondary">Ir a mi perfil</button>
                        </a>
                    </div>
                    <div class="row container-body text-center text-actions-block">
                        <a href="<?= $block->getBaseurl(); ?>">
                            <button type="button" class="primary">Quiero comprar</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="section_products_upload mb-4">
            <h3 class="title-pieces-summary">Resumen de tus piezas</h3>
            <h5 class="title_qty_prod count_product"></h5> <br>
            <div class="row section_products_summary">
                <?php foreach ($products as $product) { ?>
                    <div class="col-12 col-lg-4 col-md-6 info_products_card">
                        <div class="products_cards">
                            <div class="row">
                                <div class="col-3 col-lg-3 col-md-3 photo_product">
                                    <img src="<?php echo $product["url"]; ?>" alt="" class="image_product">
                                </div>
                                <div class="col-9 col-lg-9 col-md-9 info_products">
                                    <h2><?php echo $product["brand"]; ?></h2>
                                    <p><?php echo $product["garment"]; ?> <br> <?php echo $product["condition"]; ?></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div id="videoModal" class="modal  modalcp">
            <div class="modal-content content-modalphotos pieces">
                <div class="encabezado-modal">
                    <span class="title-condition">Cómo empacar tus piezas</span>
                    <button type="button" class="photo-modal-close close" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalphotos">
                    <div class="d-flex justify-content-center">
                        <iframe width="900" height="506" src="https://www.youtube.com/embed/ED4zak4ticc"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div id="serviceModal" class="modal  modalcp">
            <div class="modal-content content-modalguidelines">
                <div class="encabezado-modal">
                    <span class="title-condition">Horario de atención</span>
                    <button type="button" class="service-modal-close close" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <p class="text-price text-center">Habla con nuestrxs expertxs de:</p>
                    <p class="text-price text-center">Lunes a viernes de 9:00 am a 6:00 pm</p>
                </div>
            </div>
        </div>
        <script>
            require([
                'jquery'
            ], function ($) {
                const modal_video = $("#videoModal");
                let btn_video = $("#videoButton");
                let span_video = $(".photo-modal-close")[0];
                btn_video.on("click", function () {
                    modal_video.show();
                }, null);
                $(span_video).on("click", function () {
                    modal_video.hide();
                }, null);
                window.onclick = function (event) {
                    if (event.target === modal_video) {
                        modal_video.show();
                    }
                }

                const modal_service = $("#serviceModal");
                let btn_service = $("#serviceButton");
                let span_service = $(".service-modal-close")[0];
                btn_service.on("click", function () {
                    modal_service.show();
                }, null);
                $(span_service).on("click", function () {
                    modal_service.hide();
                }, null);
                window.onclick = function (event) {
                    if (event.target === modal_service) {
                        modal_service.show();
                    }
                }

                let qtyproduct = $('.info_products_card').length;
                let countproduct = $('.count_product');
                countproduct.text(qtyproduct + ' pieza(s)');
                if (qtyproduct >= 4) {
                    countproduct.addClass('more_pieces');
                    $('.section_products_summary').addClass('hiden_cards');
                }
                let item_prod = $(".count_product");
                let iprod;
                for (iprod = 0; iprod < item_prod.length; iprod++) {
                    item_prod[iprod].addEventListener("click", function () {
                        this.classList.toggle("active");
                        let products_summary = $('.section_products_summary');
                        let resultprod = products_summary.hasClass("hiden_cards");
                        if (resultprod) {
                            products_summary.removeClass('hiden_cards');
                        } else {
                            products_summary.addClass('hiden_cards');
                        }
                    });
                }
            });
        </script>
    <?php }
} catch (NoSuchEntityException $e) {
    header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
}
?>
