<?php

use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

$orderId="<script>document.write(window.localStorage.getItem('inbound_order_id'))</script>";
if(!$orderId) {
    header('Location: https://troquer.local/sales/sale/selfserve');
}

$attributesCatalog = $block->getAttributesByCode();
$attributesCatalog = json_decode(json_encode($attributesCatalog[0]), true);
$categories = $attributesCatalog["garment-categories"];
$garments = $attributesCatalog["garments"];
$genders = $attributesCatalog["gender"];
$brands = $attributesCatalog["brands"];
$materials = $attributesCatalog["materials"];
$models = $attributesCatalog["models"];
$colors = $attributesCatalog["colors"];
$conditions = $attributesCatalog["conditions"];
?>
<section class="mt-4 mb-4 self-serve self-serve-value">
    <div class="row container-body py-4 pl-5 pr-5 pb-2">
        <div class="container col-lg-4 col-md-12 general-steps  step1">
            <h5 class="text-uppercase text-center">1. Describe tus piezas</h5><hr>
        </div>
        <div class="container col-lg-4 col-md-12 general-steps  step2">
            <h5 class="text-uppercase text-center">2. Conoce tu ganancia</h5><hr class="disabled">
        </div>
        <div class="container col-lg-4 col-md-12 general-steps  step3 step-disabled">
            <h5 class="text-uppercase text-center">3. Envía tus piezas</h5><hr class="disabled">
        </div>
    </div>
</section>
<section class="mt-4 mb-4 self-serve-value">
    <h2 class="text-center titlevende">Vende en Troquer</h2>
    <p class="text-center text-indicator pt-4 pb-4">Este es el resumen de las piezas que vas a mandar y harán feliz a alguien más.</p>
    <p class="count-pieces-value count_pieces"></p>
</section>

<!-- Section Summary Pieces -->
<section class="mt-4 mb-4 self-summary-pieces">
    <div class="row container-body picture pb-2">
        <div class="container col-lg-12 col-md-12 summary-section">
            <div class="tbl-sumary-pieces">
            <div class="content-summary row d-flex justify-content-center">
                <div class="col-12">
                    <div class="info-section-summary row">
                        <div class="summary-img col-lg-2 col-4 col-md-3">
                            <img height="100" width="100" src="" alt="">
                        </div>
                        <div class="info-summary col-lg-8 col-6 col-md-6">
                            <div class="row">
                                <div class="pieces-name col-lg-3">
                                    <span class="title"><strong>Marca</strong></span> <br>
                                    <span class="brand-name"><strong>Gucci - Broadway</strong></span>
                                </div>
                                <div class="pieces-brand col-lg-3">
                                    <span class="title"><strong>Tipo de prenda</strong></span> <br>
                                    <span class="brand">Bolsa de mano</span>
                                </div>
                                <div class="pieces-garment col-lg-3">
                                    <span class="title"><strong>Departamento</strong></span> <br>
                                    <span class="garment">Mujer</span>
                                </div>
                                <div class="pieces-status col-lg-3">
                                    <span class="title"><strong>Estado de uso</strong></span> <br>
                                    <span class="status">Nuevo sin etiqueta</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-action-pieces col-lg-2 col-2 col-md-3">
                            <div class="row">
                                <div class="col-12 col-lg-8 col-md-8 action_edit">
                                <span id="editSummary" class="edit">Editar</span>
                                </div>
                                <div class="col-12 col-lg-4 col-md-4 action_delete">
                                    <span class="delete"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center buttons-pieces text-center pt-4 pb-5">
        <div class="col-12 col-md-12 col-lg-6">
            <div class="row">
                <div class="btn-actions col-12 col-md-6 col-lg-6 pt-3">
                    <a href="<?= $block->getBaseurl();?>sales/sale/selfserve#general"><button type="button" class="addpiece primary">Añadir otra pieza</button></a>
                </div>
                <div class="btn-actions col-12 col-md-6 col-lg-6 pt-3">
                    <a href="<?= $block->getBaseurl();?>sales/sale/selfservevalue"><button type="button" class="value primary">Continuar</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="summaryModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content modal-summary">
        <div class="encabezado-modal">
            <span>Editar pieza</span>
            <button type="button" class="close closesummary" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <ul class="info-edit-piece">
                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="departament" name="editproduct" value="editdepartament">
                                <label class=" lbldepartament" for="departament">Departamento</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-departament">
                                <strong>Hombre</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_departament" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editcategory" name="editproduct" value="editcategory">
                                <label class=" lblcategory" for="editcategory">Categoria</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-category">
                                <strong>Bolsas</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_category" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editgarment" name="editproduct" value="editgarment">
                                <label class=" lblgarment" for="editgarment">Tipo de prenda</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-garment">
                                <strong>Bolsas de mano</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_garment" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editbrand" name="editproduct" value="editbrand">
                                <label class=" editbrand" for="editbrand">Marca</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-brand">
                                <strong>Bolsas de mano</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_brand" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editmodel" name="editproduct" value="editmodel">
                                <label class=" editmodel" for="editmodel">Modelo</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-model">
                                <strong>Celiné</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_model" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editmaterial" name="editproduct" value="editmaterial">
                                <label class="editmaterial" for="editmaterial">Material</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-material">
                                <strong>Piel</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_material" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editcolor" name="editproduct" value="editcolor">
                                <label class="editcolor" for="editcolor">Color</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-color">
                                <strong>Rojo</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_color" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="edituse" name="editproduct" value="edituse">
                                <label class="edituse" for="edituse">Estado de uso</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-use">
                                <strong>Nuevo con etiqueta</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_use" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editprice" name="editproduct" value="Price">
                                <label class="editprice" for="editprice">Precio</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-price">
                                <strong>$52,000</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_price" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row d-flex justify-content-center select_to_edit">
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="select">
                                <input type="radio" id="editphoto" name="editproduct" value="Price">
                                <label class="editphoto" for="editphoto">Fotografías</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <div class="info-photo">
                                <strong>1</strong>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="info-departament">
                               <span id="id_photo" class="select_opc_edit edit_info">Editar</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row d-flex justify-content-center select_to_edit">
                <div class="col-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-acept">
                        <button id="button_confirm" class="button-troquer button-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal_edit">
            <div class="content_edit_">

                <div class="info_edit content_edit edit_departament">
                    <div class="container col-lg-8 col-md-12 department edit_brand_modal">
                        <label class="lbl-title font-weight-bold">Departamento</label>
                        <div class="line mt-3 mb-4"></div>
                        <div class="btn-select-gender">
                            <?php foreach ($genders as $gender){ ?>
                                <?php $genderformated = strtolower(str_replace(' ', '', str_replace('é', 'e', $gender["name"]))); ?>
                                <div class="select-gender select-gender-<?= $genderformated ?> selectinpt">
                                    <?php if($genderformated == "mujer"): ?>
                                        <div class="genderselected "  data-value="<?= $gender["id"] ?>">
                                            <?= $gender["name"]; ?>
                                        </div>
                                    <?php else: ?>
                                        <div class="genderselected"  data-value="<?= $gender["id"] ?>">
                                            <?= $gender["name"]; ?>
                                        </div>
                                    <?php endif; ?>
                                    <br>
                                </div>
                            <?php } ?>
                        </div>

                    </div>
                </div>

                <div class="info_edit content_edit edit_category">
                    <div class="row container-body pt-4 pb-2">
                        <div class="container col-lg-3"></div>
                        <div class="container col-lg-6 col-md-6 category">
                            <label for="category-select" class="lbl-title font-weight-bold">Categoría</label>
                            <div class="line mt-3 mb-4"></div>
                            <div class="d-flex">
                                <select id="category-select" class="browser-default custom-select">
                                    <option value="0" selected>Selecciona la categoría</option>
                                    <?php foreach ($categories as $category){ ?>
                                        <option value="<?= $category["id"]; ?>"><?= $category["name"]; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="container col-lg-3"></div>

                    </div>

                </div>

                <div class="info_edit content_edit edit_garment">
                    <div class="container col-lg-6 col-md-12 col-12 type-piece edit_brand_modal">
                        <label for="garment-select" class="lbl-title font-weight-bold">Tipo de pieza</label>
                        <div class="line mt-3 mb-4"></div>
                        <div class="d-flex">
                            <select id="garment-select" class="browser-default custom-select">
                                <option value="0" selected>Selecciona el tipo de pieza</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="info_edit content_edit edit_brand">
                    <div id="brandModal" class="modal  modalcp">
                        <div class="modal-content modal-selfserve">
                            <div class="encabezado-modal">
                                <span>Selecciona la marca de tu pieza</span>
                                <button type="button" class="close closemodal" data-dismiss="modal"></button>
                            </div>
                            <div class="bodymodalcp">
                                <div class="content-modal-selfserve row">
                                    <div class="search-input col-12 col-lg-3 col-md-3">
                                        <div class="inputsearch input_serach_modals">
                                            <label class="lbl_search lbl_hide" for="search_brand"></label>
                                            <input id="search_brand" class="search_general input_serach_modals" type="text" placeholder="Empezar a buscar...">
                                        </div>
                                        <br>
                                        <div class="bnt-search">
                                            <button id="btnacepbrand" class="btnselectbrand btnsearch desactivedbotton">Aceptar</button>
                                        </div>
                                    </div>
                                    <div class="list-search col-12 col-lg-9 col-md-9">
                                        <div class="select-modelo">
                                            <ul id="listBrand" class="list-modelo list-filters-select"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="info_edit content_edit edit_model">
                    <div id="cpModal" class="modal  modalcp">
                        <div class="modal-content modal-selfserve">
                            <div class="encabezado-modal">
                                <span>Selecciona el modelo de tu pieza</span>
                                <button type="button" class="close closemodel" data-dismiss="modal"></button>
                            </div>
                            <div class="bodymodalcp">
                                <div class="content-modal-selfserve row">
                                    <div class="search-input col-12 col-lg-3 col-md-3">
                                        <div class="inputsearch input_serach_modals">
                                            <label class="lbl_search lbl_hide" for="search_model"></label>
                                            <input id="search_model" class="search_general input_serach_modals" type="text" placeholder="Empezar a buscar...">
                                        </div>
                                        <br>
                                        <div class="bnt-search">
                                            <button id="btnacepmodel" class="btnselectmodel btnsearch desactivedbotton">Aceptar</button>
                                        </div>
                                    </div>
                                    <div class="list-search col-12 col-lg-9 col-md-9">
                                        <div class="select-modelo">
                                            <ul id="listModel" class="list-modelo list-filters-select"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_edit content_edit edit_material">
                    <div class="modal-content modal-selfserve">
                        <div class="bodymodalcp material_edit">
                            <div class="content-modal-selfserve row">
                                <div class="search-input col-12 col-lg-3 col-md-3">
                                    <div class="inputsearch input_serach_modals">
                                        <label class="lbl_search lbl_hide" for="search_material"></label>
                                        <input id="search_material" class="search_general input_serach_modals" type="text" placeholder="Empezar a buscar...">
                                    </div>
                                    <br>
                                </div>
                                <div class="list-search col-12 col-lg-9 col-md-9">
                                    <div class="select-modelo">
                                        <ul id="listMaterial" class="list-modelo list-filters-select">
                                            <?php foreach ($materials as $material){ ?>
                                                <li>
                                                    <div class="select-material selectinpt">
                                                        <input type="radio" id="material-<?= $material["id"]; ?>" name="material" value="<?= $material["id"]; ?>">
                                                        <label class="lblmaterial" for="material-<?= $material["id"]; ?>"><?= $material["material"]; ?></label><br>
                                                    </div>
                                                </li>
                                            <?php } ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_edit content_edit edit_color">
                    <div class="container col-lg-12 col-md-12 col-12 characteristic-mobile edit_brand_modal">
                        <h5 class="font-weight-bold">Color</h5>
                        <div class="line mt-3 mb-4"></div>
                        <div class="list-search">
                            <div class="select-color">
                                <ul class="list-color">
                                    <?php foreach ($colors as $color) { ?>
                                        <li>
                                            <?php $colorformated = strtolower(str_replace(' ', '', $color["name"])); ?>
                                            <div class="select-color-inf selectinpt">
                                                <input type="radio" id="color-<?= $color["id"]; ?>" name="color" value="<?= $color["id"]; ?>">
                                                <label id="<?= $color["name"]; ?>" class="_color lblcolor" for="color-<?= $color["id"]; ?>" style="background: <?= $color["value"];?> !important;"></label>
                                                <span id="<?= $color["id"]; ?>"><?= $color["name"]; ?></span>
                                            </div>
                                        </li>
                                    <?php }?>
                                </ul>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
                <div class="info_edit edit_statuse content_edit edit_use_status">
                    <div class="container col-lg-12 col-md-12 col-12 characteristic-mobile edit_brand_modal">
                        <h5 class="font-weight-bold">Estado de Uso</h5>
                        <div class="line mt-3 mb-4"></div>
                        <div class="list-search col-12 col-lg-12 col-md-12">
                            <div class="select-estado edit-select-estado">
                                <div class="sup-statususe">
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformateduno = strtolower(str_replace(' ', '', $conditions[0]["condition"])); ?>
                                        <div id="status-<?= $conditions[0]["id"]?>" class="info-statu" data-value="<?= $conditions[0]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[0]["condition"]; ?></h4>
                                            <p><?= $conditions[0]["description"]; ?></p>
                                        </div>
                                    </div>
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformateddos = strtolower(str_replace(' ', '', $conditions[1]["condition"])); ?>
                                        <div id="status-<?= $conditions[1]["id"]?>" class="info-statu" data-value="<?= $conditions[1]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[1]["condition"]; ?></h4>
                                            <p><?= $conditions[1]["description"]; ?></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="inf-statususe">
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformatedtres = strtolower(str_replace(' ', '', $conditions[2]["condition"])); ?>
                                        <div id="status-<?= $conditions[2]["id"]?>" class="info-statu" data-value="<?= $conditions[2]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[2]["condition"]; ?></h4>
                                            <p><?= $conditions[2]["description"]; ?></p>
                                        </div>
                                    </div>
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformatedcuatro = strtolower(str_replace(' ', '', $conditions[3]["condition"])); ?>
                                        <div id="status-<?= $conditions[3]["id"]?>" class="info-statu" data-value="<?= $conditions[3]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[3]["condition"]; ?></h4>
                                            <p><?= $conditions[3]["description"]; ?></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_edit content_edit edit_price">
                    <div class="container col-lg-12 col-md-12 col-12 price_mobile">
                        <h5 class="font-weight-bold">Precio Original</h5>
                        <div class="line mt-3 mb-4"></div>
                        <div class="pb-4 text-characteristic-price">
                            <p>Añadir el precio original (de boutique) ayudará a mejorar el cálculo del precio de publicación, aunque no es obligatorio en caso de no contar con él</p>
                            <div class="input-precio">
                                <div class="input-pr">
                                    <label for="valueprice">Precio original</label>
                                    <input id="valueprice" pattern="[0-9]" type="text" placeholder="$0">
                                    <p class="no-required">*Este campo no es obligatorio</p>
                                </div>
                                <div class="btn-pric">
                                    <input id="priceselect" type="checkbox"><label class="lblpricenot" for="priceselect"></label><span class="text-price-tag">No recuerdo el precio original</span>
                                    <br>
                                    <div class="errorprice">
                                        <span class="tooltip-error-price">Si no cuentas con el precio orginal, activa la casilla anterior</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_edit content_edit edit_photo">
                    <div class="container col-lg-12 col-md-12 col-12 upload-section-edit">
                        <h5>Fotografías</h5>
                        <div class="line mt-3 mb-4"></div>
                        <p class="text-indicator pb-1">Sube la foto de tu pieza</p>
                        <div class="upload-photo">
                            <div class="picture-block col-lg-12 col-md-12 col-12 pb-1">
                                <div class="block-infopicture">
                                    <div class="box-picture_">
                                        <input type="file" id="fileimage" accept="image/*">
                                        <label for="fileimage"></label>
                                        <img class="photo_upload" id="output" alt="photo_upload" src="#"/>
                                    </div>
                                </div>
                            </div>
                            <div class="tips-photos col-lg-12">
                                <p class="title-tips">Tips para tomar la mejor foto de tu pieza</p>
                                <ul>
                                    <li>1.- Coloca tu pieza en un lugar donde no haya otros objetos</li>
                                    <li>2.- Mantén una buena iluminación en el lugar donde tomarás la foto</li>
                                    <li>3.- No utilices flash</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info_edit content_edit btn_save_photo text-center">
                        <button class="btn_change">Guardar cambios</button>
                        <br>
                        <span class="btn_cancel">Cancelar</span>
                    </div>
                </div>
                <div class="info_edit content_edit btn_save text-center btn_all_save">
                    <button class="btn_change btn_change_disabled">Guardar cambios</button>
                    <br>
                    <span class="btn_cancel">Cancelar</span>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Section Summary Pieces -->

<!-- Start Modal Tips toma de Fotos -->
<div id="photoModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content content-modalphotos">
        <div class="encabezado-modal">
            <span class="title-condition">Cómo tomar la foto de tu pieza</span>
            <button type="button" class="photo-modal-close close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalphotos">
            <div id="examples-images-slider-upload">
                <div class="row info-owl-carousel owl-carousel">
                    <div class="item item-info-examples col-lg-4">
                        <p class="title-body-info">Bolsas</p>
                        <p class="text-body-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut natus.</p>
                        <div class="img-upload">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="item item-info-examples col-lg-4">
                        <p class="title-body-info">Ropa</p>
                        <p class="text-body-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut natus.</p>
                        <div class="img-upload">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="item item-info-examples col-lg-4">
                        <p class="title-body-info">Zapatos</p>
                        <p class="text-body-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut natus.</p>
                        <div class="img-upload">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="item item-info-examples col-lg-4">
                        <p class="title-body-info">Accesorios</p>
                        <p class="text-body-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut natus.</p>
                        <div class="img-upload">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="item item-info-examples col-lg-4">
                        <p class="title-body-info">Joyería fina</p>
                        <p class="text-body-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut natus.</p>
                        <div class="img-upload">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    require([
                        'jquery',
                        'owl.carousel/owl.carousel.min'
                    ], function ($) {
                        let mediaqueryList = window.matchMedia("(max-width: 768px)");
                        if (mediaqueryList.matches) {
                            $("#examples-images-slider-upload .owl-carousel").owlCarousel({
                                autoplay: true,
                                autoplayTimeout: 5000,
                                autoplayHoverPause: true,
                                margin: 15,
                                nav: false,
                                navText: ["<em class='porto-icon-left-open-big'></em>", "<em class='porto-icon-right-open-big'></em>"],
                                dots: true,
                                loop: true,
                                responsive: {
                                    0: {
                                        items: 1
                                    },
                                    575: {
                                        items: 2
                                    },
                                    768: {
                                        items: 1
                                    }
                                }
                            });
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        let lblmaterialedit = $(".lblmaterial");
        let lblcoloredit = $(".lblcolor");
        let infostatuedit = $(".info-statu");

        $('.genderselected').on("click", function () {
            let val = $(this).text();
            $('.info-departament > strong').text(val);
            $('.btn_change').removeClass('btn_change_disabled');

        });
        $('#category-select').on("change", function () {
            let valcategory = $("#category-select option:selected").text();
            $('.info-category > strong').text(valcategory);
            $('.btn_change').removeClass('btn_change_disabled');
        });

        $('#garment-select').on("change", function () {
            let valgarment = $("#garment-select option:selected").text();
            $('.info-garment > strong').text(valgarment);
            $('.btn_change').removeClass('btn_change_disabled');
        });

        $('.btn_acept_modal').on("click", function () {
            $(".modal_edit").fadeOut("slow");
            $(".bodymodalcp").fadeIn("slow");
            $('.btn_change').addClass('btn_change_disabled');
            $('.content_edit').addClass('info_edit');
        });

        lblmaterialedit.each(function () {
            $(this).on("click", function () {
                let lblmaterial_text = $(this).text();
                $('.info-material > strong').text(lblmaterial_text);
                $('.btn_change').removeClass('btn_change_disabled');
            });
        });

        lblcoloredit.each(function () {
            $(this).on("click", function () {
                $(this).addClass("listselect-active");
                let lblcolor_text = $(this).next().text();
                $('.info-color > strong').text(lblcolor_text);
                $('.btn_change').removeClass('btn_change_disabled');
            });
        });

        infostatuedit.each(function () {
            $(this).on("click", function () {
                $(this).removeClass('activegenderselected');
                $(this).addClass('activegenderselected');
                let lblusestatus_text = $(this).children('h4').text();
                $('.info-use > strong').text(lblusestatus_text);
                $('.btn_change').removeClass('btn_change_disabled');
            });
        });

        const modalsummary = document.getElementById("summaryModal");
        const btnsummary = document.getElementById("editSummary");
        const spansummary = document.getElementsByClassName("closesummary")[0];
        btnsummary.onclick = function () {
            modalsummary.style.display = "block";
        }
        spansummary.onclick = function () {
            modalsummary.style.display = "none";
            $(".modal_edit").fadeOut("slow");
            $(".bodymodalcp").fadeIn("slow");
        }
        window.onclick = function (event) {
            if (event.target === modalsummary) {
                modalsummary.style.display = "none";
            }
        }
        let item_count = document.getElementsByClassName("lnk-gan");
        let i;
        for (i = 0; i < item_count.length; i++) {
            item_count[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let content = $(this).parent().parent().parent().next().get();
                let resultitem = $(content).hasClass("show_ganancia");
                if (resultitem) {
                    $(content).removeClass('show_ganancia');
                } else {
                    $(content).addClass('show_ganancia');
                }
            });
        }

        let mediaquery = window.matchMedia("(max-width: 767px)");
        let countproducts = $('.card_product_value').length;
        if (countproducts > 1) {
            $('.count_pieces').text(countproducts + ' pieza(s)');
        } else {
            $('.count_pieces').text(countproducts + ' pieza');
        }

        if (mediaquery.matches) {
            if (countproducts >= 30) {
                $('.count_pieces').addClass('more_pieces');
                $('#content_card_valued').addClass('hiden_cards');
            }

            let item_card = document.getElementsByClassName("count_pieces");
            let icard;
            for (icard = 0; icard < item_card.length; icard++) {
                item_card[icard].addEventListener("click", function () {
                    this.classList.toggle("active");
                    let card_content = $('#content_card_valued');
                    let resultcard = card_content.hasClass("hiden_cards");
                    if (resultcard) {
                        card_content.removeClass('hiden_cards');
                    } else {
                        card_content.addClass('hiden_cards');
                    }
                });
            }
        }

        let ele = document.getElementsByClassName("select_opc_edit");
        let iele;
        for (iele = 0; iele < ele.length; iele++) {
            ele[iele].addEventListener("click", function () {
                this.classList.toggle("active");
                $(".bodymodalcp").fadeOut("slow");
                $(".modal_edit").fadeIn("slow");
                $('.btn_save').removeClass('info_edit');
                let id_label = $(this).attr('id');
                switch (id_label) {
                    case 'id_departament':
                        $('.edit_departament').removeClass('info_edit');
                        let departamentsel = $('.info-departament > strong').text();
                        if (departamentsel === 'Mujer') {
                            $('#mujer').prop("checked", true);
                        } else if (departamentsel === 'Hombre') {
                            $('#hombre').prop("checked", true);
                        } else if (departamentsel === 'Sin genero') {
                            $('#nogender').prop("checked", true);
                        }
                        break;
                    case 'id_category':
                        $('.edit_category').removeClass('info_edit');
                        break;
                    case 'id_garment':
                        $('.edit_garment').removeClass('info_edit');
                        break;
                    case 'id_brand':
                        $('.edit_brand').removeClass('info_edit');
                        break;
                    case 'id_model':
                        $('.edit_model').removeClass('info_edit');
                        break;
                    case 'id_material':
                        $('.edit_material').removeClass('info_edit');
                        break;
                    case 'id_color':
                        $('.edit_color').removeClass('info_edit');
                        break;
                    case 'id_use':
                        $('.edit_statuse').removeClass('info_edit');
                        break;
                    case 'id_price':
                        $('.edit_price').removeClass('info_edit');
                        break;
                    case 'id_photo':
                        $('.edit_photo').removeClass('info_edit');
                        $('.btn_save_photo').show();
                        $('.btn_all_save').hide();
                        $('.btn_save_photo .btn_change').removeClass('btn_change_disabled');
                        break;
                }
            });
        }

        $('._garmentselect').change(function () {
            if ($(this).is(":checked")) {
                let valgarment = $(this).val();

                $('.btn_change').removeClass('btn_change_disabled');
                $('.info-departament strong').text(valgarment);
            }
        });

        $('#select_category').change(function () {
            let vacategory = $(this).children("option:selected").text();
            $('.btn_change').removeClass('btn_change_disabled');
            $('.info-category strong').text(vacategory);
        });
        $('#select_piece').change(function () {
            let vacategory = $(this).children("option:selected").val();
            $('.btn_change').removeClass('btn_change_disabled');
            $('.info-garment strong').text(vacategory);
        });

        $("#inptsearch_brand").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#input_result_brand div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        let brand = document.getElementsByClassName("lbl_select_brand");
        let ibran;
        for (ibran = 0; ibran < brand.length; ibran++) {
            brand[ibran].addEventListener("click", function () {
                $(".bodymodalcp").fadeOut("slow");
                $(".modal_edit").fadeIn("slow");
                $('.btn_save').removeClass('info_edit');
                $('.btn_change').removeClass('btn_change_disabled');
                let text_ = $(this).text();
                $('.info-brand strong').text(text_);

            });
        }

        $("#inptsearch_model").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#input_result_model div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        let vmodel = document.getElementsByClassName("lbl_select_model");
        let imodel;
        for (imodel = 0; imodel < vmodel.length; imodel++) {
            vmodel[imodel].addEventListener("click", function () {
                $(".bodymodalcp").fadeOut("slow");
                $(".modal_edit").fadeIn("slow");
                $('.btn_save').removeClass('info_edit');
                $('.btn_change').removeClass('btn_change_disabled');
                let text_ = $(this).text();
                $('.info-model strong').text(text_);

            });
        }

        $("#inptsearch_material").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#input_result_material div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        let vmat = document.getElementsByClassName("lbl_select_material");
        let imat;
        for (imat = 0; imat < vmat.length; imat++) {
            vmat[imat].addEventListener("click", function () {
                $(".bodymodalcp").fadeOut("slow");
                $(".modal_edit").fadeIn("slow");
                $('.btn_save').removeClass('info_edit');
                $('.btn_change').removeClass('btn_change_disabled');
                let text_ = $(this).text();
                $('.info-material strong').text(text_);

            });
        }

        let vcolor = document.getElementsByClassName("lbl_select_color");
        let icolor;
        for (icolor = 0; icolor < vcolor.length; icolor++) {
            vcolor[icolor].addEventListener("click", function () {
                $(".bodymodalcp").fadeOut("slow");
                $(".modal_edit").fadeIn("slow");
                $('.btn_save').removeClass('info_edit');
                $('.btn_change').removeClass('btn_change_disabled');
                let text_ = $(this).prev().val()
                $('.info-color strong').text(text_);

            });
        }

        let vstatus = document.getElementsByClassName("lblusestatusmob");
        let istatus;
        for (istatus = 0; istatus < vstatus.length; istatus++) {
            vstatus[istatus].addEventListener("click", function () {
                $(".bodymodalcp").fadeOut("slow");
                $(".modal_edit").fadeIn("slow");
                $('.btn_save').removeClass('info_edit');
                $('.btn_change').removeClass('btn_change_disabled');
                let text_ = $(this).children('.estado-select').text();
                $('.info-use strong').text(text_);

            });
        }

        $("#valueprice").on("keyup", function () {
            let priceorigin = $(this).val().length;
            let valinputval = $('#valueprice').val();
            if (priceorigin > 0) {
                $('#btn-price').removeClass('desactivedbotton');
                $('.btn_change').removeClass('btn_change_disabled');
                $('.info-price strong').text("$" + valinputval);
                $('.btn-pric').hide();
            } else {
                $('#btn-price').addClass('desactivedbotton');
                $('.btn_change').addClass('btn_change_disabled');
                $('.btn-pric').show();
            }
        });

        $('#priceselect').on("change", function () {
            if ($(this).is(":checked")) {
                $('#btn-price').removeClass('desactivedbotton');
                $('.btn_change').removeClass('btn_change_disabled');
                $('.input-pr').hide();
                $('.info-price strong').text("Desconocido");
            } else {
                $('#btn-price').addClass('desactivedbotton');
                $('.btn_change').addClass('btn_change_disabled');
                $('.input-pr').show();

            }
        });

        $('.btn_cancel').on("click", function () {
            $(".modal_edit").fadeOut("slow");
            $(".bodymodalcp").fadeIn("slow");
            $('.content_edit').addClass('info_edit');
        });

        $('.btn_change').on("click", function () {
            $(".modal_edit").fadeOut("slow");
            $(".bodymodalcp").fadeIn("slow");
            $('.btn_change').addClass('btn_change_disabled');
            $('.content_edit').addClass('info_edit');
        });

        $('#customFile').on("click", function () {
            if (this.files && this.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(this.files[0]);
            }
        });

        $('#button_confirm').on("click", function () {
            let brand_edit = $('.info-brand strong').text();
            let garment_edit = $('.info-garment strong').text();
            let departament_edit = $('.info-departament strong').text();
            let use_edit = $('.info-use strong').text();

            $('.brand-name strong').text(brand_edit);
            $('.pieces-brand span.brand').text(garment_edit);
            $('.pieces-garment .garment').text(departament_edit);
            $('.pieces-status span.status').text(use_edit);
            $('#summaryModal').hide();
        });

        document.getElementById("fileimage").addEventListener("change", uploadPhoto);

        function uploadPhoto() {
            let output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        }

        let color_estado = document.getElementsByClassName("lblusestatusmob");
        let iestado;
        for (iestado = 0; iestado < color_estado.length; iestado++) {
            color_estado[iestado].addEventListener("click", function () {
                $('.select-usestatus-mobile').removeClass('selected_card_use');
                $(this).addClass("select-estado-active");
                let txtselectestado = $(this).prev().val();
                let modalestado = $('#modalestado');
                $(this).parent().addClass('selected_card_use');
                $('.btneditestado').remove();
                modalestado.append('<span class="btneditestado close edit-upload ml-0 float-left " aria-hidden="true">×</span>');
                $('#modalestado > span.txt-estado').text('*Estado de uso: ' + txtselectestado);
                $('#btnacepstatus').removeClass('desactivedbotton');
                modalestado.addClass('btn-active-model');
            });
        }
    });
</script>

<script type="text/x-magento-init">
{
    "*": {
        "selfservejs": {
            "arrayGarments": <?= json_encode($garments) ?>,
            "arrayBrands": <?= json_encode($brands) ?>,
            "arrayModels": <?= json_encode($models) ?>
        }
    }
}
</script>

