<?php
/** @noinspection PhpDeprecationInspection */
/** @noinspection PhpUnused */

/** @noinspection PhpUndefinedMethodInspection */

use \Magento\Framework\Exception\LocalizedException;
use \Magento\Framework\Exception\NoSuchEntityException;
use \Troquer\Sales\Block\Sale\Addresses;
use \Magento\Framework\Escaper;

/** @var Addresses $block */
/** @var $escaper Escaper */

try {
    $viewModel = $block->getViewModel();
    $inboundAddress = $block->getSalesAddress();
    $order = json_decode(json_encode($block->newOrder()[0]), true);
    $order = json_decode(json_encode($block->getOrder($order["inbound_order_id"])[0]), true);

    if (!array_key_exists("products", $order) || empty($order["products"])) {
        header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
    } else {

        ?>
        <?php $_displayAll = $block->getConfig('general/region/display_all'); ?>
        <?php $_selectRegion = 'Please select a region, state or province.'; ?>
        <?php $_regionValidationClass = $viewModel->addressGetAttributeValidationClass('region'); ?>
        <!-- Section Address -->
        <section class="mt-4 self-serve-shipping">
            <div class="row container-body py-4 pl-5 pr-5">
                <div class="container col-lg-4 col-md-4 col-12 general-steps step1">
                    <h5 class="text-uppercase text-center">1. Describe tus piezas</h5>
                    <hr>
                </div>
                <div class="container col-lg-4 col-md-4 col-12 general-steps step2">
                    <h5 class="text-uppercase text-center">2. Conoce tu ganancia</h5>
                    <hr class="">
                </div>
                <div class="container col-lg-4 col-md-4 col-12 general-steps step3">
                    <h5 class="text-uppercase text-center">3. Envía tus piezas</h5>
                    <hr class="">
                </div>
            </div>
        </section>

        <section class="mb-4 section-address">
            <h2 class="text-center titlevende">Vende en Troquer</h2>
            <div class="content_section_address">
                <p class="text-center">Es necesario que confirmes tu dirección para poder generar la guía de envío
                    correctamente. </p>
                <p class="text-center"><strong>Esta es la dirección a la que se realizarán devoluciones,</strong> en
                    caso de ser requeridas.</p>
                <div class="cards_address">
                    <div id="slider_cards_address" class="home-subcats content-specials container-fluid">
                        <form class="form-sales-address" action="<?= $escaper->escapeUrl($block->getSaveUrl()) ?>"
                              method="post" id="form-validate" enctype="multipart/form-data"
                              data-hasrequired="<?= $escaper->escapeHtmlAttr(__('* Required Fields')) ?>">
                            <fieldset class="fieldset field input-edit-infoset">
                                <legend class="legend">
                                    <span><?= $escaper->escapeHtml('Contact Information') ?></span>
                                </legend>
                                <div class="field input-edit-info phone required">
                                    <div class="control">
                                        <label class="required" for="phone"><span><?php /* @escapeNotVerified */
                                                echo __('Telephone') ?></span></label>
                                        <input type="tel" name="phone" id="phone" pattern="[0-9]{10}"
                                               class="input-text _required"
                                               placeholder="<?php /* @escapeNotVerified */
                                               echo __('Telephone') ?>" value="<?= $inboundAddress->getTelephone(); ?>"
                                               title="Telephone" required>
                                        <div class="field-error" style="display: none;">
                                            <span>This is a required field.</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br><br>
                            <fieldset class="fieldset field input-edit-infoset">
                                <legend class="legend">
                                    <span><?= $escaper->escapeHtml(__('Address Information')) ?></span>
                                </legend>
                                <div class="text-indicator-address">
                                    <p>Añade tu dirección, al escribir los 5 dígitos de tu código postal selecciona tu
                                        colonia y escribe tus referencias, los campos municipio y estado se llenarán
                                        automáticamente.</p>
                                </div>
                                <div class="all-info-address">
                                    <div class="field street fieldstreet input-edit-info inpt-edit">
                                        <label class="label required"><span><?php /* @escapeNotVerified */
                                                echo __('Street') ?></span></label>
                                        <input type="text" name="street[1]"
                                               value="<?php echo $escaper->escapeHtml(count($inboundAddress->getStreet()) > 0 ? $inboundAddress->getStreet()[0] : '') ?>"
                                               title="<?php /* @escapeNotVerified */
                                               echo __('Street') ?>" id="street_1" class="_required"/>
                                        <div class="field-error" style="display: none;">
                                            <span>This is a required field.</span>
                                        </div>

                                        <br>
                                        <br>
                                        <div class="d-flex">
                                            <div class="external">
                                                <label class="label required"> <span><?php /* @escapeNotVerified */
                                                        echo __('External Number') ?></span></label>
                                                <input type="text" name="street[2]"
                                                       value="<?php echo $escaper->escapeHtml(count($inboundAddress->getStreet()) > 1 ? $inboundAddress->getStreet()[1] : '') ?>"
                                                       maxlength="14" minlength="1"
                                                       title="<?php /* @escapeNotVerified */
                                                       echo __('Street Number') ?>" id="street_2" class="_required"/>
                                                <div class="field-error" style="display: none;">
                                                    <span>This is a required field.</span>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="internal">
                                                <label class="label" for="street_3">
                                                    <span><?php /* @escapeNotVerified */
                                                        echo __('House Number') ?></span>
                                                </label>
                                                <input type="text" name="street[3]"
                                                       value="<?php echo $escaper->escapeHtml(count($inboundAddress->getStreet()) > 2 ? $inboundAddress->getStreet()[2] : '') ?>"
                                                       maxlength="14" minlength="1"
                                                       title="<?php /* @escapeNotVerified */
                                                       echo __('House Number') ?>" id="street_3"
                                                       class="input-text max_text_length min_text_length">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field input-edit-info field-zip required input-edit-info inpt-edit">
                                        <label class="required" for="zip"><span><?= /* @escapeNotVerified */
                                                $block->getAttributeData()->getFrontendLabel('postcode') ?></span><span
                                                id="zipButton"><img
                                                    src="<?= $block->getBaseurl(); ?>media/troquer/question.png" alt=""></span></label>
                                        <div class="control">
                                            <input type="text" name="postcode" id="zip"
                                                   placeholder="<?php /* @escapeNotVerified */
                                                   echo __('Postal Code') ?>"
                                                   value="<?php echo $inboundAddress->getPostcode(); ?>"
                                                   title="Código Postal" required class="_required">
                                            <div class="field-error" style="display: none;">
                                                <span>This is a required field.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field input-edit-info field-suburb required input-edit-info inpt-edit">
                                        <label class="required" for="suburb"><span><?= /* @escapeNotVerified */
                                                $block->getAttributeData()->getFrontendLabel('suburb') ?></span></label>
                                        <div class="control">
                                            <select title="suburb_id" id="suburb_id" name="suburb_id"
                                                    class="form-control ">
                                            </select>
                                            <input title="suburb_sel" type="text" name="suburb_sel" id="suburb_sel"
                                                   class="_required"
                                                   value="<?php echo $inboundAddress->getCustomAttribute("suburb") ? trim($inboundAddress->getCustomAttribute("suburb")->getValue()) : ''; ?>"
                                                   style="display: none;">
                                            <div class="field-error" style="display: none;">
                                                <span>This is a required field.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field input-edit-info field-city required inpt-edit">
                                        <label class="required" for="city"><span><?= /* @escapeNotVerified */
                                                $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                                        <div class="control">
                                            <input type="text" name="city" id="city"
                                                   class="field_address_bloq _required"
                                                   placeholder="<?php /* @escapeNotVerified */
                                                   echo __('City') ?>" value="" title="Ciudad" required>
                                            <div class="field-error" style="display: none;">
                                                <span>This is a required field.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field region required input-edit-info inpt-edit">
                                        <label class="label" for="region_id">
                                            <span><?= /* @noEscape */
                                                $block->getAttributeData()->getFrontendLabel('region') ?></span>
                                        </label>
                                        <div class="control">
                                            <select id="region_id" name="region_id"
                                                    title="<?= /* @noEscape */
                                                    $block->getRegion() ?>"
                                                    class="validate-select region_id field_address_bloq"
                                                <?= /* @noEscape */
                                                !$_displayAll ? ' disabled="disabled"' : '' ?>>
                                                <option
                                                    value=""><?= $escaper->escapeHtml(__($_selectRegion)) ?></option>
                                            </select>
                                            <input type="text"
                                                   id="region"
                                                   name="region"
                                                   value="<?= $escaper->escapeHtmlAttr($block->getRegion()) ?>"
                                                   title="<?= /* @noEscape */
                                                   $block->getRegion() ?>"
                                                   class="input-text validate-not-number-first field_address_bloq _required
                                                <?= $escaper->escapeHtmlAttr($_regionValidationClass) ?>"
                                                <?= !$_displayAll ? ' disabled="disabled"' : '' ?>/>
                                            <div class="field-error" style="display: none;">
                                                <span>This is a required field.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field country required">
                                        <label class="label" for="country">
                                            <span><?= /* @noEscape */
                                                $block->getAttributeData()->getFrontendLabel('country_id') ?></span>
                                        </label>
                                        <div class="control">
                                            <?= $block->getCountryHtmlSelect() ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="field input-edit-info field-references required">
                                    <label class="required label"
                                           for="references"><?php /* @escapeNotVerified */
                                        echo __('References') ?></label>
                                    <div class="control">
                                        <textarea id="references" name="references" rows="5" cols="25"
                                                  class="_required required-entry"
                                                  required><?= $inboundAddress->getCustomAttribute("references") ? $inboundAddress->getCustomAttribute("references")->getValue() : ''; ?></textarea>
                                        <div class="field-error" style="display: none;">
                                            <span>This is a required field.</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="buttons_edit_guia">
                                <div class="row d-flex justify-content-center text-center">
                                    <div class="pt-3">
                                        <button id="aceptterms" type="button" class="btn-principal">Generar guía
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="section_products_upload">
                <h3 class="title-pieces-summary">Resumen de tus piezas</h3>
                <h5 class="title_qty_prod count_product"></h5> <br>
                <div class="row section_products_summary">
                    <?php foreach ($order["products"] as $product) { ?>
                        <div class="col-12 col-lg-4 col-md-6 info_products_card">
                            <div class="products_cards">
                                <div class="row">
                                    <div class="col-3 col-lg-3 col-md-3 photo_product">
                                        <img src="<?php echo $product["url"]; ?>" alt="" class="image_product">
                                    </div>
                                    <div class="col-9 col-lg-9 col-md-9 info_products">
                                        <h2><?php echo $product["brand"]; ?></h2>
                                        <p><?php echo $product["garment"]; ?><br><?php echo $product["condition"]; ?>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>

            <form style="display: none" action="<?= $block->getBaseurl(); ?>sales/sale/saveorder" method="POST"
                  id="form-save-order">
                <input type="hidden" id="inbound_order_id" name="inbound_order_id"
                       value="<?php echo $order["inbound_order"]["id"]; ?>"/>
                <input type="hidden" id="street" name="street" value/>
                <input type="hidden" id="outside" name="outside" value/>
                <input type="hidden" id="inside" name="inside" value/>
                <input type="hidden" id="suburb" name="suburb" value/>
                <input type="hidden" id="city" name="city" value/>
                <input type="hidden" id="region" name="region" value/>
                <input type="hidden" id="region_id" name="region_id" value/>
                <input type="hidden" id="country_id" name="country_id" value/>
                <input type="hidden" id="postcode" name="postcode" value/>
                <input type="hidden" id="references" name="references" value/>
                <input type="hidden" id="phone" name="phone" value/>
            </form>
        </section>

        <!-- Modal terms -->
        <div id="modaltemrs" class="modal  modalcp">
            <!-- Modal content -->
            <div class="modal-content modal-summary">
                <div class="encabezado-modal">
                    <span>Términos y Condiciones</span>
                    <button type="button" class="close closeterms" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <div class="content_modal_terms">
                        <p>Para continuar es necesario que consultes y aceptes los <a
                                href="<?= $block->getBaseurl(); ?>terminos-condiciones" class="temrns">Términos y
                                Condiciones completos.</a></p>
                        <div class="check_termns">
                            <div class="terms_check">
                                <div class="input_term">
                                    <input type="checkbox" value="1" id="consignacion">
                                    <label for="consignacion"></label>
                                </div>
                                <div class="text_terms">
                                    <p>Los productos en consignación deben ser auténticos y de las marcas o categorías
                                        aceptadas por Troquer.</p>
                                </div>
                            </div>
                            <div class="terms_check">
                                <div class="input_term">
                                    <input type="checkbox" value="1" id="restaucacion">
                                    <label for="restaucacion"></label>
                                </div>
                                <div class="text_terms">
                                    <p>En caso de que una pieza no cumpla con los lineamientos de estado de uso,
                                        autenticidad y marcas o categorías aceptadas, será marcada como rechazo. Las
                                        piezas rechazadas se enviarán por mensajería y tendrá un costo por paquete de
                                        $99 mxn.</p>
                                </div>
                            </div>
                            <div class="terms_check">
                                <div class="input_term">
                                    <input type="checkbox" value="1" id="inconforme">
                                    <label for="inconforme"></label>
                                </div>
                                <div class="text_terms">
                                    <p>Troquer establecerá el precio óptimo de la pieza para la atracción de compradores
                                        y vendedores. Los precios establecidos por Troquer son los precios finales de
                                        venta.</p>
                                </div>
                            </div>
                            <div class="terms_check">
                                <div class="input_term">
                                    <input type="checkbox" value="1" id="terminos">
                                    <label for="terminos"></label>
                                </div>
                                <div class="text_terms">
                                    <p>Acepto Términos y Condiciones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-continue">
                        <a href="">
                            <button id="continue_terms" class=" btn btn-principal">Continuar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal terms -->
        <div id="zipModal" class="modal  modalcp">
            <div class="modal-content content-modalguidelines">
                <div class="encabezado-modal">
                    <span class="title-condition">Código postal</span>
                    <button type="button" class="zip-modal-close close" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <p class="text-price text-center">Escribe los 5 dígitos de tu código postal,</p>
                    <p class="text-price text-center zip-bold">52178</p>
                    <p class="text-price text-center">incluso si comienza con cero:</p>
                    <p class="text-price text-center zip-bold">03810</p>
                    <p class="text-price text-center">es importante que lo escribas correctamente para poder mostrar tu
                        colonia.</p>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            require([
                'jquery'
            ], function ($) {
                let modalterms = document.getElementById("modaltemrs");
                let spanterms = document.getElementsByClassName("closeterms")[0];

                $('._required').each(function () {
                    $(this).change(function () {
                        $(this).removeClass('_error_empty');
                        $(this).css({
                            "border-bottom": "1px solid #cccccc"
                        });
                        $(this).next().hide();
                        if($(this).attr("id") === 'suburb_sel'){
                            $(this).prev().css({
                                "border-bottom": "1px solid #cccccc"
                            });
                        }
                        if($(this).attr("id") === 'region'){
                            $(this).prev().css({
                                "border-bottom": "1px solid #cccccc"
                            });
                        }
                    });
                    $(this).keyup(function () {
                        $(this).removeClass('_error_empty mage-error');
                        $(this).css({
                            "border-bottom": "1px solid #cccccc"
                        });
                        $(this).next().hide();
                    });
                });

                $('#aceptterms').on("click", function (e) {
                    $('.msgempy').remove();
                    let isValid = true;
                    if ($("#references").val().trim().length < 1) {
                        let references = $('#references');
                        references.addClass('_error_empty mage-error');
                        references.next().show();
                        isValid = false;
                    }
                    let stay_focus = false;
                    $('input._required').each(function () {
                        if ($.trim($(this).val()) === '' && $.trim($(this).length === 0)) {
                            if(stay_focus === false){
                                stay_focus = true;
                                $(this)[0].focus();
                            }
                            if($(this).attr("id") === 'suburb_sel'){
                                $(this).prev().css({
                                    "border-bottom": "2px solid #ED8380"
                                });
                            }
                            if($(this).attr("id") === 'region'){
                                $(this).prev().css({
                                    "border-bottom": "2px solid #ED8380"
                                });
                            }
                            isValid = false;
                            $(this).css({
                                "border-bottom": "2px solid #ED8380"
                            });
                            $(this).next().show();
                        } else {
                            $(this).css({
                                "border": "",
                                "background": ""
                            });
                        }
                    });
                    if (isValid === false){
                        e.preventDefault();
                        $('.field-references').after('<span class="msgempy field-error">Tienes uno o más campos sin llenar, revisa tu dirección</span>');
                    }else{
                        modalterms.style.display = "block";
                    }
                }, null);

                spanterms.onclick = function () {
                    modalterms.style.display = "none";
                    $(".modal_edit").fadeOut("slow");
                    $(".bodymodalcp").fadeIn("slow");
                }
                window.onclick = function (event) {
                    if (event.target === modalterms) {
                        modalterms.style.display = "none";
                    }
                }

                const modal_service = $("#zipModal");
                let btn_service = $("#zipButton");
                let span_service = $(".zip-modal-close")[0];
                btn_service.on("click", function () {
                    modal_service.show();
                }, null);
                $(span_service).on("click", function () {
                    modal_service.hide();
                }, null);
                window.onclick = function (event) {
                    if (event.target === modal_service) {
                        modal_service.show();
                    }
                }

                $('#continue_terms').on("click", function (e) {
                    e.preventDefault();
                    if (($('#consignacion').prop('checked') === false) || ($('#restaucacion').prop('checked') === false) || $('#inconforme').prop('checked') === false || $('#vendida').prop('checked') === false || $('#terminos').prop('checked') === false) {
                        alert('Es necesario que aceptes los siguientes términos y condiciones para poder continuar');
                    } else {
                        $('#form-save-order > #street').val($('#street_1').val());
                        $('#form-save-order > #outside').val($('#street_2').val());
                        $('#form-save-order > #inside').val($('#street_3').val());
                        $('#form-save-order > #suburb').val($('#suburb_sel').val());
                        $('#form-save-order > #city').val($('#city').val());
                        $('#form-save-order > #region').val($('#region').val());
                        $('#form-save-order > #region_id').val($('#region_id').val());
                        $('#form-save-order > #country_id').val($('#country').val());
                        $('#form-save-order > #postcode').val($('#zip').val());
                        $('#form-save-order > #references').val($('#references').val());
                        $('#form-save-order > #phone').val($('#phone').val());
                        $("#form-save-order").submit();
                    }
                }, null);

                let qtyproduct = $('.info_products_card').length;
                let countproduct = $('.count_product');
                countproduct.text(qtyproduct + ' pieza(s)');
                if (qtyproduct >= 4) {
                    countproduct.addClass('more_pieces');
                    $('.section_products_summary').addClass('hiden_cards');
                }
                let item_prod = document.getElementsByClassName("count_product");
                let iprod;
                for (iprod = 0; iprod < item_prod.length; iprod++) {
                    item_prod[iprod].addEventListener("click", function () {
                        this.classList.toggle("active");
                        let sectionsummary = $('.section_products_summary');
                        let resultprod = sectionsummary.hasClass("hiden_cards");
                        if (resultprod) {
                            sectionsummary.removeClass('hiden_cards');
                        } else {
                            sectionsummary.addClass('hiden_cards');
                        }
                    });
                }

                $(window).load(function () {
                    let valcp = $("#zip").val();
                    if (valcp !== '') {
                        selectAddress(valcp);
                    }
                })
                $("#zip").on("keyup", function () {
                    let lengthcp = $(this).val().length;
                    let code_cp = $(this).val();
                    if (lengthcp === 5) {
                        selectAddress(code_cp);
                    }
                }, null);
                let suburbedit = "<?php echo $inboundAddress->getCustomAttribute("suburb") ? trim($inboundAddress->getCustomAttribute("suburb")->getValue()) : ''; ?>"

                function selectAddress(cpcode) {
                    $.ajax({
                        url: "<?= $block->getBaseUrl(); ?>customer/address/addresscp",
                        type: "POST",
                        showLoader: true,
                        cache: true,
                        data: {zip_code: cpcode},

                        success: function (response) {
                            $("#suburb_id").empty().append("<option value=''>Selecciona tu colonia</option>");
                            Object.keys(response[0]["neighborhood"]).forEach(function (key) {
                                let option = response[0]["neighborhood"][key];

                                $("#suburb_id").append("<option value='" + option["id"] + "'>" + option["colonia"] + "</option>").change();
                            });
                            $("#suburb_id option:contains('" + suburbedit + "')").attr('selected', true).change();
                            if (response[0].region) {
                                $("#region_id option:contains('" + response[0].region["region_name"] + "')").each(function () {
                                    if($(this).text() === response[0].region["region_name"]){
                                        $(this).attr('selected', true).change();
                                    }
                                });
                                $("#region").val(response[0].region["region_name"]).change();
                            }
                            if (response[0]["municipality"]) {
                                $("#city").val(response[0]["municipality"]["municipality_name"]).change();
                            }
                        },
                        error: function (response) {
                        }
                    });
                }

                $('#suburb_id').on('change', function () {
                    let suburb = $("#suburb_sel");
                    suburb.val(this.value);
                    suburb.change();
                }, null);

                let urlactual = window.location.href;
                let result = urlactual.search("edit");
                if (result > 0) {
                    $('#all-info-address').addClass('all-info-address');
                    $('.input-edit-info').removeClass('inpt-edit');
                }
                $("#primary_shipping").on("click", function () {
                    $(".inputaddress").prop("checked", this.checked);
                }, null);
            });
        </script>
        <script type="text/x-magento-init">
        {
            "#form-validate": {
                "addressValidation": {
                    "postCodes": <?= /* @noEscape */
            $block->getPostCodeConfig()->getSerializedPostCodes() ?>
                }
            },
            "#country": {
                "regionUpdater": {
                    "optionalRegionAllowed": <?= /* @noEscape */
            $_displayAll ? 'true' : 'false' ?>,
                    "regionListId": "#region_id",
                    "regionInputId": "#region",
                    "postcodeId": "#zip",
                    "form": "#form-validate",
                    "regionJson": <?= /* @noEscape */
            $viewModel->dataGetRegionJson() ?>,
                    "defaultRegion": "<?= (int)$block->getRegionId() ?>",
                    "countriesWithOptionalZip": <?= /* @noEscape */
            $viewModel->dataGetCountriesWithOptionalZip(true) ?>
                }
            }
        }



        </script>

        <?php
    }
} catch (NoSuchEntityException $e) {
    header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
} catch (LocalizedException $e) {
    header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
}
?>
