<?php

use Magento\Framework\Exception\NoSuchEntityException;
use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

try {
    $order = json_decode(json_encode($block->newOrder()[0]), true);
    $orderId = $order["inbound_order_id"];
    $trackingNumber = $order["tracking_number"] ? $order["tracking_number"] : 0;
    $order = json_decode(json_encode($block->getOrder($order["inbound_order_id"])[0]), true);

    if (!array_key_exists("products", $order) || empty($order["products"])) {
        header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
    }

    $ganancia = 0.0;
    foreach ($order["products"] as $product) {
        $ganancia += $product["calculator_sug_price"];
    }

    $attributesCatalog = $block->getAttributesByCode();
    $attributesCatalog = json_decode(json_encode($attributesCatalog[0]), true);
    $categories = $attributesCatalog["garment-categories"];
    $garments = $attributesCatalog["garments"];
    $genders = $attributesCatalog["gender"];
    $brands = $attributesCatalog["brands"];
    $materials = $attributesCatalog["materials"];
    $models = $attributesCatalog["models"];
    $colors = $attributesCatalog["colors"];
    $conditions = $attributesCatalog["conditions"];
    ?>

    <section class="mt-4 self-serve self-serve-value">
        <div class="row container-body py-4 pl-5 pr-5 pb-2">
            <div class="container col-lg-4 col-md-12 general-steps  step1">
                <h5 class="text-uppercase text-center">1. Describe tus piezas</h5>
                <hr>
            </div>
            <div class="container col-lg-4 col-md-12 general-steps  step2">
                <h5 class="text-uppercase text-center">2. Conoce tu ganancia</h5>
                <hr class="disabled">
            </div>
            <div class="container col-lg-4 col-md-12 general-steps  step3 step-disabled">
                <h5 class="text-uppercase text-center">3. Envía tus piezas</h5>
                <hr class="disabled">
            </div>
        </div>
    </section>

    <section class="mt-4 mb-4 section-profits">
        <h2 class="text-center titlevende">Vende en Troquer</h2>
        <p class="text-center">Los montos arrojados en esta calculadora son de carácter <span
                class="highlight">informativo</span> y <span class="highlight">no contractual</span>.<span
                id="priceButton"><img
                    src="<?= $block->getBaseurl(); ?>media/troquer/question.png" alt=""></span></p>
        <div class="row d-flex justify-content-center profits_estimate">
            <div class="col-lg-11 col-md-11 col-11 rw_profits">
                <div class="row">
                    <div class="col-12 col-lg-8 col-md-8 profit_result">
                        <h5 class="estimated-profit pb-2">Tu Ganancia estimada: <span
                                class="total-profit">$<?php echo number_format($ganancia, 0, '.', ','); ?></span>
                        </h5>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4 pieces_count">
                        <p class="count-pieces-value count_pieces"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <?php if (count($order["products"]) >= 10): ?>
        <div class="row d-flex justify-content-center buttons-pieces text-center pb-5">
            <div class="col-12 service-value">
                <div class="container">
                    <p>¿Alguna de tus piezas no tiene ganancia estimada o la que te muestra no te convence?&nbsp;<a
                            href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita."
                            target="_blank">Habla con un experto</a></p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="btn-actions col-12 col-md-6 col-lg-6 pt-3">
                        <a href="<?= $block->getBaseurl(); ?>vende/hazlo-en-linea">
                            <button type="button" class="addpiece primary">Añadir otra pieza</button>
                        </a>
                    </div>
                    <div class="btn-actions col-12 col-md-6 col-lg-6 pt-3">
                        <a href="<?= $block->getBaseurl(); ?>vende/hazlo-en-linea/direccion">
                            <button type="button" class="value primary">Continuar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <section id="content_card_valued">
        <?php $order["products"] = array_reverse($order["products"]); ?>
        <?php foreach ($order["products"] as $product) { ?>
            <div class="card_product_value container-body mb-4">
                <div class="col-12">
                    <div class="container-valued row d-flex">
                        <div class="summary-img col-lg-2 col-4 col-md-3">
                            <img height="100" width="100" src="<?php echo $product["url"]; ?>" alt="">
                        </div>
                        <div class="summary-upload col-lg-3 col-6 col-md-6">
                            <div class="info-summary">
                                <input id="editgender" type="hidden" value="<?php echo $product["gender"]; ?>">
                                <input id="editgarment" type="hidden" data-type="<?php echo $product["garment_id"]; ?>" value="<?php echo $product["garment"]; ?>">
                                <input id="editcategory" type="hidden" value="<?php echo $product["garment_category"]; ?>">
                                <input id="editbrand" type="hidden" data-type="<?php echo $product["brand_id"]; ?>" data-id="<?php echo $product["brand_id"]; ?>" value="<?php echo $product["brand"]; ?>">
                                <input id="editmodel" type="hidden" data-id="<?php echo $product["model_id"]; ?>" value="<?php echo $product["model"]; ?>">
                                <input id="editmaterial" type="hidden" data-type="<?php echo $product["material_id"]; ?>" data-id="<?php echo $product["material_id"]; ?>" value="<?php echo $product["material"]; ?>">
                                <input id="editcolor" type="hidden" data-id="<?php echo $product["color_id"]; ?>" value="<?php echo $product["color"]; ?>">
                                <input id="editcondition" type="hidden" data-type="<?php echo $product["condition_id"]; ?>" data-id="<?php echo $product["condition_id"]; ?>" value="<?php echo $product["condition"]; ?>">
                                <input id="editprice" type="hidden" value="<?php echo $product["original_price"]; ?>">
                                <input id="editphoto" type="hidden" value="<?php echo $product["url"]; ?>">

                                <p class="brand-name"><?php echo $product["brand"] ?></p>
                                <p class="brand"><?php echo $product["garment"] ?></p>
                                <p class="status"><?php echo $product["condition"] ?></p>
                                <!-- <span class="editSummary edit">Editar</span> -->
                                <?php if (!$product["calculator_sug_price"]) : ?>
                                    <p class="txt-14 no-valued-mob">Valuación no disponible</p>
                                <?php else: ?>
                                    <p class="txt-14 txt-profit-mob">Ganancia
                                        <span>$<?php echo number_format($product["calculator_sug_price"], 0, '.', ','); ?></span>
                                    </p>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="btn-action-upload col-lg-1 col-2 col-md-1">
                            <div class="row">
                                <div class="col-12 col-lg-8 col-md-8 action_collpase">
                                    <h4 class="col-1 lnk-gan"></h4>
                                </div>
                                <div class="col-12 col-lg-4 col-md-4 action_delete">
                                    <h4 class="col-1 btn-delete-upload deleteitemButton"
                                        id="<?php echo $product["id"]; ?>"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 col-md-12 info_ganancia">
                            <div class="col-xs-12 pt-3">
                                <?php if (!$product["calculator_sug_price"]) : ?>
                                    <p class="no-valued-desk">Valuación no disponible</p>
                                    <p>Tu prenda parece muy interesante, no hemos podido hacer un cálculo acertado.
                                        Puedes continuar
                                        con el proceso y darle seguimiento desde tu perfil o eliminarlo de esta
                                        lista.</p>
                                <?php else: ?>
                                    <div class="d-flex justify-content-between from-to">
                                        <p class="txt-12">Desde</p>
                                        <p class="txt-12">Hasta</p>
                                    </div>
                                    <div class="line-profit"></div>
                                    <div class="bullet-profit"></div>
                                    <div class="d-flex justify-content-between">
                                        <p class="txt-12">
                                            $<?php echo number_format($product["calculator_min_price"], 0, '.', ','); ?></p>
                                        <p class="total-profit">
                                            $<?php echo number_format($product["calculator_sug_price"], 0, '.', ','); ?></p>
                                        <p class="txt-12">
                                            $<?php echo number_format($product["calculator_max_price"], 0, '.', ','); ?></p>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
        <div class="row d-flex justify-content-center buttons-pieces text-center pb-5">
            <div class="col-12 service-value">
                <div class="container">
                    <p>¿Alguna de tus piezas no tiene ganancia estimada o la que te muestra no te convence?&nbsp;<a
                            href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita."
                            target="_blank">Habla con un experto</a></p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="btn-actions col-12 col-md-6 col-lg-6 pt-3">
                        <a href="<?= $block->getBaseurl(); ?>vende/hazlo-en-linea">
                            <button type="button" class="addpiece primary">Añadir otra pieza</button>
                        </a>
                    </div>
                    <div class="btn-actions col-12 col-md-6 col-lg-6 pt-3">
                        <a href="<?= $block->getBaseurl(); ?>vende/hazlo-en-linea/direccion">
                            <button type="button" class="value primary">Continuar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="priceModal" class="modal  modalcp">
        <div class="modal-content content-modalcp">
            <div class="encabezado-modal">
                <span class="title-condition">&nbsp;</span>
                <button type="button" class="price-modal-close close" data-dismiss="modal"></button>
            </div>
            <div class="bodymodalcp">
                <p class="text-center text-price">Nuestras estimaciones se basan en variables de marca, categoría de
                    pieza y
                    modelo en casos particulares. Partimos del cálculo del promedio de ventas históricas de artículos
                    similares en el sitio web de Troquer.</p>
            </div>
        </div>
    </div>
    <div id="deleteitemModal" class="modal  modalcp">
        <div class="modal-content content-modalcp">
            <div class="encabezado-modal">
                <span class="title-condition">Eliminar pieza</span>
            </div>
            <div class="bodymodalcp">
                <p class="text-center text-price"><span
                        class="highlight">¿Estas segurx de querer eliminar esta pieza?</span></p>
                <div class="row btn-actions-delete-modal">
                    <div class="btn-actions col-12 col-lg-6 pt-3">
                        <button type="button" class="secondary">Eliminar</button>
                    </div>
                    <div class="btn-actions col-12 col-lg-6 pt-3">
                        <button type="button" class="primary deleteitem-modal-close">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="summaryModal" class="modal  modalcp">
        <div class="modal-content modal-summary">
            <div class="encabezado-modal">
                <span>Editar pieza</span>
                <button type="button" class="close closesummary" data-dismiss="modal"></button>
            </div>
            <div class="bodymodalcp">
                <section id="characteristics" class="mt-4 mb-4 self-serve-characteristic">
                    <div class="row container-body pt-5 pb-2">

                        <div class="container col-lg-12">
                            <p class="required">*Campos obligatorios</p>
                            <div class="btn-group pb-4" role="group" aria-label="First group">
                                <button id="modalbrand" type="button"
                                        class="btn-select btn-active-model select_opc_edit"><span
                                        class="titleself txt-brand">*Marca: </span>&nbsp;<span class="infoself"></span>
                                </button>
                            </div>
                            <div class="btn-group w-100 pb-4 divmodel" id="divmodel" role="group"
                                 aria-label="First group">
                                <button id="modalmodel" type="button"
                                        class="btn-select btn-active-model select_opc_edit disabledmodalmodel"><span
                                        class="titleself txt-model">Modelo: </span>&nbsp;<span class="infoself"></span>
                                </button>
                            </div>
                            <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                                <button id="modalmaterial" type="button"
                                        class="btn-select btn-active-model select_opc_edit"><span
                                        class="titleself txt-material">*Material: </span>&nbsp;<span
                                        class="infoself"></span></button>
                            </div>
                            <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                                <button id="modalcolor" type="button"
                                        class="btn-select btn-active-model select_opc_edit"><span
                                        class="titleself txt-color">*Color: </span>&nbsp;<span class="infoself"></span>
                                </button>
                            </div>
                            <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                                <button id="modalestado" type="button"
                                        class="btn-select btn-active-model select_opc_edit"><span
                                        class="titleself txt-estado">*Estado de uso: </span>&nbsp;<span
                                        class="infoself"></span></button>
                            </div>
                            <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                                <button id="modalprecio" type="button"
                                        class="btn-select btn-active-model select_opc_edit"><span
                                        class="titleself txt-precio">Precio original: </span>&nbsp;<span
                                        class="infoself"></span></button>
                            </div>
                            <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                                <button id="modalphoto" type="button"
                                        class="btn-select btn-active-model select_opc_edit"><span
                                        class="titleself txt-precio">Fotografías</span>&nbsp;<span
                                        class="infoself">1</span></button>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row d-flex justify-content-center select_to_edit">
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <div class="btn-acept">
                            <button id="button_confirm" class="button-troquer button-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal_edit">
                <div class="content_edit_">
                    <div class="info_edit content_edit edit_brand">
                        <div class="modal-content modal-selfserve">
                            <div class="bodymodalcp material_edit">
                                <div class="content-modal-selfserve row">
                                    <div class="search-input col-12 col-lg-3 col-md-3">
                                        <div class="inputsearch input_serach_modals">
                                            <label class="lbl_search lbl_hide" for="search_brand"></label>
                                            <input id="search_brand" class="search_general input_serach_modals"
                                                   type="text" placeholder="Empezar a buscar...">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="list-search col-12 col-lg-9 col-md-9">
                                        <div class="select-modelo">
                                            <ul id="listBrand" class="list-modelo list-filters-select"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" text-center">
                            <button id="save_change_brand" class="btn_change btn_change_disabled">Guardar cambios
                            </button>
                        </div>
                    </div>
                    <div class="info_edit content_edit edit_model">
                        <div class="modal-content modal-selfserve">
                            <div class="bodymodalcp material_edit">
                                <div class="content-modal-selfserve row">
                                    <div class="search-input col-12 col-lg-3 col-md-3">
                                        <div class="inputsearch input_serach_modals">
                                            <label class="lbl_search lbl_hide" for="search_model"></label>
                                            <input id="search_model" class="search_general input_serach_modals"
                                                   type="text" placeholder="Empezar a buscar...">
                                        </div>
                                    </div>
                                    <div class="list-search col-12 col-lg-9 col-md-9">
                                        <div class="select-modelo">
                                            <ul id="listModel" class="list-modelo list-filters-select"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class=" text-center">
                            <button id="save_change_model" class="btn_change btn_change_disabled">Guardar cambios
                            </button>
                        </div>
                    </div>
                    <div class="info_edit content_edit edit_material">
                        <div class="modal-content modal-selfserve">
                            <div class="bodymodalcp material_edit">
                                <div class="content-modal-selfserve row">
                                    <div class="search-input col-12 col-lg-3 col-md-3">
                                        <div class="inputsearch input_serach_modals">
                                            <label class="lbl_search lbl_hide" for="search_material"></label>
                                            <input id="search_material" class="search_general input_serach_modals"
                                                   type="text" placeholder="Empezar a buscar...">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="list-search col-12 col-lg-9 col-md-9">
                                        <div class="select-modelo">
                                            <ul id="listMaterial" class="list-modelo list-filters-select">
                                                <?php foreach ($materials as $material) { ?>
                                                    <li>
                                                        <div class="select-material selectinpt">
                                                            <input type="radio" id="material-<?= $material["id"]; ?>"
                                                                   name="material" value="<?= $material["id"]; ?>">
                                                            <label class="lblmaterial"
                                                                   for="material-<?= $material["id"]; ?>"><?= $material["material"]; ?></label><br>
                                                        </div>
                                                    </li>
                                                <?php } ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" text-center">
                            <button id="save_change_material" class="btn_change btn_change_disabled">Guardar cambios
                            </button>
                        </div>
                    </div>
                    <div class="info_edit content_edit edit_color">
                        <div class="container col-lg-12 col-md-12 col-12 characteristic-mobile edit_brand_modal">
                            <h5 class="font-weight-bold">Color</h5>
                            <div class="line mt-3 mb-4"></div>
                            <div class="list-search">
                                <div class="select-color">
                                    <ul class="list-color">
                                        <?php foreach ($colors as $color) { ?>
                                            <li>
                                                <?php $colorformated = strtolower(str_replace(' ', '', $color["name"])); ?>
                                                <div class="select-color-inf selectinpt">
                                                    <input type="radio" id="color-<?= $color["id"]; ?>" name="color"
                                                           value="<?= $color["id"]; ?>">
                                                    <label id="<?= $color["name"]; ?>" class="_color lblcolor"
                                                           for="color-<?= $color["id"]; ?>"
                                                           style="background: <?= $color["value"]; ?> !important;"></label>
                                                    <span id="<?= $color["id"]; ?>"><?= $color["name"]; ?></span>
                                                </div>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class=" text-center">
                            <button id="save_change_color" class="btn_change btn_change_disabled">Guardar cambios
                            </button>
                        </div>
                    </div>
                    <div class="info_edit edit_statuse content_edit edit_use_status">
                        <div class="container col-lg-12 col-md-12 col-12 characteristic-mobile edit_brand_modal">
                            <h5 class="font-weight-bold">Estado de Uso</h5>
                            <div class="line mt-3 mb-4"></div>
                            <div class="list-search col-12 col-lg-12 col-md-12">
                                <div class="select-estado edit-select-estado">
                                    <div class="sup-statususe">
                                        <div class="select-usestatus selectinpt">
                                            <?php $conditionformateduno = strtolower(str_replace(' ', '', $conditions[0]["condition"])); ?>
                                            <div id="status-<?= $conditions[0]["id"] ?>" class="info-statu"
                                                 data-value="<?= $conditions[0]["id"]; ?>">
                                                <h4 class="estado-select"><?= $conditions[0]["condition"]; ?></h4>
                                                <p><?= $conditions[0]["description"]; ?></p>
                                            </div>
                                        </div>
                                        <div class="select-usestatus selectinpt">
                                            <?php $conditionformateddos = strtolower(str_replace(' ', '', $conditions[1]["condition"])); ?>
                                            <div id="status-<?= $conditions[1]["id"] ?>" class="info-statu"
                                                 data-value="<?= $conditions[1]["id"]; ?>">
                                                <h4 class="estado-select"><?= $conditions[1]["condition"]; ?></h4>
                                                <p><?= $conditions[1]["description"]; ?></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inf-statususe">
                                        <div class="select-usestatus selectinpt">
                                            <?php $conditionformatedtres = strtolower(str_replace(' ', '', $conditions[2]["condition"])); ?>
                                            <div id="status-<?= $conditions[2]["id"] ?>" class="info-statu"
                                                 data-value="<?= $conditions[2]["id"]; ?>">
                                                <h4 class="estado-select"><?= $conditions[2]["condition"]; ?></h4>
                                                <p><?= $conditions[2]["description"]; ?></p>
                                            </div>
                                        </div>
                                        <div class="select-usestatus selectinpt">
                                            <?php $conditionformatedcuatro = strtolower(str_replace(' ', '', $conditions[3]["condition"])); ?>
                                            <div id="status-<?= $conditions[3]["id"] ?>" class="info-statu"
                                                 data-value="<?= $conditions[3]["id"]; ?>">
                                                <h4 class="estado-select"><?= $conditions[3]["condition"]; ?></h4>
                                                <p><?= $conditions[3]["description"]; ?></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" text-center">
                            <button id="save_change_condition" class="btn_change btn_change_disabled">Guardar cambios
                            </button>
                        </div>
                    </div>
                    <div class="info_edit content_edit edit_price">
                        <div class="container col-lg-12 col-md-12 col-12 price_mobile">
                            <h5 class="font-weight-bold">Precio Original</h5>
                            <div class="line mt-3 mb-4"></div>
                            <div class="pb-4 text-characteristic-price">
                                <p>Añadir el precio original (de boutique) ayudará a mejorar el cálculo del precio de
                                    publicación, aunque no es obligatorio en caso de no contar con él</p>
                                <div class="input-precio">
                                    <div class="input-pr">
                                        <label for="valueprice">Precio original</label>
                                        <input id="valueprice" pattern="[0-9]" type="text" placeholder="$0">
                                        <p class="no-required">*Este campo no es obligatorio</p>
                                    </div>
                                    <div class="btn-pric">
                                        <input id="priceselect" type="checkbox"><label class="lblpricenot"
                                                                                       for="priceselect"></label><span
                                            class="text-price-tag">No recuerdo el precio original</span>
                                        <br>
                                        <div class="errorprice">
                                            <span class="tooltip-error-price">Si no cuentas con el precio orginal, activa la casilla anterior</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" text-center">
                            <button id="save_change_price" class="btn_change btn_change_disabled">Guardar cambios
                            </button>
                        </div>
                    </div>
                    <div class="info_edit content_edit edit_photo">
                        <div class="container col-lg-12 col-md-12 col-12 upload-section-edit">
                            <h5>Fotografías</h5>
                            <div class="line mt-3 mb-4"></div>
                            <p class="text-indicator pb-1">Sube la foto de tu pieza</p>
                            <div class="upload-photo">
                                <div class="picture-block col-lg-12 col-md-12 col-12 pb-1">
                                    <div class="block-infopicture">
                                        <div class="box-picture_">
                                            <input type="file" id="fileimage" accept="image/*">
                                            <label for="fileimage"></label>
                                            <img class="photo_upload" id="output" alt="photo_upload" src="#"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="tips-photos col-lg-12">
                                    <p class="title-tips">Tips para tomar la mejor foto de tu pieza</p>
                                    <ul>
                                        <li>1.- Coloca tu pieza en un lugar donde no haya otros objetos</li>
                                        <li>2.- Mantén una buena iluminación en el lugar donde tomarás la foto</li>
                                        <li>3.- No utilices flash</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class=" text-center">
                            <button id="save_change_photo" class="btn_change btn_change_disabled">Guardar cambios
                            </button>
                        </div>
                        <div class="info_edit content_edit btn_save_photo text-center">
                            <span class="btn_cancel">Cancelar</span>
                        </div>
                    </div>
                    <div class="info_edit content_edit btn_save text-center btn_all_save">

                        <span class="btn_cancel">Cancelar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form style="display: none" action="<?= $block->getBaseurl(); ?>sales/sale/saveproduct" method="POST" id="form-edit-product">
        <input type="hidden" id="category_id_edit" name="category_id_edit" value/>
        <input type="hidden" id="inbound_order_id_edit" name="inbound_order_id_edit" value="<?php echo $orderId; ?>"/>
        <input type="hidden" id="color_id_edit" name="color_id_edit" value/>
        <input type="hidden" id="material_id_edit" name="material_id_edit" value/>
        <input type="hidden" id="condition_id_edit" name="condition_id_edit" value/>
        <input type="hidden" id="photo_edit_edit" name="photo_edit" value/>
        <input type="hidden" id="brand_id_edit" name="brand_id_edit" value/>
        <input type="hidden" id="model_id_edit" name="model_id_edit" value/>
        <input type="hidden" id="original_price_edit" name="original_price_edit" value/>
    </form>

    <script>
        require([
            'jquery',
            'listnavjs'
        ], function ($) {
            let arrayBrands = <?= json_encode($brands) ?>;
            let arrayModels = <?= json_encode($models) ?>;
            let order_id = localStorage.getItem("inbound_order_id");
            if (!order_id) {
                window.location.href = "/vende/hazlo-en-linea";
            }

            const modal = $("#deleteitemModal");
            let span = $(".deleteitem-modal-close")[0];
            let btnmodals = $(".deleteitemButton");
            let i;
            for (i = 0; i < btnmodals.length; i++) {
                $(btnmodals[i]).on("click", function () {
                    modal.find('.secondary').attr("id", this.id);
                    modal.show();
                    modal.find('.secondary').on("click", function () {
                        let product_id = modal.find('.secondary').attr("id");
                        modal.hide();
                        $.ajax({
                            url: "/sales/sale/deleteproduct",
                            type: "POST",
                            data: {
                                inbound_order_id: localStorage.getItem("inbound_order_id"),
                                product_id: product_id
                            },
                            showLoader: true,
                            cache: true,
                            success: function () {
                                window.location.href = "/vende/hazlo-en-linea/ganancia-estimada";
                            }
                        });
                    });
                }, null);
            }
            $(span).on("click", function () {
                modal.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.hide();
                }
            }

            const modal_price = $("#priceModal");
            let btn_price = $("#priceButton");
            let span_price = $(".price-modal-close")[0];
            btn_price.on("click", function () {
                modal_price.show();
            }, null);
            $(span_price).on("click", function () {
                modal_price.hide();
            }, null);
            window.onclick = function (event) {
                if (event.target === modal_price) {
                    modal_price.show();
                }
            }

            let item_count = $(".lnk-gan");
            for (i = 0; i < item_count.length; i++) {
                $(item_count[i]).on("click", function () {
                    this.classList.toggle("active");
                    let content = $(this).parent().parent().parent().next().get();
                    let resultitem = $(content).hasClass("show_ganancia");
                    if (resultitem) {
                        $(content).removeClass('show_ganancia');
                    } else {
                        $(content).addClass('show_ganancia');
                    }
                }, null);
            }

            let countproducts = $('.card_product_value').length;
            if (countproducts > 1) {
                $('.count_pieces').text(countproducts + ' pieza(s)');
            } else {
                $('.count_pieces').text(countproducts + ' pieza');
            }

            $('.closesummary').on("click", function () {
                $('#summaryModal').hide();
                $('.info-departament strong').text('');
                $('.info-category strong').text('');
                $('.info-garment strong').text('');
                $('.info-brand strong').text('');
                $('.info-model strong').text('');
                $('.info-material strong').text('');
                $('.info-color strong').text('');
                $('.info-use strong').text('');
                $('.info-price strong').text('');
                $("#divmodel").addClass('.divmodel');
                $(".bodymodalcp").show();
                $(".modal_edit").hide();
                $(".input_serach_modals").val('');
                $('#divmodel').addClass('divmodel');
                $('.list-filters-select li').show();
            }, null);

            let modaledit = $('.editSummary');
            modaledit.each(function () {
                $(this).on("click", function () {
                    let _category = $(this).parent().find('#editcategory').val();
                    let _editbrand = $(this).parent().find('#editbrand').val();
                    let _editmodel = $(this).parent().find('#editmodel').val();
                    let _editmaterial = $(this).parent().find('#editmaterial').val();
                    let _editcolor = $(this).parent().find('#editcolor').val();
                    let _editcondition = $(this).parent().find('#editcondition').val();
                    let _editprice = $(this).parent().find('#editprice').val();
                    let _editphoto = $(this).parent().find('#editphoto').val();
                    let _editcategory = $(this).parent().find('#editcategory').val();

                    let _brandindex = $(this).parent().find('#editbrand').attr('data-id');
                    modelSelectPopulate(_brandindex);

                    if(_editmodel !== "No Disponible"){
                        $('#divmodel').removeClass('divmodel');
                    }

                    let color_id = $(this).parent().find('#editcolor').data("id");
                    let material_id = $(this).parent().find('#editmaterial').data("id");
                    let condition_id = $(this).parent().find('#editcondition').data("id");
                    let brand_id = $(this).parent().find('#editbrand').data("id");
                    let model_id = $(this).parent().find('#editmodel').data("id");

                    $('#form-edit-product > #color_id_edit').val(color_id);
                    $('#form-edit-product > #material_id_edit').val(material_id);
                    $('#form-edit-product > #condition_id_edit').val(condition_id);
                    $('#form-edit-product > #photo_edit_edit').val('');
                    $('#form-edit-product > #brand_id_edit').val(brand_id);
                    $('#form-edit-product > #model_id_edit').val(model_id);
                    $('#form-edit-product > #category_id_edit').val(_editcategory);
                    $('#form-edit-product > #original_price_edit').val(_editprice);

                    let modalinfoedit = $('#summaryModal');
                    modalinfoedit.show();
                    modalinfoedit.find('#modalbrand .infoself').text(_editbrand);
                    modalinfoedit.find('#modalmodel .infoself').text(_editmodel);
                    modalinfoedit.find('#modalmaterial .infoself').text(_editmaterial);
                    modalinfoedit.find('#modalcolor .infoself').text(_editcolor);
                    modalinfoedit.find('#modalestado .infoself').text(_editcondition);
                    modalinfoedit.find('#modalprecio .infoself').text(_editprice);
                    modalinfoedit.find('.box-picture_ .photo_upload').attr("src", _editphoto);
                    brandSelectPopulateEdit(_category);
                }, null);
            });

            function brandSelectPopulateEdit(category_name) {
                let listbrand = $('#listBrand');
                listbrand.empty();
                $('#listBrand-nav').remove();
                let i;
                for (i = 0; i < Object.keys(arrayBrands).length; i++) {
                    let indValue = Object.values(arrayBrands)[i];
                    if ($.inArray(category_name, indValue["salable"]) !== -1) {
                        listbrand.append(
                            '<li>\n' +
                            '<div class="select-model selectinpt">\n' +
                            '<input type="radio" id="brand-' + indValue["id"] + '" name="brand" value="' + indValue["id"] + '">\n' +
                            '<label class="lblbrands" data-type="' + indValue["has_models"] + '" data-index="' + indValue["id"] + '" for="brand-' + indValue["id"] + '">' + indValue["brand"] + '</label><br>\n' +
                            '</div>\n' +
                            '</li>'
                        );
                    }
                }
                let selectedEditBrand = '';
                let selectedEditBrandId = '';
                let selectedEditBrandHasModels = '';

                let lblbrands = $(".lblbrands");
                lblbrands.each(function () {
                    $(this).on("click", function () {
                        let btn_change = $('.btn_change');
                        btn_change.removeClass('btn_change_disabled');
                        btn_change.addClass('selec_to_edit')
                        selectedEditBrand = $(this).text();
                        selectedEditBrandId = $(this).data("index");
                        selectedEditBrandHasModels = $(this).data("type");
                    }, null);
                });
                let mediaqueryWidth = window.matchMedia("(min-width: 768px)");
                if (mediaqueryWidth.matches) {
                    listbrand.listnav({
                        includeNums: true,
                        includeAll: false,
                        removeDisabled: true
                    });
                }

                $('#save_change_brand').on("click", function () {
                    $('#modalbrand > .infoself').text(selectedEditBrand);
                    $('#form-edit-product > #brand_id_edit').val(selectedEditBrand);
                    if(selectedEditBrandHasModels && $('#form-edit-product > #category_id_edit').val() === 'Bolsas') {
                        modelSelectPopulate(selectedEditBrandId);
                    }

                    $('#modalmodel').removeClass('btn-active-model');
                    $('#modalmodel > .txt-model').text('Modelo');
                    $('#modalmodel > .infoself').text('');
                }, null);
            }

            function modelSelectPopulate(selectedEditBrandId) {

                let listmodel = $('#listModel');
                $('#listModel-nav').remove();
                $('#divmodel').removeClass('divmodel');
                listmodel.empty();
                let i;
                for (i = 0; i < arrayModels.length; i++) {
                    if (parseInt(arrayModels[i]["brand_id"]) === parseInt(selectedEditBrandId)) {
                        listmodel.append(
                            '<li>\n' +
                            '<div class="select-model selectinpt">\n' +
                            '<input type="radio" id="model-' + arrayModels[i]["id"] + '" name="model" value="' + arrayModels[i]["name"] + '">\n' +
                            '<label class="lblmodel" data-index="' + arrayModels[i]["id"] + '" for="model-' + arrayModels[i]["id"] + '">' + arrayModels[i]["name"] + '</label><br>\n' +
                            '</div>\n' +
                            '</li>'
                        );
                    }
                }

                let lblmdeledit = $(".lblmodel");
                let selectedEditModel = '';
                lblmdeledit.each(function () {
                    $(this).on("click", function () {
                        let lblmodel_text = $(this).text();
                        let btn_change = $('.btn_change');
                        btn_change.removeClass('btn_change_disabled');
                        btn_change.addClass('selec_to_edit');
                        selectedEditModel = lblmodel_text;
                    }, null);
                });
                $('#save_change_model').on("click", function () {
                    $('#modalmodel > .infoself').text(selectedEditModel);
                    $('#modalmodel > .txt-model').text('Modelo: ');
                    $('#form-edit-product > #model_id_edit').val(selectedEditModel);
                    $('#modalmodel').addClass('btn-active-model');

                }, null);

                let mediaqueryWidth = window.matchMedia("(min-width: 768px)");
                if (mediaqueryWidth.matches) {
                    listmodel.listnav({
                        includeNums: true,
                        includeAll: true,
                        removeDisabled: true
                    });
                }
            }

            let ele = document.getElementsByClassName("select_opc_edit");
            let iele;
            for (iele = 0; iele < ele.length; iele++) {
                ele[iele].addEventListener("click", function () {
                    this.classList.toggle("active");
                    $(".bodymodalcp").fadeOut("slow");
                    $(".modal_edit").fadeIn("slow");
                    $('.btn_save').removeClass('info_edit');
                    let id_label = $(this).attr('id');
                    switch (id_label) {
                        case 'modalbrand':
                            $('.edit_brand').removeClass('info_edit');
                            break;
                        case 'modalmodel':
                            $('.edit_model').removeClass('info_edit');
                            break;
                        case 'modalmaterial':
                            $('.edit_material').removeClass('info_edit');
                            break;
                        case 'modalcolor':
                            $('.edit_color').removeClass('info_edit');
                            break;
                        case 'modalestado':
                            $('.edit_statuse').removeClass('info_edit');
                            break;
                        case 'modalprecio':
                            $('.edit_price').removeClass('info_edit');
                            break;
                        case 'modalphoto':
                            $('.edit_photo').removeClass('info_edit');
                            $('.btn_save_photo').show();
                            $('.btn_all_save').hide();
                            $('.btn_save_photo .btn_change').removeClass('btn_change_disabled');
                            break;
                    }
                });
            }

            let selected_gender = $('.genderselected');

            selected_gender.on("click", function () {
                $(this).parent().parent().find('.genderselected').removeClass('activegenderselected');
                $(this).addClass('activegenderselected');
                let val = $(this).attr('data-value');
                $(this).parent().find('input').val(val);
            }, null);

            let lblmaterialedit = $(".lblmaterial");
            let lblcoloredit = $(".lblcolor");
            let infostatuedit = $(".info-statu");


            selected_gender.on("click", function () {
                let val = $(this).text();
                $('.info-departament > strong').text(val);
                $('.btn_change').removeClass('btn_change_disabled');

            }, null);
            $('#category-select').on("change", function () {
                let valcategory = $("#category-select option:selected").text();
                $('.info-category > strong').text(valcategory);
                $('.btn_change').removeClass('btn_change_disabled');
            }, null);

            $('#garment-select').on("change", function () {
                let valgarment = $("#garment-select option:selected").text();
                $('.info-garment > strong').text(valgarment);
                $('.btn_change').removeClass('btn_change_disabled');
            }, null);

            $('.btn_acept_modal').on("click", function () {
                $(".modal_edit").fadeOut("slow");
                $(".bodymodalcp").fadeIn("slow");
                $('.btn_change').addClass('btn_change_disabled');
                $('.content_edit').addClass('info_edit');
            }, null);



            let selectedEditMaterial = '';
            lblmaterialedit.each(function () {
                $(this).on("click", function () {
                    let lblmaterial_text = $(this).text();
                    let btn_change = $('.btn_change');
                    btn_change.removeClass('btn_change_disabled');
                    btn_change.addClass('selec_to_edit');
                    selectedEditMaterial = lblmaterial_text;
                }, null);
            });
            $('#save_change_material').on("click", function () {
                $('#modalmaterial > .infoself').text(selectedEditMaterial);
                $('#form-edit-product > #material_id_edit').val(selectedEditMaterial);

            }, null);

            $('.selec_to_edit').on("click", function () {
                $('#modalmaterial > .infoself').text();
            }, null);

            let selectedEditcolor = '';
            lblcoloredit.each(function () {
                $(this).on("click", function () {
                    $(this).addClass("listselect-active");
                    let lblcolor_text = $(this).next().text();
                    $('.btn_change').removeClass('btn_change_disabled');
                    selectedEditcolor = lblcolor_text;
                }, null);
            });
            $('#save_change_color').on("click", function () {
                $('#modalcolor > .infoself').text(selectedEditcolor);
                $('#form-edit-product > #color_id_edit').val(selectedEditcolor);

            }, null);

            let selectedEditcondition = '';
            infostatuedit.each(function () {
                $(this).on("click", function () {
                    $(this).removeClass('activegenderselected');
                    $(this).addClass('activegenderselected');
                    let lblusestatus_text = $(this).children('h4').text();
                    $('.btn_change').removeClass('btn_change_disabled');
                    selectedEditcondition = lblusestatus_text;
                }, null);
            });
            $('#save_change_condition').on("click", function () {
                $('#modalestado > .infoself').text(selectedEditcondition);
                $('#form-edit-product  > #condition_id_edit').val(selectedEditcondition);
            }, null);


            $("#fileimage").on("change", function () {
                accessPhoto(this);
            }, null);
            $(".photo_upload").on("click", function () {
                $('#fileimage').trigger('click');
                $('.btn_change').removeClass('btn_change_disabled');
            }, null);
            let dataimgurl = '';

            function accessPhoto(input) {
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (readerEvent) {
                        const image = new Image();
                        image.onload = function (_) {
                            let canvas = document.createElement('canvas'),
                                max_size = 1500,
                                width = image.width,
                                height = image.height;
                            if (width > height) {
                                if (width > max_size) {
                                    height *= max_size / width;
                                    width = max_size;
                                }
                            } else {
                                if (height > max_size) {
                                    width *= max_size / height;
                                    height = max_size;
                                }
                            }
                            canvas.width = width;
                            canvas.height = height;
                            canvas.getContext('2d').drawImage(image, 0, 0, width, height);
                            let dataUrl = canvas.toDataURL('image/jpeg');
                            let resizedImage = dataURLToBlob(dataUrl);
                            $.event.trigger({
                                type: "imageResized",
                                blob: resizedImage,
                                url: dataUrl
                            });
                            let output = $('#output');
                            output.attr('src', dataUrl);
                            dataimgurl = dataUrl;
                        }
                        image.src = readerEvent.target.result.toString();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('#save_change_photo').on("click", function () {
                $('#form-edit-product  > #photo_edit_edit').val(dataimgurl);
            }, null);

            function dataURLToBlob(dataURL) {
                let BASE64_MARKER = ';base64,';
                if (dataURL.indexOf(BASE64_MARKER) === -1) {
                    let parts = dataURL.split(',');
                    let contentType = parts[0].split(':')[1];
                    let raw = parts[1];

                    return new Blob([raw], {type: contentType});
                }

                let parts = dataURL.split(BASE64_MARKER);
                let contentType = parts[0].split(':')[1];
                let raw = window.atob(parts[1]);
                let rawLength = raw.length;

                let uInt8Array = new Uint8Array(rawLength);

                for (let i = 0; i < rawLength; ++i) {
                    uInt8Array[i] = raw.charCodeAt(i);
                }

                return new Blob([uInt8Array], {type: contentType});
            }

            $('._garmentselect').change(function () {
                if ($(this).is(":checked")) {
                    let valgarment = $(this).val();

                    $('.btn_change').removeClass('btn_change_disabled');
                    $('.info-departament strong').text(valgarment);
                }
            });

            $('#select_category').change(function () {
                let vacategory = $(this).children("option:selected").text();
                $('.btn_change').removeClass('btn_change_disabled');
                $('.info-category strong').text(vacategory);
            });
            $('#select_piece').change(function () {
                let vacategory = $(this).children("option:selected").val();
                $('.btn_change').removeClass('btn_change_disabled');
                $('.info-garment strong').text(vacategory);
            });

            $("#search_brand").on("keyup", function () {
                let value = $(this).val().toLowerCase();
                $("#listBrand li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            }, null);

            let brand = document.getElementsByClassName("lbl_select_brand");
            let ibran;
            for (ibran = 0; ibran < brand.length; ibran++) {
                brand[ibran].addEventListener("click", function () {
                    $(".bodymodalcp").fadeOut("slow");
                    $(".modal_edit").fadeIn("slow");
                    $('.btn_save').removeClass('info_edit');
                    $('.btn_change').removeClass('btn_change_disabled');
                    let text_ = $(this).text();
                    $('.info-brand strong').text(text_);

                });
            }

            $("#search_model").on("keyup", function () {
                let value = $(this).val().toLowerCase();
                $("#listModel li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            }, null);

            let vmodel = document.getElementsByClassName("lbl_select_model");
            let imodel;
            for (imodel = 0; imodel < vmodel.length; imodel++) {
                vmodel[imodel].addEventListener("click", function () {
                    $(".bodymodalcp").fadeOut("slow");
                    $(".modal_edit").fadeIn("slow");
                    $('.btn_save').removeClass('info_edit');
                    $('.btn_change').removeClass('btn_change_disabled');
                    let text_ = $(this).text();
                    $('.info-model strong').text(text_);

                });
            }

            $("#search_material").on("keyup", function () {
                let value = $(this).val().toLowerCase();
                $("#listMaterial li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            }, null);

            let vmat = document.getElementsByClassName("lbl_select_material");
            let imat;
            for (imat = 0; imat < vmat.length; imat++) {
                vmat[imat].addEventListener("click", function () {
                    $(".bodymodalcp").fadeOut("slow");
                    $(".modal_edit").fadeIn("slow");
                    $('.btn_save').removeClass('info_edit');
                    $('.btn_change').removeClass('btn_change_disabled');
                    let text_ = $(this).text();
                    $('.info-material strong').text(text_);
                });
            }

            let vcolor = document.getElementsByClassName("lbl_select_color");
            let icolor;
            for (icolor = 0; icolor < vcolor.length; icolor++) {
                vcolor[icolor].addEventListener("click", function () {
                    $(".bodymodalcp").fadeOut("slow");
                    $(".modal_edit").fadeIn("slow");
                    $('.btn_save').removeClass('info_edit');
                    $('.btn_change').removeClass('btn_change_disabled');
                    let text_ = $(this).prev().val()
                    $('.info-color strong').text(text_);
                });
            }

            let vstatus = document.getElementsByClassName("lblusestatusmob");
            let istatus;
            for (istatus = 0; istatus < vstatus.length; istatus++) {
                vstatus[istatus].addEventListener("click", function () {
                    $(".bodymodalcp").fadeOut("slow");
                    $(".modal_edit").fadeIn("slow");
                    $('.btn_save').removeClass('info_edit');
                    $('.btn_change').removeClass('btn_change_disabled');
                    let text_ = $(this).children('.estado-select').text();
                    $('.info-use strong').text(text_);

                });
            }
            let selectedEdit = '';
            $("#valueprice").on("keyup", function () {
                let priceorigin = $(this).val().length;
                let valinputval = $('#valueprice').val();
                if (priceorigin > 0) {
                    $('#btn-price').removeClass('desactivedbotton');
                    $('.btn_change').removeClass('btn_change_disabled');

                    $('.btn-pric').hide();
                    selectedEdit = valinputval;
                } else {
                    $('#btn-price').addClass('desactivedbotton');
                    $('.btn_change').addClass('btn_change_disabled');
                    $('.btn-pric').show();
                }
            }, null);

            $('#priceselect').on("change", function () {
                if ($(this).is(":checked")) {
                    $('#btn-price').removeClass('desactivedbotton');
                    $('.btn_change').removeClass('btn_change_disabled');
                    $('.input-pr').hide();
                    selectedEdit = "Desconocido";
                } else {
                    $('#btn-price').addClass('desactivedbotton');
                    $('.btn_change').addClass('btn_change_disabled');
                    $('.input-pr').show();
                }
            }, null);

            $('#save_change_price').on("click", function () {
                $('#modalprecio > .infoself').text(selectedEdit);
                $('#form-edit-product > #original_price_edit').val(selectedEdit);
            }, null);


            $('.btn_cancel').on("click", function () {
                $(".modal_edit").fadeOut("slow");
                $(".bodymodalcp").fadeIn("slow");
                $('.content_edit').addClass('info_edit');
            }, null);

            $('.btn_change').on("click", function () {
                $(".modal_edit").fadeOut("slow");
                $(".bodymodalcp").fadeIn("slow");
                $('.btn_change').addClass('btn_change_disabled');
                $('.content_edit').addClass('info_edit');
            }, null);

            $('#customFile').on("click", function () {
                if (this.files && this.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah')
                            .attr('src', e.target.result);
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            }, null);

            $('#button_confirm').on("click", function () {
                let brand_edit = $('.info-brand strong').text();
                let garment_edit = $('.info-garment strong').text();
                let departament_edit = $('.info-departament strong').text();
                let use_edit = $('.info-use strong').text();

                $('.brand-name strong').text(brand_edit);
                $('.pieces-brand span.brand').text(garment_edit);
                $('.pieces-garment .garment').text(departament_edit);
                $('.pieces-status span.status').text(use_edit);
                $('#summaryModal').hide();
            }, null);

            document.getElementById("fileimage").addEventListener("change", uploadPhoto);

            function uploadPhoto() {
                let output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function () {
                    URL.revokeObjectURL(output.src);
                }
            }

            let color_estado = document.getElementsByClassName("lblusestatusmob");
            let iestado;
            for (iestado = 0; iestado < color_estado.length; iestado++) {
                color_estado[iestado].addEventListener("click", function () {
                    $('.select-usestatus-mobile').removeClass('selected_card_use');
                    $(this).addClass("select-estado-active");
                    let txtselectestado = $(this).prev().val();
                    let modalestado = $('#modalestado');
                    $(this).parent().addClass('selected_card_use');
                    $('.btneditestado').remove();
                    modalestado.append('<span class="btneditestado close edit-upload ml-0 float-left " aria-hidden="true">×</span>');
                    $('#modalestado > span.txt-estado').text('*Estado de uso: ' + txtselectestado);
                    $('#btnacepstatus').removeClass('desactivedbotton');
                    modalestado.addClass('btn-active-model');
                });
            }
        });
    </script>
    <?php
} catch (NoSuchEntityException $e) {
    header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
} catch (Exception $e) {
    header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea');
}
?>
