<?php

use Magento\Framework\Exception\NoSuchEntityException;
use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

try {
    $order = json_decode(json_encode($block->newOrder()[0]), true);
    $orderId = $order["inbound_order_id"];
    $trackingNumber = $order["tracking_number"] ? $order["tracking_number"] : 0;
    if ($trackingNumber) {
        header('Location: ' . $block->getBaseurl() . 'vende/hazlo-en-linea/confirmacion-guia');
    } else {
        $attributesCatalog = $block->getAttributesByCode();
        $attributesCatalog = json_decode(json_encode($attributesCatalog[0]), true);
        $categories = $attributesCatalog["garment-categories"];
        $garments = $attributesCatalog["garments"];
        $genders = $attributesCatalog["gender"];
        $brands = $attributesCatalog["brands"];
        $materials = $attributesCatalog["materials"];
        $models = $attributesCatalog["models"];
        $colors = $attributesCatalog["colors"];
        $conditions = $attributesCatalog["conditions"];
        ?>
        <section class="mt-4 mb-4 self-serve">
            <div class="row container-body pt-4 pl-5 pr-5 pb-4">
                <div class="container col-lg-4 col-md-12 general-steps">
                    <h5 class="text-uppercase text-center">1. Describe tus piezas</h5>
                    <hr>
                </div>
                <div class="container col-lg-4 col-md-12 general-steps step-disabled">
                    <h5 class="text-uppercase text-center">2. Conoce tu ganancia</h5>
                    <hr class="disabled">
                </div>
                <div class="container col-lg-4 col-md-12 general-steps step-disabled">
                    <h5 class="text-uppercase text-center">3. Envía tus piezas</h5>
                    <hr class="disabled">
                </div>
            </div>
        </section>
        <section id="progressbar" class="mt-4 self-serve-info">
            <div class="row container-body pt-4 pl-5 pr-5 pb-2">
                <div class="container">
                    <ul class="progressbar">
                        <li id="pb-general"><span class="text-desk">Información general</span></li>
                        <li id="pb-characteristics"><span class="text-desk">Características</span></li>
                        <li id="pb-picture"><span class="text-desk">Fotografía</span></li>
                    </ul>
                    <div class="text-mob">
                        <p class="general" id="head-text"></p>
                    </div>
                </div>
            </div>
        </section>

        <section id="general" class="mt-4 mb-4 self-serve-info">
            <div class="row container-body info pb-2">
                <div class="container col-lg-4"></div>
                <div class="container col-lg-4 col-md-6 department">
                    <label class="lbl-title font-weight-bold">Departamento</label>
                    <div class="line mt-3 mb-4"></div>
                    <div class="btn-select-gender">
                        <?php foreach ($genders as $gender) { ?>
                            <?php $genderformated = strtolower(str_replace(' ', '', str_replace('é', 'e', $gender["name"]))); ?>
                            <div class="select-gender select-gender-<?= $genderformated ?> selectinpt">
                                <?php if ($genderformated == "mujer"): ?>
                                    <div class="genderselected " data-value="<?= $gender["id"] ?>">
                                        <?= $gender["name"]; ?>
                                    </div>
                                <?php else: ?>
                                    <div class="genderselected" data-value="<?= $gender["id"] ?>">
                                        <?= $gender["name"]; ?>
                                    </div>
                                <?php endif; ?>
                                <br>
                            </div>
                        <?php } ?>
                    </div>
                </div>
                <div class="container col-lg-4"></div>
            </div>
            <div class="row container-body pt-4 pb-2">
                <div class="container col-lg-4"></div>
                <div class="container col-lg-4 col-md-6 category">
                    <label for="category-select" class="lbl-title font-weight-bold">Categoría</label>
                    <div class="line mt-3 mb-4"></div>
                    <div class="d-flex" id="category-spinner">
                        <select id="category-select" class="browser-default custom-select">
                            <option value="0" selected>Selecciona la categoría</option>
                            <?php foreach ($categories as $category) { ?>
                                <option value="<?= $category["id"]; ?>"><?= $category["name"]; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="container col-lg-4"></div>
            </div>
            <div class="row container-body pt-5 pb-2">
                <div class="container col-lg-4"></div>
                <div class="container col-lg-4 col-md-6 type-piece">
                    <label for="garment-select" class="lbl-title font-weight-bold">Tipo de pieza</label>
                    <div class="line mt-3 mb-4"></div>
                    <div class="d-flex">
                        <select id="garment-select" class="browser-default custom-select">
                            <option value="0" data-value="0" selected>Selecciona el tipo de pieza</option>
                        </select>
                    </div>
                </div>
                <div class="container col-lg-4"></div>
            </div>
            <div class="row container-body text-center pt-5 pb-5">
                <button type="button" class="primary">Siguiente</button>
            </div>
        </section>

        <section id="characteristics" class="mt-4 mb-4 self-serve-characteristic" style="display: none;">
            <div class="row container-body pb-2">
                <div class="container col-lg-3"></div>
                <div class="container col-lg-6">
                    <p class="required">*Campos obligatorios</p>
                    <div class="btn-group pb-4" role="group" aria-label="First group">
                        <button id="modalbrand" type="button" class="btn-select"><span
                                class="titleself txt-brand">*Marca</span><span class="infoself"></span></button>
                    </div>
                    <div class="btn-group w-100 pb-4 divmodel" id="divmodel" role="group" aria-label="First group">
                        <button id="modalmodel" type="button" class="btn-select disabledmodalmodel"><span
                                class="titleself txt-model">Modelo</span><span class="infoself"></span></button>
                    </div>
                    <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                        <button id="modalmaterial" type="button" class="btn-select"><span
                                class="titleself txt-material">*Material</span><span
                                class="infoself"></span></button>
                    </div>
                    <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                        <button id="modalcolor" type="button" class="btn-select"><span
                                class="titleself txt-color">*Color</span><span class="infoself"></span></button>
                    </div>
                    <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                        <button id="modalestado" type="button" class="btn-select"><span class="titleself txt-estado">*Estado de uso</span><span
                                class="infoself"></span></button>
                    </div>
                    <div class="btn-group w-100 pb-4" role="group" aria-label="First group">
                        <button id="modalprecio" type="button" class="btn-select"><span class="titleself txt-precio">Precio original</span><span
                                class="infoself"></span></button>
                    </div>
                </div>
                <div class="container col-lg-3"></div>
            </div>
            <div class="row d-flex justify-content-center text-center container-body pb-5">
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="buttons_sections col-12 col-md-6 col-lg-6 pt-3">
                            <button type="button" class="secondary">Regresar</button>
                        </div>
                        <div class="buttons_sections col-12 col-md-6 col-lg-6 pt-3">
                            <button type="button" class="primary">Siguiente</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="picture" class="mt-4 mb-4 self-serve-picture" style="display: none;">
            <div class="row container-body picture pb-2">
                <div class="container col-lg-2"></div>
                <div class="container col-lg-8 col-md-8 upload-section">
                    <label class="lbl-title">Fotografía</label>
                    <div class="line mt-3 mb-4"></div>
                    <p class="text-indicator pb-5">Sube la fotografía de tu pieza</p>
                    <div class="upload-photo">
                        <div class="picture-block col-lg-4 pb-5">
                            <div class="block-infopicture text-center">
                                <div class="box-picture_">
                                    <input type="file" id="fileimage" accept="image/*">
                                    <label for="fileimage"></label>
                                    <img class="photo_upload" id="output" alt="photo_upload"
                                         src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/selfservefull/tomafoto.gif"/>
                                </div>
                                <span class="add-picture">Haz clic en la imagen para añadir fotografía</span>
                            </div>
                        </div>
                        <div class="tips-photos col-lg-8">
                            <p class="title-tips">Tips para tomar la mejor fotografía</p>
                            <ul>
                                <li>1.- Coloca tu pieza en un fondo claro</li>
                                <li>2.- Asegúrate de tener buena iluminación</li>
                                <li>3.- Muestra tu pieza completa; no recortes asas, mangas, correas o bordes</li>
                            </ul>
                            <br>
                            <p>¿Tienes dudas? Consulta <span id="photoButton"><u>aquí</u></span> los ejemplos para tomar
                                la
                                mejor fotografía de acuerdo a tu tipo de pieza.</p>
                        </div>
                    </div>
                </div>
                <div class="container col-lg-2"></div>
            </div>
            <div class="row d-flex justify-content-center text-center container-body pt-4 pb-5">
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="buttons_sections col-12 col-md-6 col-lg-6 pt-3">
                            <button type="button" class="secondary">Regresar</button>
                        </div>
                        <div class="buttons_sections col-12 col-md-6 col-lg-6 pt-3">
                            <button type="button" class="primary">Siguiente</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="cpModal" class="modal  modalcp">
            <div class="modal-content modal-selfserve">
                <div class="encabezado-modal">
                    <span>Selecciona el modelo</span>
                    <button type="button" class="close closemodel" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <div class="content-modal-selfserve">
                        <div class="col-12 norequire">
                            <p><span class="highlight">Este campo no es obligatorio</span><br>No es necesario llenar el campo si no recuerdas el modelo o no lo encuentras en la lista</p>
                        </div>
                        <div class="search-input col-12 col-lg-8">
                            <div class="inputsearch input_serach_modals">
                                <label class="lbl_search lbl_hide" for="search_model"></label>
                                <input id="search_model" class="search_general input_serach_modals" type="text" placeholder="Empezar a buscar...">
                            </div>
                            <br>
                            <div class="bnt-search">
                                <button id="btnacepmodel" class="btnselectmodel btnsearch desactivedbotton">Aceptar</button>
                            </div>
                        </div>
                        <div class="list-search col-12">
                            <div class="select-modelo">
                                <ul id="listModel" class="list-modelo list-filters-select"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="brandModal" class="modal  modalcp">
            <div class="modal-content modal-selfserve">
                <div class="encabezado-modal">
                    <span>Selecciona la marca</span>
                    <button type="button" class="close closemodal" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <div class="content-modal-selfserve">
                        <div class="search-input col-12 col-lg-8">
                            <div class="inputsearch input_serach_modals">
                                <label class="lbl_search lbl_hide" for="search_brand"></label>
                                <input id="search_brand" class="search_general input_serach_modals" type="text" placeholder="Empezar a buscar...">
                            </div>
                            <br>
                            <div class="bnt-search">
                                <button id="btnacepbrand" class="btnselectbrand btnsearch desactivedbotton">Aceptar</button>
                            </div>
                        </div>
                        <div class="list-search col-12">
                            <div class="select-modelo">
                                <ul id="listBrand" class="list-modelo list-filters-select"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="materialModal" class="modal  modalcp">
            <div class="modal-content modal-selfserve">
                <div class="encabezado-modal">
                    <span>Selecciona el material</span>
                    <button type="button" class="close closemat" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <div class="content-modal-selfserve">
                        <div class="search-input col-12 col-lg-8">
                            <div class="inputsearch input_serach_modals">
                                <label class="lbl_search lbl_hide" for="search_material"></label>
                                <input id="search_material" class="search_general input_serach_modals" type="text" placeholder="Empezar a buscar...">
                            </div>
                            <br>
                            <div class="bnt-search">
                                <button id="btnacepmaterial" class="btnselectmaterial btnsearch desactivedbotton">Aceptar</button>
                            </div>
                        </div>
                        <div class="list-search col-12">
                            <div class="select-modelo">
                                <ul id="listMaterial" class="list-modelo list-filters-select">
                                    <?php foreach ($materials as $material){ ?>
                                        <li>
                                            <div class="select-material selectinpt">
                                                <input type="radio" id="material-<?= $material["id"]; ?>" name="material" value="<?= $material["id"]; ?>">
                                                <label class="lblmaterial" for="material-<?= $material["id"]; ?>"><?= $material["material"]; ?></label><br>
                                            </div>
                                        </li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorModal" class="modal  modalcp">
            <div class="modal-content modal-selfserve">
                <div class="encabezado-modal">
                    <span>Selecciona el color</span>
                    <button type="button" class="close closecolor" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <div class="content-modal-selfserve row">
                        <div class="list-search col-12 col-lg-12 col-md-12">
                            <div class="select-color">
                                <ul class="list-color">
                                    <?php foreach ($colors as $color) { ?>
                                        <li>
                                            <?php $colorformated = strtolower(str_replace(' ', '', $color["name"])); ?>
                                            <div class="select-color-inf selectinpt">
                                                <input type="radio" id="color-<?= $color["id"]; ?>" name="color"
                                                       value="<?= $color["id"]; ?>">
                                                <?php if ($color["type"] === 1): ?>
                                                    <label id="<?= $color["name"]; ?>" class="_color lblcolor"
                                                           for="color-<?= $color["id"]; ?>"
                                                           style="background: <?= $color["value"]; ?> !important;"></label>
                                                <?php else: ?>
                                                    <label id="<?= $color["name"]; ?>" class="_color lblcolor"
                                                           for="color-<?= $color["id"]; ?>"
                                                           style="background: url(<?= $block->getBaseurl(); ?>media/attribute/swatch<?= $color["value"]; ?>) !important; background-size: contain !important;"></label>
                                                <?php endif; ?>
                                                <span id="<?= $color["id"]; ?>"><?= $color["name"]; ?></span>
                                            </div>
                                        </li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="bnt-search">
                            <button id="btnacepcolor" class="btnselectcolor btnsearch desactivedbotton">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="estadoModal" class="modal  modalcp">
            <div class="modal-content modal-selfserve">
                <div class="encabezado-modal">
                    <span>Selecciona el estado de uso</span>
                    <button type="button" class="close closeestado" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <div class="content-modal-selfserve row">
                        <div class="list-search col-12 col-lg-12 col-md-12">
                            <div class="select-estado">
                                <div class="sup-statususe">
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformateduno = strtolower(str_replace(' ', '', $conditions[0]["condition"])); ?>
                                        <div id="status-<?= $conditions[0]["id"] ?>" class="info-statu"
                                             data-value="<?= $conditions[0]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[0]["condition"]; ?></h4>
                                            <p><?= $conditions[0]["description"]; ?></p>
                                        </div>
                                    </div>
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformateddos = strtolower(str_replace(' ', '', $conditions[1]["condition"])); ?>
                                        <div id="status-<?= $conditions[1]["id"] ?>" class="info-statu"
                                             data-value="<?= $conditions[1]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[1]["condition"]; ?></h4>
                                            <p><?= $conditions[1]["description"]; ?></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="inf-statususe">
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformatedtres = strtolower(str_replace(' ', '', $conditions[2]["condition"])); ?>
                                        <div id="status-<?= $conditions[2]["id"] ?>" class="info-statu"
                                             data-value="<?= $conditions[2]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[2]["condition"]; ?></h4>
                                            <p><?= $conditions[2]["description"]; ?></p>
                                        </div>
                                    </div>
                                    <div class="select-usestatus selectinpt">
                                        <?php $conditionformatedcuatro = strtolower(str_replace(' ', '', $conditions[3]["condition"])); ?>
                                        <div id="status-<?= $conditions[3]["id"] ?>" class="info-statu"
                                             data-value="<?= $conditions[3]["id"]; ?>">
                                            <h4 class="estado-select"><?= $conditions[3]["condition"]; ?></h4>
                                            <p><?= $conditions[3]["description"]; ?></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bnt-search">
                                    <button id="btnacepstatus" class="btnselectstatus btnsearch desactivedbotton">
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="precioModal" class="modal  modalcp">
            <div class="modal-content modal-selfserve">
                <div class="encabezado-modal">
                    <span>Ingresa el precio original</span>
                    <button type="button" class="close closeprecio" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalcp">
                    <div class="content-modal-selfserve row">
                        <div class="list-search col-12 col-lg-12 col-md-12">
                            <div class="select-color">
                                <p>Ingresa el precio original de tu pieza, esto nos ayudará con el cálculo de asignación
                                    de
                                    precio de venta Troquer.</p>
                                <div class="input-precio">
                                    <div class="input-pr">
                                        <label for="valueprice">Precio original</label>
                                        <input id="valueprice" pattern="[0-9]" type="text" placeholder="$0">
                                        <p class="no-required">*Este campo no es obligatorio</p>
                                    </div>
                                    <div class="btn-pric">
                                        <input id="priceselect" type="checkbox"><label class="lblpricenot"
                                                                                       for="priceselect"></label><span
                                            class="text-price-tag">No recuerdo el precio original</span>
                                        <br>
                                        <div class="errorprice">
                                            <span class="tooltip-error-price">Si no cuentas con el precio orginal, activa la casilla anterior</span>
                                        </div>
                                    </div>
                                    <div class="btn-price-select">
                                        <button id="btn-price" class="btn-price desactivedbotton">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="photoModal" class="modal  modalcp">
            <div class="modal-content content-modalphotos">
                <div class="encabezado-modal">
                    <span class="title-condition">Ejemplos para tomar la fotografía</span>
                    <button type="button" class="photo-modal-close close" data-dismiss="modal"></button>
                </div>
                <div class="bodymodalphotos">
                    <div id="examples-images-slider-upload">
                        <div class="row info-owl-carousel owl-carousel">
                            <div class="item item-info-examples col-lg-4">
                                <p class="title-body-info">Bolsas</p>
                                <p class="text-body-info">De frente sin cortar bordes, asas o correa</p>
                                <div class="img-upload">
                                    <img
                                        src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/selfservefull/bolsa.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="item item-info-examples col-lg-4">
                                <p class="title-body-info">Ropa</p>
                                <p class="text-body-info">Extendida sin cortar mangas, cuello o dobladillo</p>
                                <div class="img-upload">
                                    <img
                                        src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/selfservefull/ropa.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="item item-info-examples col-lg-4">
                                <p class="title-body-info">Zapatos</p>
                                <p class="text-body-info">Ambos zapatos mostrando frente y suela</p>
                                <div class="img-upload">
                                    <img
                                        src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/selfservefull/calzado.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="item item-info-examples col-lg-4">
                                <p class="title-body-info">Accesorios</p>
                                <p class="text-body-info">De frente sin cortar partes de la pieza</p>
                                <div class="img-upload">
                                    <img
                                        src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/selfservefull/accesorios.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="item item-info-examples col-lg-4">
                                <p class="title-body-info">Joyería</p>
                                <p class="text-body-info">Acercamiento sin cortar partes de la pieza</p>
                                <div class="img-upload">
                                    <img
                                        src="<?= $block->getBaseurl(); ?>media/troquer/selfserve/selfservefull/joyeria.png"
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            require([
                                'jquery',
                                'owl.carousel/owl.carousel.min'
                            ], function ($) {
                                let mediaqueryList = window.matchMedia("(max-width: 768px)");
                                if (mediaqueryList.matches) {
                                    $("#examples-images-slider-upload .owl-carousel").owlCarousel({
                                        autoplay: true,
                                        autoplayTimeout: 5000,
                                        autoplayHoverPause: true,
                                        margin: 15,
                                        nav: false,
                                        navText: ["<em class='porto-icon-left-open-big'></em>", "<em class='porto-icon-right-open-big'></em>"],
                                        dots: true,
                                        loop: true,
                                        responsive: {
                                            0: {
                                                items: 1
                                            },
                                            575: {
                                                items: 2
                                            },
                                            768: {
                                                items: 1
                                            }
                                        }
                                    });
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <form style="display: none" action="<?= $block->getBaseurl(); ?>sales/sale/saveproduct" method="POST"
              id="form-save-product">
            <input type="hidden" id="inbound_order_id" name="inbound_order_id" value="<?php echo $orderId; ?>"/>
            <input type="hidden" id="color_id" name="color_id" value/>
            <input type="hidden" id="material_id" name="material_id" value/>
            <input type="hidden" id="condition_id" name="condition_id" value/>
            <input type="hidden" id="garment_id" name="garment_id" value/>
            <input type="hidden" id="garment_category_id" name="garment_category_id" value/>
            <input type="hidden" id="photo" name="photo" value/>
            <input type="hidden" id="brand_id" name="brand_id" value/>
            <input type="hidden" id="gender_id" name="gender_id" value/>
            <input type="hidden" id="model_id" name="model_id" value/>
            <input type="hidden" id="original_price" name="original_price" value/>
        </form>

        <script type="text/x-magento-init">
            {
                "*": {
                    "selfservejs": {
                        "order_id": <?= $orderId ?>,
                        "arrayGarments": <?= json_encode($garments) ?>,
                        "arrayBrands": <?= json_encode($brands) ?>,
                        "arrayModels": <?= json_encode($models) ?>
                    }
                }
            }
        </script>
    <?php
    }
} catch (NoSuchEntityException $e) {
    header('Location: ' . $block->getBaseurl() . 'vende');
}
?>
