<?php

use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

$order = json_decode(json_encode($block->newOrder()[0]), true);
$orderInfo = json_decode(json_encode($block->getOrder($order["inbound_order_id"])[0]), true);
$products = $orderInfo["products"];

$expiration_date = array_key_exists("shipping_guides", $orderInfo) && count($orderInfo["shipping_guides"]) ? $orderInfo["shipping_guides"][0]["expiration_date"] : '';
$urls = [];
?>

<div class="title-orders">
    <h2>Mis envíos</h2>
</div>
<div id="menu-sales">
    <div class="options-menu-sales menu-shipments">
        <ul id="list-menu-ship" class="owl-carousel owl-theme">
            <li id="shipments" class="lnk-menu-orders _currenshipment"><a href="<?= $block->getBaseurl(); ?>sales/sale/shipments">Activo</a></li>
            <li id="transit" class="lnk-menu-orders"><a href="<?= $block->getBaseurl(); ?>sales/sale/transit">En tránsito</a></li>
            <li id="received" class="lnk-menu-orders"><a href="<?= $block->getBaseurl(); ?>sales/sale/received">Recibido</a></li>
            <li id="expiredshipment" class="lnk-menu-orders"><a href="<?= $block->getBaseurl(); ?>sales/sale/expiredshipment">Expirado</a></li>
        </ul>
    </div>
</div>

<?php if(!$orderInfo["inbound_order"]["tracking_number"]): ?>
    <section id="notshipments">
        <div id="notshipments">
            <div id="Shipping-empty">
                <div class="empty-sales">
                    <div class="img-calendar-empty">
                        <img src="<?= $block->getBaseurl(); ?>media/troquer/icon-shipment-empty.png" alt="">
                        <p>No tienes ningún envío activo aún</p>
                    </div>
                </div>
            </div>
            <div class="row container-body">
                <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
                    <img class="no-disponible img-fluid"
                         src="<?= $block->getBaseurl(); ?>media/troquer/hazlo-por-tu-cuenta.jpg"
                         alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina"">
                    <img class="disponible img-fluid"
                         src="<?= $block->getBaseurl(); ?>media/troquer/servicio-no-disponible.png"
                         alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina"">
                </div>
                <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text method-primary">
                    <div class="line-tyc mt-4"></div>
                    <p class="pt-4 pb-3 cont-txt"><span class="font-weight-bold">Registra tus piezas y envíalas por mensajería</span><br/>
                        <span class="textsecnd">Llena nuestro formulario y envíanos tus piezas por mensajería desde cualquier parte de la República Mexicana.</span>
                    </p>
                    <div class="cont-btn pb-5">
                        <a class=""
                           href="<?= $block->getBaseurl(); ?>vende/hazlo-en-linea#informacion-general">
                            <button type="button" class="btn btn-principal">Hazlo en línea</button>
                        </a>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>
<?php else: ?>
    <section id="shipments">
        <div id="listshipment">
            <div id="shipmentactive">
                <div class="info-sup-guia">
                    <p>Envía tus piezas antes del <?php echo $expiration_date ?></p>
                    <p>Solicita la <span class="highlight">recolección a domicilio</span> completamente gratis al: <span
                            class="highlight">Llama al <u><a href="tel:+5552289904">55 5228 9904</a></u></span></p>
                </div>
                <div class="descrip-guia">
                    <div class="row d-flex justify-content-center">
                        <div class="content-princ col-lg-10 col-sm-8 col-md-10 col-11">
                            <div class="file-no-guia row">
                                <div class="detalles-guia col-lg-8 col-12">
                                    <p class="numeroguia">N° de guia <?php echo $orderInfo["inbound_order"]["tracking_number"] ?></p>
                                    <p class="numpiezas"><?php echo count($orderInfo["products"]) ?> piezas</p>
                                    <p class="dateexpired">Este envío expirará <?php echo $expiration_date ?></p>
                                </div>
                                <div class="btn-actions-guia col-lg-4 col-12">
                                    <div class="btn-dowload-guia">
                                        <a href="#">
                                            <div class="btn-dw-guia">
                                                <span onclick="window.open('<?php echo $orderInfo["shipping_guides"][0]["url"] ?>')">Descargar guia</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <?php if(count($orderInfo["shipping_guides"]) > 1): ?>
                                    <?php array_push($urls, $orderInfo["shipping_guides"][0]["url"]); ?>
                                    <div class="detalles-guia col-lg-8 col-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-8">
                                                <p class="_showtitleguias no-guias"><?php echo count($orderInfo["shipping_guides"]) - 1 ?> guias complementarias generadas</p>
                                                <ul class="list-guias-compl">
                                                    <?php foreach (array_slice($orderInfo["shipping_guides"], 1) as $key=>$guide) { ?>
                                                        <?php array_push($urls, $guide["url"]); ?>
                                                        <li>
                                                            <a class="lnk-guias" target="_blank" href="<?php echo $guide["url"] ?>">Descargar guia complementaria #<?php echo $guide["tracking_number"] ?></a>
                                                        </li>
                                                    <?php } ?>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-actions-guia col-lg-4 col-12">
                                        <div class="btn-dowload-guia-compl">
                                            <a href="#">
                                                <div class="btn-dw-guia-compl">
                                                    <span id="download_all">Descargar todas</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="file-address row">
                                <div class="address-customer-name col-lg-12 col-12 col-sm-12 col-12">
                                    <p class="name-customer"><?= strtolower($block->getCustomer()->getData('firstname')." ".$block->getCustomer()->getData('lastname'));?></p>
                                    <div class="address-customer">
                                        <p><?php echo $orderInfo["inbound_order"]["shipper_street"] ?>&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_number"] ?><?php echo $orderInfo["inbound_order"]["shipper_neighborhood"] ?>,&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_city"] ?>,&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_state_id"] ?>,&nbsp;<?php echo $orderInfo["inbound_order"]["shipper_zip_code"] ?></p>
                                    </div>
                                </div>
                            </div>

                            <div class="file-btns-cancel row">
                                <div class="btns-guia-cancel col-lg-12 col-12 col-sm-12 col-12">
                                    <p><span class="highlight">¿Utilizas más de una caja para tu envío?</span><br>
                                        Genera guías complemetarias para las demás cajas que utilices para enviar tus piezas.</p>
                                    <div class="row">
                                        <div class="col-12 col-lg-6 col-md-6">
                                            <a href="" class="guiacompl">
                                                <div class="btn-guia-complement">
                                                    <span id="complementary_guide">Guia complementaria</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="lnk-cancel col-12 col-lg-6 col-md-6">
                                            <a href="" class="cancelenvio">
                                                <span id="cancel_order">Cancelar envío</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form style="display: none" action="<?= $block->getBaseurl(); ?>sales/sale/slaveguide" method="POST" id="form-slave-guide">
        <input type="hidden" id="inbound_order_id" name="inbound_order_id" value="<?php echo $orderInfo["inbound_order"]["id"]; ?>"/>
    </form>

    <form style="display: none" action="<?= $block->getBaseurl(); ?>sales/sale/cancelorder" method="POST" id="form-cancel-order">
        <input type="hidden" id="inbound_order_id" name="inbound_order_id" value="<?php echo $orderInfo["inbound_order"]["id"]; ?>"/>
    </form>

    <div class="section_products_upload mb-4">
        <h3 class="title-pieces-summary">Resumen de tus piezas</h3>
        <h5 class="title_qty_prod count_product"></h5> <br>
        <div class="row section_products_summary">
            <?php foreach ($products as $product) { ?>
                <div class="col-12 col-lg-4 col-md-6 info_products_card">
                    <div class="products_cards">
                        <div class="row">
                            <div class="col-3 col-lg-3 col-md-3 photo_product">
                                <img src="<?php echo $product["url"]; ?>" alt="" class="image_product">
                            </div>
                            <div class="col-9 col-lg-9 col-md-9 info_products">
                                <h2><?php echo $product["brand"]; ?></h2>
                                <p><?php echo $product["garment"]; ?> <br> <?php echo $product["condition"]; ?></p>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
<?php endif; ?>

<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        let URLactual = window.location.pathname;
        const urls = <?php echo json_encode($urls) ?>;
        let rsulturl = URLactual.indexOf("/sales/") > -1;
        if (rsulturl === true) {
            $('main#maincontent > .columns').addClass('bgsalessection');
        }
        let itemcount = document.getElementsByClassName("lnk-menu-orders");
        let i;
        for (i = 0; i < itemcount.length; i++) {
            itemcount[i].addEventListener("click", function () {
                this.classList.toggle("_currenshipment");
                $(this).siblings().removeClass('_currenshipment');
                let id_ = $(this).attr('id');
                switch (id_) {
                    case 'procesed':
                        $('html,body').animate({
                            scrollTop: $('#section-all-tr').offset().top
                        }, 'slow');
                        break;
                }
            });
        }

        $('#download_all').on("click", function () {
           downloadAll();
        });

        function downloadAll() {
            for (let i = 0; i < urls.length; i++) {
                window.open(urls[i], '_blank');
            }
        }

        $('#complementary_guide').on("click", function (e) {
            e.preventDefault();
            $("#form-slave-guide").submit();
        });

        $('#cancel_order').on("click", function (e) {
            e.preventDefault();
            $("#form-cancel-order").submit();
        });

        let itemcountguias = $('ul.list-guias-compl li').length;
        if (itemcountguias > 1) {
            $('.no-guias').removeClass('_showtitleguias');
            $('.list-guias-compl').addClass('_showtitleguias');

        }

        itemcount = document.getElementsByClassName("no-guias");
        for (i = 0; i < itemcount.length; i++) {
            itemcount[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                if (content.style.display === 'block') {
                    content.style.display = 'none';
                } else {
                    content.style.display = 'block';
                }
            });
        }
    });
</script>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        let qtyproduct = $('.info_products_card').length;
        let count_product = $('.count_product');
        count_product.text(qtyproduct + ' pieza(s)');
        if (qtyproduct >= 4) {
            count_product.addClass('more_pieces');
            $('.section_products_summary').addClass('hiden_cards');
        }
        let item_prod = document.getElementsByClassName("count_product");
        let iprod;
        for (iprod = 0; iprod < item_prod.length; iprod++) {
            item_prod[iprod].addEventListener("click", function () {
                this.classList.toggle("active");
                let products_summary = $('.section_products_summary');
                let resultprod = products_summary.hasClass("hiden_cards");
                if (resultprod) {
                    products_summary.removeClass('hiden_cards');
                } else {
                    products_summary.addClass('hiden_cards');
                }
            });
        }

    });
</script>
<script type="text/javascript">
    require([
        'jquery',
        'owl.carousel/owl.carousel.min'
    ], function ($) {
        if (window.matchMedia('(max-width: 767px)').matches) {
            $('#list-menu-ship').owlCarousel({
                items: 3,
                loop: true,
                margin: 10,
                merge: true,
                responsive: {
                    0: {
                        items: 3
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });
        }
    });
</script>