<?php

use \Troquer\Sales\Block\Sale\SelfServe;

/** @var SelfServe $block */

?>

<section class="row no-gutters">
    <div class="col-lg-4 p-0"></div>
    <div class="col-lg-4 p-0">
        <h2 class="text-center titlevende">Elige cómo vender</h2>
    </div>
    <div class="col-lg-4 pt-4 m-auto postcode">
        <!-- <p class="text-center pb-2 mt-3">Tu código postal: <span class="font-weight-bold"><//?php  if($block->getPostCode()) echo $block->getPostCode();?> &nbsp;</span><span id="editcpmodal" class="more-info text-dark" href="#"><u>editar</u></span></p> -->
    </div>
</section>
<section class="mb-4">
    <div class="col-12 text-center">
        <p class="methods-option">Escoge la opción que mejor se adapte a ti</p>
    </div>
</section>
<section class="mb-4">
    <div class="row container-body">
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
            <img class="no-disponible img-fluid" src="<?= $block->getBaseurl(); ?>media/troquer/hazlo-por-tu-cuenta.jpg"
                 alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina">
            <img class="disponible img-fluid" src="<?= $block->getBaseurl(); ?>media/troquer/servicio-no-disponible.png"
                 alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina">
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text method-primary">
            <div class="line-tyc mt-4"></div>
            <p class="pt-4 pb-3 cont-txt"><span
                    class="font-weight-bold">Registra tus piezas y envíalas por mensajería</span><br/> <span
                    class="textsecnd">Llena nuestro formulario y envíanos tus piezas por mensajería desde cualquier parte de la República Mexicana.</span>
            </p>
            <div class="cont-btn pb-5">
                <?php if (!$block->isLoggedIn()): ?>
                    <button type="button" class="icon-sell-not-logged-in btn-principal">Hazlo en línea</button>
                <?php else: ?>
                    <a href="<?= $block->getBaseurl(); ?>vende/hazlo-en-linea#informacion-general">
                        <button type="button" class="btn btn-principal">Hazlo en línea</button>
                    </a>
                <?php endif; ?>
            </div>
        </div>
    </div>
</section>
<section class="mb-4">
    <div class="row container-body mob-colum haztucita-tr">
        <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text method-primary info-two-txt">
            <div class="line-tyc-l mt-4"></div>
            <p class="pt-4 cont-txt"><span class="font-weight-bold">Agenda tu cita con un experto</span><br/><span
                    class="textsecnd">Agenda tu cita virtual y revisa tus piezas con nuestra curadora por videollamada y programa su recolección a domicilio o agenda tu cita presencial en nuestras oficinas en CDMX.</span><br><br><span
                    class="textsecnd"><span id="tipsmodal" class="lnk-modal"><u>Consulta aquí</u></span> todo lo que debes saber antes de tu cita presencial.</span>
            </p>
            <div class="cont-btn pb-4">
                <a target="_blank"
                   href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">
                    <button type="button" class="btn btn-secundario" data-toggle="modal" data-target="#staticBackdrop">
                        Agendar cita
                    </button>
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container info-two-img">
            <img src="<?= $block->getBaseurl(); ?>media/troquer/lo-hacemos-por-ti.jpg"
                 alt="no puedes vender Piezas no auténticas Vestidos de novia, Trajes sastre, Ropa interior, Ropa de cama entre otros"
                 class="img-fluid">
        </div>
    </div>
    <!-- Modal FECHA-->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title m-auto" id="staticBackdropLabel">Agenda tu cita</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span class="close-modal" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="font-weight-bold p-3">Fecha</h5>
                    <div class="line ml-3 mt-2 mb-4"></div>
                    <div class="p-2">
                        <div class="d-flex">

                        </div>
                    </div>
                    <h5 class="font-weight-bold p-3">Hora</h5>
                    <div class="line ml-3 mt-2 mb-4"></div>
                    <p class="pt-3 pl-3 pr-3 d-none">No hay horarios disponibles en la fecha que seleccionaste.</p>
                    <form class="p-3">
                        <div>
                            <label for="formControlRange">9:00</label><label for="formControlRange" class="float-right">18:00</label>
                            <label for=""></label><input type="text" class="js-range-slider w-100" name="my_range" value="" id="">
                        </div>
                    </form>
                    <p class="pt-3 pl-3 pr-3">Estos son los horarios disponibles para tu cita:</p>
                    <div class="text-center" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-hour">11:00</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-hour btn-active">11:15</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-hour">11:30</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-hour">11:45</button>
                        </div>
                    </div>
                </div>
                <div class="text-center m-auto pt-2 pb-4">
                    <a href="">
                        <button type="button" class="btn btn-principal">Continuar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section class="mb-4">
       <div class="row container-body nodispinible">
            <div class="col-sm-12 col-12 col-lg-6 col-md-12 p-0 img-container">
                <img class="disponible" src="<? //= $block->getBaseurl(); ?>media/troquer/hazlo-por-tu-cuenta.jpg" alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina" class="img-fluid">
                <img class="no-disponible" src="<? //= $block->getBaseurl(); ?>media/troquer/servicio-no-disponible.png" alt="puedes vender bolsas, ropa, zapatos, accesorios, joyería fina" class="img-fluid">
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6 col-12 cont-text text-container">
                <div class="line-tyc mt-4"></div>
                <p class="pt-4 pb-3 cont-txt"><span class="font-weight-bold">Manda tus piezas desde cualquier parte del país</span><br/> <span class="textsecnd">Sube la información de tus piezas y mándalas por mensajería. Nosotros las vendemos.</span></p>
                <div class="cont-btn pb-5">
                    <a class="lnk-disabled" href="#"><button type="button" disabled="true" class="btn btn-principal">Hazlo por tu cuenta</button></a>
                </div>
            </div>
        </div>
    </section-->
<div id="cpModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span>Código Postal</span>
        </div>
        <div class="bodymodalcp">
            <p>Para saber qué tipo de servicio te podemos dar, necesitamos tu Código Postal</p>
            <form id="feditcp" action="">
                <p>Código Postal</p>
                <label>
                    <input type="text" placeholder="11000">
                </label>
                <button id="btneditcp">Continuar</button>
            </form>
        </div>
    </div>
</div>
<!-- Start Modal TIPS CITA COVID-19 -->
<div id="tipsModal" class="modal  modalcp">
    <!-- Modal content -->
    <div class="modal-content content-modalcp">
        <div class="encabezado-modal">
            <span class="title-condition">Tips e información COVID-19</span>
            <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="bodymodalcp">
            <p class="title-body-info">Citas presenciales Lago Nargis 34, Colonia Granada, CDMX</p>
            <p class="text-body-info">Tu seguridad y la de nuestro equipo es lo más importante por lo que te compartimos
                las medidas de precaución e higiene que tomaremos antes, durante y después de tu cita presencial:</p>
            <ul class="text-body-info">
                <li>Antes de tu cita, te aconsejamos lavar o llevar tus piezas a la tintorería</li>
                <li>Al ingresar a nuestras oficinas, se verificará tu temperatura, si es mayor a 37.5º tu cita podrá ser
                    cancelada
                </li>
                <li>El uso de cubrebocas o careta será obligatorio</li>
                <li>Te proporcionaremos gel antibacterial al entrar y salir de nuestras oficinas</li>
                <li>Solo se permitirá el acceso a una persona por cita, por favor evita ir acompañado</li>
            </ul>
            <p class="text-body-center"><span class="emphasys">¡Cuídate, cuidémonos todos!</span><br>¿Tienes dudas?
                manda un WhatsApp al <a class="lnk-modal" target="_blank"
                                        href="https://api.whatsapp.com/send?phone=525574255874&amp;text=%C2%A1Hola%20Troquer!%20Quiero%20agendar%20mi%20cita.">55
                    7425 5874</a></span></p>
        </div>
    </div>
</div>

<script>
    require([
        'jquery',
        'owl.carousel/owl.carousel.min'
    ], function ($, _) {
        const modal_tips = $("#tipsModal");
        let btn_tips = $("#tipsmodal");
        let span_tips = $(".close")[1];
        if (btn_tips !== null) {
            $(btn_tips).on("click", function () {
                modal_tips.show();
            });
        }
        if (btn_tips !== null) {
            $(span_tips).on("click", function () {
                modal_tips.hide();
            });
        }
        window.onclick = function (event) {
            if (event.target === modal_tips) {
                modal_tips.hide();
            }
        }

        // const modal_cp = $("#cpModal");
        // let btn_cp = $("#editcpmodal");
        // let span_cp = $(".close")[0];
        // $(btn_cp).on("click", function() {
        //     modal_cp.show();
        // });
        // $(span_cp).on("click", function() {
        //  modal_cp.hide();
        // });
        // window.onclick = function(event) {
        //     if (event.target === modal_cp) {
        //         modal_cp.hide();
        //     }
        // }

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 3
                }
            }
        });
    });
</script>
